{{#content "scripts" mode="append"}}
    <script src="/vendor/ckeditor/ckeditor.js" defer></script>
    <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
    <script src="/scripts/dropzone/dropzone.js" type="text/javascript" defer></script>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            $('.userinfo').click(function () {
                $(this).parent('.usersubmission.active').addClass('clicked');
                $('.usersubmission.active').removeClass('active');
                $(this).parent('.usersubmission:not(.clicked)').toggleClass('active');
                $('.usersubmission.clicked').removeClass('clicked');

                $('.usersubmission td:last-of-type i.fa-chevron-down').removeClass('fa-chevron-down').addClass('fa-chevron-left');
                $('.usersubmission.active td:last-of-type i.fa-chevron-left').removeClass('fa-chevron-left').addClass('fa-chevron-down');
            });

            // change tab
            $('.tab-view>.tab-links>.tab-link').click(function (e) {
                var range = $(this).closest(".tab-view");
                range.find('>.tab-links .tab-link.active').removeClass('active');
                $(this).addClass('active');
                range.find('>.tabs>.tab-content.active').removeClass('active');
                range.find(">.tabs" + ">#" + this.id.replace("-tab-link", "") + ".tab-content").addClass('active');
            });


            //set initial tab-view by URL-Parameter
            function getParameterByName(name) {
                return decodeURIComponent(window.location.hash.replace("#activetabid=", ""));
            }

            if (getParameterByName('activetabid')) {
                var id = getParameterByName('activetabid')
                var range = $('#' + id).closest(".tab-view");
                range.find('>.tab-links .tab-link.active').removeClass('active');
                range.find('>.tabs>.tab-content.active').removeClass('active');

                range.find(">.tab-links" + ">#" + id + "-tab-link").addClass('active');
                $('#' + id).addClass('active');
            }
        });
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            CKEDITOR.replaceAll(function (textarea, config) {
                if (!textarea.classList.contains("customckeditor")) return false; //for only assign a class
            });
        });
    </script>
    <script src="/scripts/lessons.js" type="text/javascript" defer></script>
{{/content}}
{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/homework/homework.css" />
    <link rel="stylesheet" href="/styles/homework/assignment.css" />
    <link rel="stylesheet" href="/styles/homework/submissions.css" />
    <link rel="stylesheet" href="/styles/homework/discussions.css" />
    <link rel="stylesheet" href="/styles/homework/tabs.css" />
    <link rel="stylesheet" href="/styles/files/upload.css" />
    <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css" />
    <style>
        .section-title h4::before {
            content:"● {{#if private}}🔒 {{/if}}";

            color: {
                    {
                    this.color
                }
            }

            ;
    </style>
{{/content}}

{{#extend "homework/homework"}}
    {{#content "page"}}

        <section class="section-homework">
            <div class="dates">
                {{availableDateF}} ({{availableTimeF}})<br />
                {{#if dueDate}}
                    bis: {{dueDateF}} ({{dueTimeF}})
                {{else}}
                    Kein Abgabedatum festgelegt
                {{/if}}

            </div>
            <div class="tab-view maintabs">
                <nav class="nav tab-links">
                    <a id="extended-tab-link" class="tab-link active" href="#activetabid=extended"
                        alt="Details der Aufgabe">Details</a>
                    {{#if private}}
                        <a id="submission-tab-link" class="tab-link" href="#activetabid=submission"
                            alt="Deine Abgabe">Abgabe</a>
                    {{else}}
                        {{#if (userHasRole "teacher")}}
                            <a id="submissions-tab-link" class="tab-link" href="#activetabid=submissions"
                                alt="alle Abgaben">Abgaben</a>
                        {{else}}
                            <a id="submission-tab-link" class="tab-link" href="#activetabid=submission"
                                alt="Deine Abgabe">Abgabe</a>
                            <a id="feedback-tab-link" class="tab-link" href="#activetabid=feedback"
                                alt="Bewertung deiner Abgabe durch den Lehrer">Feedback</a>
                            {{#if ../publicSubmissions}}
                                <a id="submissions-tab-link" class="tab-link" href="#activetabid=submissions"
                                    alt="alle Abgaben">Abgaben</a>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </nav>
                <div class="tabs">
                    {{> 'homework/extended'}}
                    {{#if private}}
                        {{> 'homework/submission'}}
                    {{else}}
                        {{#if isTeacher}}
                            {{> 'homework/submissions'}}
                        {{else}}
                            {{> 'homework/feedback'}}
                            {{> 'homework/submission'}}
                            {{#if ../publicSubmissions}}
                                {{> 'homework/submissions'}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}
