{{#content "scripts" mode="append"}}
    <script src="/scripts/ckeditor/ckeditor.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/dropzone/dropzone.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script type="text/javascript" nonce="{{nonceValue}}">
        window.addEventListener('load', function () {
            $('.userinfo').click(function () {
                $(this).parent('.usersubmission.active').addClass('clicked');
                $('.usersubmission.active').removeClass('active');
                $(this).parent('.usersubmission:not(.clicked)').toggleClass('active');
                $('.usersubmission.clicked').removeClass('clicked');

                $('.usersubmission td:last-of-type i.fa-chevron-down').removeClass('fa-chevron-down').addClass('fa-chevron-left');
                $('.usersubmission.active td:last-of-type i.fa-chevron-left').removeClass('fa-chevron-left').addClass('fa-chevron-down');
            });

            // change tab
            $('.tab-view>.tab-links>.tab-link').click(function (e) {
                var range = $(this).closest(".tab-view");
                range.find('>.tab-links .tab-link.active').removeClass('active');
                $(this).addClass('active');
                range.find('>.tabs>.tab-content.active').removeClass('active');
                range.find(">.tabs" + ">#" + this.id.replace("-tab-link", "") + ".tab-content").addClass('active');
            });


            //set initial tab-view by URL-Parameter
            function getParameterByName(name) {
                return decodeURIComponent(window.location.hash.replace("#activetabid=", ""));
            }

            if (getParameterByName('activetabid')) {
                var id = getParameterByName('activetabid')
                var range = $('#' + id).closest(".tab-view");
                range.find('>.tab-links .tab-link.active').removeClass('active');
                range.find('>.tabs>.tab-content.active').removeClass('active');

                range.find(">.tab-links" + ">#" + id + "-tab-link").addClass('active');
                $('#' + id).addClass('active');
            }
        });
    </script>
    <script src="/scripts/lessons.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}
{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/homework/homework.css" />
    <link rel="stylesheet" href="/styles/homework/assignment.css" />
    <link rel="stylesheet" href="/styles/homework/submissions.css" />
    <link rel="stylesheet" href="/styles/homework/tabs.css" />
    <link rel="stylesheet" href="/styles/files/upload.css" />
    <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css" />
    <style>
        .section-title h4::before {
            content:"● {{#if private}}🔒 {{/if}}";

            color: {
                    {
                    this.color
                }
            }

            ;
    </style>
{{/content}}

{{#extend "homework/homework"}}
    {{#content "page"}}
        <section class="section-homework">
            <div class="dates text-muted">
				{{#if (userHasRole "student")}}
				<i class="fa fa-{{#if submissions}}check done{{else if warning}}exclamation-triangle danger{{else}}{{#unless submittable}}ban closed{{/unless}}{{/if}}"></i>
				{{/if}}
                {{availableDateF}} {{availableTimeF}} |
                {{#if dueDate}}
                    {{$t "homework.text.till"}}: {{dueDateF}} {{dueTimeF}}
                {{else}}
                    {{$t "homework.text.noSubmissionDateSet"}}
                {{/if}}
				{{#if (userHasRole "student")}}
				<div>
					{{#if submissions}}
					{{$t "homework.text.done"}}
					{{else if warning}}
					{{$t "homework.text.toBeDoneWithin24Hours"}}
					{{else}}
					{{#unless submittable}}
					{{$t "homework.text.notDone"}}
					{{/unless}}
				{{/if}}
			</div>
        {{/if}}
            </div>
            {{#if courseId._id}}
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="/files/courses/{{courseId._id}}" class="btn btn-add btn-secondary">
                            <i class="fa fa-folder-open"></i>
                            {{$t "homework.button.toTheCourseFiles" }}
                        </a>
                        <a class="btn btn-secondary" href="/courses/{{courseId._id}}/?activeTab=homeworks" alt="{{$t "homework.button.toCourseAlt"}}">
                            <i class="fa fa-graduation-cap"></i>
                            {{$t "global.button.toCourse" }}
                        </a>
                        {{#if lessonId}}
                            <a class="btn btn-secondary" href="/courses/{{courseId._id}}/topics/{{lessonId}}"
                                alt="{{$t "homework.button.toTopicAlt"}}">{{$t "homework.button.onTheSubject" }}</a>
                        {{/if}}
                    </div>
                </div>
			{{/if}}
            <div class="tab-view maintabs">
                <nav class="nav tab-links">
                    <a id="extended-tab-link" class="tab-link active" href="#activetabid=extended">
                        {{$t "homework.label.details" }}
                    </a>
                    {{#if private}}
                        <a id="submission-tab-link" class="tab-link" href="#activetabid=submission">
                            {{$t "homework.label.submission" }}
                        </a>
                    {{else}}
                        {{#if (userHasRole "teacher")}}
                            <a id="submissions-tab-link" class="tab-link" href="#activetabid=submissions">
                                {{$t "homework.label.submissions" }}
                            </a>
                        {{else}}
                            <a id="submission-tab-link" class="tab-link" href="#activetabid=submission">
                                {{$t "homework.label.submission" }}
                            </a>
                            <a id="feedback-tab-link" class="tab-link" href="#activetabid=feedback">
                                {{$t "homework.label.rating_comment" }}
                            </a>
                            {{#if ../publicSubmissions}}
                                <a id="submissions-tab-link" class="tab-link" href="#activetabid=submissions">
                                    {{$t "homework.label.submissions" }}
                                </a>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </nav>
                <div class="tabs">
                    {{> 'homework/extended'}}
                    {{#if private}}
                        {{> 'homework/submission'}}
                    {{else}}
                        {{#if isTeacher}}
                            {{> 'homework/submissions'}}
                        {{else}}
                            {{> 'homework/feedback'}}
                            {{> 'homework/submission'}}
                            {{#if ../publicSubmissions}}
                                {{> 'homework/submissions'}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </section>

		{{#embed "lib/components/modal-actions" class="ckeditor-filebrowser-dialog"}}{{/embed}}
    {{/content}}
{{/extend}}
