{{#content "scripts" mode="append"}}
<script src="/scripts/ckeditor/ckeditor.js" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/mousetrap/mousetrap.js" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/dropzone/dropzone.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>

<script nonce="{{nonceValue}}">
	window.addEventListener('DOMContentLoaded', function () {
        const lang = $('html').attr('lang');
		$.datetimepicker.setLocale(lang || 'de');
		$('input[data-datetime]').datetimepicker({
			format: 'd.m.Y H:i',
			mask: '39.19.9999 29:59',
			dayOfWeekStart: 1,
			onShow: function (ct, input) {
				if (input[0].id == "availableDate") {
					let due = $("#dueDate").val().split(" ");
					this.setOptions({
						minDate: 0,
						maxDate: (due[0] != "__.__.____") ? due[0] : false,
						formatDate: 'd.m.Y',
					});
				}
				else if (input[0].id == "dueDate") {
					let available = $("#availableDate").val().split(" ");
					this.setOptions({
						minDate: (available[0] != "__.__.____") ? available[0] : 0,
						maxDate: false,
						formatDate: 'd.m.Y'
					});
				}
			}
		});

		Mousetrap.bind(['command+s', 'ctrl+s'], function (e) {
			document.getElementById('homework-form').submit();
			return false;
		});

		$("#coursePicker").change(function (e, s) {
			if (s.selected != "") {
				$('#lessonPicker').empty().append('<option value="">loading...</option>')
				$('#lessonPicker').prop('disabled', true).trigger('chosen:updated');
				$.ajax({
					url: "/courses/" + s.selected + "/json"
				}).done(function (r) {
					let lessonPicker = $('#lessonPicker').empty();
					if (r.lessons.data.length > 0) {
						(r.lessons.data || []).sort((a, b) => { return (a.name.toUpperCase() < b.name.toUpperCase()) ? -1 : 1; });
						lessonPicker.append('<option value="">Keine Zuordnung</option>');
						for (var i = 0; i < r.lessons.data.length; i++) {
							$('#lessonPicker').append('<option value="' + r.lessons.data[i]._id + '">' + r.lessons.data[i].name + '</option>');
						}
						$('#lessonPicker').prop('disabled', false);
					} else {
						lessonPicker.append('<option value="">Keine Themen in diesem Kurs</option>');
					}
					$('#lessonPicker').trigger('chosen:updated');
				});
			} else {
				$('#lessonPicker').empty().append('<option value="">Keine Themen in diesem Kurs</option>').prop('disabled', true).trigger("chosen:updated");
			}
		});

		$("#teamSubmissions").on("change", function (e, s) {
			if (document.getElementById("teamSubmissions").checked) {
				$("#teamsize").removeClass("hidden-xl-down");
			} else {
				$("#teamsize").addClass("hidden-xl-down");
			}
		});
	});

</script>
{{/content}}
{{#extend "homework/homework"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/files/upload.css" />
<link rel="stylesheet" href="/styles/homework/file-upload.css" />
{{/content}}
{{#content "page"}}

<div class="row">
	<div class="col-xl-12">
    <fieldset><legend class="hidden">Homework form field</legend>
		<form class="modal-form" id="homework-form" method="post" action="{{action}}">

			<div class="form-group">
				<label for="name">{{$t "global.label.title" }}</label>
				<input id="name" class="form-control" name="name" type="text" placeholder="{{$t "global.label.title"}}" required
					value="{{{assignment.name}}}" data-testid="homework-name" />
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="coursePicker">{{$t "global.sidebar.link.administrationCourses" }}</label>
						{{#unless isSubstitution}}
						<select id="coursePicker" class="" name="courseId" data-placeholder="Kurs auswählen">
							<option value="" {{#unless assignment.courseId}}selected{{/unless}}>{{$t "homework.input.noAssignment"}}</option>
							{{#each courses}}
							<option value="{{this._id}}"
								{{#ifvalue this._id value=@root.assignment.courseId._id}}selected{{/ifvalue}}>
								{{{stripOnlyScript this.name}}}</option>
							{{/each}}
						</select>
						{{else}}
                        <label for="courseId" class="hidden">{{assignment.courseId.name}}</label>
						<input id="courseId" name="courseId" type="hidden" data-force-value="true" value="{{assignment.courseId._id}}" aria-describedby="substitutionWarning" />
						<div><i>{{assignment.courseId.name}}</i> <small class="text-secondary" id="substitutionWarning">{{$t "homework.global.text.substitutionTeachersMayNotChangeTheCourse"}}</small></div>
						{{/unless}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="lessonPicker">{{$t "homework.global.label.topic"}}</label>
						<select id="lessonPicker" name="lessonId" data-placeholder="Thema auswählen"
							{{#unless lessons}}disabled="true" aria-disabled="true" {{/unless}}>
							{{#if assignment.courseId}}
							<option value="" {{#unless assignment.lessonId}}selected{{/unless}}>{{$t "homework.text.noAssignment"}}</option>
							{{#each lessons}}
							<option value="{{this._id}}" {{#ifvalue this._id value=@root.assignment.lessonId}}selected{{/ifvalue}}>
								{{this.name}}
							</option>
							{{/each}}
							{{else}}
							<option value="">{{$t "homework.global.text.noTopicsInTheCourse"}}</option>
							{{/if}}
						</select>
					</div>
				</div>
			</div>

			{{#unless (userHasRole "student")}}
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="teamSubmissions">
								<input id="teamSubmissions" name="teamSubmissions" type="checkbox" value="true"
									{{#if assignment.teamSubmissions}}checked="checked" aria-checked="true" {{/if}} />
								{{$t "homework.global.label.allowGroupSubmission"}}
							</label>
						</div>
					</div>
					<div class="col-md-6 {{#unless assignment.teamSubmissions}}hidden-xl-down{{/unless}}" id="teamsize">
						<div class="form-group">
							<label for="maxTeamMembers">{{$t "homework.global.label.maximumGroupSize"}}</label>
							<input class="form-control" name="maxTeamMembers" id="maxTeamMembers" type="number" min="2"
								placeholder="5" value="{{assignment.maxTeamMembers}}" />
						</div>
					</div>
				</div>
			</div>
			{{/unless}}

			<div class="form-group">

				<label for="homeworkDescription">{{$t "homework.global.label.description" }}</label>
				<textarea id="homeworkDescription" name="description" type="text" class="form-control ckeditor customckeditor"
					placeholder="{{$t "homework.global.placeholder.description" }}">{{assignment.description}}</textarea>
			</div>

			{{#embed "files/file-upload"}}{{/embed}}

			{{#embed "homework/components/homework_uploaded_files" deletionAllowed=true submission=../assignment}}{{/embed}}

			{{#if method}}
			<input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
			{{/if}}

			{{#if referrer}}<input name="referrer" type="hidden" data-force-value="true" value="{{referrer}}" />{{/if}}

			<input name="homeworkId" type="hidden" data-force-value="true" value="{{assignment._id}}" />

			<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

			{{#unless isSubstitution}}
			<input name="teacherId" type="hidden" data-force-value="true" value="{{currentUser._id}}" />
			{{/unless}}

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="availableDate">{{$t "homework.global.label.visibleAndEditableForStudentsFrom" }}</label>
                        {{> "lib/forms/form-date-input" id="availableDate" value=assignment.availableDate class="input-group mb-3" }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="dueDate">{{$t "homework.global.label.processingPeriodEndsOn" }}</label>
                        {{> "lib/forms/form-date-input" id="dueDate" value=assignment.dueDate class="input-group mb-3" }}
					</div>
				</div>
			</div>

			{{#unless (userHasRole "student")}}
			<div class="form-group">
				<label for="privateTaskVisible">
					<input id="privateTaskVisible" name="private" type="checkbox" value="true" data-testid="private-checkbox" {{#if assignment.private}}checked="checked" aria-checked="true" {{/if}} />
					{{$t "homework.global.label.privateTaskOnlyVisibleToMe"}}
				</label></br>
				<label for="publicSubmissionsCheckbox">
					<input id="publicSubmissionsCheckbox" name="publicSubmissions" type="checkbox" value="public"
						{{#if assignment.publicSubmissions}}checked="checked" {{/if}} />
					{{$t "homework.label.studentSolutionVisibleToEachOthers" }}
				</label>
			</div>
			{{else}}
			<div class="form-group">
				<input name="private" type="hidden" data-force-value="true" value="true" />
			</div>
			{{/unless}}
			<div class="modal-footer">
				<button class="btn btn-add btn-secondary btn-cancel">
					{{closeLabel}}
				</button>

				{{> "lib/components/csrfInput"}}
				<button type="submit" class="btn btn-primary btn-submit">
					{{submitLabel}}
				</button>
			</div>
		</form>
                </fieldset>
		{{#embed "lib/components/modal-cancel" class="cancel-modal"}}

		{{/embed}}

		{{#embed "lib/components/modal" class="delete-modal" title="${res.$t('global.text.areYousure')}"}}
		{{#content "body"}}
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-close">
				{{$t "global.button.cancel" }}
			</button>
			<button type="submit" class="btn btn-primary btn-submit">
				{{$t "global.headline.delete" }}
			</button>
		</div>
		{{/content}}
		{{/embed}}
		{{#embed "lib/components/modal-information" class="danger-modal" title="Achtung"}}
		{{#content "fields"}}
		{{> "files/forms/form-virus-danger"}}
		{{/content}}
		{{/embed}}

		{{#embed "lib/components/modal" class="dontShowAgainAlert-modal"}}
		{{#content "body"}}
		<div class="modal-body">
			<div class="modal-body-text">
				<div class="modal-danger">
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
					{{$t "global.text.attention" }}
				</div>
				<div id="member-modal-body">
				</div>
			</div>
		</div>
		<div class="modal-footer modal-checkbox">
			<label for="dontShow">
				<input id="dontShow" class="dontShowAgain-checkbox" name="public" type="checkbox" value="false" />
				{{$t "homework.label.dontShowAgain" }}
			</label>
			<div>
				<button type="button" class="btn btn-secondary btn-close">{{$t "global.button.cancel" }}</button>
				<button type="submit" class="btn btn-primary btn-submit">{{$t "global.button.ok" }}</button>
			</div>
		</div>
		{{/content}}
		{{/embed}}

		{{#embed "lib/components/modal-actions" class="ckeditor-filebrowser-dialog"}}
		{{/embed}}
	</div>
	{{/content}}
	{{/extend}}
