<section class="section-evaluation tab-view">
    <nav class="tab-links">
        <a id="submission-tab-link" class="tab-link active">{{$t "homework.label.submission" }}</a>
        {{#if @root.isTeacher}}
            <a id="comment-tab-link" class="tab-link">{{$t "homework.label.rating_comment" }}</a>
        {{/if}}
    </nav>
    <div class="tabs">
        <div id="submission" class="tab-content active">
            <div class="comment">
                {{#if this.submission}}
                    {{#ifneq 0 (arrayLength this.submission.fileIds)}}
                        {{#embed "homework/components/submission_uploaded_files" deletionAllowed=false submission=../submission}}{{/embed}}
                        <hr>
                    {{/ifneq}}
                    <div class="ckcontent print">
                        <div class="btn btn-secondary btn-print mb-1"
                            data-toggle="tooltip" title="Abgabe drucken">
                                <i class='fa fa-print'></i> {{$t "homework.button.print" }}
                        </div>
                        {{{this.submission.comment}}}
                    </div>
                {{else}}
                    {{$t "homework.text.noSubmission" }}
                {{/if}}
            </div>
        </div>
        <div id="comment" class="tab-content">
            {{#if @root.isTeacher}}
                {{#if this.submission}}
                    <form class="form" method="post" action="/homework/submit/{{this.submission._id}}">
                        <input type="hidden" name="_method" data-force-value="true" value="patch" />
                        <input name="homeworkId" type="hidden" data-force-value="true" value="{{@root._id}}" />
                        {{#if this.submission.courseGroupId}}
                            <input name="courseGroupId" type="hidden" value="{{this.submission.courseGroupId._id}}"/>
                            <input name="teamSubmissionOptions" type="hidden" value="courseGroup"/>
                        {{/if}}
                {{else}}
                    <form class="form" method="post" action="/homework/submit">
                        <input type="hidden" name="_method" data-force-value="true" value="post" />
                        <input name="schoolId" type="hidden" data-force-value="true" value="{{this.submission.studentId.schoolId}}" />
                        <input name="studentId" type="hidden" data-force-value="true" value="{{this.submission.studentId._id}}" />
                        <input name="homeworkId" type="hidden" data-force-value="true" value="{{@root._id}}" />
                {{/if}}
                        <div class="comment form-group">
                            <div class="form-group">
                                <label>{{$t "homework.label.rating" }}<small> {{$t "homework.label.inPercent" }}</small></label>
                                <input data-testid="evaluation_procent" type="number" min="0" max="100" class="form-control" name="grade" placeholder="95" value="{{this.submission.grade}}" />
                            </div>
                            <label>{{$t "homework.label.comment" }}</label>
                            <textarea id="evaluation {{this.submission._id}}" name="gradeComment" type="text" class="form-control customckeditor" placeholder="Bewertungskommentar">{{this.submission.gradeComment}}</textarea>
                        </div>
                        {{#userHasPermission "HOMEWORK_CREATE"}}
                            {{> "lib/components/csrfInput"}}
                            <button type="submit" class="btn btn-primary">{{$t "homework.button.save" }}</button>
                        {{/userHasPermission}}
                    </form>
            {{else}}
                <b class="grade">{{{this.submission.gradeText}}}</b>
                <div class="comment">
                    {{#if this.submission.gradeComment}}
                        {{{this.submission.gradeComment}}}
                    {{else}}
                        <p>{{$t "homework.text.noEvaluationTextAvailable" }}</p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</section>
