<section id="extended" class="tab-content section-homeworkdetails active">
	<div class="homework">
		<div class="assignment row">
			<div class="description col-xl-12 print">
				{{#if this.description}}
					<div class="btn btn-secondary btn-print btn-sm pull-right" data-toggle="tooltip" title="{{$t "homework._task.label.printTask"}}">
						<i class='fa fa-print'></i>
					</div>

					<h1 class="print-only">{{{this.title}}}</h1>
					{{#if this.teamSubmissions}}
						{{#if this.maxTeamMembers}}
							<div>{{{$t "homework._task.text.maxGroupSize" (dict "maxTeamMembers" this.maxTeamMembers)}}}</div>
						{{/if}}
					{{/if}}
					<div>{{{this.description}}}</div>
				{{else}}
					{{$t "homework.text.noDescriptionAvailable" }}
				{{/if}}
			</div>
		</div>
		{{#embed "homework/components/homework_uploaded_files" deletionAllowed=false submission=this}}{{/embed}}
		{{#unless @root.inline}}
			{{#if isTeacher}}
				{{#userHasPermission "HOMEWORK_EDIT"}}
					<a class="btn btn-primary btn-edit" href="/homework/{{../_id}}/edit"
						alt="{{$t "homework._task.label.editTaskAlt" (dict "title" ../title)}}"> <i class='fa fa-edit'></i> {{$t "global.button.edit" }}
					</a>
					<a class="btn btn-secondary btn-delete" href="/homework/{{../_id}}" redirect="/homework" target="_blank"
						data-method="DELETE" data-name="{{../title}}" alt="{{$t "homework._task.label.deleteTaskAlt" (dict "title" ../title)}}">
						<i class='fa fa-trash-o'></i> {{$t "global.headline.delete" }}
					</a>
					<a class="btn btn-secondary btn-copy" data-toggle="tooltip" title="{{$t "homework._task.label.copyTask"}}" href="/homework/{{../_id}}/copy"
						alt="{{$t "homework._task.label.copyTaskAlt" (dict "title" ../title)}}"> <i class='fa fa-copy'></i> {{$t "homework.button.copy" }} </a>
				{{/userHasPermission}}
			{{/if}}

			{{#inArray this.currentUser._id this.archived}}
				{{#userHasPermission "HOMEWORK_CREATE"}}
				<a class="btn btn-secondary btn-archive" href="{{this.url}}" target="_blank" data="archive=open"
					data-toggle="tooltip" title="{{$t "homework._task.label.moveFromArchive"}}"
					alt-text="<i class='fa fa-archive'></i> Archivieren">
					<i class='fa fa-mail-reply'></i> {{$t "homework.label.restore" }}
				</a>
				{{/userHasPermission}}
			{{else}}
				{{#userHasPermission "HOMEWORK_EDIT"}}
				<a class="btn btn-secondary btn-archive" href="{{this.url}}" target="_blank" data="archive=done"
					data-toggle="tooltip" title="{{$t "homework._task.label.moveToArchive"}}"
					alt-text="{{{$t "homework._task.button.restoreAlt"}}}">
					<i class='fa fa-archive'></i> {{$t "homework.button.archive" }}
				</a>
				{{/userHasPermission}}
			{{/inArray}}
		{{/unless}}
	</div>
	{{#embed "lib/components/modal" class="delete-modal" title="${res.$t('global.text.areYousure')}"}}
	{{#content "body"}}
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary btn-close">
			{{$t "global.button.cancel" }}
		</button>
		<button type="submit" class="btn btn-primary btn-submit">
			{{$t "global.headline.delete" }}
		</button>
	</div>
	{{/content}}
	{{/embed}}
	{{#embed "lib/components/modal-information" class="danger-modal" title="Achtung"}}
		{{#content "fields"}}
			{{> "files/forms/form-virus-danger"}}
		{{/content}}
	{{/embed}}
</section>
