<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<input name="teacherId" type="hidden" data-force-value="true" value="{{currentUser._id}}" />

<div class="form-group">
    <label>Titel</label>
    <input class="form-control" name="name" type="text" placeholder="Titel" required />
</div>

<div class="form-group">
    <label>Kurs</label>
    <select name="courseId" required data-placeholder="Kurs auswählen">
        <option value="" {{#if this.selected}}selected{{/if}}>Keine Zuordnung</option>
        {{#each courses}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    {{#if isStudent}}
        <input name="private" type="hidden" data-force-value="true" value="private" />
    {{else}}
        <label>
            <input name="private" type="checkbox" value="private" />
            Private Aufgabe (nur für mich sichtbar)
        </label>
    {{/if}}
</div>

<div class="form-group">
    <label>Aufgabenstellung</label>
    <textarea class="form-control" name="description" type="text" placeholder="Aufgabenstellung" required></textarea>
</div>

<div class="form-group">
    <label>Bearbeitungszeit von</label>
    <input class="form-control" name="availableDate" id="availableDate" type="date" required />
</div>

<div class="form-group">
    <label>bis</label>
    <input class="form-control" name="dueDate" id="dueDate" type="date" required />
</div>

<div class="form-group">
    <label>
        <input name="publicSubmissions" type="checkbox" value="public" />
        Schülerabgaben untereinander sichtbar
    </label>
</div>