{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/homework/overview.css"/>
    <link rel="import" href="/vendor/m.e.i.n.e.l/m.e.i.n.e.l.min.html">
{{/content}}
{{#content "scripts" mode="append"}}
    <script src="/vendor/webcomponents-lite.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/moment/moment.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/filter/custom-element-polyfill.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/filter/feathers-filter.js" nonce="{{nonceValue}}" defer></script>
{{/content}}
{{#extend "homework/homework"}}
    {{#content "page"}}
        <div class="route-homework">
            <section class="section-homework">
                <div><feathers-filter id="filter"
                        filter='{{@root.filterSettings}}'
                        add-label='{{$t "global.button.filterAdd" }}'
                        apply-label='{{$t "global.button.filterApply" }}'
                        cancle-label='{{$t "global.button.cancel" }}'
                        handle-url='true'
                /></div>
        {{#if addButton}}
            {{#userHasPermission "HOMEWORK_CREATE"}}
                <a href="/homework/new{{#if @root.createPrivate}}?private=true{{/if}}" class="btn btn-primary btn-add create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                <span>{{$t "global.button.addTask" }}</span>
                </a>
                {{/userHasPermission}}
            {{/if}}
                <div class="homework">
                    <div class="row">
                        <ol class="col-xl-12">
                        {{#each homeworks}}
                            {{> 'homework/components/overview_card_template'}}
                        {{else}}
                            <li>
                                <p class="text-muted text-center">
                                    <span>{{$t "global.text.noTasks" }}.</span>
                                </p>
                            </li>
                        {{/each}}
                        </ol>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                </div>
                {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                    {{#content "body"}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close">
                                {{$t "global.button.cancel" }}
                            </button>
                            <button type="submit" class="btn btn-primary btn-submit">
                               {{$t "global.headline.delete" }}
                            </button>
                        </div>
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}
