{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/homework/homework.css"/>
    <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
    <link rel="import" href="/vendor/m.e.i.n.e.l/circular-progress.html">
{{/content}}
{{#content "scripts" mode="append"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents-lite.min.js" defer></script>
    <script src="/vendor/ckeditor/ckeditor.js" defer></script>
    <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" defer></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            CKEDITOR.replace($('.add-modal').find("textarea")[0], {
                toolbarGroups: [
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'about', groups: ['about']}
                ],
                removeButtons: 'Cut,Copy,Paste,PasteText,PasteFromWord,Redo,Undo,Scayt,Anchor,Maximize,Strike,Styles,Format,About'
            });
            CKEDITOR.replace($('.edit-modal').find("textarea")[0], {
                toolbarGroups: [
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'about', groups: ['about']}
                ],
                removeButtons: 'Cut,Copy,Paste,PasteText,PasteFromWord,Redo,Undo,Scayt,Anchor,Maximize,Strike,Styles,Format,About'
            });

            $.datetimepicker.setLocale('de');
            $('input[data-datetime]').datetimepicker({
                format:'d.m.Y H:i',
                mask: '39.19.9999 29:59'
            });

        });
    </script>
{{/content}}
{{#extend "homework/homework"}}
    {{#content "page"}}
        <div class="route-homework">
            <section class="section-homework">
                <button type="submit" class="btn btn-primary btn-add create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <p>Aufgabe hinzufügen</p>
                </button>
                
                <div class="form-group sort">
                    <select name="sort" id="sortselection" data-placeholder="Sortieren">
                        {{#each sortmethods}}
                            {{#if this.active}}
                                <option value='{{this.functionname}}' selected="selected">{{this.title}}</option>
                            {{else}}
                                <option value='{{this.functionname}}'>{{this.title}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                    {{#if this.desc}}
                        <button id="desc" type="submit" name="desc" value="false">▲</button>
                    {{else}}
                        <button id="desc" type="submit" name="desc" value="true">▼</button>
                    {{/if}}
                </div>


                <ol class="homework">
                    <div class="row"><div class="col-lg-8">
                        {{#each assignments}}
                            <li class="card assignment {{this.privateclass}}" style="border-left:10px solid {{this.color}}">
                                <a class="content" href="{{this.url}}"> 
                                    <div class="dates">
                                        {{#if this.dueString}}
                                            <span class="{{this.dueColor}}">{{this.dueString}}</span>
                                        {{else}}
                                                 {{this.fromdate}}<br/>
                                            bis: <span class="{{this.dueColor}}">{{this.todate}}</span>
                                        {{/if}}
                                    </div>
                                </a>
                                {{#if this.submissionStats}}
                                    <a class="content" href="{{this.url}}#activetabid=submissions">
                                        <div class="state">
                                            <circular-progress class="meinel-progress" primarycolor="#b10438" secondarycolor="#61BD4F" accentcolor="#404F70"
                                                data="{{this.submissionStatsPerc}}"
                                                {{#if this.gradedStats}}secdata="{{this.gradedStatsPerc}}" {{/if}}
                                                width="80" height="80">
                                            </circular-progress>
                                            <div class="textinfo">
                                                <span>Abgegeben: {{this.submissionStats}}</span>
                                                <span>
                                                {{#if this.gradedStats}}
                                                    Bewertet: {{this.gradedStats}}
                                                {{else}}
                                                    Bewertet: -
                                                {{/if}}
                                                </span>
                                                <span>
                                                    {{#if this.averageRating}}
                                                        {{#if this.courseId.gradeSystem}}
                                                            Ø: {{this.averageRating}}
                                                        {{else}}
                                                            Ø: {{this.averageRating}} Punkte
                                                        {{/if}}
                                                    {{else}}
                                                        Ø: -
                                                    {{/if}}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                {{/if}}
                                <a class="content" href="{{this.url}}"> 
                                    <h5 class="title">
                                        {{#if this.courseId}}
                                            <span>{{this.courseId.name}}</span>
                                        {{/if}}
                                        {{this.name}}
                                    </h5>
                                    <div class="description">
                                        {{{truncate this.description}}}
                                    </div>
                                </a>
                                {{#ifvalue this.teacherId value=this.currentUser._id}}
                                    {{#each this.actions}}
                                        {{#if this.method}}
                                                <a class="{{this.class}}"
                                                   href="{{this.link}}"
                                                   target="_blank"
                                                   data-method="delete-material"
                                                   data-name="{{../name}}">
                                                    <i class="fa fa-{{this.icon}}"></i>
                                                </a>
                                        {{else}}
                                            <a class="btn btn-secondary btn-sm {{this.class}}" href="{{this.link}}">
                                                <i class="fa fa-{{this.icon}}"></i> {{this.label}}
                                            </a>
                                        {{/if}}
                                    {{/each}}
                                {{/ifvalue}}
                                <a href="{{this.url}}">
                                    <span class="more">Details ><i className="fa fa-chevron-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        {{else}}
                            <p class="text-muted text-center">
                                <span>Keine Aufgaben.</span>
                            </p>
                        {{/each}}
                    </div></div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                </ol>
                {{#embed "lib/components/modal-form" method="patch" class="edit-modal"}}
                    {{#content "fields"}}
                        {{> "homework/form-assignment"}}
                    {{/content}}
                {{/embed}}
                {{#embed "lib/components/modal-form" method="post" class="add-modal" action="/homework/"}}
                    {{#content "fields"}}
                        {{> "homework/form-assignment"}}
                    {{/content}}
                {{/embed}}
                {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                    {{#content "body"}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close">
                                Abbrechen
                            </button>
                            <button type="submit" class="btn btn-primary btn-submit">
                                Löschen
                            </button>
                        </div>
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}
