{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="{{ furl('/styles/homework/overview.css') }}"/>
    <link rel="import" href="{{ furl('/vendor/m.e.i.n.e.l/circular-progress.html') }}">
{{/content}}
{{#content "scripts" mode="append"}}
    <script src="{{ furl('/vendor/webcomponents-lite-meinel.js') }}" defer></script>
    <script src="{{ furl('/scripts/moment/moment.js') }}" defer></script>
    <script src="{{ furl('/scripts/filter/custom-element-polyfill.js') }}" defer></script>
    <script src="{{ furl('/scripts/filter/feathers-filter.js') }}" defer></script>
{{/content}}
{{#extend "homework/homework"}}
    {{#content "page"}}
        <div class="route-homework">
            <section class="section-homework">
                {{#if addButton}}
                    {{#userHasPermission "HOMEWORK_CREATE"}}
                    <a href="/homework/new{{#if @root.createPrivate}}?private=true{{/if}}" class="btn btn-primary btn-add create">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <p>Aufgabe hinzufügen</p>
                    </a>
                    {{/userHasPermission}}
                {{/if}}
                <div><feathers-filter id="filter"
                        filter='{{@root.filterSettings}}'
                        add-label='Filter hinzufügen'
                        apply-label='Übernehmen'
                        cancle-label='Abbrechen'
                        handle-url='true'
                /></div>

                <ol class="homework">
                    <div class="row"><div class="col-xl-12">
                        {{#each homeworks}}
                            {{> 'homework/components/overview_card_template'}}
                        {{else}}
                            <p class="text-muted text-center">
                                <span>Keine Aufgaben.</span>
                            </p>
                        {{/each}}
                    </div></div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                </ol>
                {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                    {{#content "body"}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close">
                                Abbrechen
                            </button>
                            <button type="submit" class="btn btn-primary btn-submit">
                                Löschen
                            </button>
                        </div>
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}