<section id="submission" class="tab-content section-homeworkdetails">
  {{#if @root.submittable}}
    <div class="comment editor">
      <p class="submissionLabel"><i class="fa fa-folder-open"></i>{{$t "homework._task.label.fileUpload"}}</p>
      {{#embed "files/file-upload" path=@root.path}}{{/embed}}

      {{#if @root.submission}}
        <form class="form submissionForm ajaxForm" method="post" action="/homework/submit/{{@root.submission._id}}">
        <input name="submissionId" type="hidden" data-force-value="true" value="{{@root.submission._id}}"/>
      {{else}}
        <form class="form submissionForm ajaxForm" method="post" action="/homework/submit">
      {{/if}}

      {{#if @root.submission}}
        {{#ifneq 0 (arrayLength @root.submission.fileIds)}}
            {{#embed "homework/components/submission_files"
                fileIds=@root.submission.fileIds
                deletionAllowed=true
                submission=@root.submission}}{{/embed}}
            <input type="hidden" name="_method" data-force-value="true" value="patch"/>
        {{/ifneq}}
      {{else}}
        <div class="form-group section-uploaded-files">
            <label>{{$t "homework.label.filesUploadedForDelivery" }}</label>
            <ul class="list-group-files js-file-list d-flex flex-row"></ul>
        </div>
        <input type="hidden" name="_method" data-force-value="true" value="post"/>
        <input name="schoolId" type="hidden" data-force-value="true" value="{{@root.currentSchool}}"/>
        <input name="studentId" type="hidden" data-force-value="true" value="{{@root.currentUser._id}}"/>
      {{/if}}

      {{#if @root.teamSubmissions}}
        <hr>
        <p class="submissionLabel"><i class="fa fa-users"></i>
        {{#if maxTeamMembers}}
            {{{$t "homework._task.label.teamSubmissionMaxX" (dict "maxTeamMembers" @root.maxTeamMembers)}}}
        {{else}} 
            {{$t "homework._task.label.teamSubmission"}} 
        {{/if}}
        </p>
        <div class="form-group">
            <input name="teamSubmissionOptions" value="teamMembers" type="radio" id="teamMembers1" {{#unless @root.courseGroupSelected}}checked{{/unless}}/>
            <label for="teamMembers1">{{$t "homework.label.selectTeamMembers" }}</label>
            <select name="teamMembers" id="teamMembers" multiple data-placeholder="{{$t "homework._task.input.chooseTeamMembers"}}">
                {{#each @root.students}}
                    <option value="{{this._id}}" 
                        {{#if @root.submission}}
                            {{#inArray this._id @root.submission.teamMemberIds}}selected{{/inArray}}
                            {{#ifeq this._id @root.submission.studentId._id}} selected{{/ifeq}}
                        {{else}}
                            {{#ifeq this._id @root.currentUser._id}} selected{{/ifeq}}
                        {{/if}}
                        class="
                            {{#ifeq this._id @root.submission.studentId._id}} owner{{/ifeq}}
                            {{#ifeq this._id @root.currentUser._id}} me{{/ifeq}}
                        "
                    >{{this.firstName}} {{this.lastName}}</option>
                {{else}}
                    <option value="" disabled>{{$t "homework.text.noMoreStudentsInYourCourse" }}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <input name="teamSubmissionOptions" value="courseGroup" type="radio" id="courseGroup1" {{#if @root.courseGroupSelected}}checked{{/if}}/>
            <label for="courseGroup1">{{$t "homework.label.selectStudentGroup" }}</label>
            <select name="courseGroupId" id="courseGroupId" data-placeholder="{{$t "homework._task.input.chooseTeamMembers"}}">
                {{#each @root.courseGroups}}
                    <option value="{{this._id}}" {{#ifeq this._id @root.submission.courseGroupId._id}}selected{{/ifeq}}>{{this.name}}</option>
                {{else}}
                    <option value="" disabled>{{$t "homework.text.noStudentGroupsInThisCourse" }}</option>
                {{/each}}
            </select>
        </div>
        <hr>
      {{/if}}
        <p class="submissionLabel"><i class="fa fa-text-width"></i>{{$t "homework._task.label.textDelivery"}}</p>
        <input name="homeworkId" type="hidden" data-force-value="true" value="{{@root._id}}"/>

        <div class="form-group">
            <textarea id="evaluation" name="comment" class="form-control customckeditor"
                  placeholder="{{$t "homework._task.input.createSubmission"}}">{{@root.submission.comment}}</textarea>
        </div>
  {{else}}
    {{#if @root.submission}}
        {{#if @root.submission.hasFile}}
            {{#embed "homework/components/submission_files" fileIds=@root.submission.fileIds deletionAllowed=false submission=@root.submission}}{{/embed}}
        {{/if}}
    {{/if}}
    <div class="comment">
        {{#if @root.submission.comment}}
            {{{@root.submission.comment}}}
        {{else}}
            <p>{{$t "homework.text.noSubmission" }}.</p>
        {{/if}}
    </div>
  {{/if}}

    {{#if @root.submittable}}
        {{> "lib/components/csrfInput"}}
        {{#userHasPermission "SUBMISSIONS_CREATE"}}
            <button type="submit" class="btn btn-primary btn-submit" disabled="true">{{$t "homework.button.save" }}</button>
        {{/userHasPermission}}

        {{#if @root.submission}}
			{{#userHasPermission "SUBMISSIONS_EDIT"}}
				{{#ifeq @root.currentUser._id @root.submission.studentId._id}}
					<a href="/homework/submit/{{@root.submission._id}}/delete" class="btn btn-secondary btn-delete-submission"
						target="_blank"
						data-method="delete-submission"
						data-name="{{$t "homework.button.hrefDataName" }}"
						alt="{{$t "homework.button.hrefAlt" }}"
					><i class="fa fa-trash-o"></i> {{$t "global.button.delete" }}</a>
				{{/ifeq}}
			{{/userHasPermission}}
		{{/if}}
    {{/if}}
    </form>
    </div>

    {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
        {{#content "body"}}
            <div class="modal-footer" id="modal-delete-homework-footer">
                <button type="button" class="btn btn-secondary btn-close">
                    {{$t "global.button.cancel" }}
                </button>
                <button type="submit" class="btn btn-primary btn-submit">
                   {{$t "global.button.delete" }}
                </button>
            </div>
        {{/content}}
    {{/embed}}

    {{#embed "lib/components/modal-information" class="danger-modal" title="Achtung"}}
	    {{#content "fields"}}
		    {{> "files/forms/form-virus-danger"}}
	    {{/content}}
    {{/embed}}
</section>
