<section id="submission" class="tab-content section-homeworkdetails">
  {{#if @root.submittable}}
    <div class="comment editor">
      <p class="submissionLabel"><i class="fa fa-folder-open"></i>Dateiabgabe</p>
      {{#embed "files/file-upload" path=@root.path}}{{/embed}}

      {{#if @root.submission}}
        <form class="form submissionForm ajaxForm" method="post" action="/homework/submit/{{@root.submission._id}}">
        <input name="submissionId" type="hidden" data-force-value="true" value="{{@root.submission._id}}"/>
      {{else}}
        <form class="form submissionForm" method="post" action="/homework/submit">
      {{/if}}

      {{#if @root.submission}}
        {{#embed "homework/components/submission_uploaded_files" deletionAllowed=true submission=@root.submission}}{{/embed}}
         <input type="hidden" name="_method" data-force-value="true" value="patch"/>
      {{else}}
        <div class="form-group section-uploaded-files">
            <label>Zur Abgabe hochgeladene Dateien (ungespeichert!)</label>
            <ul class="list-group-files js-file-list d-flex flex-row"></ul>
        </div>
        <input type="hidden" name="_method" data-force-value="true" value="post"/>
        <input name="schoolId" type="hidden" data-force-value="true" value="{{@root.currentSchool}}"/>
        <input name="studentId" type="hidden" data-force-value="true" value="{{@root.currentUser._id}}"/>
      {{/if}}

      {{#if @root.teamSubmissions}}
        <hr>
        <p class="submissionLabel"><i class="fa fa-users"></i>Teamabgabe {{#if maxTeamMembers}}(maximal <span id="maxTeamMembers">{{@root.maxTeamMembers}}</span> Personen){{/if}}</p>
        <div class="form-group">
            <input name="teamSubmissionOptions" value="teamMembers" type="radio" id="teamMembers1" {{#unless @root.courseGroupSelected}}checked{{/unless}}/>
            <label for="teamMembers1">Teammitglieder auswählen</label>
            <select name="teamMembers" id="teamMembers" multiple data-placeholder="Mitstreiter auswählen">
                {{#each @root.students}}
                    <option value="{{this._id}}" 
                        {{#if @root.submission}}
                            {{#inArray this._id @root.submission.teamMemberIds}}selected{{/inArray}}
                            {{#ifeq this._id @root.submission.studentId._id}} selected{{/ifeq}}
                        {{else}}
                            {{#ifeq this._id @root.currentUser._id}} selected{{/ifeq}}
                        {{/if}}
                        class="
                            {{#ifeq this._id @root.submission.studentId._id}} owner{{/ifeq}}
                            {{#ifeq this._id @root.currentUser._id}} me{{/ifeq}}
                        "
                    >{{this.firstName}} {{this.lastName}}</option>
                {{else}}
                    <option value="" disabled>keine weiteren Schüler in deinem Kurs</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <input name="teamSubmissionOptions" value="courseGroup" type="radio" id="courseGroup1" {{#if @root.courseGroupSelected}}checked{{/if}}/>
            <label for="courseGroup1">Schülergruppe auswählen</label>
            <select name="courseGroupId" id="courseGroupId" data-placeholder="Mitstreiter auswählen">
                {{#each @root.courseGroups}}
                    <option value="{{this._id}}" {{#ifeq this._id @root.submission.courseGroupId._id}}selected{{/ifeq}}>{{this.name}}</option>
                {{else}}
                    <option value="" disabled>keine Schülergruppen in diesem Kurs</option>
                {{/each}}
            </select>
        </div>
        <hr>
      {{/if}}
        <p class="submissionLabel"><i class="fa fa-text-width"></i>Textabgabe</p>
        <input name="homeworkId" type="hidden" data-force-value="true" value="{{@root._id}}"/>

        <div class="form-group">
            <textarea id="evaluation" name="comment" class="form-control customckeditor"
                  placeholder="Erstelle deine Abgabe...">{{@root.submission.comment}}</textarea>
        </div>
  {{else}}
    <div class="comment">
        {{#if @root.submission.comment}}
            {{{@root.submission.comment}}}
        {{else}}
            <p>Keine Abgabe.</p>
        {{/if}}
    </div>
  {{/if}}

    {{#if @root.submittable}}
        {{> "lib/components/csrfInput"}}
        {{#userHasPermission "SUBMISSIONS_CREATE"}}
            <button type="submit" class="btn btn-primary btn-submit" disabled="true">Speichern</button>
        {{/userHasPermission}}

        {{#if @root.submission}}
			{{#userHasPermission "SUBMISSIONS_EDIT"}}
				{{#ifeq @root.currentUser._id @root.submission.studentId._id}}
					<a href="/homework/submit/{{@root.submission._id}}/delete" class="btn btn-secondary btn-delete-submission" 
						target="_blank"
						data-method="delete-submission"
						data-name="deine Abgabe"
						alt="Abgabe löschen"
					><i class="fa fa-trash-o"></i> Löschen</a>
				{{/ifeq}}
			{{/userHasPermission}}
		{{/if}}
    {{/if}}
    </form>
    </div>

    {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
        {{#content "body"}}
            <div class="modal-footer" id="modal-delete-homework-footer">
                <button type="button" class="btn btn-secondary btn-close">
                    Abbrechen
                </button>
                <button type="submit" class="btn btn-primary btn-submit">
                    Löschen
                </button>
            </div>
        {{/content}}
    {{/embed}}

    {{#embed "lib/components/modal-information" class="danger-modal" title="Achtung"}}
	    {{#content "fields"}}
		    {{> "files/forms/form-virus-danger"}}
	    {{/content}}
    {{/embed}}
</section>
