<section id="submission" class="tab-content section-homeworkdetails">
  {{#if submittable}}
    <div class="comment editor">
        {{#embed "files/file-upload" }}{{/embed}}

      {{#if submission}}
        <form class="form submissionForm" method="post" action="/homework/submit/{{submission._id}}">
        <input name="submissionId" type="hidden" data-force-value="true" value="{{submission._id}}"/>
      {{else}}
        <form class="form submissionForm" method="post" action="/homework/submit">
      {{/if}}
        
          {{#if submission}}
            {{#embed "homework/components/submission_uploaded_files" deletionAllowed=true}}{{/embed}}
            <hr>
          {{/if}}
          
          {{#if teamSubmissions}}
            <div class="form-group">
                <label>Teammitglieder (maximal {{maxCoWorkers}} Personen)</label>
                <select name="coWorkers" id="coWorkers" multiple="" data-placeholder="Teammitglieder auswählen">
                    {{#each students}}
                        <option value="{{this._id}}" {{#if @root.submission}}{{#inArray this._id @root.submission.coWorkers}}selected{{/inArray}}{{/if}}>{{this.firstName}} {{this.lastName}}</option>
                    {{else}}
                        <option value="" disabled>keine weiteren Schüler in deinem Kurs</option>
                    {{/each}}
                </select>
            </div>
          {{/if}}


          {{#if submission}}
            <input type="hidden" name="_method" data-force-value="true" value="patch"/>
            <input name="homeworkId" type="hidden" data-force-value="true" value="{{_id}}"/>
            <div class="form-group">
                <textarea id="evaluation" name="comment" class="form-control customckeditor"
                          placeholder="Erstelle deine Abgabe...">{{submission.comment}}</textarea>
            </div>
          {{else}}
            <div class="form-group section-uploaded-files">
                <label>Zur Abgabe hochgeladene Dateien (ungespeichert!)</label>
                <ul class="list-group-files d-flex flex-row">
                 </ul>
            </div>
            <input type="hidden" name="_method" data-force-value="true" value="post"/>
            <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}"/>
            <input name="studentId" type="hidden" data-force-value="true" value="{{currentUser._id}}"/>
            <input name="homeworkId" type="hidden" data-force-value="true" value="{{_id}}"/>
            <div class="form-group">
                <textarea id="evaluation" name="comment" class="form-control customckeditor"
                          placeholder="Erstelle deine Abgabe..."></textarea>
            </div>
          {{/if}}
  {{else}}
    <div class="comment">
        {{#if submission.comment}}
            {{{submission.comment}}}
        {{else}}
            <p>Keine Abgabe.</p>
        {{/if}}
    </div>
  {{/if}}

    {{#if submittable}}
        <button type="submit" class="btn btn-primary btn-submit">Speichern</button>
    {{/if}}
    </form>
    </div>

    {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
        {{#content "body"}}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close">
                    Abbrechen
                </button>

                <button type="submit" class="btn btn-primary btn-submit">
                    Löschen
                </button>
            </div>
        {{/content}}
    {{/embed}}
</section>