<section id="submissions" class="tab-content section-homeworksubmissions">
    <table class="table table-hover">
        {{#if teamSubmissions}}
            <thead>
                <tr>
                    <th>{{$t "homework._task.label.team"}}</th>
                    <th></th>
                    <th>{{$t "homework._task.label.submitted"}} <span>{{@root.stats.submissionCount}}/{{@root.stats.userCount}}</span></th>
                    <th>{{$t "homework.label.rating_comment" }} {{#if @root.stats.averageGrade}}<span>{{@root.stats.averageGrade}}%</span>{{/if}}</th>
                    <th/>
                </tr>
            </thead>
            {{#each @root.submissions}}
                <tbody class="usersubmission">
                    <tr class="userinfo">
                        <td class="groupNames">
                            {{#if this.submission.courseGroupId}}
                                <b>{{this.submission.courseGroupId.name}}: </b>
                                {{#each this.submission.courseGroupMembers}}
                                    <span>{{this.firstName}} {{this.lastName}}</span>
                                {{/each}}
                            {{else}}
                                {{#each this.submission.teamMembers}}
                                    <span>{{this.firstName}} {{this.lastName}}</span>
                                {{/each}}
                            {{/if}}
                        </td>
                        <td></td>
                        <td>
                            {{#if this.submission}}
                                <i class="fa fa-check green" aria-hidden="true"/>
                            {{else}}
                                <i class="fa fa-times red" aria-hidden="true"/>
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.submission.grade}}
                                {{this.submission.grade}}%
                            {{else}}
                                {{#if submission.gradeComment}}
                                    {{#ifneq this.submission.gradeComment ''}}
                                        <i class="fa fa-check green" aria-hidden="true"></i>
                                    {{/ifneq}}
                                {{/if}}
                            {{/if}}
                        </td>
                        <td><i class="fa fa-chevron-down" aria-hidden="true"/></td>
                    </tr>
                    <tr class="evaluation">
                        <td colSpan="6">{{>"homework/evaluation"}}</td>
                    </tr>
                </tbody>
            {{/each}}
        {{else}}
            <thead>
                <tr>
                    <th>{{$t "global.label.firstName"}}</th>
                    <th>{{$t "global.label.lastName"}}</th>
                    <th>{{$t "homework._task.label.submitted"}} <span>{{@root.stats.submissionCount}}/{{@root.stats.userCount}}</span></th>
                    <th>{{$t "homework.label.rating_comment" }} {{#if @root.stats.averageGrade}}<span>{{@root.stats.averageGrade}}%</span>{{/if}}</th>
                    <th/>
                </tr>
            </thead>
            {{#each @root.studentSubmissions}}
                <tbody class="usersubmission">
                    <tr class="userinfo">
                        <td>{{this.student.firstName}}</td>
                        <td>{{this.student.lastName}}</td>
                        <td>
                            {{#if this.submission}}
                                <i class="fa fa-check green" aria-hidden="true"/>
                            {{else}}
                                <i class="fa fa-times red" aria-hidden="true"/>
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.submission.grade}}
                                {{this.submission.grade}}%
                            {{else}}
                                {{#if submission.gradeComment}}
                                    {{#ifneq this.submission.gradeComment ''}}
                                        <i class="fa fa-check green" aria-hidden="true"></i>
                                    {{/ifneq}}
                                {{/if}}
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.submission}}
                                <i class="fa fa-chevron-down" aria-hidden="true"/>
                            {{/if}}
                        </td>
                    </tr>
                    <tr class="evaluation">
                        {{#if this.submission}}
                            <td colSpan="6">{{>"homework/evaluation"}}</td>
                        {{/if}}
                    </tr>
                </tbody>
            {{/each}}
        {{/if}}
    </table>
    {{#if teamSubmissions}}
        {{#ifArray @root.submissions}}
            {{#unless (arrayLength @root.submissions)}}
                <div class="alert alert-info">
                    <strong>{{$t "homework._task.text.noSubmissionsYet"}}</strong>
                </div>
            {{/unless}}
        {{/ifArray}}
        {{#ifArray @root.studentsWithoutSubmission}}
            <hr>
            <div class="alert alert-warning">
                <strong>{{$t "homework._task.text.noSubmissionsYetFrom"}}</strong></br>
                <div class="groupNames">
                    {{#each @root.studentsWithoutSubmission}}
                        <span>{{this.firstName}} {{this.lastName}}</span>
                    {{/each}}
                </div>
            </div>
        {{/ifArray}}
    {{/if}}

	{{> 'homework/components/bulk-grading'}}
</section>
