<section id="submission" class="tab-content section-homeworkdetails">
	<h5>Abgabe</h5>
	<div class="comment">
		<h6>Kommentar</h6>
		{{#if submittable}}
			{{#if submission}}
			<form class="form" method="post" action="/homework/submit/{{submission._id}}">
				<input type="hidden" name="_method" data-force-value="true" value="patch" />
				<div class="form-group">
					<textarea id="evaluation" name="comment" class="form-control" placeholder="Verfasse einen Kommentar...">{{submission.comment}}</textarea>
				</div>
			{{else}}
			<form class="form" method="post" action="/homework/submit">
				<input type="hidden" name="_method" data-force-value="true" value="post" />
				<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
				<input name="studentId" type="hidden" data-force-value="true" value="{{currentUser._id}}" />
				<input name="homeworkId" type="hidden" data-force-value="true" value="{{_id}}" />
				<div class="form-group">
					<textarea id="evaluation" name="comment" class="form-control" placeholder="Verfasse einen Kommentar..."></textarea>
				</div>
			{{/if}}

		{{else}}
			{{#if comment}}
				<p>{{comment}}</p>
			{{else}}
				<p>Kein Kommentar.</p>
			{{/if}}
		{{/if}}
	</div>
	<h6>Dateien</h6>
	<div class="material card">
		<ul>
			<li>
				<img src="http://placehold.it/100x80"/>
				<p class="title">ExtraLongFilename.html</p>
				<div class="buttons">
					<a class="download" href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
					<a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
				</div>
			</li>
			{{#if submittable}}
			<li>
				<a class="add" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
			</li>
			{{/if}}
		</ul>
	</div>
	{{#if submittable}}
		<button type="submit" class="btn btn-primary btn-submit">Speichern</button>
	</form>
	{{/if}}
</section>