{{> "help/partials/help_first_steps"}}

{{#each tutorials}}
	{{#embed "help/icon-card" title=this.title icon=this.icon id=this.title class="col-md-6 help-icon-card"}}
		{{#content "card-body"}}
			<div class="collapse__section">
				{{#each this.categories}}
					{{#if this.articles}}
						<div class="collapse__item">
							<button class="collapse__title collapsed" data-toggle="collapse" data-target="#collapsable-{{this.id}}"
								aria-expanded="false" aria-controls="collapsable-{{this.id}}" type="button" tabindex="0">
								<i class="fa fa-fw fa-chevron-right" aria-hidden="true" data-expand></i>
								<i class="fa fa-fw fa-chevron-up" aria-hidden="true" data-collapse></i>
								<h3 class="h5 collapsable-headline">
									{{this.title}}
								</h3>
							</button>
							<ul id="collapsable-{{this.id}}" class="collapse collapse__content">
								{{#each this.articles}}
									<li><a href="/help/confluence/{{this.id}}">
										{{this.title}}
									</a></li>
								{{/each}}
							</ul>
						</div>
					{{else}}
						<div class="collapse__item">
							<div class="collapse__title single">
								<a href="/help/confluence/{{this.id}}">
									<h3 class="h5 collapsable-headline">
										{{this.title}}
									</h3>
								</a>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		{{/content}}
	{{/embed}}
{{/each}}
