{{#embed "help/icon-card" title="Inhaltsverzeichnis" icon="fa-list" class="table-of-contents-card hidden-sm-up col-xs-12" id="inhaltsverzeichnis"}}
	{{#content "card-body"}}
	<ul class="white-links">
		{{#if false}}<li><a href="#erste_schritte">{{$t "global.link.firstSteps" }}</a></li>{{/if}}
		{{#each tutorials}}
			<li><a href="#{{this.title}}">{{this.title}}</a></li>
		{{/each}}
		<li><a href="#nutzungshilfen">{{$t "help.help_confluenceLinks.link.usageAids" }}</a></li>
		<li><a href="#kontakt">{{$t "help.help_confluenceLinks.link.contactForm" }}</a></li>
		<li><a href="#email">{{$t "help.help_confluenceLinks.link.writeUsAnEmail" }}</a></li>
		<li><a href="#ueber_das_projekt">{{$t "global.link.aboutTheProject" }}</a></li>
		<li><a href="#sprachhinweis">{{$t "help.help_confluenceLinks.link.linguisticNote" }}</a></li>
	</ul>
	{{/content}}
{{/embed}}

{{> "help/partials/help_first_steps"}}

{{#each tutorials}}
	{{#embed "help/icon-card" title=this.title icon=this.icon id=this.title class="col-md-6"}}
		{{#content "card-body"}}
			<div class="collapse__section">
				{{#each this.categories}}
					{{#if this.articles}}
						<div class="collapse__item">
							<button class="collapse__title collapsed" data-toggle="collapse" data-target="#collapsable-{{this.id}}"
								aria-expanded="false" aria-controls="collapsable-{{this.id}}" type="button" tabindex="0">
								<i class="fa fa-fw fa-chevron-right" aria-hidden="true" data-expand></i>
								<i class="fa fa-fw fa-chevron-down" aria-hidden="true" data-collapse></i>
								<h3 class="h5 collapsable-headline">
									{{this.title}}
								</h3>
							</button>
							<ul id="collapsable-{{this.id}}" class="collapse collapse__content">
								{{#each this.articles}}
									<li><a href="/help/confluence/{{this.id}}">
										{{this.title}}
									</a></li>
								{{/each}}
							</ul>
						</div>
					{{else}}
						<div class="collapse__item">
							<div class="collapse__title single">
								<i class="fa fa-fw" aria-hidden="true"></i>
								<a href="/help/confluence/{{this.id}}">
									<h3 class="h5 collapsable-headline">
										{{this.title}}
									</h3>
								</a>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		{{/content}}
	{{/embed}}
{{/each}}
