{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/vendor-react.js" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/topicEdit.js" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/courses.js" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css" />
        <link rel="stylesheet" href="/styles/topics/topics.css" />
    {{/content}}

    {{#content "page"}}
        <section class="section-course-edit">
            <form action="{{action}}" method="post">
                {{#if method}}
                    <input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
                {{/if}}

                {{#if courseId}}
                    <input name="courseId" type="hidden" data-force-value="true" value="{{courseId}}" />
                {{/if}}

                {{#if teamId}}
                    <input name="teamId" type="hidden" data-force-value="true" value="{{teamId}}" />
                {{/if}}

                {{#if courseGroupId}}
                    <input name="courseGroupId" type="hidden" data-force-value="true" value="{{courseGroupId}}" />
                {{/if}}

                <input name="position" type="hidden" data-force-value="true" value="{{lesson.position}}" />

                <div class="form-group">
                    <label>{{$t "topic._topic.label.titleOfTheTopic" }}</label>
                    <input class="form-control" name="name" type="text" placeholder="{{$t "topic._topic.input.countWithPrimeNumbers"}}"
                        value="{{{lesson.name}}}" required />
                </div>

                <div class="form-group">
                    <label>{{$t "topic._topic.label.content" }}</label>

                    <!-- React Magic -->
                    <div id="content-blocks" data-value="{{lesson.contents}}" data-etherpadbaseurl="{{etherpadBaseUrl}}"
                        data-iscoursegroup="{{courseGroupId}}" data-nexboardenabled="{{#ifEnv "FEATURE_NEXBOARD_ENABLED" "true"}}true{{/ifEnv}}"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close historyback">
                        {{closeLabel}}
                    </button>

                    {{> "lib/components/csrfInput"}}

                    <button type="submit" class="btn btn-primary btn-submit">
                        {{submitLabel}}
                    </button>
                </div>

            </form>
        </section>
        {{#embed "lib/components/modal-actions" class="ckeditor-filebrowser-dialog"}}
		{{/embed}}
    {{/content}}
{{/extend}}
