{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css" />
        <link rel="stylesheet" href="/styles/homework/homework.css" />
        <link rel="stylesheet" href="/styles/topics/topics.css" />
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/topic.js" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        {{#if isCourseGroupTopic}}
            <div class="row padding-top">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="/courses/{{../courseId}}/topics/{{../_id}}/edit?courseGroup={{../courseGroupId}}"
                            class="btn btn-sm btn-add btn-primary"> {{$t "global.button.editTopic" }}
                            </a>
                    </div>
                </div>
            </div>
        {{else}}
            {{#userHasPermission "COURSE_EDIT"}}
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}"
                                class="btn btn-sm btn-add btn-secondary btn-create-share">
                                <i class="fa fa-share-alt"></i>
                            </a>
                            <a href="/courses/{{../courseId}}/topics/{{../_id}}/edit"
                                class="btn btn-secondary btn-sm btn-add">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {{/userHasPermission}}
        {{/if}}
        <section class="section-course">
            {{#each contents}}
                {{#unless hidden}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-block">
                                {{> (lookup . 'component') }}
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

            {{#if materialIds}}
                <div class="materials">
                    <h2 class="h5">{{$t "topic._topic.heading.savedTeachingMaterials" }}</h2>
                    <div class="card-columns">
                        {{#each materialIds}}
                            <div class="card">
                                {{#if this.image}}
                                    <img class="card-img-top" src="{{this.image}}" />
                                {{/if}}
                                <div class="card-block">
                                    <h2 class="h4 card-title">
                                        <a href="{{this.url}}" target="_blank">
                                            {{this.title}}
                                        </a>
                                    </h2>
                                    <p class="card-text">{{this.description}}</p>
                                    {{#if this.download}}
                                        <button type="button" class="btn btn-secondary">
                                            <a href="{{this.download}}" target="_blank">Slides</a>
                                        </button>
                                    {{/if}}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> via {{this.client}}</small>
                                    {{#userHasPermission "COURSE_EDIT"}}
                                        <a class="delete-material" href="materials/{{../_id}}" target="_blank"
                                            data-method="DELETE" data-name="{{../title}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {{/userHasPermission}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            {{#if isCourseGroupTopic}}
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/{{context}}/{{../courseId}}/topics/{{../_id}}/edit?courseGroup={{../courseGroupId}}"
                                class="btn btn-add btn-primary">{{$t "global.button.editTopic" }}</a>
                        </div>
                    </div>
                </div>
            {{else}}
                {{#userHasPermission "COURSE_EDIT"}}
                    <div class="row padding-top">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}"
                                    class="btn btn-add btn-secondary btn-create-share">
                                    <i class="fa fa-share-alt"></i>
                                    {{$t "topic._topic.text.shareWithOthersTeachers" }}
                                </a>
                                <a href="/{{../context}}/{{../courseId}}/topics/{{../_id}}/edit"
                                    class="btn btn-add btn-primary">{{$t "global.button.edit" }}</a>
                            </div>
                        </div>
                    </div>
                {{/userHasPermission}}
            {{/if}}

            {{#unless isCourseGroupTopic}}
                <hr />
                <div class="row">
                    <div class="col-sm-6 container">
                        {{#userHasPermission "HOMEWORK_CREATE"}}
                            <a href="/homework/new?course={{../courseId}}&topic={{../_id}}"
                                class="btn btn-secondary btn-sm pull-right ml-1" data-toggle="tooltip"
                                title="{{$t "global.button.addTask"}}">
                                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "global.button.addTask" }}</span>
                            </a>
                        {{/userHasPermission}}
                        <a data-toggle="collapse" class="collapse-toggle" href="#homeworks" tabindex="0">
                            <h2 class="h4">
                                <small data-toggle="tooltip" title="{{$t "topic._topic.label.expandTasks"}}"><i
                                        class="fa fa-chevron-right collapse-icon" aria-hidden="true"></i></small>
                                {{$t "global.headline.assignedTasks" }}
                                <small>({{arrayLength homeworks}}
                                    {{#ifneq 1 (arrayLength homeworks)}}
                                        {{$t "global.headline.tasks"}}
                                    {{else}}
                                        {{$t "global.headline.task"}}
                                    {{/ifneq}})
                                </small>
                            </h2>
                        </a>
                        <div id="homeworks" class="container-fluid collapse">
                            <ol class="homework">
                                <div class="row">
                                    {{#each homeworks}}
                                        {{> 'homework/components/course_overview_card_template'}}
                                    {{/each}}
                                </div>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{#userHasPermission "HOMEWORK_CREATE"}}
                            <a href="/homework/new?course={{../courseId}}&topic={{../_id}}&private=true"
                                class="btn btn-secondary btn-sm pull-right ml-1" data-toggle="tooltip"
                                title="{{$t "global.button.addPrivateTask"}}">
                                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "global.button.addPrivateTask" }}</span>
                            </a>
                        {{/userHasPermission}}
                        <a data-toggle="collapse" class="collapse-toggle" href="#myhomeworks" tabindex="0">
                            <h2 class="h4">
                                <small data-toggle="tooltip" title="{{$t "topic._topic.label.expandPrivateTasks" }}"><i
                                        class="fa fa-chevron-right collapse-icon" aria-hidden="true"></i></small>
                                {{$t "topic._topic.heading.privateTasks" }}
                                <small>({{arrayLength myhomeworks}}
                                    {{#ifneq 1 (arrayLength myhomeworks)}}
                                        {{$t "global.headline.tasks"}}
                                    {{else}}
                                        {{$t "global.headline.task"}}
                                    {{/ifneq}})
                                </small>
                            </h2>
                        </a>
                        <div id="myhomeworks" class="container-fluid collapse">
                            <ol class="homework">
                                <div class="row">
                                    {{#each myhomeworks}}
                                        {{> 'homework/components/course_overview_card_template'}}
                                    {{/each}}
                                </div>
                            </ol>
                        </div>
                    </div>
                </div>
            {{/unless}}

            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
            {{#content "body"}}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close">
                        {{$t "global.button.cancel" }}
                    </button>

                    <button type="submit" class="btn btn-primary btn-submit">
                        {{$t "global.headline.delete" }}
                    </button>
                </div>
            {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="share-modal"}}
            {{#content "fields"}}
                {{> "topic/forms/form-share"}}
            {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}
