{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/homework/homework.css"/>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/topic.js" defer></script>
    {{/content}}

    {{#content "page"}}

        <section class="section-course">
            {{#each contents}}
                {{#unless hidden}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content-block">
                                {{> (lookup . 'component') }}
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

            {{#if materialIds}}
                <div class="materials">
                    <h5>Gespeicherte Unterrichtsmaterialen</h5>
                    <div class="card-columns">
                        {{#each materialIds}}
                            <div class="card">
                                {{#if this.image}}
                                    <img class="card-img-top" src="{{this.image}}"/>
                                {{/if}}
                                <div class="card-block">
                                    <h4 class="card-title">
                                        <a href="{{this.url}}" target="_blank">
                                            {{this.title}}
                                        </a>
                                    </h4>
                                    <p class="card-text">{{this.description}}</p>
                                    {{#if this.download}}
                                        <button type="button" class="btn btn-secondary">
                                            <a href="{{this.download}}" target="_blank">Slides</a>
                                        </button>
                                    {{/if}}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> via {{this.client}}</small>
                                    {{#userHasPermission "COURSE_EDIT"}}
                                        <a class="delete-material"
                                           href="materials/{{../_id}}"
                                           target="_blank"
                                           data-method="delete-material"
                                           data-name="{{../title}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {{/userHasPermission}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            {{#userHasPermission "COURSE_EDIT"}}
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <a href="/courses/{{../courseId}}/topics/{{../_id}}/edit" class="btn btn-add btn-primary">Thema
                            bearbeiten</a>
                        <a href="#"
                           data-href="{{../_id}}"
                           data-courseId="{{../courseId}}"
                           class="btn btn-add btn-secondary btn-create-share">Thema mit anderen Lehrern teilen</a>
                    </div>
                </div>
            {{/userHasPermission}}

            <hr/>

            <div class="row">
                <div class="col-sm-6">
                    <div class="container-fluid">
                        <a href="/homework/new?course={{../courseId}}&topic={{../_id}}" class="btn btn-secondary btn-sm pull-right ml-1" data-toggle="tooltip" title="Aufgabe hinzufügen">
                            <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> Aufgabe hinzufügen</span></a>
                        <div class="row">
                            <h4>Gestellte Aufgaben</h4>
                        </div>
                        <ol class="homework">
                            <div class="row">
                                {{#each homeworks}}
                                    {{> 'homework/components/course_overview_card_template'}}
                                {{/each}}
                            </div>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="container-fluid">
                        <a href="/homework/new?course={{../courseId}}&topic={{../_id}}&private=true" class="btn btn-secondary btn-sm pull-right ml-1" data-toggle="tooltip" title="private Aufgabe hinzufügen">
                            <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> private Aufgabe hinzufügen</span></a>
                        <div class="row">
                            <h4>Meine Aufgaben</h4>
                        </div>
                        <ol class="homework">
                            <div class="row">
                                {{#each myhomeworks}}
                                    {{> 'homework/components/course_overview_card_template'}}
                                {{/each}}
                            </div>
                        </ol>
                    </div>
                </div>
            </div>

            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                {{#content "body"}}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">
                            Abbrechen
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            Löschen
                        </button>
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="share-modal"}}
                {{#content "fields"}}
                    {{> "topic/forms/form-share"}}
                {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}
