<section class="section-about">
	{{#embed "authentication/section" class="content-width-max"}}
	{{#content "body"}}
	{{#unless loggedin}}
	<h1 class="h2 section-title center">{{title}}</h1>
	{{/unless}}
	<h2 class="h3 section-title center">{{$t "theme.thr.about.headline.aboutTheThuringian"}}</h2>
	<p>{{$t "theme.thr.about.text.theThuringianSchoolCloudIsIntended"}}</p>
	<p>{{$t "theme.thr.about.text.theThuringianSchoolCloudStarted"}}</p>
	<br />
	<h2 class="h3 section-title center">MINT-Pilotschulen</h2>
	<div class="embed-pdf">
		<div class="row embed-pdf-row">
			<div class="single-pdf col-xs-12 col-md-6 text-center">
				<a href="https://www.mint-ec.de/schulnetzwerk/mint-ec-schulen/microsite/albert-schweitzer-gymnasium-erfurt/">
					<div class="single-pdf-wrapper">
						Albert-Schweitzer-Gymnasium Erfurt
						<br />
						<img src="https://s3.hidrive.strato.com/schul-cloud-hpi/thr/images/partner/asg_logo.jpg" alt=""
							role="presentation" />
					</div>
				</a>
			</div>
			<div class="single-pdf col-xs-12 col-md-6 text-center">
				<div class="single-pdf-wrapper">
					<a href="https://www.mint-ec.de/schulnetzwerk/mint-ec-schulen/microsite/carl-zeiss-gymnasium/">
						Carl-Zeiss-Gymnasium
						<br /><br />
						<img src="https://s3.hidrive.strato.com/schul-cloud-hpi/thr/images/partner/carl-zeiss-gymnasium-logo.jpg"
							alt="" role="presentation" />
					</a>
				</div>
			</div>
		</div>
		<br />
		<div class="row embed-pdf-row">
			<div class="single-pdf col-xs-12 col-md-6 text-center">
				<a href="https://www.ernstabbegymnasium.de">
					<div class="single-pdf-wrapper">
						Staatliches Gymnasium und Seminarschule "Ernst Abbe" Eisenach
						<br />
						<i class="fa fa-university schoollogo-placeholder" aria-hidden="true"></i>
					</div>
				</a>
			</div>
			<div class="single-pdf col-xs-12 col-md-6 text-center">
				<div class="single-pdf-wrapper">
					<a href="https://www.mint-ec.de/schulnetzwerk/mint-ec-schulen/microsite/goetheschule-ilmenau/">
						Goetheschule Ilmenau
						<br /><br />
						<img src="https://s3.hidrive.strato.com/schul-cloud-hpi/thr/images/partner/goethe-ilmenau.png" alt=""
							role="presentation" />
					</a>
				</div>
			</div>
		</div>
	</div>
	{{/content}}
	{{/embed}}
	{{#embed "authentication/section" style="primary" class="content-width-max"}}
	{{#content "body"}}
	<div class="section-partner">
		<h3 class="h4">{{$t "theme.thr.about.headline.crossNationalGoodExperience"}}</h3>
		<div class="row">
			{{#each schools.bp}}
			<div class="partner-box-wrapper col-xs-6 col-md-3">
				<div class="partner-box">
					<a href="{{{url}}}" target="_blank">
						{{#if logo}}
						<img src="{{{logo}}}" alt="Logo {{{name}}}" title="{{{name}}}" class="img-fluid" {{#if padding}}
							style="padding: {{{padding}}};" {{/if}}>
						{{else}}
						<i class="fa fa-university schoollogo-placeholder" aria-hidden="true"></i>
						{{/if}}
					</a>
				</div>
			</div>
			{{/each}}
			<div class="col-xs-12">
				<div id="hiddenBPSchools" class="collapse row">
					{{#each hiddenBPSchools}}
					<div class="partner-box-wrapper col-xs-6 col-md-3">
						<div class="partner-box">
							<a href="{{{url}}}" target="_blank">
								{{#if logo}}
								<img src="{{{logo}}}" alt="Logo {{{name}}}" title="{{{name}}}" class="img-fluid" {{#if padding}}
									style="padding: {{{padding}}};" {{/if}}>
								{{else}}
								<i class="fa fa-university schoollogo-placeholder" aria-hidden="true"></i>
								{{/if}}
							</a>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="buttonWrapper">
				<div class="btn toggle-partner" class="btn btn-info collapsed" data-toggle="collapse"
					data-target="#hiddenBPSchools">{{$t "about.button.showMore"}}<i class="fa fa-angle-down"
						aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<h3 class="h4">{{$t "theme.thr.about.headline.pilotSchools"}}</h3>
		<div class="row">
			{{#each schools.thuringia2019}}
			<div class="partner-box-wrapper col-xs-6 col-md-3">
				<div class="partner-box">
					<a href="{{{url}}}" target="_blank">
						{{#if logo}}
						<img src="{{{logo}}}" alt="Logo {{{name}}}" title="{{{name}}}" class="img-fluid" {{#if padding}}
							style="padding: {{{padding}}};" {{/if}}>
						{{else}}
						<i class="fa fa-university schoollogo-placeholder" aria-hidden="true"></i>
						{{/if}}
					</a>
				</div>
			</div>
			{{/each}}
			<div class="col-xs-12">
				<div id="hiddenSchoolsThuringia2019" class="collapse row">
					{{#each hiddenSchoolsThuringia2019}}
					<div class="partner-box-wrapper col-xs-6 col-md-3">
						<div class="partner-box">
							<a href="{{{url}}}" target="_blank" aria-label="{{{name}}}">
								{{#if logo}}
								<img src="{{{logo}}}" alt="Logo {{{name}}}" title="{{{name}}}" class="img-fluid" {{#if padding}}
									style="padding: {{{padding}}};" {{/if}} role="presentation">
								{{else}}
								<i class="fa fa-university schoollogo-placeholder" aria-hidden="true"></i>
								{{/if}}
							</a>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="buttonWrapper">
				<div class="btn toggle-partner" class="btn btn-info collapsed" data-toggle="collapse"
					data-target="#hiddenSchoolsThuringia2019">{{$t "about.button.showMore"}}<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
			</div>
		</div> <!-- .row -->
		<br />

		<video controls preload="metadata"
			poster="https://www10-fms.hpi.uni-potsdam.de/vod/media/WS_2018/DG_2018/DG_2017_12_03/thumbnails/video-00-34-40.png">
			<source src="https://www10-fms.hpi.uni-potsdam.de/vod/media/WS_2018/DG_2018/DG_2017_12_03/hd/video.mp4"
				type="video/mp4">
			Your browser does not support this (HTML5) videoplayer.
		</video>
		{{/content}}
		{{/embed}}
		{{#embed "authentication/section" class="content-width-max"}}
		{{#content "body"}}

		<h2 class="h3 section-title center">{{$t "about.headline.educSupp"}}</h2>
		<p>{{$t "about.text.forPedagogicalAndDidactic"}}
			<a href="https://osf.io/bzu4t/?view_only=14ad7519b5a24af7a83cf40b43377142" target="_blank">{{$t "about.text.universityOfTubingen"}}</a> {{$t "about.text.aScientificOne"}}
			<a href="http://www.gei.de/abteilungen/schulbuch-als-medium/schools-in-the-cloud-wissenschaftliche-begleitforschung-der-schul-cloud-einfuehrung.html"
				target="_blank">Georg-Eckert-Institut</a>
			{{$t "about.text.BasedOnTheResults"}}</p>
		<br />
		<div class="embed-pdf">
			<div class="row embed-pdf-row">
				<div class="single-pdf col-xs-12 col-md-4">
					<a href="{{theme.documents.globalFiles.BroschuereSCimUnterricht1}}" target="_blank">
						<div class="single-pdf-wrapper">
							<b class="single-pdf-title">{{$t "about.link.hpiCloudDuringLesson"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-Die-Schul-Cloud-im-Unterricht-Fachuebergreifende-Unterrichtsszenarien.jpg"
								alt="" role="presentation" />
						</div>
					</a>
				</div>
				<div class="single-pdf col-xs-12 col-md-4">
					<a href="{{theme.documents.globalFiles.BroschuereSCimUnterricht2}}" target="_blank">
						<div class="single-pdf-wrapper">
							<b class="single-pdf-title">{{$t "about.link.hpiCloudInDayLife"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-Schul-Cloud-in-Unterricht-und-Schulalltag.jpg"
								alt="" role="presentation" />
						</div>
					</a>
				</div>
				<div class="single-pdf col-xs-12 col-md-4">
					<a href="{{theme.documents.globalFiles.BroschuereSCundLernen4}}" target="_blank">
						<div class="single-pdf-wrapper">
							<b class="single-pdf-title">{{$t "about.link.hpiCloudLearning"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-HPI-Schul-Cloud-und-Lernen-4.0.jpg"
								alt="" role="presentation" />
						</div>
					</a>
				</div>
			</div> <!-- .row.embed-pdf-row -->
		</div> <!-- .container.embed-pdf -->

		{{/content}}
		{{/embed}}
		{{#embed "authentication/section" style="accent" class="content-width-max"}}
		{{#content "body"}}
		<h2 class="h3 section-title center">{{$t "about.headline.publications"}}</h2>
		<div class="embed-pdf">
			<div class="row embed-pdf-row">
				<div class="single-pdf col-xs-12 col-md-4">
					<div class="single-pdf-wrapper">
						<a href="{{theme.documents.globalFiles.TechnischerBericht2019}}" target="_blank">
							<b class="single-pdf-title">{{$t "about.link.hpiCloudTechnicalReport"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="{{encodeURI "https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-Die-HPI-Schul-Cloud_Roll-Out-einer-Cloud-Architektur-für-Schulen-in-Deutschland.jpg"}}"
								alt="" role="presentation" />
						</a>
					</div>
				</div>
				<div class="single-pdf col-xs-12 col-md-4">
					<div class="single-pdf-wrapper">
						<a href="{{theme.documents.globalFiles.SchulrechnerInDieSC2017}}" target="_blank">
							<b class="single-pdf-title">{{$t "about.link.cloudImportanceStakeholder"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-Schulrechner-wandern-in-die-Cloud.jpg"
								alt="" role="presentation" />
						</a>
					</div>
				</div>
				<div class="single-pdf col-xs-12 col-md-4">
					<div class="single-pdf-wrapper">
						<a href="{{theme.documents.globalFiles.SCKonzeptPilotierung2017}}" target="_blank">
							<b class="single-pdf-title">{{$t "about.link.cloudGermanyConcept"}}</b>
							<br />
							<img class="single-pdf-thumbnail"
								src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/pdf/pdf-thumbnail-Konzept-und-Pilotierung-der-Schul-Cloud-2017.jpg"
								alt="" role="presentation" />
						</a>
					</div>
				</div>
			</div> <!-- .row.embed-pdf-row -->
		</div> <!-- .container.embed-pdf -->
		<div class="content-width-max">

			<h3 class="h4">{{$t "about.headline.morePublications"}}</h3>
			<ul class="more-publishments">
				<li>Malyska, V., Renz, J. & Meinel, C. (2018). Eine Innovation für Deutschlands Bildungslandschaft –
					Projekt
					Schul-Cloud . In Scheiter, K. & Riecke-Baulecke, T. (Hrsg.), Schulmanagement-Handbuch 165: Schule
					4.0 (Vol.
					37, S. 75–83). München: Oldenbourg.
				</li>
				<li>Malyska, V. & Meinel, C. (2018). Lernen in Wolken. didacta DIGITAL, 1/18, S. 16–17</li>
			</ul>
			<br />
			<h3 class="h4">{{$t "about.headline.recordingsLecture"}}</h3>
			<ul>
				<li><a href="https://www.tele-task.de/series/1149/" target="_blank">{{$t "about.link.talksFirstCloudForum"}}</a>
				</li>
				<li><a href="https://www.tele-task.de/series/1196/"
						target="_blank">{{$t "about.link.talksSecondCloudForum"}}</a></li>
				<li><a href="https://www.tele-task.de/series/1251/" target="_blank">{{$t "about.link.talksThirdCloudForum"}}</a>
				</li>
			</ul>
		</div>
		{{/content}}
		{{/embed}}
		{{#embed "authentication/section" class="content-width-max"}}
		{{#content "body"}}
		<h2 class="h3 section-title center">{{$t "about.headline.ourAwards"}}</h2>
		<div class="embed-award">
			<div class="row">
				<div class="single-award col-xs-12 col-md-6">
					<div class="single-award-wrapper">
						<a href="{{encodeURI "https://www.innovationspreis.de/preisträger-und-finalisten/preisträger/2018/"}}"
							target="_blank">
							<div class="row">
								<div class="col-md-6"><b class="single-award-title">{{$t "about.link.awardWinnerInnovation"}}</b>
								</div>
								<div class="col-md-6"><img class="single-award-thumbnail"
										src="/images/awards/Innovationspreisträger-180208.jpg" alt="" role="presentation" /></div>
							</div>
						</a>
					</div>
				</div>
				<div class="single-award col-xs-12 col-md-6">
					<div class="single-award-wrapper">
						<a href="https://hpi.de/pressemitteilungen/2017/schul-cloud-als-ausgezeichneter-ort-2017-praemiert.html"
							target="_blank">
							<div class="row">
								<div class="col-md-6"><b class="single-award-title">{{$t "about.link.awardWinnerIdea"}}</b></div>
								<div class="col-md-6"><img class="single-award-thumbnail" src="/images/awards/Land-der-Ideen-2017.jpg"
										alt="" role="presentation" /></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		{{/content}}
		{{/embed}}
</section>