{{#userHasPermission "NOTIFICATION_VIEW"}}
<div class="notification-settings">
	<h4>Push-Benachrichtigungen</h4>
	<div>Empfange Push-Benachrichtigungen auf diesem Gerät.</div>
	<div class="push-notification">
		<div class="row-push-loading">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<i class="fa fa-spinner fa-spin" id="notificationInit"></i>
						<i class="fa fa-exclamation-triangle hidden" id="notificationError"></i>
						<span class="notificationStatusInfo">Einstellungen werden geladen...</span></div>
				</div>
			</div>
		</div>
		<div class="btn-push-disabled row-push-disabled hidden">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block btn-device" id="btn-enable-push"
						onclick="requestPushPermission()">
						<span class="disabled"><i class="fa fa-bell"></i> Benachrichtigungen aktivieren</span>
					</button>
				</div>
			</div>
		</div>
		<div class="btn-push-enabled row-push-enabled hidden">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block btn-device" onclick="requestDisablePush()">
						<i class="fa fa-bell-slash"></i>
						<!-- FIXME add modal request -->
						Benachrichtigungen deaktivieren
					</button>
				</div>
				{{#userHasPermission "NOTIFICATION_CREATE"}}
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block send-test-notification">
						<i class="fa fa-paper-plane"></i>
						Test-Benachrichtigung senden
					</button>
				</div>
				{{/userHasPermission}}
			</div>
		</div>
	</div>
	<div class="notificationSubscription">
		<h4>Benachrichtigungseinstellungen</h4>
		<div>Aktiviere Benachrichtigungen um über bestimmte Ereignisse informiert zu werden. Push-Benachrichtigungen
			werden nur auf aktivierten Geräten angezeigt.</div>
		<div>
			{{#ifeq ../notificationOptions false}}
			<p><i class="fa fa-exclamation-triangle"></i> Die Benachrichtigungseinstellungen konnten nicht abgerufen
				werden.</p>
			{{else}}
			<form class="notificationSubscriptionForm ajaxform" method="POST"
				action="/notification/configuration/notificationOptions">
				<table class="table table-hover table-bordered">
					<thead class="thead-light">
						<tr>
							<th>Benachrichtigung</th>
							<th align="center">E-Mail</th>
							<th align="center">Push</th>
						</tr>
					</thead>
					<tbody>
						{{#each ../notificationOptions}}
						<tr>
							<th colspan="3">{{title}}</th>
						</tr>
						{{#each notifications}}
						<tr id="notification_{{notification}}">
							<td>{{description}}<input type="hidden" name="{{notification}}[defined]" value="defined"></td>
							<td align="center">
								{{#inArray 'mail' subscriptionOptions }}
								<label>
									<input type="checkbox" {{#ifeq ../subscription.mail true}}checked
										{{/ifeq}}name="{{../notification}}[mail]" value="checked" data-toggle="toggle" data-on="Aktiv"
										data-off="Aus" data-height="25" data-onstyle="primary">
								</label>
								{{/inArray}}
							</td>
							<td align="center">
								{{#inArray 'push' subscriptionOptions }}
								<label>
									<input type="checkbox" {{#ifeq ../subscription.push true}}checked
										{{/ifeq}}name="{{../notification}}[push]" value="checked" data-toggle="toggle" data-on="Aktiv"
										data-off="Aus" data-height="25" data-onstyle="primary">
								</label>
								{{/inArray}}
							</td>
						</tr>
						{{/each}}
						{{/each}}
					</tbody>
				</table>
			</form>
			{{/ifeq}}
		</div>
		<div class="notificationsDisabled">
			Alle: <a href="#" id="toggleAllSubscriptionsOn">aktivieren</a>
			<a href="#" id="toggleAllSubscriptionsOff">deaktivieren</a>
		</div>
	</div>
</div>
{{/userHasPermission}}
