{{#userHasPermission "NOTIFICATION_VIEW"}}
<div class="notification-settings">
	<h4>Push-Benachrichtigungen</h4>
	<div>Empfange Push-Benachrichtigungen auf deinem Handy oder in deinem Webbrowser.</div>
	<div class="notification">
		<div class="row-push-loading">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<i class="fa fa-spinner fa-spin" id="notificationInit"></i>
						<i class="fa fa-exclamation-triangle hidden" id="notificationError"></i>
						<span class="notificationStatusInfo">Einstellungen werden geladen...</span></div>
				</div>
			</div>
		</div>
		<div class="btn-push-disabled row-push-disabled hidden">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block btn-device" id="btn-enable-push"
						onclick="requestPushPermission()">
						<span class="disabled"><i class="fa fa-bell"></i> Benachrichtigungen aktivieren</span>
					</button>
				</div>
			</div>
		</div>
		<div class="btn-push-enabled row-push-enabled hidden">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block btn-device" onclick="requestDisablePush()">
						<i class="fa fa-bell-slash"></i>
						Benachrichtigungen deaktivieren
					</button>
				</div>
				{{#userHasPermission "NOTIFICATION_CREATE"}}
				<div class="col-md-6">
					<button type="button" class="btn btn-default btn-block send-test-notification">
						<i class="fa fa-paper-plane"></i>
						Test-Benachrichtigung senden
					</button>
				</div>
				{{/userHasPermission}}
			</div>
		</div>
	</div>
	<div class="notificationSubscription">
		<h4>Benachrichtigungseinstellungen</h4>
		<div>Aktiviere Benachrichtigungen um über bestimmte Ereignisse informiert zu werden. Push-Benachrichtigungen werden
			nur auf aktivierten Geräten angezeigt.</div>
		<div>
			<form class="notificationSubscriptionForm">
				<table class="table table-bordered">
					<thead class="thead-light">
						<td>Benachrichtigung</td>
						<td>E-Mail</td>
						<td>Push</td>
					</thead>
					<tbody>
						{{#each this.notificationOptions}}
						<tr>
							<td colspan="3">{{title}}</td>
						</tr>
						{{#each notification}}
						<tr id="notification_{{notification}}">
							<td>{{description}}</td>
							<td><input type="checkbox" {{#ifeq subscription.mail "true"}}checked{{/ifeq}}
									name="notification[{{notification}}].mail"></td>
							<td><input type="checkbox" {{#ifeq subscription.push "true"}}checked{{/ifeq}}
									name="notification[{{notification}}].push"></td>
						</tr>
						{{/each}}
						{{/each}}

					</tbody>
				</table>
				<input type="submit" class="btn btn-primary" />
			</form>
		</div>
	</div>
</div>
{{/userHasPermission}}
