{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/account/profile.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/profile.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
    <div class="profile">
      <div class="profile-header">
        <img class="profile-avatar" src="/images/avatars/Leonardo.png" alt="">
        <div class="profile-text">
          <div><span>{{../currentUser.firstName}} {{../currentUser.lastName}}</span></div>
          <div><span>Level {{ userInfo.level }}</span></div>
          <br>
          {{#each userInfo.xp}}
            <div><span class="number">{{this.amount}}</span> {{this.name}}</div>
          {{/each}}
          <div><span class="number">{{userInfo.achievements.length}}</span> Badges</div>
        </div>
        <div class="clear">

        </div>
      </div>

      <div class="badges">
        <h3>Badges</h3>

        {{#each userInfo.achievements}}
        <div class="badge-row">
          <img src="/images/badges/king.png" alt="">
          <div class="badge-content">
            <div class="badge-title">
              {{ this.name }}
              <span>+{{ this.actions.xp }} Punkte </span>
            </div>
            <div class="badge-description">
              {{ this.description }}
              <!-- P체nktlichkeit wird doppelt belohnt! Du hast 10 Mal deine Hausaufgaben rechtzeitig abgegeben und erh채ltst 50 Punkte extra. (TODO: Text in Achievement definieren) -->
            </div>
          </div>
        </div>
        {{/each}}
        {{#each possibleBadges}}
        <div class="badge-row opacityblur">
          <img src="/images/badges/king.png" alt="">
          <div class="badge-content">
            <div class="badge-title">
              {{ this.name }}
              <span>+{{ this.actions.xp }} Punkte </span>
            </div>
            <div class="badge-description">
              {{ this.description }}
              <!-- P체nktlichkeit wird doppelt belohnt! Du hast 10 Mal deine Hausaufgaben rechtzeitig abgegeben und erh채ltst 50 Punkte extra. (TODO: Text in Achievement definieren) -->
            </div>
          </div>
        </div>
        {{/each}}

        {{#unless userInfo.achievements }}
          <span>Noch keine Badges</span>
        {{/unless}}

      </div>

    </div>
    {{/content}}
{{/extend}}
