{{#extend "lib/loggedin"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/account/settings.css"/>
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/settings.js" type="text/javascript" defer></script>
{{/content}}

{{#content "page"}}

{{message}}
{{error}}

<div class="route-account">
    <form method="post">
        {{#ifneq currentRole "Schüler"}}
        <div class="form-group">
            <label>Vorname:</label>
            <input type="text" class="form-control" name="firstName" value="{{ ../currentUser.firstName }}">
        </div>

        <div class="form-group">
            <label>Nachname:</label>
            <input type="text" class="form-control" name="lastName" value="{{ ../currentUser.lastName }}">
        </div>
        {{/ifneq}}

    <div class="form-group">
        <span><Label>Geschlecht:</Label><p class="text-muted" style="display: inline"> (optional)</p></span>
        <select class="form-control form-control-lg" type="text" name="gender">
            <option value="">Geschlecht auswählen</option>
            <option {{#ifeq currentUser.gender "male"}}selected{{/ifeq}} value="male">Männlich</option>
            <option {{#ifeq currentUser.gender "female"}}selected{{/ifeq}} value="female">Weiblich</option>
            <option {{#ifeq currentUser.gender "other"}}selected{{/ifeq}} value="other">Anderes</option>
        </select>
    </div>
    
    <div class="form-group">
        <label>E-Mail-Adresse:</label>
        <input type="email" class="form-control" name="email" value="{{ currentUser.email }}">
    </div>

        <div class="form-group">
            <label>Aktuelles Passwort: <sup>*</sup></label>
            <input type="password" name="password" class="form-control"
                   placeholder="***************" required>
        </div>

        {{#userHasPermission "PASSWORD_EDIT"}}
        <div class="form-group">
            <label>Neues Passwort:</label>
            <input type="password" name="password_new" id="password_new" class="form-control"
                placeholder="***************"
                pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>§$%&\/()=?\\;:,.#+*~']).{8,255}$"
                title="{{> "lib/forms/password-hint" plaintext=true}}">
        </div>

        <div class="form-group">
            <label>Neues Passwort wiederholen:</label>
            <input type="password" name="password_control" id="password_control"
                           class="form-control" placeholder="***************"
                           title="{{> "lib/forms/password-hint" plaintext=true}}">
        </div>
        {{/userHasPermission}}

        <div class="form-group">
            <input type="submit" class="btn btn-primary"/>
        </div>
    </form>

    <input type="hidden" name="userId" value="{{userId}}"/>

    <span class="hint">
        <span class="star-reference">*</span>
        {{> "lib/forms/password-hint" plaintext=false style="display: inline;"}}
    </span>
</div>

{{#userHasPermission "NOTIFICATION_VIEW"}}
<div class="notification-settings">
    <div class="col-sm-9">
        <h4 class="panel-title">Benachrichtigungseinstellungen</h4>
    </div>
    <div class="notification">
        <div class="row-push-loading">
            <div class="col-sm"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="col-sm btn-push-disabled hidden">
            <button type="button" class="btn btn-default btn-block btn-device" onclick="requestPushPermission()">
                <i class="fa fa-bell" aria-hidden="true"></i>
                Benachrichtigungen
                aktivieren
            </button>
        </div>
        <div class="col-sm btn-push-enabled hidden">
            <button type="button" class="btn btn-default btn-block btn-device" onclick="requestDisablePush()">
                <i class="fa fa-bell-slash" aria-hidden="true"></i>
                Benachrichtigungen
                deaktivieren
            </button>
        </div>
        {{#userHasPermission "NOTIFICATION_CREATE"}}
        <div class="col-sm btn-push-enabled hidden">
            <button type="button" class="btn btn-default btn-block send-test-notification">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                Test-Benachrichtigung
                senden
            </button>
        </div>
        {{/userHasPermission}}
    </div>
</div>
{{/userHasPermission}}

{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
{{#content "body"}}

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-close">
        Abbrechen
    </button>

    <button type="submit" class="btn btn-primary btn-submit">
        Löschen
    </button>
</div>
{{/content}}
{{/embed}}

{{/content}}
{{/extend}}
