{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/account/settings.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/settings.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}

        {{message}}
        {{error}}

        <div class="route-account">
            {{#unless sso}}
            <form method="post">
                {{#ifneq currentRole "Schüler"}}
                <div class="form-group">
                    <label>Vorname:</label>
                    <input type="text" class="form-control" name="firstName" value="{{ ../currentUser.firstName }}">
                </div>

                <div class="form-group">
                    <label>Nachname:</label>
                    <input type="text" class="form-control" name="lastName" value="{{ ../currentUser.lastName }}">
                </div>
				{{else}}
					<input type="hidden" disabled name="firstName" value="{{ ../currentUser.firstName }}">
					<input type="hidden" disabled name="lastName" value="{{ ../currentUser.lastName }}">
                {{/ifneq}}

                <div class="form-group">
                    <label>E-Mail-Adresse:</label>
                    <input type="email" class="form-control" name="email" value="{{ currentUser.email }}">
                </div>

                <div class="form-group">
                    <label>Aktuelles Passwort: <sup>*</sup></label>
                    <div class="input-group" id="show_hide_password">
                        <input type="password" autocomplete="current-password" id="settings_current_password" data-testid="settings_password_current" name="password" class="form-control"
                        placeholder="***************" required>
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                {{#userHasPermission "PASSWORD_EDIT"}}
                <div class="form-group">
                    <label>Neues Passwort:</label>
                    <div class="input-group" id="show_hide_password">
                        <input type="password" autocomplete="new-password" name="passwordNew" id="passwordNew" data-testid="settings_password_new" class="form-control"
                            placeholder="***************"
                            pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>§$%&\/()=?\\;:,.#+*~']).{8,255}$"
                            title="{{> "lib/forms/password-hint" plaintext=true}}">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Neues Passwort wiederholen:</label>
                    <div class="input-group" id="show_hide_password">
                        <input type="password" autocomplete="new-password" name="password_control" id="password_control" data-testid="settings_password_control"
                        class="form-control" placeholder="***************"
                        title="{{> "lib/forms/password-hint" plaintext=true}}">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                {{/userHasPermission}}

                {{> "lib/components/csrfInput"}}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" data-testid="submit_new_password_btn">
                        Accounteinstellungen speichern
                    </button>
                </div>
            </form>

            <input type="hidden" name="userId" value="{{userId}}"/>

            <span class="hint">
                <span class="star-reference">*</span>
                {{> "lib/forms/password-hint" plaintext=false style="display: inline;"}}
            </span>
            {{else}}
            <div>
                <div class="form-group">
                    <label>Vorname</label>
                    <input type="text" class="form-control" value="{{ currentUser.firstName }}" readonly>
                </div>
                <div class="form-group">
                    <label>Nachname</label>
                    <input type="text" class="form-control" value="{{ currentUser.lastName }}" readonly>
                </div>
                <div class="form-group">
                    <label>E-Mail-Adresse</label>
                    <input type="email" class="form-control" value="{{ currentUser.email }}" readonly>
                </div>
                <p class="warning">
                    Deine Nutzerdaten werden von einem zentralen Identitätsmanagement (IDM)
                    synchronisiert. Änderungen daran können nur in dem Ausgangssystem erfolgen (z.B. Schulserver),
                    das den Daten im IDM zugrunde liegt. Bitte wende dich an den lokalen Administrator deiner Schule,
                    um Änderungen an deinen Nutzerdaten vorzunehmen.
                </p>
            </div>
            {{/unless}}

            {{#unless (userHasRole "student")}}
				{{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "disabled"}}
				{{else}}
                <form method="post" action="/account/teamSettings">
                    <h5>Teams</h5>
                    <div class="form-group">
                        Sichtbarkeit für Teameinladungen
                        <p class="text-muted">Lehrkräfte anderer Schulen, die Teamadministratoren sind, können dich über den zentralen Verzeichnisdienst der {{theme.short_title}}bequem in ein schulübergreifendes Team einladen. Dein Name ist dabei deiner Schule zugeordnet und in der Verzeichnisstruktur unter <i>Name deines Bundeslandes &raquo; Name deiner Schule &raquo; dein Name</i> aufrufbar.</p>

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "enabled"}}<label>Die Sichtbarkeit im zentralen Verzeichnis ist systemweit für alle Lehrer aktiviert und kann nicht deaktiviert werden.</label>{{/ifConfig}}

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "opt-in"}}<label><input type="checkbox" name="discoverable" value="true" {{#ifeq ../../isDiscoverable true}}checked{{/ifeq}}> Sichtbarkeit im zentralen Verzeichnis aktivieren</label>{{/ifConfig}}

                        {{#ifConfig "TEACHER_VISIBILITY_FOR_EXTERNAL_TEAM_INVITATION" "opt-out"}}<label><input type="checkbox" name="discoverable" value="false" {{#ifeq ../../isDiscoverable false}}checked{{/ifeq}}> Sichtbarkeit im zentralen Verzeichnis deaktivieren</label>{{/ifConfig}}
                    </div>

                    {{> "lib/components/csrfInput"}}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Teameinstellungen speichern
                        </button>
                    </div>
                </form>
				{{/ifConfig}}
            {{/unless}}
        </div>

        {{#if false}} <!-- the following is hidden until the feature is fixed -->
            <div class="panel-group notification-div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="h4 panel-title">
                            <a data-toggle="collapse" href="#collapse1" class="collapse-toggle"><label>Benachrichtigungseinstellungen</label><i class="fa fa-chevron-right collapse-icon" aria-hidden="true"></i></a>
                    </h2>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">

                        <div class="notification">
                            {{#if device}}
                                <table width="100%" cellpadding="5px">
                                    <thead>
                                    <th></th>
                                    <th><label>Name</label></th>
                                    <th><label>Typ</label></th>
                                    <th><label>Betriebssystem</label></th>
                                    </thead>
                                    <tbody>
                                    {{#each device}}
                                        <tr id="{{this._id}}">
                                            <td>{{#if this.selected}}<a href="/account/settings/device"
                                                                        target="_blank"
                                                                        data-method="delete"
                                                                        data-device-name="{{this.name}}"
                                                                        data-device-id="{{this.token}}">
                                                <i class="fa fa-trash-o"></i></a>
                                            {{/if}}</td>
                                            <td class="form-group">{{this.name}}</td>
                                            <td class="form-group">{{this.type}}</td>
                                            <td class="form-group">{{this.OS}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            {{else}}
                                <h3 class="h5 text-muted text-center">
                                    <span>Keine Geräte eingetragen</span>
                                </h3>
                            {{/if}}
                            <div class="panel-footer">
                                <button type="button" class="btn btn-default btn-device"
                                        data-method="requestpermission">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    Benachrichtigungen
                                    aktivieren
                                </button>

                                <button type="button" class="btn btn-default send-test-notification">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    Test-Benachrichtigung
                                    senden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

		{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
			{{#content "body"}}

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-close">
						Abbrechen
					</button>

					<button type="submit" class="btn btn-primary btn-submit">
						Löschen
					</button>
				</div>
			{{/content}}
		{{/embed}}
		<br />
		<div class="panel-group oauth2-consents">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="h4 panel-title">
						<a data-toggle="collapse" href="#collapse2" class="collapse-toggle"><label>{{$t "account.global.label.thirdPartyLogins"}}</label><i class="fa fa-chevron-right collapse-icon" aria-hidden="true"></i></a>
					</h2>
				</div>
				<div id="collapse2" class="panel-collapse collapse">

					<div class="notification">
						{{#if session}}
							<table width="100%" cellpadding="5px">
								<thead>
								<th></th>
								<th><label>{{$t "account.label.providers"}}</label></th>
								</thead>
								<tbody>
								{{#each session}}
									<tr id="{{this.consent_request.client.client_id}}">
										<td><a href="/account/oauth2/revoke/{{this.consent_request.client.client_id}}">
											<i class="fa fa-trash-o"></i></a></td>
										<td class="form-group">{{this.consent_request.client.client_name}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>
						{{else}}
							<h3 class=" h5 text-muted text-center">
								<span>{{$t "account.text.noThirdPartyProvidersUsed"}}</span>
							</h3>
						{{/if}}
					</div>
				</div>
			</div>
		</div>

    {{/content}}
{{/extend}}
