{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/account/settings.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/settings.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        {{message}}
        {{error}}

        <div class="route-account">
            {{#unless sso}}
            <form method="post">
                {{#ifneq currentRole "Schüler"}}
                <div class="form-group">
                    <label>Vorname:</label>
                    <input type="text" class="form-control" name="firstName" value="{{ ../currentUser.firstName }}">
                </div>

                <div class="form-group">
                    <label>Nachname:</label>
                    <input type="text" class="form-control" name="lastName" value="{{ ../currentUser.lastName }}">
                </div>
                {{/ifneq}}

                <div class="form-group">
                    <label>E-Mail-Adresse:</label>
                    <input type="email" class="form-control" name="email" value="{{ currentUser.email }}">
                </div>

                <div class="form-group">
                    <label>Aktuelles Passwort: <sup>*</sup></label>
                    <input type="password" name="password" class="form-control"
                        placeholder="***************" required>
                </div>

                {{#userHasPermission "PASSWORD_EDIT"}}
                <div class="form-group">
                    <label>Neues Passwort:</label>
                    <input type="password" name="password_new" id="password_new" class="form-control"
                        placeholder="***************"
                        pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>§$%&\/()=?\\;:,.#+*~']).{8,255}$"
                        title="{{> "lib/forms/password-hint" plaintext=true}}">
                </div>

                <div class="form-group">
                    <label>Neues Passwort wiederholen:</label>
                    <input type="password" name="password_control" id="password_control"
                        class="form-control" placeholder="***************"
                        title="{{> "lib/forms/password-hint" plaintext=true}}">
                </div>
                {{/userHasPermission}}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>

            <input type="hidden" name="userId" value="{{userId}}"/>

            <span class="hint">
                <span class="star-reference">*</span>
                {{> "lib/forms/password-hint" plaintext=false style="display: inline;"}}
            </span>
            {{else}}
            <div>
                <div class="form-group">
                    <label>Vorname</label>
                    <input type="text" class="form-control" value="{{ currentUser.firstName }}" readonly>
                </div>
                <div class="form-group">
                    <label>Nachname</label>
                    <input type="text" class="form-control" value="{{ currentUser.lastName }}" readonly>
                </div>
                <div class="form-group">
                    <label>E-Mail-Adresse</label>
                    <input type="email" class="form-control" value="{{ currentUser.email }}" readonly>
                </div>
                <p class="warning">
                    Deine Nutzerdaten werden von einem zentralen Identitätsmanagement (IDM)
                    synchronisiert. Änderungen daran können nur in dem Ausgangssystem erfolgen (z.B. Schulserver),
                    das den Daten im IDM zugrunde liegt. Bitte wende dich an den lokalen Administrator deiner Schule,
                    um Änderungen an deinen Nutzerdaten vorzunehmen.
                </p>
            </div>
            {{/unless}}
        </div>

        {{> "account/notification" }}

        {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
            {{#content "body"}}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close">
                        Abbrechen
                    </button>

                    <button type="submit" class="btn btn-primary btn-submit">
                        Löschen
                    </button>
                </div>
            {{/content}}
        {{/embed}}

    {{/content}}
{{/extend}}
