{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/account/settings.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/settings.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
		<div class="panel-group oauth2-consents">
			<div class="panel panel-default">
                <div class="notification">
                    {{#if session}}
                        <table width="100%" cellpadding="5px">
                            <thead>
                            <th></th>
                            <th><label>{{$t "account.label.providers"}}</label></th>
                            </thead>
                            <tbody>
                            {{#each session}}
                                <tr id="{{this.consent_request.client.client_id}}">
                                    <td><a href="/account/oauth2/revoke/{{this.consent_request.client.client_id}}">
                                        <i class="fa fa-trash-o"></i></a></td>
                                    <td class="form-group">{{this.consent_request.client.client_name}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <h3 class=" h5 text-muted text-center">
                            <span>{{$t "account.global.text.noThirdPartyProvidersUsed"}}</span>
                        </h3>
                    {{/if}}
                </div>
			</div>
		</div>
        <a href="/account" class="btn btn-secondary">
            {{$t "global.button.back"}}
        </a>
    {{/content}}
{{/extend}}
