{{#extend "lib/components/modal"}}
    {{#content "body"}}
        <form class="modal-form" method="post" action="{{action}}" {{#if enctype}}enctype="{{enctype}}"{{/if}} {{#if id}}id="{{id}}"{{/if}}>
            {{#if method}}
                <input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
            {{/if}}

            <div class="modal-body">
                {{#block "fields"}}{{/block}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close">
                    {{closeLabel}}
                </button>

                {{#block "additional-actions"}}{{/block}}

                {{> "lib/components/csrfInput"}}

                <button type="submit" class="btn btn-primary btn-submit">
                    {{submitLabel}}
                </button>
            </div>
        </form>
    {{/content}}
{{/extend}}
