{{#hasConfig "GLOBAL_LOGIN_ANNOUNCEMENT"}}
<div class="notification alert alert-{{getConfig "GLOBAL_LOGIN_ANNOUNCEMENT_TYPE"}}">
    <div class="notification-content" data-testid="notification">{{{getConfig "GLOBAL_LOGIN_ANNOUNCEMENT"}}}</div>
</div>
{{/hasConfig}}

<div class="notification alert alert-dismissible {{#if notification}}alert-{{notification.type}}{{else}}hidden{{/if}} "
	 style="{{style}}"
	 role="alert">
    <button type="button" class="close" aria-label="{{$t "global.button.close"}}">
        <span aria-hidden="true">&times;</span>
    </button>
	<div class="notification-content" data-testid="notification">
		{{#if notification.title}}<div class="pb-1"><i class="{{notification.iconClass}}"></i>&nbsp;{{notification.title}}</div>{{/if}}
		{{notification.message}}</div>
</div>
