<nav class="pagination-wrapper">
    {{#pagination settings}}
        <ul class="pagination">
            {{#each pageItems}}
                {{#if first}}
                    <li class="page-item{{#if disabled}} disabled {{/if}}">
                        <a class="page-link" href="{{url}}">
                            <span class="{{#if disabled}} text-muted{{/if}}" role="img" aria-label="{{$t "global.pagination.aria_label.firstPage"}}">&laquo;</span>
                        </a>
                    </li>
                {{/if}}
                {{#if previous}}
                    <li class="page-item{{#if disabled}} disabled{{/if}}">
                        <a class="page-link" href="{{url}}">
                            <span class="{{#if disabled}} text-muted{{/if}}" role="img" aria-label="{{$t "global.pagination.aria_label.previousPage"}}">&lsaquo;</span>
                        </a>
                    </li>
                {{/if}}
                {{#if middle}}
                    <li class="page-item{{#if disabled}} disabled text-muted{{/if}}{{#if active}} active{{/if}}">
                        <a class="page-link" href="{{url}}">{{num}}</a>
                    </li>
                {{/if}}
                {{#if next}}
                    <li class="page-item{{#if disabled}} disabled {{/if}}">
                        <a class="page-link" href="{{url}}">
                            <span class="{{#if disabled}} text-muted{{/if}}" role="img" aria-label="{{$t "global.pagination.aria_label.nextPage"}}">&rsaquo;</span>
                        </a>
                    </li>
                {{/if}}
                {{#if last}}
                    <li class="page-item{{#if disabled}} disabled {{/if}}">
                        <a class="page-link" href="{{url}}">
                            <span class="{{#if disabled}} text-muted{{/if}}" role="img" aria-label="{{$t "global.pagination.aria_label.lastPage"}}">&raquo;</span>
                        </a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    {{/pagination}}
</nav>
