<article class="sc-card" onclick="location.href='{{this.url}}'" {{#if this.background}} style="border-color:{{this.background}};" {{/if}}>
  <div class="sc-card-top-header" {{#if this.background}} style="background:{{this.background}};" {{/if}}></div>
  <div class="sc-card-header">
    <span class="sc-card-title w-100" {{#if this.background}} style="border-color:{{this.background}};" {{/if}}>
      <span class="title">{{{ stripOnlyScript this.title }}}</span>
      {{#if this.secondaryTitle}}
        <small class="d-block secondary-title" {{#if this.background}} style="border-color:{{this.background}};" {{/if}}>{{{ stripOnlyScript this.secondaryTitle }}}</small>
      {{/if}}
    </span>
  </div>
  <div class="sc-card-body ckcontent">
    {{truncateHTML (conflictFreeHtml this.content)}}
  </div>
  <div class="sc-card-footer">
    {{#if additionalInfoName}}
      <div class="additionalInfo">
        {{> (concat 'lib/sc-card_additionalInfo/' additionalInfoName) }}
      </div>
    {{/if}}
    <div class="sc-card-menu">
      {{#each this.actions}}
        {{#if this.method}}
          <button class="sc-card-menu-action {{this.class}}" target="_blank" data-method="DELETE" data-name="{{../title}}" alt="'{{../title}}' löschen">
          <a class="sc-card-menu-action {{this.class}}"
             href="{{this.link}}"
             target="_blank"
             data-method="DELETE"
             data-name="{{../title}}"
             alt="'{{../title}}' löschen">
            <i class="fa fa-{{this.icon}}"></i>
           </a>
        {{else}}
          <a class="sc-card-menu-action {{this.class}}" href="{{this.link}}" alt="'{{../../title}}' {{this.alt}}.">
            <i class="fa fa-{{this.icon}}"></i>
          </a>
        {{/if}}
      {{else}}
        {{#if this.menuInfo}}
          <small class="sc-card-menu-info">{{{this.menuInfo}}}</small>
        {{/if}}
      {{/each}}
    </div>
  </div>
</article>
