{{#if limit}}
    <div class="col-md-4" style="float:right;padding-bottom: 10px;padding-right:0px !important;">
    <select id="limit" class="no-bootstrap">
        <option value="">{{$t "lib.table.label.numberOfEntries" }}</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    </div>
{{/if}}
<div class="table-wrapper {{#unless class}}table table-hover table-bordered{{/unless}}">
    <table class="{{#if class}}{{class}}{{else}}table table-hover table-bordered{{/if}}">
        <caption class="hidden">The description of the table</caption>
        {{#if head}}
            <thead>
                <tr>
                    {{#each head}}
                        <th scope="col">{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
        {{/if}}


        {{#if body}}
            <tbody data-testid="students_names_container">
                {{#each body}}
                    <tr>
                        {{#each this}}
                            {{#ifArray this}}
                                <td class="table-actions">
                                    {{#each this}}
                                        {{#if this.method}}
                                            <form action="{{this.link}}" method="post" class="inline">
                                                <label for="method" hidden>{{this.label}}</label>
                                                <input id="method" type="hidden" name="_method" value="{{this.method}}" hidden />
                                                {{> "lib/components/csrfInput"}}
                                                <button type="submit" class="btn btn-secondary btn-sm no-inline-styling {{this.class}}" title="{{this.title}}" aria-label="{{this.title}}" tabindex="0">
                                                    <i class="fa fa-{{this.icon}}"></i> {{this.label}}
                                                </button>
                                            </form>
                                        {{else}}
                                            <a class="btn btn-secondary btn-sm {{this.class}}"
                                            {{#if this.link}} href="{{this.link}}" {{else}} href="#0"{{/if}}
                                                {{#if this.data}}
                                                    {{#each this.data}}
                                                        data-{{@key}}="{{this}}"
                                                    {{/each}}
                                                {{/if}}
                                               title="{{this.title}}"
                                                aria-label="{{this.title}}"
                                            >
                                                <i class="fa fa-{{this.icon}}"></i> {{this.label}}
                                            </a>
                                        {{/if}}
                                    {{/each}}
                                </td>
                            {{else}}
                                {{#if this.payload}}
                                    <td style="display: none" data-payload={{{json this.payload}}}></td>
                                {{else if this.useHTML}}
                                    <td>{{{this.content}}}</td>
                                {{else}}
                                    <td>{{this}}</td>
                                {{/if}}
                            {{/ifArray}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        {{/if}}
    </table>
</div>
