{{#extend "lib/loggedin"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/courses/empty-state.css'}}"/>
<link rel="stylesheet" href="{{getAssetPath '/styles/dashboard/dashboard.css'}}" />
{{/content}}

{{#content "scripts" mode="append"}}
<script type="text/javascript" src="{{getAssetPath '/scripts/dashboard.js'}}" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}


<section data-testid="welcome-section" class="section section-welcome">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="h5 mb-1 mt-2">{{$t "dashboard.headline.welcome"}} {{@root.currentUser.firstName}} {{@root.currentUser.lastName}}!</h2>
        </div>
    </div>
    {{#if (getConfig "FEATURE_DASHBOARD_DEFAULT_PICTURE_ENABLED")}}
        <div class="row d-block text-center">
            <div class="empty-state">
                <div class="image wide-image center">
                    <img src="{{getAssetPath '/images/dashboard/welcome.svg'}}" alt="" role="presentation" />
                </div>
            </div>
        </div>
    {{/if}}


    {{!-- Announcement template for single text from config mapping to given translation key. Uncomment and fill in config to reactivate. --}}
        {{#hasConfig "DASHBOARD_ANNOUNCEMENT_TEXT"}}
            {{#hasConfig "DASHBOARD_ANNOUNCEMENT_ROLES"}}
                {{#ifneq (getConfig "DASHBOARD_ANNOUNCEMENT_TEXT") ""}}
                    {{#ifneq (getConfig "DASHBOARD_ANNOUNCEMENT_ROLES") ""}}
                        {{#if (userHasRoleFromArray (getConfig "DASHBOARD_ANNOUNCEMENT_ROLES") ../currentUser)}}
                            <div class="alert dashboard-notification" role="alert">
                                <i class="fa fa-fw fa-lightbulb-o fa-lg" style="margin: 6px 0.5rem 0 0.5rem" aria-hidden="true"></i><p class="dashboard-notification-text">{{{$t (getConfig "DASHBOARD_ANNOUNCEMENT_TEXT") }}}</p>
                            </div>
                        {{/if}}
                    {{/ifneq}}
                {{/ifneq}}
            {{/hasConfig}}
        {{/hasConfig}}

</section>

{{#if (getConfig "FEATURE_DASHBOARD_NEWS_ON_TOP_ENABLED")}}
{{#if news}}
{{>  'dashboard/components/card_section' section-id="news" title=($t "global.headline.news") content=news link-text=($t "dashboard.link.continueReading") href="/news/"}}
{{else}}
<section data-testid="news-section" class="section section-news mb-2">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/news/">{{$t "global.headline.news"}}</a></h2>
        </div>
    </div>
    <div class="row d-block text-center">
        <div class="empty-state">
            <div class="image center">
                <img src="{{getAssetPath '/images/dashboard/news-empty.svg'}}" alt="" role="presentation" class="image" />
            </div>
            <p class="text-muted dashboard-empty-info">
                {{$t "dashboard.text.emptyNewsInfo"}}
            </p>
        </div>
    </div>
</section>
{{/if}}
{{/if}}

{{#if events}}
<section data-testid="timetable-section" class="section section-timetable">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h5">{{$t "dashboard.headline.schedule"}}</h2>
                <time class="selected-date pull-right text-muted">{{eventsDate}}</time>
            </div>
        </div>
        <div class="timetable">
            <div class="row lesson-cards">
                <div>
                    {{#each events}}
                    <a class="lesson-card" aria-label="{{title}}" {{#if url}}href="{{url}}" {{else}} href="{{"#0"}}" {{/if}} {{#if alt}}title="{{alt}}" {{/if}}
                        style="width: {{style.width}}%; left: {{style.left}}%;">
                        <div class="card card-block" style="{{#if color}}background-color: {{color}};
                                            border-color: {{color}};{{/if}}">
                            <div class="card-bg-layer">
                                <time class="lesson-time">{{comment}}</time>
                                <div class="h3 card-title">{{title}}</div>
                            </div>
                            <p class="card-text">{{location}}</p>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>

            <div class="row">
                <div class="timeline">
                    <table style="width:100%">
                        <tr>
                            {{#each hours}}
                            <td style="width:10%">
                                <div class="tick text-muted">{{this}}.00</div>
                            </td>
                            {{/each}}
                        </tr>
                    </table>
                    <div class="current-time" style="width:{{currentTimePercentage}}%;">
                        <span>{{currentTime}}</span>
                    </div>
                    {{#times 11}}
                    <div class="timelines" style="width:{{this}}0%"></div>
                    {{/times}}
                </div>
            </div>
        </div>
    </section>
{{/if}}

{{#if isTeacher}}
    {{#if homeworksFeedbackRequired}}
        {{> 'dashboard/components/homework_tiles' section-id="tasks-with-required-feedback" title=($t "dashboard.headline.withRequiredFeedback") content=homeworksFeedbackRequired href="/tasks" redirectToTab="submissions"}}
    {{/if}}

    {{#if assignedHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="published-tasks" title=($t "global.headline.assignedTasks") content=assignedHomeworks href="/tasks"}}
    {{else}}
    <section class="section mb-2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/tasks">{{$t "global.headline.tasks"}}</a></h2>
            </div>
        </div>
        <div class="row d-block text-center">
            <div class="empty-state">
                <div class="col-sm-12">
                    <div class="image center">
                        {{> 'courses/components/svg_tasks' }}
                    </div>
                    <p class="text-muted dashboard-empty-info">
                        {{$t "dashboard.text.emptyHomeworksInfo"}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    {{/if}}

    {{#if privateHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="private-tasks" title=($t "global.headline.draftTasks") content=privateHomeworks href="/tasks"}}
    {{/if}}

{{else if isStudent}}
    {{#if assignedHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="published-tasks" title=($t "global.headline.assignedTasks") content=assignedHomeworks href="/tasks"}}
    {{else}}
        <section class="section mb-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/tasks">{{$t "global.headline.tasks"}}</a></h2>
                </div>
            </div>
           <div class="row d-block text-center">
                <div class="col-sm-12">
                    <div class="empty-state">
                        <div class="image center">
                            {{> 'courses/components/svg_tasks' }}
                        </div>
                        <p class="text-muted dashboard-empty-info">
                            {{$t "dashboard.text.emptyHomeworksInfo"}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {{/if}}

    {{#if homeworksWithFeedback}}
        {{> 'dashboard/components/homework_tiles' section-id="tasks-with-feedback" title=($t "dashboard.headline.withFeedback") content=homeworksWithFeedback href="/tasks" redirectToTab="feedback"}}
    {{/if}}
{{/if}}

{{#unless (getConfig "FEATURE_DASHBOARD_NEWS_ON_TOP_ENABLED")}}
{{#if news}}
{{>  'dashboard/components/card_section' section-id="news" title=($t "global.headline.news") content=news link-text=($t "dashboard.link.continueReading") href="/news/"}}
{{else}}
<section data-testid="news-section" class="section section-news mb-2">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/news/">{{$t "global.headline.news"}}</a></h2>
        </div>
    </div>
    <div class="row d-block text-center">
        <div class="empty-state">
            <div class="image center">
                <img src="{{getAssetPath '/images/dashboard/news-empty.svg'}}" alt="" role="presentation" class="image" />
            </div>
            <p class="text-muted dashboard-empty-info">
                {{$t "dashboard.text.emptyNewsInfo"}}
            </p>
        </div>
    </div>
</section>
{{/if}}
{{/unless}}

{{#if this.currentSchoolData.pilot}}
{{#ifneq this.currentRole "Schüler"}}
{{#embed "lib/components/modal" class="poll-modal"}}
{{#content "body"}}
{{> "lib/forms/form-poll"}}
{{/content}}
{{/embed}}
{{/ifneq}}
{{/if}}

{{#if showNewReleaseModal}}
{{#embed "lib/components/modal" class="feature-modal"}}
{{#content "body"}}
{{> "lib/forms/form-features"}}
{{/content}}
{{/embed}}
{{/if}}

{{/content}}
{{/extend}}
