{{#extend "lib/loggedin"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/dashboard/dashboard.css'}}" />
{{/content}}

{{#content "scripts" mode="append"}}
<script type="text/javascript" src="{{getAssetPath '/scripts/dashboard.js'}}" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}

{{#if this.displayDataprivacyAlert}}
<section class="section section-privacy-alert">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info" style="font-size:0.9em;">
                <h2 class="h6">Liebe Nutzer:innen des HPI Schul‑Cloud‑Chats,</h2>
                <p>Wie ihr womöglich bereits gehört habt, war es unberechtigten Personen bis zum 19.05.2020 möglich nach Anlage eines illegalen Accounts Vor‑ und Nachnamen der Nutzer:innen des Chats einzusehen. Es konnten weder Email‑Adressen noch Beiträge im Chat eingesehen werden. Weiterhin liegen uns keine Hinweise auf ein tatsächliches Auslesen oder anderweitigen Missbrauch der Daten vor.<br />
                Ursache war ein Konfigurationsfehler der integrierten Rocket.Chat Anwendung, den das HPI umgehend berichtigt hat. Sicherheit und Datenschutz sind weiterhin oberste Priorität bei der Entwicklung der HPI Schul-Cloud. Nähere Informationen findet ihr in unserem Blog unter <a href="https://blog.hpi-schul-cloud.de/informationen-zum-datenschutzvorfall/" style="color:dimgray;padding: .75rem;" target="_blank">https://blog.schul-cloud.org/informationen-zum-datenschutzvorfall/</a>.
                Wir haben den Sachverhalt unverzüglich der zuständigen Landesdatenschutzbeauftragten gemeldet. Wir bitten ausdrücklich und im Namen des gesamten HPI Schul-Cloud Teams bei euch um Entschuldigung für diesen Vorfall und bedanken uns für das Vertrauen, das ihr uns als Nutzer:innen weiterhin entgegenbringen.</p>
                Euer HPI Schul‑Cloud‑Team
            </div>
        </div>
    </div>
</section>
{{/if}}

{{#if this.displayDataprivacyAlertFeb21}}
<section class="section section-privacy-alert privacy-alert-feb21">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info" style="font-size:0.9em;">
                <h4>Datenschutzvorfall bei der Thüringer Schulcloud vom 11. Februar 2021</h4>
                    Information der Nutzer:innen<br><br>

                    Liebe:r Nutzer:in der Thüringer Schulcloud,<br>
                    im Rahmen einer „Responsible Disclosure“ erhielt das HPI den Hinweis auf eine Sicherheitslücke bei der Thüringer Schulcloud. Sie betraf die auch von Ihnen verwendete Funktion „Datei Teilen“ und die folgenden Dateien, die Sie über Sharelinks geteilt haben:<br><br>

                    {{{ this.dataprivacyAlertFeb21Data }}}
                    <br><br>
                    „Responsible Disclosure“ bedeutet, dass der Hinweisgeber dem HPI Zeit gegeben hat, die Sicherheitslücke zu schließen, bevor er sie (möglicherweise) veröffentlicht. Unser Team hat die fehlerhafte Konfiguration unmittelbar nach Erhalt des Hinweises am 11. Februar 2021 um 12.13 Uhr blockiert und dann korrigiert. Insofern gehen wir davon aus, dass nur der Hinweisgeber die Sicherheitslücke ausgenutzt hat, und das auch lediglich zu Testzwecken.<br>
                    Es ist aber theoretisch möglich, dass der Hinweisgeber in diesem Zusammenhang Zugriff auf die von Ihnen geteilten unterrichtsbezogenen Dateien hatte, die eventuell personenbezogene Daten enthielten. Daher möchten wir Sie bitten, die Personen, deren Daten betroffen sein könnten, entsprechend zu informieren.<br>
                    Außerdem möchten wir uns bei Ihnen ausdrücklich und im Namen des gesamten Schul-Cloud Teams für diesen Vorfall entschuldigen. Mit unseren kontinuierlich durchgeführten internen Audits und Schulungsmaßnahmen arbeiten wir daran, den Schutz der personenbezogenen Daten unserer Nutzer:innen zu gewährleisten. Nichtsdestotrotz möchten wir an dieser Stelle noch einmal darauf hinweisen, dass nach der Nutzungsordnung der Thüringer Schulcloud (Punkt 3.3) bei der Aufgabenerstellung darauf geachtet werden soll, dass die Schüler:innen keine sensiblen Daten, wie z.B. Gesundheitsdaten oder politische Meinungen, angeben müssen.<br>
                    Wir haben den Thüringer Landesdatenschutzbeauftragten unverzüglich über diesen Datenschutzvorfall informiert.<br>
                    Für Rückfragen stehen wir Ihnen stets unter datenschutz@schul-cloud.org zur Verfügung. <br><br>

                    Mit besten Grüßen und bleiben Sie gesund<br>
                    Ihr HPI Schul-Cloud Team

                <br><br>
                <label><input type="checkbox" class="do-not-show-again"> Nicht wieder anzeigen</label><br><br>
                <button class="btn btn-primary dismiss-privacy-alert-feb21">Ausblenden</button>

            </div>
        </div>
    </div>
</section>
{{/if}}

<section data-testid="timetable-section" class="section section-timetable">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h5">{{$t "dashboard.headline.schedule"}}</h2>
            <time class="selected-date pull-right text-muted">{{eventsDate}}</time>
        </div>
    </div>

    {{#if events}}
        <div class="timetable">
            <div class="row lesson-cards">
                <div>
                    {{#each events}}
                    <a class="lesson-card" aria-label="{{title}}" {{#if url}}href="{{url}}" {{else}} href="{{"#0"}}" {{/if}} {{#if alt}}title="{{alt}}" {{/if}}
                        style="width: {{style.width}}%; left: {{style.left}}%;">
                        <div class="card card-block" style="{{#if color}}background-color: {{color}};
                                            border-color: {{color}};{{/if}}">
                            <div class="card-bg-layer">
                                <time class="lesson-time">{{comment}}</time>
                                <div class="h3 card-title">{{title}}</div>
                            </div>
                            <p class="card-text">{{location}}</p>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>

            <div class="row">
                <div class="timeline">
                    <table style="width:100%">
                        <tr>
                            {{#each hours}}
                            <td style="width:10%">
                                <div class="tick text-muted">{{this}}.00</div>
                            </td>
                            {{/each}}
                        </tr>
                    </table>
                    <div class="current-time" style="width:{{currentTimePercentage}}%;">
                        <span>{{currentTime}}</span>
                    </div>
                    {{#times 11}}
                    <div class="timelines" style="width:{{this}}0%"></div>
                    {{/times}}
                </div>
            </div>
        </div>
    {{else}}
        <img class="w-100 pl-1 pr-1 svg-timetable-empty" src="{{getAssetPath '/images/empty-states/timetable-empty-cards.svg'}}" alt="{{$t "dashboard.text.emptyTimetable"}}"/>
        <p class="my-2 pl-1 text-muted">{{$t "dashboard.text.empytTimetableInfo"}}</p>
    {{/if}}
</section>

{{#ifeq this.currentRole "Beta"}}
<section class="section section-my-material">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h5">{{$t "global.headline.myMaterial"}}</h2>
            </div>
        </div>
        <div class="row tasks card-deck-row" data-testid="courses">
            {{#each myMaterials}}
            <div class="sc-card-wrapper col-xl-3 col-lg-4 col-md-6 col-sm-12">
                {{> 'lib/components/sc-card' link-text=../link-text}}
            </div>
            {{else}}
            <div class="col-md-8 offset-md-2 col-lg-12 offset-lg-0">
                <div class="alert">
                    {{{$t "dashboard.text.noMaterialsYetLookAtOthers"}}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/ifeq}}

{{#if isTeacher}}
    {{#if homeworksFeedbackRequired}}
        {{> 'dashboard/components/homework_tiles' section-id="tasks-with-required-feedback" title=($t "dashboard.headline.withRequiredFeedback") content=homeworksFeedbackRequired href="/homework/" redirectToTab="submissions"}}
    {{/if}}

    {{#if assignedHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="published-tasks" title=($t "global.headline.assignedTasks") content=assignedHomeworks href="/homework/asked/"}}
    {{else}}
    <section class="section mb-2">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/homework">{{$t "global.headline.tasks"}}</a></h2>
            </div>
        </div>
        <div class="row d-block text-center">
            <img src="{{getAssetPath '/images/empty-states/tasks-empty.svg'}}" alt="{{$t "global.text.noTasks"}}" />
            <p class="text-muted dashboard-empty-info">
                {{$t "dashboard.text.emptyHomeworksInfo"}}
            </p>
        </div>
    </section>
    {{/if}}

    {{#if privateHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="private-tasks" title=($t "global.headline.privateTasks") content=privateHomeworks href="/homework/private/"}}
    {{/if}}

{{else if isStudent}}
    {{#if assignedHomeworks}}
        {{> 'dashboard/components/homework_tiles' section-id="published-tasks" title=($t "global.headline.assignedTasks") content=assignedHomeworks href="/homework/asked/"}}
    {{else}}
        <section class="section mb-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/homework">{{$t "global.headline.tasks"}}</a></h2>
                </div>
            </div>
            <div class="row d-block text-center">
                <img src="{{getAssetPath '/images/empty-states/tasks-empty.svg'}}" alt="{{$t "global.text.noTasks"}}" />
                <p class="text-muted dashboard-empty-info">
                    {{$t "dashboard.text.emptyHomeworksInfo"}}
                </p>
            </div>
        </section>
    {{/if}}

    {{#if homeworksWithFeedback}}
        {{> 'dashboard/components/homework_tiles' section-id="tasks-with-feedback" title=($t "dashboard.headline.withFeedback") content=homeworksWithFeedback href="/homework" redirectToTab="feedback"}}
    {{/if}}
{{/if}}





{{#if news}}
{{>  'dashboard/components/card_section' section-id="news" title=($t "global.headline.news") content=news link-text=($t "dashboard.link.continueReading") href="/news/"}}
{{else}}
<section data-testid="news-section" class="section section-news mb-2">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h5 mb-1 mt-2"><a class="dashboard-title" href="/news/">{{$t "global.headline.news"}}</a></h2>
        </div>
    </div>
    <div class="row d-block text-center">
        <img src="{{getAssetPath '/images/empty-states/news-empty.svg'}}" alt="{{$t "dashboard.text.noNews"}}" />
        <p class="text-muted dashboard-empty-info">
            {{$t "dashboard.text.emptyNewsInfo"}}
        </p>
    </div>
</section>
{{/if}}

{{#if this.currentSchoolData.pilot}}
{{#ifneq this.currentRole "Schüler"}}
{{#ifneq ../this.currentRole "Demo"}}
{{#embed "lib/components/modal" class="poll-modal"}}
{{#content "body"}}
{{> "lib/forms/form-poll"}}
{{/content}}
{{/embed}}
{{/ifneq}}
{{/ifneq}}
{{/if}}

{{#if showNewReleaseModal}}
{{#embed "lib/components/modal" class="feature-modal"}}
{{#content "body"}}
{{> "lib/forms/form-features"}}
{{/content}}
{{/embed}}
{{/if}}

{{/content}}
{{/extend}}
