{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/dashboard/dashboard.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}

    {{/content}}

    {{#content "page"}}
        <section class="section-timetable">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Stundenplan</h5>
                    <time class="selected-date">{{eventsDate}}</time>
                </div>
            </div>

            <div class="container-fluid timetable">
                <div class="row lesson-cards">
                    <div>
                        {{#each events}}
                            <a class="lesson-card"{{#if url}}href="{{url}}"{{/if}}
                               style="width: {{style.width}}%; left: {{style.left}}%;">
                                <div class="card card-block" style="{{#if color}}background-color: {{color}};
                                        border-color: {{color}};{{/if}}">
                                    <time class="lesson-time">{{comment}}</time>
                                    <h3 class="card-title">{{title}}</h3>
                                    <p class="card-text">{{location}}</p>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>

                <div class="row">
                    <div class="timeline">
                        <div class="container-fluid">
                                <table style="width:100%">
                                    <tr>
                                        {{#each hours}}
                                            <td style="width:10%">
                                                <div class="tick">{{this}}.00</div>
                                            </td>
                                        {{/each}}
                                    </tr>
                                </table>
                        </div>
                        <div class="current-time" style="width:{{currentTimePercentage}}%;">
                            <span>{{currentTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> 'dashboard/components/card_section' section-id="tasks" title="Gestellte Aufgaben" content=homeworks link-text="Zur Aufgabe"}}
        {{> 'dashboard/components/card_section' section-id="mytasks" title="Meine Aufgaben" content=myhomeworks link-text="Zur Aufgabe"}}

        {{>  'dashboard/components/card_section' section-id="news" title="Neuigkeiten" content=news link-text="Weiterlesen"}}

        {{#ifneq this.currentRole "Schüler"}}
        {{#ifneq ../this.currentRole "Demo"}}
            {{#embed "lib/components/modal" class="poll-modal"}}
            {{#content "body"}}
                {{> "lib/forms/form-poll"}}
            {{/content}}
        {{/embed}}
        {{/ifneq}}
        {{/ifneq}}

    {{/content}}
{{/extend}}
