{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/tools/tools.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-course">
                <div class="list-group">
                    {{#if ltiTools}}
                        {{#each ltiTools}}
                            <a class="list-group-item list-group-item-action flex-column align-items-start template_tool" href="{{this._id}}">
                            {{#if logo_url}}
                                <img src={{this.logo_url}} class="float-left" style="width:100px; height:auto;"/>
                            {{else}}
                                <img src="/images/cloud.png" class="float-left" style="width:100px; height:auto;"/>
                            {{/if}}
                                <span>{{this.name}}</span>
                            </a>
                        {{/each}}
                    {{else}}
                        <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                            <span>Keine Tools.</span>
                        </p>
                    {{/if}}
                </div>

            {{#userHasPermission "COURSE_EDIT"}}
            {{#embed "lib/components/modal-form" method="post" class="edit-modal" courseId=../courseId}}
                {{#content "fields"}}
                    {{> "courses/forms/form-tools"}}
                {{/content}}
            {{/embed}}
            {{/userHasPermission}}
            
            {{#embed "lib/components/modal-form" class="add-bbb-modal"}}
            {{#content "fields"}}
            {{> "courses/forms/form-add-bbb-tool"}}
            {{/content}}
            {{/embed}}
        </section>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/tools.js" type="text/javascript" defer></script>
    {{/content}}
{{/extend}}