{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/tools/tools.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-course">
                <div class="list-group">
                    {{#if ltiTools}}
                        {{#each ltiTools}}
                            <a class="list-group-item list-group-item-action flex-column align-items-start template_tool card-tool" href="{{this._id}}">
                            {{#if logo_url}}
                                <img src={{this.logo_url}} class="float-left"/>
                            {{else}}
                                <img src="/images/cloud.png" class="float-left"/>
                            {{/if}}
                                <span>{{this.name}}</span>
                            </a>
                        {{/each}}
                    {{else}}
                        <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                            <span>{{$t "courses._course.tools.text.noTools"}}</span>
                        </p>
                    {{/if}}
                </div>

            {{#userHasPermission "COURSE_EDIT"}}
            {{#embed "lib/components/modal-form" method="post" class="edit-modal" courseId=../courseId}}
                {{#content "fields"}}
                    {{> "courses/forms/form-tools"}}
                {{/content}}
            {{/embed}}
			{{#embed "lib/components/modal-form" method="post" class="deep-linking-modal" courseId=../courseId}}
				{{#content "fields"}}
					<input type="hidden" name="name" value="{{name}}" id="ltiTitle" />
					<input type="hidden" name="logo_url" value="{{logo_url}}" />
					<input type="hidden" name="oAuthClientId" value="{{oAuthClientId}}" />
					<input type="hidden" name="key" value="{{key}}" />
					<input type="hidden" name="lti_message_type" value="{{lti_message_type}}" />
					<input type="hidden" name="lti_version" value="{{lti_version}}" />
					<input type="hidden" name="resource_link_id" value="{{resource_link_id}}" />
					<input type="hidden" name="url" value="{{url}}" id="ltiUrl" />
					<input type="hidden" name="secret" value="{{secret}}" />
					<input type="hidden" name="courseId" value="{{courseId}}" data-force-value="true" />
					<input type="hidden" name="privacy_permission" value="{{privacy_permission}}" />
                    <input type="hidden" name="openNewTab" value="{{openNewTab}}" />
					{{> "lib/components/csrfInput"}}
				{{/content}}
			{{/embed}}
            {{/userHasPermission}}
            
            {{#embed "lib/components/modal-form" class="add-bbb-modal"}}
            {{#content "fields"}}
            {{> "courses/forms/form-add-bbb-tool"}}
            {{/content}}
            {{/embed}}
        </section>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/tools.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}
{{/extend}}
