{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getVersionedPath '/styles/courses/course.css'}}"/>
        <link rel="stylesheet" href="{{getVersionedPath '/styles/tools/tools.css'}}"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-course">
                <div class="list-group">
                    {{#if ltiTools}}
                        {{#each ltiTools}}
                            <a class="list-group-item list-group-item-action flex-column align-items-start template_tool card-tool" href="{{this._id}}">
                            {{#if logo_url}}
                                <img src={{this.logo_url}} class="float-left" role="presentation" />
                            {{else}}
                                <img src="{{getVersionedPath '/images/cloud.png'}}" class="float-left" role="presentation" />
                            {{/if}}
                                <span>{{this.name}}</span>
                            </a>
                        {{/each}}
                    {{else}}
                        <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                            <span>{{$t "courses._course.tools.text.noTools"}}</span>
                        </p>
                    {{/if}}
                </div>

            {{#userHasPermission "COURSE_EDIT"}}
            {{#embed "lib/components/modal-form" method="post" class="edit-modal" courseId=../courseId}}
                {{#content "fields"}}
                    {{> "courses/forms/form-tools"}}
                {{/content}}
            {{/embed}}
            {{/userHasPermission}}

            {{#embed "lib/components/modal-form" class="add-bbb-modal"}}
            {{#content "fields"}}
            {{> "courses/forms/form-add-bbb-tool"}}
            {{/content}}
            {{/embed}}
        </section>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/tools.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}
{{/extend}}
