{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/homework/homework.css"/>
        <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/jquery/jquery-ui.min.js" type="text/javascript" defer></script>
        <script src="/scripts/jquery/jquery.ui.touch-punch.js" type="text/javascript" defer></script>
        <script src="/scripts/courses.js" type="text/javascript" defer></script>
        <script src="/scripts/topic.js" type="text/javascript" defer></script>
        <script src="/scripts/tabbar.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
    <div class="row description">
        <div class="col-sm-12">
            <p class="lead">Beschreibung: {{{stripOnlyScript description}}}</p>
            {{#if nextEvent}}<p class="text-muted">Nächste Unterrichtsstunde: {{nextEvent}}</p>{{/if}}
        </div>
    </div>
        <section class="section-course">
            <div class="tabContainer">
              <div class="tabs" data-max-width="1024">
                <span class="tab" data-tab="a">
                  <span class="text">Themen</span>
                </span>
                <span class="tab" data-tab="b">
                  <span class="text">Aufgaben</span>
                </span>
                <span class="tab" data-tab="c">
                  <span class="text">Tools</span>
                </span>
                <span class="tab" data-tab="d">
                  <span class="text">Gruppen</span>
                </span>
              </div>
            </div>
            <div class="sectionsContainer">
              <div class="sections">
                <!-- Themen -->
                <div class="section" data-section="a">
                  {{> "courses/partials/topics"}}
                </div>
                <!--- Aufgaben -->
                <div class="section" data-section="b">
                  {{> "courses/partials/tasks"}}
                </div>
                <!-- Tools -->
                <div class="section" data-section="c">
                    {{> "courses/partials/tools"}}
                </div>
                <!-- Gruppen -->
                <div class="section" data-section="d">
                  {{> "courses/partials/groups"}}
                </div>
              </div>
            </div>
            <hr>
            <div class="row padding-top">
                <div class="col-sm-12">
                    <div class="pull-right">
                        {{#userHasPermission "COURSE_EDIT"}}
                          <a href="/courses/{{../_id}}/"
                             class="btn btn-delete-course btn-secondary"
                             target="_blank"
                             data-method="DELETE"
                             data-name="{{../name}}"
                             redirect="/courses/">Kurs löschen</a>
                            <a href="/courses/{{../_id}}/copy" class="btn btn-add btn-secondary">Kurs klonen</a>
                            <a class="btn btn-secondary btn-create-share-course" data-courseId="{{../_id}}">Kurs teilen</a>
                            <a data-href="courses/{{../_id}}/" href="#" class="btn btn-add btn-secondary btn-create-invitation">zum Kurs einladen</a>
                            <a href="/courses/{{../_id}}/edit" class="btn btn-add btn-secondary">Kurs bearbeiten</a>
                        {{/userHasPermission}}
                        <a href="{{filesUrl}}" class="btn btn-add btn-primary">Zu den Kurs-Dateien</a>
                    </div>
                </div>
            </div>

            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                {{#content "body"}}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">
                            Abbrechen
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            Löschen
                        </button>
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="invitation-modal"}}
                {{#content "fields"}}
                    {{> "courses/forms/form-invitation"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="import-modal"}}
                {{#content "fields"}}
                    {{> "courses/forms/form-import-topic"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="share-modal"}}
                {{#content "fields"}}
                    {{> "topic/forms/form-share"}}
                {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}
