{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/courses.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        <section class="section-course">

            <div class="row description">
                <div class="col-sm-12">
                    <p class="lead">{{description}}</p>
                    {{#if nextEvent}}<p class="text-muted">Nächste Unterrichtsstunde: {{nextEvent}}</p>{{/if}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4>Themen</h4>

                    <div class="list-group">
                        {{#if lessons}}
                            {{#each lessons}}
                                {{#unless this.hidden}}
                                    <div class="card card-topic" onclick="location.href='{{this.url}}'">
                                        <div class="card-header">
                                            <div class="input-group">
                                                {{#userHasPermission "COURSE_EDIT"}}
                                                    <span class="input-group-btn">
                                                        <a class="btn btn-secondary btn-hidden-toggle" href="{{../_id}}" data-toggle="tooltip" title="Thema sperren">
                                                             <i class="fa fa-eye"></i>
                                                        </a>
                                                    </span>
                                                {{/userHasPermission}}
                                                <p class="topic-label">{{this.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                {{else}}
                                    {{#userHasPermission "COURSE_EDIT"}}
                                        <div class="card card-topic" onclick="location.href='{{../url}}'">
                                            <div class="card-header">
                                                <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <a
                                                                class="btn btn-secondary btn-hidden-toggle"
                                                                href="{{../_id}}"
                                                                data-toggle="tooltip"
                                                                title="{{#if ../hidden}}Thema entsperren{{else}}Thema sperren{{/if}}">
                                                                 <i class="fa fa-eye{{#if ../hidden}}-slash{{/if}}"></i>
                                                            </a>
                                                        </span>
                                                    <p class="topic-label">{{../name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {{/userHasPermission}}
                                {{/unless}}
                            {{/each}}
                        {{else}}
                            <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                                <span>Keine Themen.</span>
                            </p>
                        {{/if}}
                        {{#userHasPermission "COURSE_EDIT"}}
                            <a href="/courses/{{../_id}}/topics/add" class="btn btn-secondary margin-top">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Thema hinzufügen
                            </a>
                            <a href="#" data-courseId="{{../_id}}" class="btn btn-secondary margin-top btn-import-topic">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                Thema importieren
                            </a>
                        {{/userHasPermission}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <h4>Tools</h4>

                    <div class="list-group">
                        {{#if ltiToolIds}}
                            {{#each ltiToolIds}}
                                <div class="card card-block card-tool"
                                     onclick="location.href='/courses/{{../_id}}/tools/show/{{this._id}}'">
                                    <p class="card-title-directory">
                                        {{#if logo_url}}
                                            <img src={{this.logo_url}} class="float-left"
                                                 style="width:100px; height:auto;"/>
                                        {{else}}
                                            <img src="/images/cloud.png" class="float-left"
                                                 style="width:100px; height:auto;"/>
                                        {{/if}}
                                        <span>{{this.name}}</span>

                                        <a class="delete-tool"
                                           href="/courses/{{../_id}}/tools/delete/{{this._id}}"
                                           target="_blank"
                                           data-method="delete-material"
                                           data-name="{{this.name}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </p>
                                </div>
                            {{/each}}
                        {{else}}
                            <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                                <span>Keine Tools.</span>
                            </p>
                        {{/if}}
                    </div>

                    {{#userHasPermission "COURSE_EDIT"}}
                        <a href="/courses/{{../_id}}/tools/add" class="btn btn-secondary margin-top">
                            <i class="fa fa-plus" aria-hidden="true"></i>  Neues Tool hinzufügen</a>
                    {{/userHasPermission}}
                </div>
            </div>
            <div class="row padding-top">
                <div class="col-sm-12">
                    {{#userHasPermission "COURSE_EDIT"}}
                        <a href="/courses/{{../_id}}/edit" class="btn btn-add btn-primary">Kurs bearbeiten</a>
                        <a href="/courses/{{../_id}}/"
                           class="btn btn-delete-course btn-secondary"
                           target="_blank"
                           data-method="delete-material"
                           data-name="{{../name}}"
                           redirect="/courses/">Kurs löschen</a>
                        <a data-href="courses/{{../_id}}/" href="#" class="btn btn-add btn-secondary btn-create-invitation">zum Kurs einladen</a>
                    {{/userHasPermission}}
                    <a href="{{filesUrl}}" class="btn btn-add btn-secondary">Zu den Kurs-Dateien</a>
                </div>
            </div>




            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                {{#content "body"}}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">
                            Abbrechen
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            Löschen
                        </button>
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="invitation-modal"}}
                {{#content "fields"}}
                    {{> "courses/forms/form-invitation"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="import-modal"}}
                {{#content "fields"}}
                    {{> "courses/forms/form-import-topic"}}
                {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}
