{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script src="/vendor/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace( 'editor' );
        </script>
    {{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-course">
            <form action="{{action}}" method="post">
                {{#if method}}
                    <input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
                {{/if}}

                <input name="courseId" type="hidden" data-force-value="true" value="{{courseId}}" />

                <div class="form-group">
                    <label>Titel für die Stunde</label>
                    <input class="form-control" name="name" type="text" placeholder="10a" value="{{lesson.name}}" required />
                </div>

                <div class="form-group">
                    <label>Beschreibung der Stunde</label>
                    <textarea class="form-control" id="editor" name="description">{{lesson.description}}</textarea>
                </div>

                <div class="form-group">
                    <label>Datum</label>
                    <input type="date" class="form-control" name="date" value="{{lesson.date}}" required>
                </div>

                <div class="form-group">
                    <label>Uhrzeit</label>
                    <input type="time" class="form-control" name="time" value="{{lesson.time}}" required>
                </div>


                <!-- TODO: content sections -->


                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{submitLabel}}" />
                </div>

            </form>
        </section>
    {{/content}}
{{/extend}}