{{#extend "lib/loggedin"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/courses/course.css" />
		<link rel="stylesheet" href="/styles/courses/course-edit.css" />
		<link rel="stylesheet" href="/styles/lib/spectrum/spectrum.css" />
		<link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css" />
	{{/content}}

	{{#content "scripts" mode="append"}}
		<script src="/scripts/jquery/datetimepicker-easy.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/moment/moment.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/courses.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/coursesTimes.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/spectrum/spectrum.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/spectrum/init.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/content}}


	{{#content "page"}}
		<section class="section-course">
			{{#if course.isArchived}}
				<div class="empty-state">
                    {{> 'courses/components/svg_archived_courses'}}
					<!--<img src="/images/empty-states/archived_courses.svg" alt= "{{$t "courses._course.edit.img_alt.courseIsArchieved"}}" class="image course-empty-content-image" />-->

					<h2 class="h4">{{$t "courses._course.edit.headline.courseIsArchieved" (dict "coursename" course.name )}}</h2>
					<p class="text-muted text-center">
						{{$t "courses._course.edit.text.toEditChangeDate"}}
					</p>
					<form action="{{action}}" method="post">
						{{#if method}}
							<input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
						{{/if}}
						<input type="hidden" name="unarchive" data-force-value="true" value="true" />
						<div class="times" id="timesContainer">
							<label>{{$t "administration.global.label.timeSpan"}}</label>
							<div class="row">
								<div class="form-group col-md-6">
									<label>{{$t "global.label.from"}}</label>
									<input name="startDate" id="startDate" data-date type="text" class="form-control"
										value="{{course.startDate}}" title="{{$t "courses.global.label.timeSpanFormat"}}"
										{{#if @root.course.isArchived}}disabled{{/if}} />
								</div>

								<div class="form-group col-md-6">
									<label>{{$t "global.label.to"}}</label>
									<input name="untilDate" id="untilDate" data-date type="text" class="form-control"
										value="{{course.untilDate}}" title="{{$t "courses.global.label.timeSpanFormat"}}"
										{{#if @root.course.isArchived}}data-min-date="{{datePickerTodayMinus 0 0 0}}"
										{{/if}} />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="/courses/{{course._id}}/" class="btn btn-delete-course btn-secondary pull-left"
								target="_blank" data-method="DELETE" data-name="{{course.name}}" redirect="/courses/">
								{{$t "courses.global.button.deleteCourse"}}
							</a>
							<button type="button" class="btn btn-secondary btn-cancel">
								{{closeLabel}}
							</button>

							{{> "lib/components/csrfInput"}}

							<button type="submit" class="btn btn-primary btn-submit">
								{{submitLabel}}
							</button>
						</div>
					</form>
				</div>
				<a data-toggle="collapse" class="collapse-toggle text-center" href="#myhomeworks">
					<div class="course-tasks-header">
						<small title="{{$t "courses._course.edit.button.showCourseDetail"}}">
							<i class="fa fa-chevron-right collapse-icon" aria-hidden="true"></i>
						</small>
						{{$t "courses._course.edit.button.showCourseDetail"}}
					</div>
				</a>
				<div id="myhomeworks" class="container-fluid collapse">
			{{/if}}

			<form action="{{action}}" method="post">
				{{#if method}}
					<input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
				{{/if}}

				<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}"
					{{#if course.isArchived}}disabled{{/if}} />

				<div class="form-group">
					<label>{{$t "global.label.nameOfTheCourse"}}</label>
					<input class="form-control" name="name" type="text" placeholder="{{$t "courses.global.input.mathsClass"}}" value="{{course.name}}"
						{{#if course.isArchived}}disabled{{/if}} required autofocus />
				</div>

				<div class="form-group">
					<label>{{$t "courses.global.label.courseDescription"}}</label>
					<textarea class="form-control" name="description"
						{{#if course.isArchived}}disabled{{/if}}>{{{stripOnlyScript course.description}}}</textarea>
				</div>

				<div class="form-group">
					<label>{{$t "courses.global.label.courseColor"}}</label>
					<div class="color-picker">
						{{#if course.color}}
							<div class="color-picker__item">
								<input id="input0" type="radio" class="color-picker__input" name="color"
									value="{{course.color}}" checked="checked"
									{{#if @root.course.isArchived}}disabled{{/if}} />
								<label for="input0" class="color-picker__color"
									style="background: {{course.color}}"></label>
							</div>
						{{/if}}
						{{#each colors}}
							{{#ifneq this ../course.color}}
								<div class="color-picker__item">
									<input id="input{{../this}}" type="radio" class="color-picker__input" name="color"
										value="{{../this}}"
										{{#ifeq @index 0}}{{#unless ../../../course.color}}checked="checked"
										{{/unless}}{{/ifeq}} {{#if @root.course.isArchived}}disabled{{/if}} />
									<label for="input{{../this}}" class="color-picker__color"
										style="background: {{../this}}"></label>
								</div>
							{{/ifneq}}
						{{/each}}
					</div>
				</div>

				<div class="form-group">
					<label>{{$t "courses.global.label.courseTeacher"}}</label>

					<select name="teacherIds[]" required multiple data-placeholder="{{$t "courses.global.input.selectStudents"}}"
						{{#if course.isArchived}}disabled{{/if}}>
						{{#each teachers}}
							<option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
								{{#if this.displayName}}
									{{this.displayName}}
								{{else}}
									{{this.firstName}} {{this.lastName}}
								{{/if}}
							</option>
						{{/each}}
					</select>
				</div>

				<div class="form-group">
					<label>{{$t "courses._course.edit.label.substitute"}}</label>
					<select name="substitutionIds[]" multiple data-placeholder="{{$t "courses.global.input.chooseTeacher"}}"
						{{#if course.isArchived}}disabled{{/if}}>
						{{#each substitutions}}
							<option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
								{{this.firstName}} {{this.lastName}}
							</option>
						{{/each}}
					</select>
				</div>

				<div class="form-group">
					<label>{{$t "global.headline.classes"}} <small>{{$t "administration.global.label.afterSavingAllStudentsAdded"}}</small></label>

					<select name="classIds[]" multiple data-placeholder="{{$t "courses.global.input.selectClasses"}}"
						{{#if course.isArchived}}disabled{{/if}}>
						{{#each classes}}
							<option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
								{{log this.year}}
								{{#if this.name}}
									{{this.displayName}}
								{{else}}
									{{this.name}}
								{{/if}}

								{{#if this.year}}
									({{this.year.name}})
								{{/if}}
							</option>
						{{/each}}
					</select>
				</div>

				<div class="form-group">
					<label>{{$t "courses._course.global.label.studentParticipant"}}</label>

					<select name="userIds[]" multiple data-placeholder="{{$t "courses.global.input.selectStudents"}}"
						{{#if course.isArchived}}disabled{{/if}}>
						{{#each students}}
							<option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
								{{#if this.displayName}}
									{{this.displayName}}
								{{else}}
									{{this.firstName}} {{this.lastName}}
								{{/if}}
							</option>
						{{/each}}
					</select>
				</div>

				{{#ifConfig "FEATURE_MATRIX_MESSENGER_ENABLED" true}}
					{{#inArray "messenger" @root.schoolData.features}}
						<div class="form-group">
							<label>
								<input type="checkbox" name="messenger" value="true" {{#inArray "messenger" ../course.features}}checked{{/inArray}}>
								{{$t "courses._course.edit.label.activateBidirectionalMessenger"}}
							</label>
						</div>
					{{/inArray}}
				{{/ifConfig}}


				<label>{{$t "administration.global.label.chooseDate"}}</label>
				<div class="times" id="timesContainer">
					<label>{{$t "administration.global.label.timeSpan"}}</label>
					<div class="row">
						<div class="form-group col-md-6">
							<label>{{$t "global.label.from"}}</label>
							<input name="startDate" id="startDate" data-date type="text" class="form-control"
								value="{{course.startDate}}" title="{{$t "courses.global.label.timeSpanFormat"}}"
								{{#if @root.course.isArchived}}disabled{{/if}} />
						</div>

						<div class="form-group col-md-6">
							<label>{{$t "global.label.to"}}</label>
							<input name="untilDate" id="untilDate" data-date type="text" class="form-control"
								value="{{course.untilDate}}" title="{{$t "courses.global.label.timeSpanFormat"}}"
								{{#if @root.course.isArchived}}disabled{{/if}} />
						</div>
					</div>

					<table width="100%" cellpadding="5px">
						<thead>
							<th></th>
							<th><label>{{$t "administration.global.label.weekday"}}</label></th>
							<th><label>{{$t "administration.global.label.startOfLesson"}}</label></th>
							<th><label>{{$t "administration.global.label.lengthOfLesson"}}</label></th>
							<th><label>{{$t "global.label.room"}}</label></th>
						</thead>
						<tbody class="add-course-times">
							{{#each course.times}}
								<tr class="course-time" id="{{this._id}}">
									<td>
										<button class="btn-link course-time-delete" type="button"  data-id="{{this._id}}"
											{{#if @root.course.isArchived}}disabled{{/if}}>
											<i class="fa fa-trash-o"></i>
										</button></td>
									<td>
										<select class="form-control" name="times[{{this.count}}][weekday]" type="text"
											{{#if @root.course.isArchived}}disabled{{/if}}>
											<option value="0" {{#ifeq this.weekday "0"}}selected{{/ifeq}}>{{$t "global.text.monday"}}
											</option>
											<option value="1" {{#ifeq this.weekday "1"}}selected{{/ifeq}}>{{$t "global.text.tuesday"}}
											</option>
											<option value="2" {{#ifeq this.weekday "2"}}selected{{/ifeq}}>{{$t "global.text.wednesday"}}
											</option>
											<option value="3" {{#ifeq this.weekday "3"}}selected{{/ifeq}}>{{$t "global.text.thursday"}}
											</option>
											<option value="4" {{#ifeq this.weekday "4"}}selected{{/ifeq}}>{{$t "global.text.friday"}}
											</option>
											<option value="5" {{#ifeq this.weekday "5"}}selected{{/ifeq}}>{{$t "global.text.saturday"}}
											</option>
											<option value="6" {{#ifeq this.weekday "6"}}selected{{/ifeq}}>{{$t "global.text.sunday"}}
											</option>
										</select>
									</td>
									<td>
										<input class="form-control" name="times[{{this.count}}][startTime]"
											value="{{this.startTime}}" data-time type="text"
											{{#if @root.course.isArchived}}disabled{{/if}} />
									</td>
									<td>
										<input class="form-control" name="times[{{this.count}}][duration]" type="number"
											value="{{this.duration}}" placeholder="{{$t "courses.global.input.inMinutes"}}"
											{{#if @root.course.isArchived}}disabled{{/if}} />
									</td>
									<td>
										<input class="form-control" type="text" name="times[{{this.count}}][room]"
											value="{{this.room}}" placeholder="{{$t "courses.global.input.egRoom1-21"}}"
											{{#if @root.course.isArchived}}disabled{{/if}} />
									</td>
								</tr>
							{{/each}}
							{{#embed "courses/components/template-new-course-time"}}{{/embed}}
						</tbody>
					</table>
					<button class="new-course-time-add btn-link" data-timesref="#timesContainer" type="button"
						{{#if @root.course.isArchived}}disabled{{/if}}>
						<i class="fa fa-plus-circle fa-6"></i> {{$t "courses._course.edit.button.addLesson"}}
					</button>
				</div>


				{{#unless @root.course.isArchived}}
					<div class="modal-footer">
						{{#if course._id}}
							{{#inArray "COURSE_DELETE" scopePermissions}}
							<a href="/courses/{{../course._id}}/" class="btn btn-delete-course btn-secondary pull-left"
								target="_blank" data-method="DELETE" data-name="{{../course.name}}"
								redirect="/courses/">{{$t "courses.global.button.deleteCourse"}}</a>
							{{/inArray}}
						{{/if}}
						<button type="button" class="btn btn-secondary btn-cancel">
							{{closeLabel}}
						</button>

                        {{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-submit">
							{{submitLabel}}
						</button>
					</div>
				{{/unless}}
			</form>
			{{#if @root.course.isArchived}}
				</div>{{/if}}

			{{#embed "lib/components/modal" class="delete-modal" title= ($t "global.text.areYouSure") }}
			{{#content "body"}}
				<p class="m-1">
					<b class="alert-course-delete"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{$t "global.text.attention"}}</b> {{$t "courses._course.edit.text.courseWillDelete"}} <br />
					{{$t "courses._course.edit.text.attentionDeletion"}}
				</p>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-close">
						{{$t "global.button.cancel"}}
					</button>

                    {{> "lib/components/csrfInput"}}
					<button type="submit" class="btn btn-primary btn-submit">
						{{$t "global.headline.delete"}}
					</button>
				</div>
			{{/content}}
			{{/embed}}

			{{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}
		</section>
	{{/content}}
{{/extend}}
