{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-course">
            <form action="{{action}}" method="post">
                {{#if method}}
                    <input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
                {{/if}}

                <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

                <div class="form-group">
                    <label>Name des Kurses</label>
                    <input class="form-control" name="name" type="text" placeholder="10a" value="{{course.name}}" required />
                </div>

                <div class="form-group">
                    <label>Beschreibung des Kurses</label>
                    <textarea class="form-control" name="description">{{course.description}}</textarea>
                </div>

                <div class="form-group">
                    <label>Klasse(n)</label>

                    <select name="classIds[]" multiple data-placeholder="Klasse(n) auswählen">
                        {{#each classes}}
                            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label>Unterrichtender Lehrer</label>

                    <select name="teacherIds[]" required multiple data-placeholder="Lehrer auswählen">
                        {{#each teachers}}
                            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label>Schüler / Teilnehmer</label>

                    <select name="userIds[]" multiple data-placeholder="Schüler auswählen">
                        {{#each students}}
                            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{submitLabel}}" />
                </div>

            </form>
        </section>
    {{/content}}
{{/extend}}