{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
        <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/jquery/jquery.datetimepicker.full.min.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/moment/moment.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/courses.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/coursesTimes.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}


    {{#content "page"}}
        <section class="section-course">
            <form action="{{action}}" method="post">
                {{#if method}}
                    <input type="hidden" name="_method" data-force-value="true" value="{{method}}"/>
                {{/if}}

                <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}"/>
                <input name="courseId" type="hidden" data-force-value="true" value="{{courseId}}"/>

                <div class="form-group">
                    <label for="name">{{$t "courses._course.groups._group.edit.label.nameOfGroup"}}</label>
                    <input class="form-control" name="name" type="text" placeholder="{{$t "courses._course.groups._group.edit.input.group1"}}" value="{{{courseGroup.name}}}" required/>
                </div>

                <div class="form-group">
                    <label for="userIds[]">{{$t "courses._course.global.label.studentParticipant"}}</label>

                    <select name="userIds[]" multiple data-placeholder="{{$t "courses.global.input.selectStudents"}}">
                        {{#each students}}
                            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
                                {{#if this.displayName}}
                                    {{this.displayName}}
                                {{else}}
                                    {{this.firstName}} {{this.lastName}}
                                {{/if}}
                            </option>
                        {{/each}}
                    </select>
                </div>


                <div class="modal-footer">
                    <button class="btn btn-add btn-secondary btn-cancel">
                        {{closeLabel}}
                    </button>

                    {{> "lib/components/csrfInput"}}

                    <button type="submit" class="btn btn-primary btn-submit">
                        {{submitLabel}}
                    </button>
                </div>

            </form>

            {{#embed "lib/components/modal-cancel" class="cancel-modal"}}

            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
