{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/courses/course.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/lessons.js" type="text/javascript"></script>
    {{/content}}

    {{#content "page"}}

        <section class="section-course">
            <div class="row description">
                <div class="col-sm-12">
                    <p class="lead">{{{description}}}</p>
                </div>
            </div>

            <div class="row">
                {{#each contents}}
                    <div class="col-sm-6">
                        {{> (lookup . 'component') this}}
                    </div>
                {{/each}}
            </div>

            {{#if materialIds}}
                <div class="materials">
                    <h5>Gespeicherte Unterrichtsmaterialen</h5>
                    <div class="card-columns">
                        {{#each materialIds}}
                            <div class="card">
                                {{#if this.image}}
                                    <img class="card-img-top" src="{{this.image}}"/>
                                {{/if}}
                                <div class="card-block">
                                    <h4 class="card-title">
                                        <a href="{{this.url}}" target="_blank">
                                            {{this.title}}
                                        </a>
                                    </h4>
                                    <p class="card-text">{{this.description}}</p>
                                    {{#if this.download}}
                                        <button type="button" class="btn btn-secondary">
                                            <a href="{{this.download}}" target="_blank">Slides</a>
                                        </button>
                                    {{/if}}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> via {{this.client}} | 17. November 2016</small>
                                    {{#userHasPermission "COURSE_EDIT"}}
                                        <a class="delete-material"
                                           href="materials/{{../_id}}"
                                           target="_blank"
                                           data-method="delete-material"
                                           data-name="{{../title}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {{/userHasPermission}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            {{#userHasPermission "COURSE_EDIT"}}
                <div class="row padding-top">
                    <div class="col-sm-12">
                        <a href="/courses/{{../courseId}}/lessons/{{../_id}}/edit" class="btn btn-add btn-primary">Stunde
                            bearbeiten</a>
                    </div>
                </div>
            {{/userHasPermission}}

            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                {{#content "body"}}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">
                            Abbrechen
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            Löschen
                        </button>
                    </div>
                {{/content}}
            {{/embed}}

        </section>
    {{/content}}
{{/extend}}