{{#content "scripts" mode="append"}}
    <script nonce="{{nonceValue}}" defer>
        setHeight = function() {
            // dirty fix for digitalgipfel
            $('.lti-frame').css({
                'height': ($(document).height() - $('.navbar').height() * 3) + 'px'
            });
        };
    </script>
{{/content}}
{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href={{getVersionedPath '/styles/tools/tools.css'}}"/>
    {{/content}}

    {{#content "page"}}
        <iframe class="lti-frame" src="/courses/{{course._id}}/tools/run/{{tool._id}}" frameborder="0" onload="setHeight()"></iframe>
        <a href="/courses/{{course._id}}/tools/run/{{tool._id}}" target="_blank" class="pull-right">{{$t "global.link.openInNewTab"}}</a>
    {{/content}}
{{/extend}}
