<div class="card">

    <img class="card-img-top" src="{{{ thumbnail }}}" alt="Thumbnail">
    <div class="card-block">

        {{#userIsAllowedToViewContent nonOer}}
            <a class="external-link" href="#!"
            data-external-link="/content/redirect/{{{ ../_id }}}"
            data-provider="{{{ ../providerName }}}">
                <h2 class="h4 card-title">{{{ ../title }}}</h2>
            </a>
        {{else}}
            <h2 class="h4 card-title">{{{ ../title }}}</h2>
        {{/userIsAllowedToViewContent}}

        <div class="card-tags">
            {{#each (truncateArray tags 15)}}
                <span class="tag tag-default">{{{ this }}}</span>
            {{/each}}
        </div>
        <p class="card-text">{{{ truncateLength (stripHTMLTags description) 500}}}</p>
        {{#userIsAllowedToViewContent nonOer}}
        {{else}}
            <div class="alert alert-info" role="alert">
                {{$t "content.item.text.contentNotAvailable" }}
            </div>
        {{/userIsAllowedToViewContent}}


    </div>
    <div class="card-footer text-muted w-100">
        {{#userIsAllowedToViewContent nonOer}}
            <a class="pull-right report-link"
                href="mailto:inhalte@schul-cloud.org?Subject=Melden%20des%20Inhaltes%20mit%20der%20ID%20{{{ ../_id }}}&body=Liebes%20{{theme.short_title}}%20Team%2C%0Ahiermit%20m%C3%B6chte%20ich%20den%20im%20Betreff%20genannten%20Inhalt%20melden%2C%20da%3A%0A%5Bhier%20bitte%20Ihre%20Gr%C3%BCnde%5D" target="_blank" rel="noopener">
                {{$t "content.item.text.report" }} <i class="fa fa-flag" aria-hidden="true"></i>
            </a>
        {{else}}
            <a class="pull-right report-link"
                href="mailto:inhalte@schul-cloud.org?Subject=Melden%20des%20Inhaltes%20mit%20dem%20Titel%20{{{ ../title }}}&body=Liebes%20{{theme.short_title}}%20Team%2C%0Ahiermit%20m%C3%B6chte%20ich%20den%20im%20Betreff%20genannten%20Inhalt%20melden%2C%20da%3A%0A%5Bhier%20bitte%20Ihre%20Gr%C3%BCnde%5D" target="_blank" rel="noopener">
                {{$t "content.item.text.report" }} <i class="fa fa-flag" aria-hidden="true"></i>
            </a>
        {{/userIsAllowedToViewContent}}

        <span>{{{$t "content.text.viaProvider" (dict "provider" providerName)}}}</span>
        {{#if @root.isCourseGroupTopic}}
            <a class="add-to-lesson pull-right" href="{{{ _id }}}">
                <i class="fa fa-plus-square"></i>
            </a>
        {{else}}
            {{#userHasPermission "COURSE_EDIT"}}
                <a class="add-to-lesson pull-right" href="{{{ ../_id }}}">
                    <i class="fa fa-plus-square"></i>
                </a>
            {{else}}
                {{#userHasPermission  "LESSONS_VIEW"}}
                    {{#userHasPermission "TOOL_NEW_VIEW"}}
                        <i class="fa fa-plus-square pull-right tooltip-demo"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-html="true"
                        data-animation="true"
                        title="{{{$t "content.headline.contentCantBeAddedInDemo"}}}" ></i>
                    {{/userHasPermission}}
                {{/userHasPermission}}
            {{/userHasPermission}}
        {{/if}}
    </div>

</div>
