<div class="card">

    <img class="card-img-top" src="{{{ thumbnail }}}" alt="Thumbnail">
    <div class="card-img-overlay">
        <span class="fa fa-video-camera"></span><span> 5:39</span>
        <p class="m-0 pull-right">
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span>(0)</span>
        </p>
    </div>
    <div class="card-block">
        <a href="#"><h4 class="card-title">{{{ title }}}</h4></a>
        <div class="card-tags">
            {{#each tags}}
                <span class="tag tag-default">{{{ this }}}</span>
            {{/each}}
        </div>
        <p class="card-text">{{{ description }}}</p>
    </div>
    <div class="card-footer text-muted w-100">
        <span>via {{{ providerName }}}</span>
        {{#userHasPermission "COURSE_EDIT"}}
            <a class="add-to-lesson pull-right" href="{{{ ../_id }}}">
                <i class="fa fa-plus-square"></i>
            </a>
        {{/userHasPermission}}
    </div>

</div>