{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/content/search.css"/>
    {{/content}}

    {{#content "page"}}

        <section class="section-search">
            <div class="search-bar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="search-wrapper">
                            <div class="input-group input-group-lg">
                                <form method="get">
                                    <input value="{{ query }}" name="q" type="text" class="form-control search-field" placeholder="Suche nach..." />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="search-results">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Suchergebnisse für "{{ query }}":</h5>
                        </div>
                    </div>

                    <div class=" results">
                        <div class="card-columns">
                        {{#each results}}
                            <div class="card">
                                {{#if this.image}}
                                    <img class="card-img-top" src="{{this.image}}" />
                                {{/if}}
                                <div class="card-block">
                                    <h4 class="card-title">
                                        <a href="{{this.url}}" target="_blank">
                                            {{this.title}}
                                        </a>
                                    </h4>
                                    <p class="card-text">{{this.description}}</p>
                                    {{#if this.download}}
                                        <button type="button" class="btn btn-secondary">
                                            <a href="{{this.download}}" target="_blank">Slides</a>
                                        </button>
                                    {{/if}}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"> via {{this.client}} | 17. November 2016</small>
                                </div>
                            </div>
                        {{else}}
                            <p class="text-muted text-center">
                                <span>Keine Suchergebnisse.</span>
                            </p>
                        {{/each}}
                        </div>
                    </div>

                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                </div>

        </section>
    {{/content}}
{{/extend}}