{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getVersionedPath '/styles/content/content.css'}}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{getVersionedPath '/scripts/content.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="{{getVersionedPath '/scripts/filter/custom-element-polyfill.js'}}" nonce="{{nonceValue}}" defer></script>
        <script src="{{getVersionedPath '/scripts/filter/feathers-filter.js'}}" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <section class="store container">

            <div class="row">
                <div class="col-sm-12">
                    {{> "content/forms/form-search" }}

                    {{#if query}}
                        <div><feathers-filter id="filter"
                                filter='{{@root.filterSettings}}'
                                add-label='{{$t "global.button.filterAdd" }}'
                                apply-label='{{$t "global.button.filterApply" }}'
                                cancle-label='{{$t "global.button.cancel" }}'
                                handle-url='false'
                        /></div>
                    {{/if}}
                </div>
            </div>
            <div class="ajaxcontent">
                {{#if query}}
                    {{#if searchResults}}
                        <h2 class="h5 mb-1">{{{$t "content.headline.nSearchResultsFoundWith"
                            (dict "searchResultsTotal" searchResults.total "query" (escapeHtml query))}}}</h2>
                    {{else}}
                        <h2 class="h5 mb-1">{{{$t "content.headline.noResultsFoundWith"
                            (dict "query" (escapeHtml query))}}}</h2>
                    {{/if}}
                    <hr class="mt-0">
                {{/if}}
                {{#unless query }}
                    {{#with featuredContent}}
                    <h2 class="h3">{{$t "content.store.headline.currentContent" }}</h2>
                    <div class="row equal-height">
                        {{#each this}}
                            <div class="col-md-6 col-lg-4">
                                {{> "content/item" }}
                            </div>
                        {{/each}}
                    </div>
                    {{/with}}

                    {{#with trendingContent}}
                    <h2 class="h3">{{$t "content.store.headline.popularContent" }}</h2>
                    <div class="row equal-height">
                        {{#each this}}
                            <div class="col-md-6 col-lg-4">
                                {{> "content/item" }}
                            </div>
                        {{/each}}
                    </div>
                    {{/with}}
                {{else}}
                    <div class="row equal-height">
                        {{#each searchResults.data}}
                            <div class="col-md-6 col-lg-4">
                                {{> "content/item" }}
                            </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                {{/unless}}
            </div>
        </section>

        {{#embed "lib/components/modal-form" method="post" class="edit-modal"}}
            {{#content "fields"}}
                {{> "content/forms/form-add-lesson" }}
            {{/content}}
        {{/embed}}

        {{#embed "lib/components/modal" class="external-link-modal"}}
            {{#content "body"}}
                {{> "content/forms/form-external-link"}}
            {{/content}}
        {{/embed}}

    {{/content}}
{{/extend}}
