<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page" {{/if}}>
  <h4>Aktualisierung deiner Einwilligungserklärung{{#ifCond @root.updatedConsents.total '>' 1}}en{{/ifCond}}</h4>
  <p style="margin-bottom: 20px;">Für ein noch besseres Lernerlebnis wird die {{@root.theme.title}} stetig
    weiterentwickelt. Im Zuge dessen hat sich
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}}die Nutzungsordnung{{/ifCond}}
    {{#ifCond @root.updatedConsents.privacy.total '>' 0}}
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}}
    und
    {{/ifCond}}
    die Datenschutzerklärung
    {{/ifCond}}
    erweitert. Nachfolgend kannst du dich über die Änderungen
    informieren.
  </p>

  {{#if @root.updatedConsents.haveBeenUpdated}}
  <div class="consentVersions">
    {{#each @root.updatedConsents.all.data}}
    <div class='privacyStatement card'>
      <div class="card-header">
        <h5>Änderung der {{this.visualType}} zum {{dateToPicker this.publishedAt}}</h5>
      </div>
      <div class="content card-block">
        {{{this.consentHTML}}}
      </div>
    </div>
    {{/each}}

    <div id="consentUpdateFields">&nbsp;<br>
      {{#if @root.updatedConsents.privacy.total}}
      <label>
        <input name="privacyConsentVersion" type="hidden" value="true" />
        Ich, <b>{{@root.currentUser.firstName}} {{@root.currentUser.lastName}}</b>, nehme die Änderungen
        der
        <a href="#todo">Datenschutzerklärung</a> zur Kenntnis, um mit der Nutzung der {{@root.theme.title}}
        fortzufahren.
      </label>
      {{/if}}

      {{#if @root.updatedConsents.termsOfUse.total}}
      <label>
        <input name="termsOfUseConsentVersion" type="hidden" value="true" />
        Ich, <b>{{@root.currentUser.firstName}} {{@root.currentUser.lastName}}</b>, nehme die Änderungen
        der
        <a href="#todo">Nutzungsordnung</a> zur Kenntnis, um mit der Nutzung der {{@root.theme.title}}
        fortzufahren.
      </label>
      {{/if}}
    </div>
  </div>
  {{/if}}

</section>
