<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page" {{/if}}>

  <h2 class="h4">Wichtige Information{{#ifCond @root.updatedConsents.total '>' 1}}en{{/ifCond}}</h2>
  <a style="margin-bottom: 20px;">Für ein noch besseres Lernerlebnis wird die {{@root.theme.title}} stetig
    weiterentwickelt. Im Zuge dessen hat sich
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}}die <a href="{{@root.theme.documents.specificFiles.termsOfUseExemplary}}" target="_blank">Nutzungsordnung</a>{{/ifCond}}
    {{#ifCond @root.updatedConsents.privacy.total '>' 0}}
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}}
    und
    {{/ifCond}}
		{{#if @root.schoolPrivacyLink}}
			die <a href="{{@root.schoolPrivacyLink}}" class="base64File-download-btn" id="privacy-link" target="_blank">Datenschutzerklärung</a>
		{{else}}
			die <a href="{{@root.theme.documents.specificFiles.privacyExemplary}}" target="_blank">Datenschutzerklärung</a>
		{{/if}}
    {{/ifCond}}
    erweitert oder spezifisch für deine Schule angepasst.
  </p>
  <div id="consentUpdateFields">
    {{#if @root.updatedConsents.haveBeenUpdated}}

    {{#each @root.updatedConsents.all.data}}
    <h2 class="h4">Zusammenfassung der Erweiterung in der {{this.visualType}}</a> zum
      {{dateToPicker this.publishedAt}}</h2>
    <div class='privacyStatement card'>
      <div class="card-header">
        <h3 class="h5" style="margin:0;">
          {{this.title}}
        </h3>
      </div>
      <div class="content card-block">
        {{{this.consentHTML}}}
      </div>
    </div>
    {{/each}}

    <div>
      {{#if @root.updatedConsents.privacy.total}}
      <label>
        <input name="privacyConsentVersion" type="hidden" value="true" />
      </label>
      {{/if}}
      {{#if @root.updatedConsents.termsOfUse.total}}
      <label>
        <input name="termsOfUseConsentVersion" type="hidden" value="true" />
      </label>
      {{/if}}
    </div>
    <p>Bitte nimm mit Klick auf »Gelesen« diese Informationen zur Kenntnis, um mit der Nutzung fortzufahren.</p>


  </div>
  {{/if}}

</section>
