<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page" {{/if}}>

  <h2 class="h4">{{$t "firstLogin.consent.heading.importantInformation" }} {{#ifCond @root.updatedConsents.total '>' 1}}en{{/ifCond}}</h2>
  <a style="margin-bottom: 20px;">{{$t "firstLogin.consent.text.forAnEvenBetterLearningExperience" (dict "title" @root.theme.title)}}
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}} {{$t "firstLogin.consent.text.the" }} <a href="{{@root.theme.documents.specificFiles.termsOfUseExemplary}}" target="_blank">{{$t "firstLogin.consent.text.termsOfUse" }}</a>{{/ifCond}}
    {{#ifCond @root.updatedConsents.privacy.total '>' 0}}
    {{#ifCond @root.updatedConsents.termsOfUse.total '>' 0}}
    {{$t "firstLogin.consent.text.and" }}
    {{/ifCond}}
		{{#if @root.schoolPrivacyLink}}
			{{$t "firstLogin.consent.text.the" }} <a href="{{@root.schoolPrivacyLink}}" class="base64File-download-btn" id="privacy-link" target="_blank">{{$t "consent.global.text.dataProtection" }}</a>
		{{else}}
			{{$t "firstLogin.consent.text.the" }} <a href="{{@root.theme.documents.specificFiles.privacyExemplary}}" target="_blank">{{$t "consent.global.text.dataProtection" }}</a>
		{{/if}}
    {{/ifCond}}
    {{$t "firstLogin.consent.text.expanded" }}
  </p>
  <div id="consentUpdateFields">
    {{#if @root.updatedConsents.haveBeenUpdated}}

    {{#each @root.updatedConsents.all.data}}
    <h2 class="h4">{{$t "firstLogin.consent.heading.summaryOfTheExtension" (dict "visualType" this.visualType)}}</a> {{$t "firstLogin.consent.heading.toThe" }}
      {{dateToPicker this.publishedAt}}</h2>
    <div class='privacyStatement card'>
      <div class="card-header">
        <h3 class="h5" style="margin:0;">
          {{this.title}}
        </h3>
      </div>
      <div class="content card-block">
        {{{this.consentHTML}}}
      </div>
    </div>
    {{/each}}

    <div>
      {{#if @root.updatedConsents.privacy.total}}
      <label>
        <input name="privacyConsentVersion" type="hidden" value="true" />
      </label>
      {{/if}}
      {{#if @root.updatedConsents.termsOfUse.total}}
      <label>
        <input name="termsOfUseConsentVersion" type="hidden" value="true" />
      </label>
      {{/if}}
    </div>
    <p>{{$t "firstLogin.consent.text.pleaseClickOnRead" }}</p>


  </div>
  {{/if}}

</section>
