<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page"{{/if}}>
  <h2 class="h4">{{$t "firstLogin.parent.heading.yourData" }}</h2>
  <p>{{$t "firstLogin.parent.text.forStudentsUnder" }} {{CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS}} {{$t "firstLogin.parent.text.aParentOrLegalGuardianMystUse" }} {{@root.theme.short_title}} {{$t "firstLogin.parent.text.toConsent" }}</p>
  <p>{{$t "firstLogin.parent.text.forThisWeNeedTheFollowingInformationFromYou" }}</p>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label>{{$t "firstLogin.parent.global.label.firstName" }} *</label>
      <input class="form-control linked" name="parent_firstName" type="text" placeholder="Ihren Vornamen hier eingeben" required/>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <label>{{$t "firstLogin.parent.global.label.lasttName" }} *</label>
      <input class="form-control linked" name="parent_lastName" type="text" placeholder="Ihren Nachname hier eingeben" required/>
    </div>
  </div>

  <div class="form-group">
    <label>{{$t "firstLogin.parent.global.label.yourEmailAddress" }} * <small>{{$t "firstLogin.parent.global.label.mustNotBeYourChildsEmailAddress" }}</small></label>
    <input class="form-control" type="email" name="parent_email" required placeholder="eltern@schul-cloud.org" autocomplete />
  </div>
  <p class="explanation nomargin">
    {{$t "firstLogin.parent.text.weNeedAnEmailAddress" }} {{@root.theme.short_title}} {{$t "firstLogin.parent.text.islegallyValidThe" }} {{@root.theme.short_title}} {{$t "firstLogin.parent.text.doesNotPassOnTheAddress" }}
    <br/>
    Zusätzlich planen wir die Entwicklung eines Eltern-Zugangs, über den Sie mit dem Klassenlehrer kommunizieren und mit dem Sie die Lernfortschritte Ihres Kindes nachvollziehen können. Sobald diese Funktionen zur Verfügung stehen, fragen wir Sie, ob wir Ihre E-Mail-Adresse dafür verwenden dürfen.
  </p>
</section>