<section data-panel="section-{{section-nr}}" {{#if submit-page}}class="submit-page" {{/if}}>
  <h4>Aktualisierung der Datenschutzerklärung</h4>
  <p>Bitte bestätige folgende Änderungen deiner Einwilligungserklärungen, damit du die {{@root.theme.title}} weiterhin nutzen kannst.</p>
  {{#if @root.privacyStatements.total}}
  <div class="privacyStatements">
    {{#each @root.privacyStatements.data}}
    <div class='privacyStatement card'>
      <div class="card-header">
        <h4>{{this.name}}</h4>
        Aktualisiert am {{dateToPicker this.publishedAt}}
      </div>
      <div class="content card-block">
        {{{this.text}}}
      </div>
    </div>
    {{/each}}
    <div class="margin-top">
      <label>
        <input name="updatePrivacyConsent" type="checkbox" value="true" required />
        <span>Ich bestätige, das ich die hier beschriebenen Inhalte gelesen und
          verstanden habe.</span>
      </label>
    </div>
  </div>
  {{else}}
  Nothing new to show here, go next... (should never be shown...)
  {{/if}}
</section>
