<section data-panel="section-{{section-nr}}">
    <div class="welcomeGreeting">
        <div class="welcomeGreetingImage text-center" id="welcome">
            <div class="content">
                <img src="/images/firstLogin/welcome_screen.svg">
                <hr class="mt-0">
                    <h1 class="h2">{{$t "firstLogin.welcome.text.welcomeToShort" (dict "shortTitle" @root.theme.short_title)}}</h1>
                <hr>
                <!-- fokus here -->
                <a href=""></a>
                <div class="welcomeGreetingScroll">
                    <div class="btn-scroll text-center mt-2">
                        <div class="arrow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcomeGreetingInformation" id="information">
            {{#inArray 'administrator' roleNames}}
                <div class="row mt-3">
                    <div class="col-xs-12 col-sm-3 text-center">
                        <img src="/images/firstLogin/welcome-1-fobi.svg" alt="{{$t "firstLogin.thanks.img_alt.onlineTraining"}}" width="150px">
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <p>
                            {{$t "firstLogin.thanks.text.youAreAdminAndHaveTheHonorable" (dict "title" @root.theme.title)}} <b>{{$t "firstLogin.thanks.img_alt.onlineTraining"}}</b> {{$t "firstLogin.thanks.text.andLearnEverythingYouNeed"}}
                        </p>
                        <div class="text-xs-center text-sm-right">
                            <a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="https://lernen.cloud/courses/schulcloud2019">{{$t "firstLogin.text.clickhereForFurtherTraining" }}</a>
                        </div>
                    </div>
                </div>
            {{else}}
                {{#inArray 'teacher' ../roleNames}}
                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <img src="/images/firstLogin/welcome-1-fobi.svg" alt="{{$t "firstLogin.thanks.img_alt.onlineTraining"}}" width="150px">
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <p>
                               {{$t "firstLogin.thanks.text.whatCanActuallydo" (dict "shortTitle" @root.theme.short_title)}} <b>{{$t "firstLogin.thanks.img_alt.onlineTraining"}}</b> {{$t "firstLogin.thanks.text.forVividAndPracticalVideos"}}
                            </p>
                            <div class="text-xs-center text-sm-right">
                                <a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="https://lernen.cloud/courses/schulcloud2019">{{$t "firstLogin.text.clickhereForFurtherTraining" }}</a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#inArray 'student' ../roleNames}}
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 text-center">
                                <img src="/images/firstLogin/welcome-1-student.svg" alt="{{$t "firstLogin.thanks.img_alt.onlineTraining"}}" width="150px">
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                {{$t "firstLogin.thanks.text.nowTeachersCanInviteToCoursesAndAccess"}}
                            </div>
                        </div>
                    {{/inArray}}
                {{/inArray}}
            {{/inArray}}

            <div class="row mt-3">
                <div class="col-xs-12 col-sm-3 text-center">
                    <img src="/images/firstLogin/welcome-2-help.svg" alt="Help" width="150px">
                </div>
                <div class="col-xs-12 col-sm-9 mt-2">
                    <p>
                        {{$t "firstLogin.thanks.text.overEveryPageInThe" (dict "shortTitle" @root.theme.short_title)}} <b>{{$t "firstLogin.thanks.img_alt.questionMark"}}</b> {{$t "firstLogin.thanks.text.inTheTopRightOfOur"}} <b>{{$t "global.link.helpArea"}}</b>.
                        {{$t "firstLogin.thanks.text.thereYouWillFindDetailedInstructions"}}
                    </p>
                    <p>
                       {{$t "firstLogin.text.justHaveALook" }}
                    </p>
                </div>
            </div>
            <div class="text-xs-center text-sm-right mt-2 mb-3">
                <a class="btn btn-secondary mt-1" data-testid="btn_schul-cloud_erkunden" href="/dashboard">{{$t "firstLogin.button.getStartedImmediately" }}</a>
                {{#inArray 'administrator' roleNames}}
                    <a class="btn btn-primary mt-1" href="/help/confluence/40304667">{{$t "firstLogin.button.takeALookAtTheFirstSteps" }}</a>
                {{else}}
                    {{#inArray 'teacher' ../roleNames}}
                        <a class="btn btn-primary mt-1" href="/help/confluence/40304726">{{$t "firstLogin.button.takeALookAtTheFirstSteps" }}</a>
                    {{else}}
                        {{#inArray 'student' ../roleNames}}
                            <a class="btn btn-primary mt-1" href="/help/confluence/40304731">{{$t "firstLogin.button.takeALookAtTheFirstSteps" }}</a>
                        {{/inArray}}
                    {{/inArray}}
                {{/inArray}}
            </div>
        </div>
    </div>
    <hr>
</section>
