<section data-panel="section-{{section-nr}}" class="confetti-wrapper{{#if submit-page}} submit-page{{/if}}">
  <h2 class="h4">{{$t "firstLogin.welcome.heading.congratulations" }} {{@root.currentUser.firstName}} {{@root.currentUser.lastName}}! 🎉🎈</h2>
  <p>{{$t "firstLogin.welcome.text.youAreNow14YearsOld" }} {{@root.theme.title}}. {{$t "firstLogin.welcome.text.fromTheAgeOF14" }} {{@root.theme.short_title}} {{$t "firstLogin.welcome.text.canContinueToUse" }}</p>
</section>