{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/lib/spectrum/spectrum.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/spectrum/spectrum.js" type="text/javascript" defer></script>
        <script src="/scripts/spectrum/init.js" type="text/javascript" defer></script>
    {{/content}}


    {{#content "page"}}
        <section class="section-course">
            <form action="{{action}}" method="post">
                <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}"/>

                {{#if method}}
                    <input type="hidden" name="_method" data-force-value="true" value="{{method}}"/>
                {{/if}}

                <div class="form-group">
                    <label>Name des Teams</label>
                    <input class="form-control" data-testid="team_name" name="name" type="text" placeholder="A-Team" value="{{team.name}}"
                           required/>
                </div>

                <div class="form-group">
                    <label>Beschreibung des Teams (optional)</label>
                    <textarea class="form-control" data-testid="description_team" name="description">{{team.description}}</textarea>
                </div>

                {{#inArray "rocketChat" schoolData.features}}
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="rocketChat" value="true" {{#inArray "rocketChat" ../team.features}}checked{{/inArray}}>
                            Messenger für Team aktivieren
                        </label>
                    </div>
                {{/inArray}}

                {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="videoconference" value="true" {{#inArray "videoconference" @root.team.features}}checked{{/inArray}}
                                {{#inArray "videoconference" @root.schoolData.features}} {{else}} disabled {{/inArray}}>
                            Videokonferenzen für Team aktivieren
                        </label>
                        {{#inArray "videoconference" @root.schoolData.features}}
                        {{else}} 
                        <small class="form-text text-muted">
                            Videokonferenzen sind an deiner Schule nicht erlaubt. Wende dich an deinen Schul-Administrator, um diese Option zu ermöglichen.
                        </small>
                        {{/inArray}}
                    </div>
                {{/ifConfig}}

                <div class="form-group">
                    <label>Farbe des Teams:</label>
                    <input name="color" type="color"
                           value="{{#if team.color}}{{team.color}}{{else}}#d32f2f{{/if}}" required/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancel">
                        {{closeLabel}}
                    </button>
                    {{> "lib/components/csrfInput"}}
                    <button type="submit" data-testid="create_team_btn" class="btn btn-primary btn-submit">
                        {{submitLabel}}
                    </button>
                </div>
            </form>

            {{#embed "lib/components/modal-cancel" class="cancel-modal"}}
            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
