{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/teams/teams.css"/>
        <link rel="stylesheet" href="/styles/homework/homework.css"/>
        <link rel="stylesheet" href="/styles/teams/team.css"/>
        <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/jquery/jquery-ui.min.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/jquery/jquery.ui.touch-punch.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/teamMembers.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        {{#if method}}
            <input type="hidden" name="_method" data-force-value="true" value="{{method}}"/>
        {{/if}}

        <div id="roles" data-roles="{{roles}}"></div>

        <section class="section-course section-team-members">
            <div class="container-fluid">
                <div class="row">
                    {{#inArray "ADD_SCHOOL_MEMBERS" permissions}}
                        <div class="col-sm-6">
                            <p>{{$t "teams._team.members.text.addTeacherOrStudentFromYourSchool"}}</p>
                            <button data-testid="internal_team_members" class="btn btn-primary btn-add-member padding-bottom">
                                {{$t "teams._team.members.button.addInternMembers"}}
                            </button>
                        </div>
                    {{/inArray}}

                    {{#inArray "INVITE_EXPERTS" permissions}}
                        {{#inArray "TEAM_INVITE_EXTERNAL" ../rolePermissions}}
                            <div class="col-sm-6">
                                <p>{{$t "teams._team.members.text.inviteTeachersAndExpertsByEmail"}}</p>
                                <button class="btn btn-primary btn-invite-external-member">
                                    {{$t "teams._team.members.button.addExternMembers"}}
                                </button>
                            </div>
                        {{/inArray}}
                    {{/inArray}}
                </div>
            </div>

            {{#ifCond (arrayLength bodyInvitations) '>' 0}}
                <h2 class="h4" style="margin-top: 2rem" class="padding-top">{{$t "teams._team.members.headline.pendingInvitations"}}</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=../headInvitations body=../bodyInvitations}}
                        </div>
                    </div>
                </div>
            {{/ifCond}}

            <h2 class="h4 padding-top">
                {{$t "teams._team.members.headline.member" (dict "count" (arrayLength body))}}
            </h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        {{> "lib/components/table" head=head body=body}}
                    </div>
                </div>
            </div>

            {{#if bodyClasses}}
                <h2 class="h4 padding-top">
                    {{$t "teams._team.members.headline.class" (dict "count" (arrayLength bodyClasses))}}

                </h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=headClasses body=bodyClasses}}
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#embed "lib/components/modal-form" action=addMemberAction class="add-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-add-member" teamId=../_id users=users}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=editMemberAction class="edit-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-edit-member" roles=roles}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=deleteInvitationAction class="delete-invitation-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-delete-invitation"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=resendInvitationAction class="resend-invitation-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-resend-invitation"}}
                {{/content}}
            {{/embed}}

            {{#inArray "TEAM_INVITE_EXTERNAL" rolePermissions }}
                {{#embed "lib/components/modal-form" action=inviteExternalMemberAction class="invite-external-member-modal"}}
                    {{#content "fields"}}
                        {{> "teams/forms/form-invite-external-member" teamId=../../_id roles=rolesExternal federalStates=../../federalStates}}
                    {{/content}}
                {{/embed}}
            {{/inArray}}

            {{#embed "lib/components/modal-form" action=deleteMemberAction class="delete-member-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-delete-member"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" action=deleteMemberAction class="delete-class-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-delete-class"}}
                {{/content}}
            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
