
{{#extend "lib/loggedin"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/files/files.css"/>
        <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css"/>
        <style>
            .section-teams .section-news .container-fluid {
                padding: 0;
            }
            .section-teams h4 {
                margin-bottom: 1rem;
            }
            .section-teams .lead:empty {
                margin-bottom: 0
            }
            .section-teams > section {
                margin-top: 3rem
            }
            .section-teams .files {
                margin-bottom: 10px;
            }

            .create-course-event, .create-team-event {
                label {
                    margin-right: 0.5rem;
                }
                .toggle {
                    height: 2rem !important;
                    width: 7rem !important;
                    .toggle-handle {
                        width: 0.3rem !important;
                        background: whitesmoke !important;
                    }
                }

                .off {
                    background: grey !important;
                    label {
                        color: whitesmoke !important;
                        padding-left: 48px !important;
                    }
                }

                .on {
                    label {
                        padding-right: 48px !important;
                    }
                }
            }
        </style>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/jquery/jquery-ui.min.js" type="text/javascript" defer></script>
        <script src="/scripts/jquery/jquery.ui.touch-punch.js" type="text/javascript" defer></script>
        <script src="/scripts/files.js" type="text/javascript" defer></script>
        <script src="/scripts/teams.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        <section class="section-teams" data-id="{{../_id}}">

            <div class="row description">
                <div class="col-sm-12">
                    <p class="lead">{{description}}</p>
                </div>
            </div>

            <section style="margin-top: 2rem" class="row">
                <div class="col-sm-12">
                    <h4>Teilnehmer</h4>
                    <p>
                      Im Team
                      {{#ifCond (arrayLength course.userIds) '==' 1}} befindet {{/ifCond}}
                      {{#ifCond (arrayLength course.userIds) '>' 1}} befinden {{/ifCond}}
                      sich <strong>{{arrayLength course.userIds}}</strong>
                      {{#ifCond (arrayLength course.userIds) '>=' 1}} Teilnehmer {{/ifCond}}
                    </p>
                    <a href="/teams/{{_id}}/members" class="btn btn-add btn-secondary">
                        Zur Teilnehmer-Übersicht
                    </a>
                </div>
            </section>

            <section class="row">
                <div class="col-sm-12">
                    <h4>News</h4>
                    {{> 'dashboard/components/card_section' section-id="news" title="" content=news link-text="Weiterlesen"}}
                    <a href="/teams/{{../_id}}/news" class="btn btn-add btn-secondary">
                        Zur News-Übersicht
                    </a>
                    {{#inArray "CREATE_NEWS" permissions}}
                        <a href="/teams/{{../_id}}/news/new" class="btn btn-add btn-primary">
                            News anlegen
                        </a>
                    {{/inArray}}
                </div>
            </section>

            <section class="directories">
                <h4>Ordner</h4>
                <div class="row">
                    {{#each directories}}
						<div class="col-sm-6 col-xs-12 col-md-4">
							<div class="card card-block folder" onclick="location.href = '/files/teams/{{../_id}}?dir={{this._id}}';">
								<strong class="card-title-directory">
									<i class="fa fa-folder" aria-hidden="true"></i> {{this.name}}
								</strong>
                                {{#userHasPermission "FOLDER_DELETE"}}
								<a href="/files/directory/"
								   target="_blank"
								   data-method="delete"
                                   title="Ordner löschen"
								   data-file-name="{{../this.name}}"
								   data-file-key="{{../this.path}}">
									<i class="fa fa-trash-o pull-right"></i>
								</a>

                                <a href="/directoryModel/{{../this._id}}/rename"
								   target="_blank"
								   data-method="dir-rename"
                                   title="Ordner umbenennen"
                                   data-directory-id="{{../this._id}}"
								   data-directory-name="{{../this.name}}"
								   >
									<i class="fa fa-edit pull-right"></i>
								</a>
                                {{/userHasPermission}}
							</div>
						</div>
                    {{/each}}
                </div>
            </section>

            <section style="padding-top: 2rem" class="row">
                <div class="col-sm-12">
                    <h4>Dateien</h4>
                    {{#embed "files/file-viewer"}}{{/embed}}
                    {{#embed "files/files-grid" files=files teamId=../_id}}{{/embed}}
                    <a href="{{filesUrl}}" class="btn btn-add btn-secondary">Zu den Team-Dateien</a>
                    <button class="btn btn-add btn-secondary btn-file-permissions">
                        Freigabe-Einstellungen ändern
                    </button>
                </div>
            </section>

            <section class="row">
                <div class="col-sm-12">
                    <h4>Termine</h4>
                    <div class="row">
                        {{#each ../events}}
                            {{> 'calendar/card' event=this}}
                        {{/each}}
                    </div>
                    <div style="margin-top: .5rem">
                        <a href="/calendar" class="btn btn-add btn-secondary">
                            Zur Termin-Übersicht
                        </a>
                        {{#inArray "CREATE_NEWS" permissions}}
                            <button class="btn btn-add btn-primary btn-create-event">
                                Termin anlegen
                            </button>
                        {{/inArray}}
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-sm-12">
                    <h4>Themen & Aufgaben</h4>
                    <p>Finde alle Themen, Tools und Aufgaben zu diesem Team.</p>
                    <a href="/teams/{{_id}}/topics" class="btn btn-add btn-secondary">
                        Zur Themen-Übersicht
                    </a>
                </div>
            </section>

            <section class="row">
                <div class="col-sm-12">
                    {{#inArray "RENAME_TEAM" permissions}}
                        <h4>Aktionen</h4>
                    {{/inArray}}

                    {{#inArray "RENAME_TEAM" permissions}}
                        <a href="/teams/{{../_id}}/edit" class="btn btn-add btn-primary">Team bearbeiten</a>
                    {{/inArray}}

                    {{#inArray "DELETE_TEAM" permissions}}
                        <a href="/teams/{{../_id}}/"
                           class="btn btn-delete-course btn-secondary"
                           target="_blank"
                           data-method="DELETE"
                           data-name="{{../name}}"
                           redirect="/teams/">Team löschen</a>
                    {{/inArray}}
                </div>
            </section>

            {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
                {{#content "body"}}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">
                            Abbrechen
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            Löschen
                        </button>
                    </div>
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="file-permissions-modal" title="Freigabe-Einstellungen ändern"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-file-permissions"}}
                {{/content}}
            {{/embed}}

            {{#embed "lib/components/modal-form" class="create-event-modal" action=../createEventAction collapseId=1 userId=../userId teamId=../teamId}}
                {{#content "fields"}}
                    {{> "calendar/forms/form-create-event"}}
                {{/content}}
            {{/embed}}
        </section>
    {{/content}}
{{/extend}}
