{{#extend "lib/loggedin"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/courses/course.css" />
<link rel="stylesheet" href="/styles/homework/homework.css" />
<link rel="stylesheet" href="/vendor/jquery/jquery-ui.css" />
{{/content}}

{{#content "scripts" mode="append"}}
    <script src="/scripts/jquery/jquery-ui.min.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/jquery/jquery.ui.touch-punch.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/courses.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/topic.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}

<section class="section-course">

    <div class="row description">
        <div class="col-sm-12">
            <p class="lead">{{description}}</p>
            {{#if nextEvent}}<p class="text-muted">{{$t "teams.topics.text.nextLesson"}}</p>{{/if}}
        </div>
    </div>

    <!-- Themen -->
    <div class="row">
        <div class="col-sm-6">
            {{#userHasPermission "COURSE_EDIT"}}
            <a href="/teams/{{../_id}}/topics/add" class="btn btn-secondary btn-sm pull-right ml-1"
                title="{{$t "teams.topics.button.addTopic"}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="hidden-lg-down">{{$t "teams.topics.button.addTopic"}}</span>
            </a>
            <a href="#" data-courseId="{{../_id}}" class="btn btn-secondary btn-sm pull-right ml-1 btn-import-topic"
                title="{{$t "teams.topics.button.importTopic"}}">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                <span class="hidden-lg-down">{{$t "teams.topics.button.importTopic"}}</span>
            </a>
            {{/userHasPermission}}
            <h2 class="h4">{{$t "teams.topics.headline.subjects"}}</h2>

            <div class="list-group">
                {{#if lessons}}
                <div id="topic-list">
                    {{#each lessons}}
                    {{#unless this.hidden}}
                    <!-- TOPIC IS NOT HIDDEN, teacher and student has access -->
                    <div class="card card-topic locationlink" data-loclink="{{this.url}}"
                        {{#userHasPermission "COURSE_EDIT"}}data-topicId="{{../_id}}" {{/userHasPermission}}>
                        <div class="card-header">
                            <div class="input-group">
                                {{#userHasPermission "COURSE_EDIT"}}
                                <a class="btn btn-secondary btn-sm btn-hidden-toggle" href="{{../_id}}"
                                    title="{{$t "teams.topics.button.hideTopic"}}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {{/userHasPermission}}
                                <p class="topic-label ml-1">{{this.name}}</p>
                                {{#userHasPermission "COURSE_EDIT"}}
                                <div class="right-btn-group">
                                    <a class="delete-topic btn btn-secondary btn-secondary btn-sm"
                                        href="/teams/{{../courseId}}/topics/{{../_id}}" target="_blank"
                                        data-method="DELETE" data-name="{{../name}}" redirect="/teams/{{../courseId}}"
                                        title="{{$t "teams.topics.button.deleteTopic"}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <a class="btn btn-secondary btn-sm move-handle" title="Thema verschieben">
                                        <i class="fa fa-arrows" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}"
                                        class="btn btn-secondary btn-sm btn-create-share" title="Thema teilen">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </a>
                                </div>
                                {{/userHasPermission}}
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <!-- TOPIC IS HIDDEN, just teacher has access -->
                    {{#userHasPermission "COURSE_EDIT"}}
                    <div class="card card-topic locationlink" data-loclink="{{../url}}" data-topicId="{{../_id}}">
                        <div class="card-header">
                            <div class="input-group">
                                <a class="btn btn-secondary btn-sm btn-hidden-toggle" href="{{../_id}}"
                                    title="{{$t "teams.topics.button.displayTopicAgain"}}">
                                    <i class="fa fa-eye-slash"></i>
                                </a>
                                <p class="topic-label ml-1">{{../name}}</p>
                                <div class="right-btn-group">
                                    <a class="delete-topic btn btn-secondary btn-secondary btn-sm"
                                        href="/teams/{{../courseId}}/topics/{{../_id}}" target="_blank"
                                        data-method="DELETE" data-name="{{../name}}" redirect="/teams/{{../courseId}}"
                                        title="{{$t "teams.topics.button.deleteTopic"}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <a class="btn btn-secondary btn-sm move-handle" title="{{$t "teams.topics.button.moveTopic"}}">
                                        <i class="fa fa-arrows"></i>
                                    </a>
                                    <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}"
                                        class="btn btn-secondary btn-sm btn-create-share" title="{{$t "teams.topics.button.shareTopic"}}">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/userHasPermission}}
                    {{/unless}}
                    {{/each}}
                </div>
                {{else}}
                <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                    <span>{{$t "teams.topics.text.noIssues"}}</span>
                </p>
                {{/if}}
            </div>
        </div>

        <!-- Tools -->
        <div class="col-sm-6">
            {{#userHasPermission "TOOL_CREATE" }}
            <a href="/teams/{{../_id}}/tools/add" class="btn btn-secondary btn-sm pull-right ml-1"
                title="{{$t "teams.topics.button.addNewTool"}}">
                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "teams.topics.button.addNewTool"}}</span></a>
            {{/userHasPermission}}
            <h2 class="h4">Tools</h2>

            <div class="list-group">
                {{#if ltiToolIds}}
                {{#each ltiToolIds}}
                <div class="card card-block card-tool locationlink"
                    data-loclink="/teams/{{../_id}}/tools/show/{{this._id}}">
                    <p class="card-title-directory">
                        {{#if logo_url}}
                        <img src={{this.logo_url}} class="float-left" alt="{{$t "partner.img_alt.logo"}}" />
                        {{else}}
                        <img src="/images/cloud.png" class="float-left" alt="{{$t "partner.img_alt.logo"}}" />
                        {{/if}}
                        <span>{{this.name}}</span>

                        {{#userHasPermission "TOOL_CREATE" }}
                        <a class="delete-tool" href="/teams/{{../../_id}}/tools/delete/{{../_id}}" target="_blank"
                            data-method="DELETE" data-name="{{../name}}">
                            <i class="fa fa-trash-o" aria-label="{{$t "courses._course.topic.text.deleteTopic"}}"></i>
                        </a>
                        {{/userHasPermission}}
                    </p>
                </div>
                {{/each}}
                {{else}}
                <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
                    <span>{{$t "teams.topics.text.noTools"}}</span>
                </p>
                {{/if}}
            </div>

        </div>
    </div>
    <hr />
    <!-- Gruppen -->
    <div class="row">
        <div class="col-sm-12">
            {{#userHasPermission "COURSEGROUP_CREATE"}}
            <a href="/teams/{{../../_id}}/groups/add" class="btn btn-secondary btn-sm pull-right ml-1"
                title="{{$t "teams.topics.button.addGroup"}}">
                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "teams.topics.button.addGroup"}}</span>
            </a>
            {{/userHasPermission}}
            <a data-toggle="collapse" class="collapse-toggle" href="#courseGroups">
                <h2 class="h4">
                    <small title="{{$t "teams.topics.headline.collapse/ExpandStudentGroups"}}"><i class="fa fa-chevron-right collapse-icon"
                            aria-hidden="true"></i></small>
                    {{$t "teams.topics.text.schoolGroups"}} 
                    <small>{{$t "teams.topics.text.group"}}</small>
                </h2>
            </a>
            {{!-- <div id="courseGroups" class="container-fluid collapse">
                        <ol class="courseGroup">
                            <div class="row">
                                {{#each courseGroups}}
                                    <div class="col-sm-6 col-xs-12">
                                        {{> 'courses/components/courseGroup-card'}}
                                    </div>
                                {{/each}}
                            </div>
                        </ol>
                    </div> --}}
        </div>
    </div>
    <hr />
    <!--- Aufgaben -->
    <div class="row">
        <div class="col-sm-6 container">
            {{#userHasPermission "COURSE_EDIT" }}
            <a href="/homework/new?course={{../_id}}" class="btn btn-secondary btn-sm pull-right ml-1"
                title="{{$t "global.button.addTask"}}">
                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "global.button.addTask"}}</span>
            </a>
            {{/userHasPermission}}
            <a data-toggle="collapse" class="collapse-toggle" href="#homeworks">
                <h2 class="h4">
                    <small title="{{$t "teams.topics.headline.show/HideTask"}}"><i class="fa fa-chevron-right collapse-icon"
                            aria-hidden="true"></i></small>
                    {{$t "global.headline.assignedTasks"}}
                    <small>{{{$t "teams.topics.headline.homework" (dict "homeworkLength" arrayLength homeworks)}}}</small>
                </h2>
            </a>
            <div id="homeworks" class="container-fluid collapse">
                <div class="homework">
                    <ol class="row">
                        {{#each homeworks}}
                        {{> 'homework/components/course_overview_card_template'}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {{#userHasPermission "HOMEWORK_CREATE" }}
            <a href="/homework/new?course={{../_id}}&private=true" class="btn btn-secondary btn-sm pull-right ml-1"
                title="{{$t "global.button.addPrivateTask"}}">
                <i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-md-down"> {{$t "global.button.addPrivateTask"}}</span>
            </a>
            {{/userHasPermission}}
            <a data-toggle="collapse" class="collapse-toggle" href="#myhomeworks">
                <h2 class="h4">
                    <small title="{{$t "teams.topics.headline.collapse/ExpandMyTasks"}}"><i class="fa fa-chevron-right collapse-icon"
                            aria-hidden="true"></i></small>
                    {{$t "teams.topics.headline.myTasks"}}
                    <small>{{{$t "teams.topics.headline.myHomework" (dict "myHomeworkLength" arrayLength myhomeworks)}}}</small>
                </h2>
            </a>
            <div id="myhomeworks" class="container-fluid collapse">
                <div class="homework">
                    <ol class="row">
                        {{#each myhomeworks}}
                        {{> 'homework/components/course_overview_card_template'}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
    {{#content "body"}}

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close">
            {{$t "global.button.cancel"}}
        </button>

        <button type="submit" class="btn btn-primary btn-submit">
            {{$t "global.headline.delete"}}
        </button>
    </div>
    {{/content}}
    {{/embed}}

    {{!-- {{#embed "lib/components/modal-form" class="invitation-modal"}}
                {{#content "fields"}}
                    {{> "teams/forms/form-invitation"}}
                {{/content}}
            {{/embed}} --}}

    {{#embed "lib/components/modal-form" class="import-modal"}}
    {{#content "fields"}}
    {{> "teams/forms/form-import-topic"}}
    {{/content}}
    {{/embed}}

    {{#embed "lib/components/modal-form" class="share-modal"}}
    {{#content "fields"}}
    {{> "topic/forms/form-share"}}
    {{/content}}
    {{/embed}}

</section>
{{/content}}
{{/extend}}
