<div class="row">
  <div class="col-sm-12">
    {{#ifneq 0 (arrayLength courseGroups)}}
      <div class="course-groups-header">
        {{#userHasPermission "COURSE_EDIT" }}
        Schülergruppen
        {{else}}
        Meine Schülergruppen
        {{/userHasPermission}}
      </div>
      <div id="courseGroups">
        <ol class="courseGroup">
          <div class="row">
            {{#each ../courseGroups}}
            <div class="col-sm-6 col-xs-12">
              {{> 'courses/components/courseGroup-card'}}
            </div>
            {{/each}}
          </div>
        </ol>
      </div>
    {{else}}
      <div class="empty-state">
        <img src="/images/empty-states/groups.svg" alt="Keine erstellte Gruppe" class="image"/>
        {{#userHasPermission "COURSEGROUP_CREATE"}}
          <h2 class="h4">Erstelle eine Gruppe</h2>
          <h3 class="h6 sub-title">
            In Gruppen können sich Teilnehmer*innen innerhalb eines Kurses in Teams aufteilen, z.B. für Gruppenarbeiten.
          </h3>
        {{else}}
          <h2 class="h4 text-muted">Es gibt noch keine Gruppen in diesem Kurs.</h2>
        {{/userHasPermission}}
      </div>
    {{/ifneq}}

    {{#userHasPermission "COURSEGROUP_CREATE"}}
    <div class="add-button">
      <a href="/courses/{{../id}}/groups/add" class="btn btn-primary {{#ifneq 0 (arrayLength ../courseGroups)}}w-100{{else}}btn-empty{{/ifneq}}" title="Gruppe hinzufügen">
        <span>Erstelle eine neue Gruppe</span>
      </a>
    </div>
    {{/userHasPermission}}
  </div>
</div>
