<div class="row">
	<div class="col-sm-12">
		{{#ifneq 0 (arrayLength courseGroups)}}
			<div class="course-groups-header">
				{{#userHasPermission "COURSE_EDIT" }}
						{{$t "courses._course.groups.headline.studentGroups"}}
					{{else}}
						{{$t "courses._course.groups.headline.myStudentGroups"}}
				{{/userHasPermission}}
			</div>
			<div id="courseGroups">
				<ol class="courseGroup">
					<div class="row">
						{{#each ../courseGroups}}
							<div class="col-sm-6 col-xs-12">
								{{> 'courses/components/courseGroup-card'}}
							</div>
						{{/each}}
					</div>
				</ol>
			</div>
		{{else}}
			<div class="empty-state">
				{{> courses/components/svg_groups}}
				<!--<img src="{{getAssetPath '/images/empty-states/groups.svg'}}" alt="{{$t "courses._course.groups.img_alt.noCreatedGroups"}}" class="image course-empty-content-image" />-->

				{{#unless @root.isArchived}}
					{{#userHasPermission "COURSEGROUP_CREATE"}}
						<h2 class="h4">{{$t "courses._course.groups.headline.createGroup"}}</h2>
						<p class="text-muted">
							{{$t "courses._course.groups.text.descriptionCourses"}}
						</p>
					{{else}}
						<h2 class="h4 text-muted">{{$t "courses._course.groups.headline.noGroupsYet"}}</h2>
					{{/userHasPermission}}
				{{else}}
					<h2 class="h4 text-muted">{{$t "courses._course.groups.headline.noGroups"}}</h2>
				{{/unless}}
			</div>
		{{/ifneq}}

		{{#userHasPermission "COURSEGROUP_CREATE"}}
			{{#unless @root.isArchived}}
				<div class="add-button">
					<a href="/courses/{{../id}}/groups/add"
						aria-label="{{$t "courses._course.groups.text.addGroup"}}"
						class="btn btn-primary {{#ifneq 0 (arrayLength ../courseGroups)}}w-100{{else}}btn-empty{{/ifneq}}">
						<span>{{$t "courses._course.groups.button.createNewGroup"}}</span>
					</a>
				</div>
			{{/unless}}
		{{/userHasPermission}}
	</div>
</div>
