<script src="{{getAssetPath '/scripts/all.js'}}" nonce="{{nonceValue}}" type="text/javascript"></script>
<script type="text/javascript" nonce="{{nonceValue}}">
    $(document).ready(function() {
        $("#ltiForm").submit();
    });
</script>
<form id="ltiForm" action="{{url}}" method="post" style="display: none">
    {{#each formData}}
        <input name="{{this.name}}" value="{{this.value}}">
    {{/each}}
	{{#if csrf}}
		{{> "lib/components/csrfInput"}}
	{{/if}}
</form>
