<div class="row">
	<div class="col-sm-12 container">
		{{#if homeworksCount}}
			{{else}}
				<div class="empty-state">
					<img src="/images/empty-states/assignments.svg" alt="{{$t "courses._course.tasks.img_alt.noPosedTasks"}}" class="image" />
					{{#unless @root.isArchived}}
						{{#userHasPermission "COURSE_EDIT" }}
							<h2 class="h4">{{$t "courses._course.tasks.headline.createFirstTask"}}</h2>
							<p class="text-muted">
								{{$t "courses._course.tasks.text.descriptionTasks"}}
							</p>
						{{else}}
							<h2 class="h4 text-muted">{{$t "courses._course.tasks.headline.noTasksPosedYet"}}</h2>
						{{/userHasPermission}}
					{{else}}
						<h2 class="h4 text-muted">{{$t "courses._course.tasks.headline.noTasksPosed"}}</h2>
					{{/unless}}
				</div>
		{{/if}}
{{#if isTeacher}}
			{{#if assignedHomeworks}}
				<section class="section mb-2">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="h5 mb-1 mt-2"><a class="course-link" href="/homework/asked">{{$t "global.headline.assignedTasks"}}</a></h2>
						</div>
					</div>
					<div id="homeworks" class="container-fluid">
						<ol class="homework">
							<div class="row">
								{{#each assignedHomeworks}}
										{{> 'homework/components/course_overview_card_template'}}
								{{/each}}
							</div>
						</ol>
						<a class="pull-right mb-2" href="/homework/archive"><i class="fa fa-archive"></i> {{$t "courses._course.tasks.text.moreArchivedLinkLabel"}}</a>
					</div>
				</section>
			{{/if}}
			{{#if homeworksWithSubmission}}
				<section class="section mb-2">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="h5 mb-1 mt-2"><a class="course-link" href="/homework">{{$t "courses._course.tasks.headline.tasksWithSubmissions"}}</a></h2>
						</div>
					</div>
					<div id="homeworks" class="container-fluid">
						<ol class="homework">
							<div class="row">
								{{#each homeworksWithSubmission}}
									{{> 'homework/components/course_overview_card_template'}}
								{{/each}}
							</div>
						</ol>
						<a class="pull-right mb-2" href="/homework/archive"><i class="fa fa-archive"></i> {{$t "courses._course.tasks.text.moreArchivedLinkLabel"}}</a>
					</div>
				</section>
			{{/if}}
		{{else}}
			{{#if assignedHomeworks}}
				<section class="section mb-2">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="h5 mb-1 mt-2"><a class="course-link" href="/homework/asked">{{$t "global.headline.assignedTasks"}}</a></h2>
						</div>
					</div>
					<div id="homeworks" class="container-fluid">
						<ol class="homework">
							<div class="row">
								{{#each assignedHomeworks}}
										{{> 'homework/components/course_overview_card_template'}}
								{{/each}}
							</div>
						</ol>
						<a class="pull-right mb-2" href="/homework/archive"><i class="fa fa-archive"></i> {{$t "courses._course.tasks.text.moreArchivedLinkLabel"}}</a>
					</div>
				</section>
			{{/if}}
			{{#if homeworksWithSubmission}}
				<section class="section mb-2">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="h5 mb-1 mt-2"><a class="course-link" href="/homework">{{$t "courses._course.tasks.headline.submittedTasks"}}</a></h2>
						</div>
					</div>
					<div id="homeworks" class="container-fluid">
						<ol class="homework">
							<div class="row">
								{{#each homeworksWithSubmission}}
									{{> 'homework/components/course_overview_card_template'}}
								{{/each}}
							</div>
						</ol>
						<a class="pull-right mb-2" href="/homework/archive"><i class="fa fa-archive"></i>{{$t "courses._course.tasks.text.moreArchivedLinkLabel"}}</a>
					</div>
				</section>
			{{/if}}
		{{/if}}
	</div>
	<div class="col-sm-12 add-button">
		{{#userHasPermission "COURSE_EDIT" }}
			{{#unless @root.isArchived}}
				<a href="/homework/new?course={{../_id}}"
					class="btn btn-primary {{#if ../assignedHomeworks}}w-100{{else}}btn-empty{{/if}}"
					title="{{$t "global.button.addTask"}}">
					<span>{{$t "courses._course.tasks.button.createTask"}}</span>
				</a>
			{{/unless}}
		{{/userHasPermission}}
	</div>
</div>
<div class="section-my-tasks">
	<div class="row">
		<div class="col-sm-12 mt-2">
			{{#if isTeacher}}
				{{#userHasPermission "HOMEWORK_CREATE" }}
					{{#unless @root.isArchived}}
						<a href="/homework/new?course={{../_id}}&private=true"
							class="btn btn-secondary btn-sm pull-right ml-1 mt-2" title="{{$t "global.button.addPrivateTask"}}">
							<i class="fa fa-plus" aria-hidden="true"></i>
							<span class="hidden-md-down"> {{$t "global.button.addPrivateTask"}}</span>
						</a>
					{{/unless}}
				{{/userHasPermission}}
				{{#ifneq 0 (arrayLength privateHomeworks)}}
					<h2 class="h5 mb-1 mt-2"><a class="course-link" href="/homework/private">{{$t "global.headline.privateTasks"}}</a></h2>
					<div id="myhomeworks" class="container-fluid">
						<ol class="homework">
							<div class="row">
								{{#each ../privateHomeworks}}
									{{> 'homework/components/course_overview_card_template'}}
								{{/each}}
							</div>
						</ol>
					</div>
				{{/ifneq}}
			{{/if}}
		</div>
	</div>
</div>
