<div class="row">
	<div class="col-sm-12">
		<div class="list-group" data-courseId="{{@root/_id}}">
			{{#if ltiToolIds}}
			{{#each ltiToolIds}}
			<div class="card card-block card-tool {{#if this.isBBB}} bbbTool {{else}} locationlink {{/if}}"
				{{#unless this.isBBB}}
					{{#if this.openNewTab}}
						data-blank="true"
						data-loclink="{{#if this.isLocal}}{{this.url}}{{else}}/courses/{{@root/_id}}/tools/run/{{this._id}}{{/if}}"
					{{else}}
						data-loclink="/courses/{{../_id}}/tools/show/{{this._id}}"
					{{/if}}
				{{/unless}}
			>
				{{#unless this.isBBB}}
				<div class="card-title-directory">
					{{#if logo_url}}
					<img src={{this.logo_url}} class="float-left" />
					{{else}}
					<img src="/images/cloud.png" class="float-left" />
					{{/if}}

					<span>{{this.name}}</span>

					{{#if this.openNewTab}}
						<span style="font-size: 80%;" class="externalLink">({{$t "courses._course.tools.text.opensInNewTab"}})</span>
					{{/if}}

					{{#if this.isBBB}}
					<a class="bbbTool-reload-icon">
						<i class="fa fa-trash"></i>
					</a>
					{{/if}}

					{{#userHasPermission "TOOL_CREATE" }}
					{{#unless @root.isArchived}}
					<a class="delete-tool" href="/courses/{{../../_id}}/tools/delete/{{../_id}}" target="_blank"
						data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../../_id}}/?activeTab=tools">
						<i class="fa fa-trash-o"></i>
					</a>
					{{/unless}}
					{{/userHasPermission}}
				</div>
				{{/unless}}


				{{#if this.isBBB}}
				<div class="card-title-directory bbb-state bbb-guest-inactive-state">
					<img src="/images/tools/bbb/not_started.png" class="float-left" style="width:auto; height:75px;" />
					<span>{{$t "global.text.videoconferenceNotStartedYet"}}</span>
					<a class="bbbTool-info-icon">
						<i class="fa fa-info-circle"></i>
					</a>

					<a class="bbbTool-reload-container">
						<i class="fa fa-repeat bbbTool-reload-icon" style="cursor:pointer;"></i>
					</a>
				</div>

				<div class="card-title-directory bbb-state bbb-moderator-inactive-state">

					<img src="/images/tools/bbb/available.png" class="float-left" style="width:auto; height:75px;" />

					<span>{{$t "courses._course.tools.text.videoConferenceBBB"}}</span>

					{{#userHasPermission "TOOL_CREATE" }}
					{{#unless @root.isArchived}}
					<a class="delete-tool" href="/courses/{{../../_id}}/tools/delete/{{../_id}}" target="_blank"
						data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../../_id}}/?activeTab=tools">
						<i class="fa fa-trash-o"></i>
					</a>
					{{/unless}}
					{{/userHasPermission}}
				</div>

				<div class="card-title-directory bbb-state bbb-running-videoconference-state">

					<img src="/images/tools/bbb/available.png" class="float-left" style="width:auto; height:75px;" />

					<span>{{$t "courses._course.tools.text.videoConferenceBBB"}}</span>
					<span class="pulsating-dot bbbTool-reload-container"></span>

				</div>

				<div class="card-title-directory bbb-state ">
					<img src="/images/tools/bbb/not_started.png" class="float-left" style="width:auto; height:75px;" />
					<span>{{$t "courses._course.tools.text.videoConferenceBBB"}}</span>
				</div>

				{{/if}}

			</div>
			{{/each}}
			{{else}}
			<div class="empty-state">
				{{> courses/components/svg_tools}}
				<!--<img src="/images/empty-states/tools.svg" alt="{{$t "courses._course.tools.img_alt.noAddedTools"}}"
					class="image course-empty-content-image" />-->

				{{#unless @root.isArchived}}
				{{#userHasPermission "TOOL_CREATE" }}
				<h2 class="h4">{{$t "courses._course.tools.headline.addToolToCourse"}}</h2>
				<p class="text-muted">
					{{$t "courses._course.tools.text.descriptionAddToolToCourse"}}
				</p>
				{{else}}
				<h2 class="h4 text-muted">{{$t "courses._course.tools.headline.noToolsYet"}}</h2>
				{{/userHasPermission}}
				{{else}}
				<h2 class="h4 text-muted">{{$t "courses._course.tools.headline.noTools"}}</h2>
				{{/unless}}
			</div>
			{{/if}}
		</div>
	</div>
	<div class="col-sm-12 add-button">
		{{#userHasPermission "TOOL_CREATE" }}
		{{#unless @root.isArchived}}
		<a href="/courses/{{../_id}}/tools/add" aria-label="{{$t "courses._course.tools.text.addNewTool"}}" class="btn btn-primary {{#if ../ltiToolIds}}w-100{{else}}btn-empty{{/if}}"
			title="{{$t "courses._course.tools.text.addNewTool"}}">
			<span>{{$t "courses._course.tools.button.addNewTool"}}</span></a>
		{{/unless}}
		{{/userHasPermission}}
	</div>
</div>
