<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      {{#if ltiToolIds}}
        {{#each ltiToolIds}}
          <div class="card card-block card-tool" onclick="location.href='/courses/{{../_id}}/tools/show/{{this._id}}'">
            <p class="card-title-directory">
              {{#if logo_url}}
                <img src={{this.logo_url}} class="float-left" style="width:auto; height:75px;" />
              {{else}}
                <img src="/images/cloud.png" class="float-left" style="width:auto; height:75px;" />
              {{/if}}
              <span>{{this.name}}</span>

              {{#userHasPermission "TOOL_CREATE" }}
                <a class="delete-tool" href="/courses/{{../../_id}}/tools/delete/{{../_id}}" target="_blank" data-method="DELETE" data-name="{{../name}}">
                  <i class="fa fa-trash-o"></i>
                </a>
              {{/userHasPermission}}
            </p>
          </div>
        {{/each}}
      {{else}}
        <div class="empty-state">
          <img src="/images/empty-states/tools.svg" alt="Keine hinzufügten Tools" class="image"/>
          {{#userHasPermission "TOOL_CREATE" }}
            <h2 class="h4">Füge dem Kurs Tools hinzu</h2>
            <h3 class="h6 sub-title">
              Füge hier interaktive Tools, wie GeoGebra oder CodeOcean, einem Kurs hinzu.
            </h3>
          {{else}}
            <h2 class="h4 text-muted">Es gibt noch keine Tools in diesem Kurs.</h2>
          {{/userHasPermission}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="col-sm-12 add-button">
    {{#userHasPermission "TOOL_CREATE" }}
      <a href="/courses/{{../_id}}/tools/add" class="btn btn-primary {{#if ../ltiToolIds}}w-100{{else}}btn-empty{{/if}}" title="Neues Tool hinzufügen">
        <span>Füge ein neues Tool hinzu</span></a>
    {{/userHasPermission}}
  </div>
</div>
