<div class="row">
  {{#userHasPermission "COURSE_EDIT"}}
    <div class="col-sm-12">
      <a href="#" data-courseId="{{../_id}}" class="btn btn-secondary btn-sm pull-right ml-1 btn-import-topic" title="Thema importieren">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <span>Thema importieren</span>
      </a>
    </div>
  {{/userHasPermission}}
  <div class="col-sm-12">
    <div class="list-group">
      {{#if lessons}}
        <div id="topic-list">
          {{#each lessons}}
            {{#unless this.hidden}}
              <!-- TOPIC IS NOT HIDDEN, teacher and student has access -->
              <div class="card card-topic" onclick="location.href='{{this.url}}'" {{#userHasPermission "COURSE_EDIT"}} data-topicId="{{../_id}}" {{/userHasPermission}}>
                <div class="card-header">
                  <div class="input-group">
                    {{#userHasPermission "COURSE_EDIT"}}
                      <a class="move-handle hidden-xs-down" title="Thema verschieben">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <a class="btn-hidden-toggle" href="{{../_id}}" title="Thema verstecken">
                        <i class="fa fa-eye"></i>
                      </a>
                    {{/userHasPermission}}
                    <p class="topic-label ml-1">{{{stripOnlyScript this.name}}}</p>
                    {{#userHasPermission "COURSE_EDIT"}}
                      <div class="right-btn-group">
                        <a class="delete-topic btn btn-secondary btn-secondary btn-sm btn-icon-card" href="/courses/{{../courseId}}/topics/{{../_id}}" target="_blank" data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../courseId}}"
                          title="Thema löschen">
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/courses/{{../courseId}}/topics/{{../_id}}/edit" class="btn btn-secondary btn-sm btn-icon-card" title="Thema bearbeiten">
                          <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}" class="btn btn-secondary btn-sm btn-create-share btn-icon-card" title="Thema teilen">
                          <i class="fa fa-share-alt"></i>
                        </a>
                      </div>
                    {{/userHasPermission}}
                  </div>
                </div>
              </div>
            {{else}}
              <!-- TOPIC IS HIDDEN, just teacher has access -->
              {{#userHasPermission "COURSE_EDIT"}}
                <div class="card card-topic card-transparent" onclick="location.href='{{../url}}'" data-topicId="{{../_id}}">
                  <div class="card-header">
                    <div class="input-group">
                      <a class="move-handle hidden-xs-down" title="Thema verschieben">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <a class="btn-hidden-toggle" href="{{../_id}}" title="Thema wieder anzeigen">
                        <i class="fa fa-eye-slash"></i>
                      </a>
                      <p class="topic-label ml-1">{{{stripOnlyScript ../name}}}</p>
                      <div class="right-btn-group">
                        <a class="delete-topic btn btn-secondary btn-sm btn-icon-card" href="/courses/{{../courseId}}/topics/{{../_id}}" target="_blank" data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../courseId}}" title="Thema löschen">
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/courses/{{../courseId}}/topics/{{../_id}}/edit" class="btn btn-secondary btn-sm btn-icon-card" title="Thema bearbeiten">
                          <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}" class="btn btn-secondary btn-sm btn-create-share btn-icon-card" title="Thema teilen">
                          <i class="fa fa-share-alt"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {{/userHasPermission}}
            {{/unless}}
          {{/each}}
        </div>
      {{else}}
        <div class="empty-state empty-state-courses">
          <img src="/images/empty-states/topics.svg" alt="Leeres Thema" class="image topic-image"/>
          {{#userHasPermission "COURSE_EDIT"}}
            <h4>Erstelle das erste Thema in deinem Kurs</h4>
            <h6 class="sub-title">
              Füge Texte, Bilder, Videos und andere Materialien zu einem Thema hinzu.
              Ein Thema umfasst eine Unterrichtseinheit oder -stunde innerhalb deines Kurses.
            </h6>
          {{else}}
            <h4 class="text-muted">Es gibt noch keine Themen in diesem Kurs</h4>
          {{/userHasPermission}}
        </div>
      {{/if}}
    </div>
    {{#userHasPermission "COURSE_EDIT"}}
      <div class="add-button">
        <a href="/courses/{{../_id}}/topics/add" class="btn btn-add {{#if ../lessons}}btn-secondary w-100{{else}}btn-primary btn-empty{{/if}} center" title="Thema hinzufügen">
          {{#if ../lessons}}
            <span>Weiteres Thema erstellen</span>
            <i class="fa fa-plus-circle plus-icon pull-right"></i>
          {{else}}
            <span>Erstelle eine Thema</span>
          {{/if}}
        </a>
      </div>
      {{#ifeq ../lessons.length 1}}
        <div class="row first-topic">
          <div class="col-sm-2 offset-sm-1">
            <img src="/images/empty-states/news.svg" alt="Geschafft!" class="image mx-auto d-block hidden-xs-down"/>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h5 class="text-muted">Geschafft - Das erste Thema in deinem Kurs!</h5>
            <div class="text-muted">
              Ein Klick auf das Auge macht das Thema sichtbar oder unsichtbar.
            </div>
            <div class="text-muted">
              Du kannst dein Thema jederzeit bearbeiten, verschieben, löschen oder mit anderen {{theme.short_title}} Nutzern teilen.
              Ein Klick auf das Thema bringt dich in die Vorschau-Ansicht.
            </div>
          </div>
        </div>
      {{/ifeq}}
    {{/userHasPermission}}
  </div>
</div>
