<div class="row">
  {{#userHasPermission "COURSE_EDIT"}}
    <div class="col-sm-12">
      <a href="#" data-courseId="{{../_id}}" class="btn btn-secondary btn-sm pull-right ml-1 btn-import-topic" title="Thema importieren">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <span>Thema importieren</span>
      </a>
    </div>
  {{/userHasPermission}}
  <div class="col-sm-12">
    <div class="list-group">
      {{#if lessons}}
        <div id="topic-list">
          {{#each lessons}}
            {{#unless this.hidden}}
              <!-- TOPIC IS NOT HIDDEN, teacher and student has access -->
              <div class="card card-topic" onclick="location.href='{{this.url}}'" {{#userHasPermission "COURSE_EDIT"}} data-topicId="{{../_id}}" {{/userHasPermission}}>
                <div class="card-header">
                  <div class="input-group">
                    {{#userHasPermission "COURSE_EDIT"}}
                      <a class="move-handle hidden-xs-down" title="Thema verschieben">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <a class="btn-hidden-toggle" href="{{../_id}}" title="Thema verstecken">
                        <i class="fa fa-eye"></i>
                      </a>
                    {{/userHasPermission}}
                    <p class="topic-label ml-1">{{{stripOnlyScript this.name}}}</p>
                    {{#userHasPermission "COURSE_EDIT"}}
                      <div class="right-btn-group">
                        <a class="delete-topic btn btn-secondary btn-secondary btn-sm btn-icon-card" href="/courses/{{../courseId}}/topics/{{../_id}}" target="_blank" data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../courseId}}"
                          title="Thema löschen">
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}" class="btn btn-secondary btn-sm btn-create-share btn-icon-card" title="Thema teilen">
                          <i class="fa fa-share-alt"></i>
                        </a>
                      </div>
                    {{/userHasPermission}}
                  </div>
                </div>
              </div>
            {{else}}
              <!-- TOPIC IS HIDDEN, just teacher has access -->
              {{#userHasPermission "COURSE_EDIT"}}
                <div class="card card-topic" onclick="location.href='{{../url}}'" data-topicId="{{../_id}}">
                  <div class="card-header">
                    <div class="input-group">
                      <a class="move-handle hidden-xs-down" title="Thema verschieben">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <a class="btn-hidden-toggle" href="{{../_id}}" title="Thema wieder anzeigen">
                        <i class="fa fa-eye-slash"></i>
                      </a>
                      <p class="topic-label ml-1">{{{stripOnlyScript ../name}}}</p>
                      <div class="right-btn-group">
                        <a class="delete-topic btn btn-secondary btn-sm btn-icon-card" href="/courses/{{../courseId}}/topics/{{../_id}}" target="_blank" data-method="DELETE" data-name="{{../name}}" redirect="/courses/{{../courseId}}" title="Thema löschen">
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="#" data-href="{{../_id}}" data-courseId="{{../courseId}}" class="btn btn-secondary btn-sm btn-create-share btn-icon-card" title="Thema teilen">
                          <i class="fa fa-share-alt"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {{/userHasPermission}}
            {{/unless}}
          {{/each}}
        </div>
      {{else}}
        <p class="text-muted list-group-item list-group-item-action flex-column align-items-start">
          <span>Noch keine Themen</span>
        </p>
      {{/if}}
    </div>
    {{#userHasPermission "COURSE_EDIT"}}
      <a href="/courses/{{../_id}}/topics/add" class="btn btn-add {{#if ../lessons}}btn-secondary{{else}}btn-primary{{/if}} pull-right ml-1 w-100" title="Thema hinzufügen">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Thema hinzufügen</span>
      </a>
    {{/userHasPermission}}
  </div>
</div>
