{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/authentication/home.css"/>
        <link rel="stylesheet" href="/styles/authentication/login.css"/>
    {{/content}}
    {{#content "body"}}
        <main class="container">
            <div class="row">
                <section class="col-md-6 offset-md-3">
                    <section class="card">
                        <div class="card-block">
                            <div class="col-xs-12">
                                {{> "lib/components/notification"}}
                            </div>
                            <div class="text-center">
                                <h2 class="h3">{{title}}</h2>
                                <h3 class="h4">{{subtitle}}</h3>
                            </div>
                            <div class="form-wrapper">
                                <form method="post" class="registration-form" action={{action}}>
									{{> "lib/components/csrfInput"}}
                                    <div class="form-group">
                                        <label>{{$t "login.oauth2.label.weNeedToSendThisData" (dict "client" client)}}</label>
                                        <ul>
                                            {{#each scopes}}
                                                <li>{{this.display}}</li>
                                                <input type="hidden" name="grantScopes" value="{{this.value}}" />
                                            {{/each}}
                                        </ul>
                                    </div>
                                    {{> "lib/components/csrfInput"}}
                                    <input type="submit" class="btn btn-primary btn-block" value="{{buttonLabel}}" />
                                </form>
                            </div>
                        </div>
                    </section>
            </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
