<html>
<head>
    {{#block "styles"}}
        <link rel="preload" href="{{getAssetPath '/fonts/ptsans/ptsans-bold.woff2'}}?v=1.0.0" as="font" type="font/woff2" crossorigin>
	    <link rel="stylesheet" href="{{getAssetPath '/styles/fonts/ptsans.css'}}" />
        <link rel="stylesheet" href="{{getAssetPath '/styles/oauth2/username.css'}}" />
    {{/block}}
    {{#block "scripts" mode="append"}}
        <script src="{{getAssetPath '/scripts/all.js'}}" type="text/javascript" nonce="{{nonceValue}}"></script>
        {{#ifeq depseudonymized false}}
            <script src="{{getAssetPath '/scripts/oauth2.js'}}" type="text/javascript" nonce="{{nonceValue}}"></script>
            <style>.depseudo{cursor:pointer;}</style>
        {{else}}
             <script>
                 $(() => {
                     $(document).on('click', () => {
                         window.parent.postMessage({
                             pseudonym: document.URL.substring(document.URL.lastIndexOf('/') + 1),
                         }, '*');
                     });
                 });
             </script>
        {{/ifeq}}
    {{/block}}
</head>
<body>
<div class="depseudo"><div class="cloud-logo"></div><a title="{{infoText}}">{{shortName}}</a></div>
</body>
</html>
