<html>
<head>
    {{#block "styles"}}
        <link rel="preload" href="{{getAssetPath '/fonts/ptsans/ptsans-bold.woff2'}}" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="{{getAssetPath '/fonts/ptsans/ptsans.css'}}" />
        <link rel="stylesheet" href="{{getAssetPath '/styles/oauth2/username.css'}}" />
    {{/block}}
</head>
<body>
<div class="depseudo"><div class="cloud-logo"></div><a title="{{infoText}}">{{shortName}}</a></div>
</body>
</html>
