{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/administration/users.css'}}" />
{{/content}}
{{#extend "lib/loggedin"}}

{{#content "page"}}
<p>
{{$t "administration.classes.text.signAgreement" (dict "linkPrivacyPolicy" '<a href="{{@root.theme.documents.specificFiles.privacyExemplary}} target="_blank">Datenschutzerklärung</a>' "linkTermsOfUse" '<a href="{{@root.theme.documents.specificFiles.termsOfUseExemplary}}" target="_blank">Nutzungsordnung</a>' "shortTitle" theme.short_title)}}
</p>
<p>
    {{$t "administration.classes.text.nextPageYouWillReceiveConfirmation" }}
</p>
<form method="POST">
    {{#if students}}
    <table class="table table-hover table-bordered">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>{{$t "global.label.dateOfBirth" }}<sup>*</sup></th>
            <th>{{$t "administration.global.label.assignPassword" }} <sup>*</sup></th>
        </tr>
        {{#each students}}
        <tr>
            <td>
                <input name="fullnames" type="text" class="form-control linked" data-force-value="true"
                    value="{{fullname}}" readonly required />
            </td>
            <td>
                <input name="emails" type="text" class="form-control linked" data-force-value="true" value="{{email}}"
                    readonly required />
                <input name="userids" type="hidden" data-force-value="true" value="{{id}}" />
            </td>
            <td>
                {{> "lib/forms/form-date-input" id="birthdays" value=birthday
                    dataMinDate=(datePickerTodayMinus 100 0 0) dataMaxDate=(datePickerTodayMinus 4 0 0) required=true}}
            </td>
            <td>
                <input type="text" name="passwords" class="form-control linked" value={{password}}
                    placeholder="***************" required>
            </td>
        </tr>
        {{/each}}
    </table>
    <sup>*</sup> {{$t "administration.classes.text.required" }}
    {{else}}
    <b>{{$t "administration.classes.text.noLackOfInformedConsent" }} </b>
    {{/if}}
    <div class="modal-footer w-100">
        <button class="btn btn-secondary btn-cancel">
            {{$t "global.button.cancel" }}
        </button>
        {{#if students}}
        {{> "lib/components/csrfInput"}}
        <button type="submit" class="btn btn-primary btn-submit">
            {{$t "administration.classes.button.declareConsentOnBehalfOfTheStudents" }}
        </button>
        {{/if}}
    </div>
</form>

{{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}
{{/content}}
{{/extend}}
