{{#extend "lib/loggedin"}}

    {{#content "scripts" mode="append"}}
        <script src="{{getAssetPath '/scripts/administration/classes/edit.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/classes/classes.css'}}"/>
        <!-- dataprivacy is only used for .recap -->
        <link rel="stylesheet" href="{{getAssetPath '/styles/administration/dataprivacy.css'}}"/>
    {{/content}}

    {{#content "page"}}
        <section class="section-classes-create">
            <form class="create-form" method="post" action="{{action}}">
                {{> "administration/forms/form-classes-edit"}}
                {{> "lib/components/csrfInput"}}
            </form>
        </section>
    {{/content}}
{{/extend}}
