{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/lib/filter/filter.css"/>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/tabbar.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}
    {{#content "page" mode="prepend"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div>
                    <div class="tabContainer" data-active-tab={{showTab}}>
                        <div class="tabs">
                            {{#each classesTabs}}
                                <a class="tab" data-tab="js-{{this.key}}" href="{{this.link}}">
                                    <span class="text">{{this.title}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                    <div class="sectionsContainer"><div class="sections"><div class="section section-course" data-section="js-{{showTab}}"></div></div></div>
                </div>
                <div><feathers-filter id="filter"
                                      filter='{{filterSettings}}'
                                      add-label='{{$t "global.button.filterAdd" }}'
                                      apply-label='{{$t "global.button.filterApply" }}'
                                      cancle-label='{{$t "global.button.cancel" }}'
                                      handle-url='false'
                                      save-state='false'
                /></div>
                <div class="container-fluid ajaxcontent">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body limit=false}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    {{#userHasPermission 'CLASS_CREATE'}}
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <a data-testid="createClass" href="/administration/classes/create" class="btn btn-primary btn-add">
                                {{$t "administration.classes.button.addClass" }}
                            </a>
                        </div>
                    </div>
                    {{else}}
                        {{> "lib/no-create-info"}}
                    {{/userHasPermission}}
                </div>

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-name"}}
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
