{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/administration/course.css"/>
        <link rel="stylesheet" href="/styles/lib/spectrum/spectrum.css"/>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/coursesTimes.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/spectrum/spectrum.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/tabbar.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/spectrum/init.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}
    {{#content "page" mode="prepend"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <div class="tabContainer mb-1" data-active-tab={{activeTab}}>
                                <div class="tabs">
                                    <a class="tab" data-tab="js-active" href="/administration/courses/?activeTab=active">
                                        <span class="text">{{$t "courses.tab_label.currentCourses"}}</span>
                                    </a>
                                    <a class="tab" data-tab="js-archived" href="/administration/courses/?activeTab=archived">
                                        <span class="text">{{$t "courses.tab_label.archivedCourses"}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head limit=true body=coursesBody}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/pagination" settings=pagination }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <a href="/courses/add?redirectUrl=/administration/courses" class="btn btn-primary">
                                {{$t "administration.global.button.addCourse" }}
                            </a>
                        </div>
                    </div>
                </div>

                {{#embed "lib/components/modal-form" body=body method="delete" class="delete-modal"}}
                    {{#content "fields"}}
                        <p>{{$t "administration.global.text.areYouSureYouWantToDeleteTheFollowingCourse" }}</p>
                        <input class="form-control" name="name" type="text" disabled />
                    {{/content}}
                {{/embed}}

            </section>
        </div>
    {{/content}}
{{/extend}}
