{{#extend "lib/loggedin"}}

{{#content "scripts" mode="append"}}
<script src="{{getAssetPath '/scripts/administration/systems/ldap-edit.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "styles" mode="append"}}
{{!--
<link rel="stylesheet" href="/styles/systems/systems.css" /> NOTE: This stylesheet wasn't available on the branch.
Probably delete it.--}}
<!-- dataprivacy is only used for .recap -->
<link rel="stylesheet" href="{{getAssetPath '/styles/administration/dataprivacy.css'}}" />
<link rel="stylesheet" href="{{getAssetPath '/styles/administration/ldap.css'}}" />
<link rel="stylesheet" href="{{getAssetPath '/styles/help/help.css'}}" />
{{/content}}

{{#content "page"}}
<div class="icon-card " id="sprachhinweis">
    <div class="icon-card__content">
        <a class="icon-card__icon" tabindex="-1">
            <i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>
        </a>
        <h2 class="h4 icon-card__title">{{$t "administration.ldapEdit.headline.importantNote" }}</h2>
        <div class="icon-card__body">
            <p>
                {{$t "administration.longText.text.anyChangesToTheFollowingConfiguration" }}
            </p>
            <p>
                {{$t "administration.longText.text.afterVerificationCanPreviewTheReadContent" }}
            </p>
            <p>
            {{{$t "administration.ldapEdit.text.furtherInfoHere" }}}
            </p>
        </div>
    </div>
</div>
<section class="section-classes-create">
    <form class="create-form" id="ldap-form" method="post" action="">
        {{> "administration/forms/form-ldap-edit"}}
        {{> "lib/components/csrfInput"}}
    </form>
</section>
<section id="verifyarea" style="display:none;">
    <h3 class="h5">{{$t "administration.ldapEdit.label.users" }} <a href="#" id="usertoggle">{{$t "administration.ldapEdit.label.hide" }}</a></h3>
    <table class="table table-hover table-bordered" id="userTable" border="1">
        <tr>
            <th>{{$t "global.label.firstNameColon" }}</th>
            <th>{{$t "global.label.lastName" }}</th>
            <th>E-Mail</th>
            <th>uid</th>
            <th>{{$t "administration.controller.label.roles" }}</th>
            <th>{{$t "administration.ldapEdit.label.domainName" }}</th>
            <th>uuid</th>
        </tr>
    </table>
    <h3 class="h5">{{$t "administration.global.label.classes" }} <a href="#" id="classtoggle">{{$t "administration.ldapEdit.label.hide" }}</a></h3>
    <table class="table table-hover table-bordered" id="classTable" border="1">
        <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>{{$t "administration.controller.global.label.classUsers" }}</th>
        </tr>
    </table>
</section>
{{/content}}
{{/extend}}
