{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/administration/school.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/administration/schools.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <!-- Admin View -->
                            {{#userHasPermission 'ADMIN_VIEW'}}
                                    <h5>Schule</h5>

                                <form action="/administration/schools/{{../currentSchool}}" method="post" class="edit-form-school">
                                    <input type="hidden" name="_method" value="patch" />

                                    <div class="form-group">
                                        <label>Name der Schule</label>
                                        <input value="{{../school.name}}" type="text" class="form-control" name="name" placeholder="Einhorn Gymnasium" required />
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Schullogo hochladen</label><br/>
                                        <input type="hidden" name="logo_dataUrl">
                                        <input type="file" id="logo-input">
                                        <label for="logo-input" class="btn btn-secondary">Datei ausw채hlen</label>
                                        <span id="logo-filename">Keine Datei ausgew채hlt</span>
                                        <img id="preview-logo" src="">
                                        <canvas id="logo-canvas" width="35" height="35" class="hidden"></canvas>
                                    </div>

                                    {{#if ../school.fileStorageType}}
                                    <div class="form-group">
                                        <label>Cloud-Storage Anbieter</label>
                                        <select name="fileStorageType" type="text">
                                            {{#each ../provider}}
                                                <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{/if}}

                                    <button type="submit" class="btn btn-primary btn-submit">Speichern</button>

                                </form>

                                {{#if ../school.fileStorageType}}
                                    <div style="padding-top: 20px">
                                        <label>Genutzter Datei-Speicherplatz in der Cloud</label>
                                        <p>Derzeit bezieht Ihre Schule {{writeFileSizePretty ../totalStorage.totalSize}}.</p>
                                    </div>
                                {{/if}}
                            {{/userHasPermission}}

                            <!-- Teacher View -->
                            {{#userHasPermission 'STUDENT_CREATE'}}
                                <div class="row card-deck-row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="card h-100 teacher-option" onclick="location.href='/administration/students'">
                                            <div class="card-block homework">
                                                <div class="card-text">
                                                    <h4><i class="fa fa-user"></i>  Sch체ler verwalten</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="card h-100 teacher-option" onclick="location.href='/administration/teachers/'">
                                            <div class="card-block homework">
                                                <div class="card-text">
                                                    <h4><i class="fa fa-user"></i>  Lehrer verwalten</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="card h-100 teacher-option" onclick="location.href='/administration/classes/'">
                                            <div class="card-block homework">
                                                <div class="card-text">
                                                    <h4><i class="fa fa-user"></i>  Klassen verwalten</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/userHasPermission}}


                        </div>
                    </div>
                </div>
            </section>
            {{#unless school.fileStorageType}}
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                                <form action="/administration/schools/{{currentSchool}}/bucket" method="post" class="edit-form-school">

                                    <div class="form-group">
                                        <label>Cloud-Storage Anbieter</label>
                                        <select name="fileStorageType" type="text">
                                            <option disabled="disabled" selected="selected">Anbieter ausw채hlen</option>
                                            {{#each provider}}
                                                <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-submit">Speichern</button>

                                </form>
                        </div>
                    </div>
                </div>
            </section>
            {{/unless}}
        </div>
    {{/content}}
{{/extend}}
