{{#extend "administration/administration"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/school.css" />
<link rel="stylesheet" href="/styles/administration/progress-static.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/administration/school.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page" mode="prepend"}}
<div class="route-administration">
	<section class="section-school section-default">
		<h2 class="h4">
			{{#if schoolMaintanance.schoolUsesLdap}}
			Schuljahreswechsel
			{{else}}
			Schuljahr: {{../school.currentYear.name}}
			{{/if}}
		</h2>
		<p>
			{{#if schoolMaintanance.schoolUsesLdap}}
			{{#ifeq schoolMaintananceMode "active"}}
			Transferphase
			{{else}}
			Aktuelles Schuljahr: {{../school.currentYear.name}}
			{{/ifeq}}
			{{else}}
			Das neue Schuljahr beginnt in der {{theme.title}} mit der Vorbereitungszeit eine Woche vor Ende der
			Sommerferien.
			Unabhängig davon kannst du jederzeit Änderungen an den Klassen des laufenden, vergangenen und kommenden
			Schuljahres vornehmen.
			{{/if}}
		</p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					{{#if schoolMaintanance.schoolUsesLdap}}
					<p>Nutze die Transferphase rund um den Schuljahreswechsel, um in Ruhe im LDAP Klassenzugehörigkeit
						und Personendaten anzupassen.
						Übernimm abschließend alle Änderungen mit einem Mal in die HPI Schul-Cloud.</p>
					<p><a class="ldapschoolyearadditionalinfotoggle" href="#">Mehr Infos ></a></p>
					<div id="ldapschoolyearadditionalinfo">
						<p>Hintergrund: Damit jeder Schüler und jede Lehrkraft auf Inhalte aus vergangenen Klassen
							(z.B. Klassenfahrtfotos) zugreifen kann, speichert die HPI Schul-Cloud ab, in welchem Schuljahr
							ein Nutzer in welcher Klasse war. Damit das im Zusammenspiel mit deinem LDAP und den daraus
							synchronisierten
							Klassen funktioniert, stellt die HPI Schul-Cloud eine Transferphase zur Verfügung. So ist der
							Ablauf während eines Schuljahreswechsels:
						</p>
						<p class="font-weight-bold">Während des Schuljahres</p>
						<ul>
							<li>neue dazugekommen Nutzer, Klassenzugehörigkeiten und Änderungen von Nutzerdaten werden
								beständig synchronisiert</li>
						</ul>
						<p class="font-weight-bold">Start der Transferphase</p>
						<ul>
							<li>ab zwei Wochen vor Ferienbeginn kannst Du die Transferphase manuell starten</li>
							<li>ist zum Ferienbeginn kein manueller Start erfolgt, beginnt die Transferphase automatisch
							</li>
						</ul>
						<p class="font-weight-bold">Während der Transferphase</p>
						<ul>
							<li>neu dazugekommene Nutzer, Klassen sowie Änderung an bestehenden Daten werden nicht aus
								dem LDAP synchronisiert</li>
							<li class="font-weight-bold">du kannst die notwendigen Änderungen für das neue Schuljahr im
								LDAP vornehmen (neue Nutzer, Update der Klassen)</li>
							<li>der Login via LDAP ist für bestehende Nutzer weiterhin möglich</li>
							<li>Passwortänderungen werden weiterhin synchronisiert</li>
							<li>Kurse mit Lerninhalten für das kommende Schuljahr können auch während der Transferphase
								angelegt werden (ohne Klassenzuordnung)</li>
						</ul>
						<p class="font-weight-bold">Beenden der Transferphase</p>
						<ul>
							<li>beende die Transferphase erst, wenn die Nutzer den neuen Klassen zugeordnet sind</li>
							<li>bei Beenden der Transferphase werden alle im LDAP erfolgten Änderungen auf einen Schlag
								synchronisiert</li>
							<li>gleichzeitig läutest Du damit das neue Schuljahr in der HPI Schul-Cloud ein</li>
							<li>die neuen Klassen werden im Kontext des neuen Schuljahres gespeichert, die alten Klassen
								im Kontext des alten Schuljahres archiviert</li>
						</ul>
						<p class="font-weight-bold">Nach Beenden der Transferphase</p>
						<ul>
							<li>die neuen Klassen können nun zu vorbereiteten Kursen zugeordnet werden</li>
							<li>alle Daten aus dem LDAP werden wie gewohnt synchronisiert, neue Nutzer und Klassen
								können jederzeit dort angelegt werden</li>
						</ul>
					</div>
					{{#ifeq schoolMaintananceMode "idle"}}
					<button type="submit" class="btn btn-primary disabled">
						Schuljahr beenden
					</button>
					<p>Diese Option steht 2 Wochen vor dem Ende des aktuellen Schuljahres zur Verfügung.</p>
					{{else}}
					<p class="font-weight-bold">Zum Schuljahreswechsel mit LDAP führe folgende Aktionen durch:</p>
					<section class="section-course">
						<div class="wizard-card">
							<div class="row">
								<div class="col-xs-4 text-center">
									Altes Schuljahr
								</div>
								<div class="col-xs-4 text-center">
									Rund um die Sommerferien
								</div>
								<div class="col-xs-4 text-center">
									Neues Schuljahr
								</div>
							</div>


							<div class="row stages">
								<div class="col-xs-4 text-center">
									<label id="section-1"
										class="{{#ifeq ../schoolMaintananceMode "standby"}}current{{else}}done{{/ifeq}}">
										{{#ifeq ../schoolMaintananceMode "standby"}}1{{else}}&#x2713;{{/ifeq}}
									</label>
								</div>
								<div class="col-xs-4 text-center">
									<label id="section-2"
										class="{{#ifeq ../schoolMaintananceMode "active"}}current{{/ifeq}}">2</label>
								</div>
								<div class="col-xs-4 text-center">
									<label id="section-3">3</label>
								</div>
							</div>

							<span class="progressbar"></span>
							<div class="row head">
								<div class="col-xs-4">
									<p>Beachte vor der Transferphase:</p>
								</div>
								<div class="col-xs-4">
									<p>Beachte verfügbare Funktionen <br> in der Transferphase:</p>
								</div>
								<div class="col-xs-4">
									<p>Nach Beendung der Transferphase <br> kann deine Schule ins neue Schuljahr
										starten.</p>
								</div>
							</div>
							<div class="row body">
								<div class="col-xs-4">
									<p><i class="fa fa-arrow-right"></i> Du kannst nicht mehr zurück</p>
								</div>
								<div class="col-xs-4">
									<div class="d-flex justify-content-center">
										<p><i class="fa fa-check green"></i> Logins bestehender Nutzer</p>
										<p><i class="fa fa-check green"></i> Kennwortänderungen im LDAP</p>
										<p><i class="fa fa-times red"></i> Änderung von Klassen/neue Klassen</p>
										<p><i class="fa fa-times red"></i> Änderung von Nutzerdaten/neue Nutzer</p>
									</div>
								</div>
								<div class="col-xs-4">
									<p><i class="fa fa-smile-o"></i> Alles erledigt!</p>
								</div>
							</div>
							<form action="/administration/startschoolyear" type="post">
								{{> "lib/components/csrfInput"}}
								<div class="row">
									<div class="col-xs-12 col-md-4 text-center">
										<button {{#ifeq ../schoolMaintananceMode "standby"}}{{else}}disabled{{/ifeq}}
											class="btn btn-primary btn-terminate-school-year">Transferphase
											starten</button>
									</div>
									<div class="col-xs-12 col-md-4 text-center">
										<p><a href="#" id="checkldapdata"
												class="btn btn-primary {{#ifeq ../schoolMaintananceMode "active"}}{{else}}disabled{{/ifeq}}">LDAP-Daten
												überprüfen</a></p>
										<label>
											<input required disabled type="checkbox" id="startldapschoolyear">
											Nutzer- und Klassendaten im LDAP <br> für das neue Schuljahr sind
											bearbeitet.
										</label>
									</div>
									<div class="col-xs-12 col-md-4 text-center">
										<button disabled id="buttonstartldapschoolyear"
											class="btn btn-primary">Transferphase beenden</button>
									</div>
								</div>
							</form>
						</div>
					</section>
					{{/ifeq}}
					{{/if}}
				</div>
			</div>
		</div>

		{{#embed "lib/components/modal-form" action="/administration/terminateschoolyear" method="post" class="terminate-school-year-modal"}}
		{{#content "fields"}}
		{{> "administration/forms/form-terminate-school-year"}}
		{{/content}}
		{{/embed}}
	</section>

	<section class="section-school section-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					<!-- Admin View -->
					{{#userHasPermission 'ADMIN_VIEW'}}
					<h2 class="h4">Schule</h2>

					<form action="/administration/schools/{{../currentSchool}}" method="post" class="edit-form-school">
						<input type="hidden" name="_method" value="patch" />
						<div class="form-group">
							<label>Name der Schule</label>
							<input value="{{../school.name}}" type="text" class="form-control" name="name"
								placeholder="Einhorn Gymnasium" {{#if ../schoolUsesLdap}} readonly{{/if}}
								{{#if ../isExpertSchool}} readonly{{/if}} {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
								readonly{{/userHasPermission}} required />
						</div>

						<div class="form-group">
							<label>Schullogo hochladen</label><br />
							<input type="hidden" name="logo_dataUrl">
							<input type="file" id="logo-input">
							<label for="logo-input" class="btn btn-secondary">Datei auswählen</label>
							<span id="logo-filename">Keine Datei ausgewählt</span>
							<img id="preview-logo" src="">
							<canvas id="logo-canvas" width="35" height="35" class="hidden"></canvas>
						</div>

						{{#ifConfig "FEATURE_ADMIN_TOGGLE_STUDENT_VISIBILITY" "enabled"}}
							<h2 class="h6 mt-2">Datenschutz-Einstellungen</h2>
							<div class="form-group">
								<label>
									<input type="checkbox" name="studentVisibility" value="true"
										{{#if ../studentVisibility}}checked{{/if}}>
									Sichtbarkeit von Schüler:innen für Lehrkräfte aktivieren <i class="fa fa-eye"></i>
									<p class="text-muted">
										Die Aktivierung dieser Option hat datenschutzrechtlich eine hohe Schwelle. Um die Sichtbarkeit aller Schülerinnen und Schüler der Schule für jeden Lehrer zu aktivieren, ist es erforderlich, dass jede Schülerin und jeder Schüler wirksam in diese Datenverarbeitung eingewilligt hat.
									</p>
								</label>
							</div>
						{{/ifConfig}}

						{{#ifConfig "FEATURE_MESSENGER_SCHOOL_SETTINGS_VISIBLE" true}}
							<div class="form-group">
								<label>
									<input
										id="messenger"
										type="checkbox"
										name="messenger"
										value="true"
										{{#inArray "messenger" ../school.features}}checked{{/inArray}}
										{{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
											{{#userHasPermission 'SCHOOL_CHAT_MANAGE'}}{{else}}
												disabled
											{{/userHasPermission}}
										{{/userHasPermission}}
                                    />
									Chatfunktion aktivieren
									<p class="text-muted">
										Sind Chats an deiner Schule aktiviert, können Team-Administratoren
										im jeweiligen Team sowie Lehrer in ihren Kursen die Chatfunktion gezielt freischalten.
									</p>
								</label>
							</div>

							{{#ifConfig "FEATURE_MESSENGER_SCHOOL_ROOM_ENABLED" true}}
								<div id="messenger-sub-options">
									<div class="form-group">
										<label>
											<input
												type="checkbox"
												name="messengerSchoolRoom"
												value="true"
												{{#inArray "messengerSchoolRoom" ../school.features}}checked{{/inArray}}
												{{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
													{{#userHasPermission 'SCHOOL_CHAT_MANAGE'}}{{else}}
														disabled
													{{/userHasPermission}}
												{{/userHasPermission}}
											/>
											Chatraum für Ankündigungen an die gesamte Schule anlegen
											<p class="text-muted">
												Der Ankündigungs-Chatraum ermöglicht Schul-Administrator:innen, Nachrichten an die gesamte Schule zu senden.
												Schüler:innen haben in diesem Raum nur Lesezugriff, sehen sich aber gegenseitig und können so private Chats starten.
											</p>
										</label>
									</div>
								</div>
							{{/ifConfig}}
						{{/ifConfig}}

						{{#ifConfig "FEATURE_MESSENGER_SCHOOL_SETTINGS_VISIBLE" false}}
							{{#if @root.ROCKETCHAT_SERVICE_ENABLED}}
								<div class="form-group">
									<label>
										<input type="checkbox" name="rocketchat" value="true"
											{{#inArray "rocketChat" ../school.features}}checked{{/inArray}}>
										Chatfunktion aktivieren
										<p class="text-muted">
											Sind Chats an deiner Schule aktiviert, können Team-Administratoren
											im jeweiligen Team die Chatfunktion gezielt freischalten.
										</p>
									</label>
								</div>
							{{/if}}
						{{/ifConfig}}

						{{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
						<div class="form-group">
							<label>
								<input type="checkbox" name="videoconference" value="true"
									{{#inArray "videoconference" ../../school.features}}checked{{/inArray}}>
								Videokonferenzen für Kurse und Teams aktivieren
								<p class="text-muted">
									Sind Videokonferenzen an deiner Schule aktiviert, können Lehrkräfte
									ihrem Kurs im Bereich Tools das Videokonferenz-Tool hinzufügen und
									dann von dort aus Videokonferenzen für alle Kursteilnehmer starten.
									Team-Administratoren können die Videokonferenzfunktion im jeweiligen
									Team aktivieren. Team-Leiter und Team-Admins können dann Videokonferenzen
									zu Terminen hinzufügen und starten.
								</p>
							</label>
						</div>
						{{/ifConfig}}
						{{#if ../school.fileStorageType}}
						<div class="form-group">
							<label>Cloud-Storage Anbieter</label>
							<select name="fileStorageType" type="text" {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
								disabled{{/userHasPermission}}>
								{{#each ../provider}}
								<option value="{{this.value}}" {{#if this.selected}} selected{{/if}}>{{this.label}}
								</option>
								{{/each}} </select> </div> {{/if}}
						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-submit">Speichern</button>
					</form>

					{{#if ../school.fileStorageType}}
					<div style="padding-top: 20px">
						<label>Genutzter Datei-Speicherplatz in der Cloud</label>
						<p>Derzeit bezieht Ihre Schule {{writeFileSizePretty ../totalStorage.totalSize}}.</p>
					</div>
					{{/if}}
					{{/userHasPermission}}
				</div>
			</div>
		</div>
	</section>
	{{#unless school.fileStorageType}}
	<section class="section-school section-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					<form action="/administration/schools/{{currentSchool}}/bucket" method="post"
						class="edit-form-school">

						<div class="form-group">
							<label>Cloud-Storage Anbieter</label>
							<select name="fileStorageType" type="text">
								<option disabled="disabled" selected="selected">Anbieter auswählen</option>
								{{#each provider}}
								<option value="{{this.value}}" {{#if this.selected}} selected{{/if}}>{{this.label}}
								</option>
								{{/each}}
							</select> </div>

						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-submit">Speichern</button>

					</form>
				</div>
			</div>
		</div>
	</section>
	{{/unless}}
	{{#userHasPermission 'SCHOOL_EDIT'}}
		{{#ifConfig "FEATURE_SCHOOL_POLICY_ENABLED" true}}
		<section class="section-school section-default">
			<h2 class="h4">Datenschutzerklärung</h2>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 no-padding">
						{{> "lib/components/table" head=../policiesHead body=../policiesBody}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 no-padding">
						<button type="submit" class="btn btn-primary btn-add-modal--policy">
							Datenschutzerklärung hinzufügen
						</button>
					</div>
				</div>
			</div>
		</section>
		{{/ifConfig}}

	<section class="section-school section-default">
		<h2 class="h4">Authentifizierung</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					{{> "lib/components/table" head=../systemsHead body=../systemsBody}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 no-padding">
					<form action="/administration/systems/ldap/add" method="POST">
						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-add-modal ">
							System hinzufügen
						</button>
						{{#if ../ldapAddable}}
						<button type="submit" class="btn btn-primary">
							LDAP System hinzufügen
						</button>
						{{/if}}
					</form>
				</div>
			</div>
		</div>
	</section>
	{{/userHasPermission}}

	{{#embed "lib/components/modal-form" method="patch" class="edit-modal" collapseId=1}}
	{{#content "fields"}}
	{{> "administration/forms/form-systems"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" action="/administration/systems/" method="post" class="add-modal"
    collapseId=2}}
	{{#content "fields"}}
	{{> "administration/forms/form-systems"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" body=systemsBody method="delete" class="delete-modal"}}
	{{#content "fields"}}
	{{> "administration/forms/form-delete-alias"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" action="/administration/schools/policy" method="post" class="add-modal--policy"
			 collapseId=3}}
		{{#content "fields"}}
			{{> "administration/forms/form-policy"}}
		{{/content}}
	{{/embed}}


	<section class="section-school section-default">
		<h2 class="h4">RSS-Feeds</h2>
		<div class="container-fluid">
			<div class="row">
				{{#if hasRSS}}
				<div class="col-sm-12 no-padding">
					{{> "lib/components/table" head=rssHead body=rssBody}}
				</div>
				{{else}}
				<p>Es sind noch keine RSS-Feeds hinterlegt.</p>
				{{/if}}
			</div>
			<div class="row">
				<div class="col-sm-12 no-padding">
					<button type="submit" class="btn btn-primary btn-add-modal--rss">
						RSS-Feed hinzufügen
					</button>
				</div>
			</div>
		</div>

		{{#embed "lib/components/modal-form" action="/administration/rss/" method="post" class="add-modal--rss"
        collapseId=3}}
		{{#content "fields"}}
		{{> "administration/forms/form-rss"}}
		{{/content}}
		{{/embed}}

		{{#embed "lib/components/modal-form" body=rssBody method="delete" class="delete-modal--rss"}}
		{{#content "fields"}}
		{{> "administration/forms/form-delete-rss"}}
		{{/content}}
		{{/embed}}

	</section>
</div>
{{/content}}
{{/extend}}
