{{#extend "administration/administration"}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/school.css" />
<link rel="stylesheet" href="/styles/administration/progress-static.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/administration/school.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page" mode="prepend"}}
<div class="route-administration">
	<section class="section-school section-default">
		<h2 class="h4">
			{{#if schoolMaintanance.schoolUsesLdap}}
			{{$t "administration.school.label.schoolYearChange" }}
			{{else}}
			{{$t "administration.school.label.schoolYear" }} {{../school.currentYear.name}}
			{{/if}}
		</h2>
		<p>
			{{#if schoolMaintanance.schoolUsesLdap}}
			{{#ifeq schoolMaintananceMode "active"}}
			{{$t "administration.school.label.transferPhase" }}
			{{else}}
			{{$t "administration.school.label.currentSchoolYear" }} {{../school.currentYear.name}}
			{{/ifeq}}
			{{else}}
			{{$t "administration.longText.text.provideStudentsAndTheirParents" (dict "title" theme.title)}}
			{{/if}}
		</p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					{{#if schoolMaintanance.schoolUsesLdap}}
					<p>{{$t "administration.longText.text.useTheTransferPhaseAroundTheSchool" }}</p>
					<p><a class="ldapschoolyearadditionalinfotoggle" href="#">{{$t "administration.school.link.moreInfo" }} ></a></p>
					<div id="ldapschoolyearadditionalinfo">
						<p>{{$t "administration.longText.text.backroundSoThatEveryStudentAndTeacher" }}
						</p>
						<p class="font-weight-bold">{{$t "administration.school.label.duringTheSchoolYear" }}</p>
						<ul>
							<li>{{$t "administration.longText.text.newUsersClassAffiliations" }}</li>
						</ul>
						<p class="font-weight-bold">{{$t "administration.school.label.startOfTheTransferPhase" }}</p>
						<ul>
							<li>{{$t "administration.longText.text.canStartTheTransferPhase" }}</li>
							<li>{{$t "administration.longText.text.ifThereIsNoManualStart" }}
							</li>
						</ul>
						<p class="font-weight-bold">{{$t "administration.school.label.duringTheTransferPhase" }}</p>
						<ul>
							<li>{{$t "administration.school.text.newUsersClassesAndChanges" }}</li>
							<li class="font-weight-bold">{{$t "administration.school.text.LDAPChanges" }}</li>
							<li>{{$t "administration.school.text.loginViaLDAP" }}</li>
							<li>{{$t "administration.school.text.passwordChanges" }}</li>
							<li>{{$t "administration.school.text.coursesWithLearningContent" }}</li>
						</ul>
						<p class="font-weight-bold">{{$t "administration.school.label.endOfTheTransferPhase" }}</p>
						<ul>
							<li>{{$t "administration.school.text.doNotEndTheTransferPhase" }}</li>
							<li>{{$t "administration.school.text.atTheEndOfTheTransferPhase" }}</li>
							<li>{{$t "administration.school.text.atTheSameTime" }}</li>
							<li>{{$t "administration.school.text.theNewClassesAreSavedInTheContext" }}</li>
						</ul>
						<p class="font-weight-bold">{{$t "administration.school.label.afterTheTransferPhaseEnded" }}</p>
						<ul>
							<li>{{$t "administration.school.text.theNewClassesCanNowBeAssignedt" }}</li>
							<li>{{$t "administration.school.text.allDataFromTheLDAP" }}</li>
						</ul>
					</div>
					{{#ifeq schoolMaintananceMode "idle"}}
					<button type="submit" class="btn btn-primary disabled">
						{{$t "administration.school.button.endSchoolYear" }}
					</button>
					<p>{{$t "administration.school.text.thisOptionIsAvailable" }}</p>
					{{else}}
					<p class="font-weight-bold">{{$t "administration.school.text.atTheEndOfTheSchoolYearWithLDAP" }}</p>
					<section class="section-course">
						<div class="wizard-card">
							<div class="row">
								<div class="col-xs-4 text-center">
									{{$t "administration.school.text.oldSchoolYear" }}
								</div>
								<div class="col-xs-4 text-center">
									{{$t "administration.school.text.allAboutTheSummerVacation" }}
								</div>
								<div class="col-xs-4 text-center">
									{{$t "administration.school.text.newSchoolYear" }}
								</div>
							</div>


							<div class="row stages">
								<div class="col-xs-4 text-center">
									<label id="section-1"
										class="{{#ifeq ../schoolMaintananceMode "standby"}}current{{else}}done{{/ifeq}}">
										{{#ifeq ../schoolMaintananceMode "standby"}}1{{else}}&#x2713;{{/ifeq}}
									</label>
								</div>
								<div class="col-xs-4 text-center">
									<label id="section-2"
										class="{{#ifeq ../schoolMaintananceMode "active"}}current{{/ifeq}}">2</label>
								</div>
								<div class="col-xs-4 text-center">
									<label id="section-3">3</label>
								</div>
							</div>

							<span class="progressbar"></span>
							<div class="row head">
								<div class="col-xs-4">
									<p>{{$t "administration.school.label.noteBeforeTheTransferPhase" }}</p>
								</div>
								<div class="col-xs-4">
									<p>{{$t "administration.school.label.noteAvailableFunction" }} <br> {{$t "administration.school.label.inTheTransferPhase" }}</p>
								</div>
								<div class="col-xs-4">
									<p>{{$t "administration.school.label.afterTheTransferPhaseEnded" }}<br> {{$t "administration.school.label.yourSchoolCanStartNewSchool" }}
										{{$t "administration.school.button.start" }}</p>
								</div>
							</div>
							<div class="row body">
								<div class="col-xs-4">
									<p><i class="fa fa-arrow-right"></i>{{$t "administration.school.label.youCantGoBack" }}</p>
								</div>
								<div class="col-xs-4">
									<div class="d-flex justify-content-center">
										<p><i class="fa fa-check green"></i> {{$t "administration.school.label.loginFromExistingUsers" }}</p>
										<p><i class="fa fa-check green"></i> {{$t "administration.school.label.passwordChangesInLDAP" }}</p>
										<p><i class="fa fa-times red"></i> {{$t "administration.school.label.changeOfClasses" }}</p>
										<p><i class="fa fa-times red"></i> {{$t "administration.school.label.changeOfUserData" }}</p>
									</div>
								</div>
								<div class="col-xs-4">
									<p><i class="fa fa-smile-o"></i> {{$t "administration.school.text.allDone" }}</p>
								</div>
							</div>
							<form action="/administration/startschoolyear" type="post">
								{{> "lib/components/csrfInput"}}
								<div class="row">
									<div class="col-xs-12 col-md-4 text-center">
										<button {{#ifeq ../schoolMaintananceMode "standby"}}{{else}}disabled{{/ifeq}}
											class="btn btn-primary btn-terminate-school-year">
											{{$t "administration.school.button.startTransferPhase" }}</button>
									</div>
									<div class="col-xs-12 col-md-4 text-center">
										<p><a href="#" id="checkldapdata"
												class="btn btn-primary {{#ifeq ../schoolMaintananceMode "active"}}{{else}}disabled{{/ifeq}}">{{$t "administration.school.button.checkLDAPData" }}</a></p>
										<label>
											<input required disabled type="checkbox" id="startldapschoolyear">
                                            {{{$t "administration.school.label.userAndClassDataInLDAP" }}}
										</label>
									</div>
									<div class="col-xs-12 col-md-4 text-center">
										<button disabled id="buttonstartldapschoolyear"
											class="btn btn-primary">{{$t "administration.school.button.endTransferPhase" }}</button>
									</div>
								</div>
							</form>
						</div>
					</section>
					{{/ifeq}}
					{{/if}}
				</div>
			</div>
		</div>

		{{#embed "lib/components/modal-form" action="/administration/terminateschoolyear" method="post" class="terminate-school-year-modal"}}
		{{#content "fields"}}
		{{> "administration/forms/form-terminate-school-year"}}
		{{/content}}
		{{/embed}}
	</section>

	<section class="section-school section-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					<!-- Admin View -->
					{{#userHasPermission 'ADMIN_VIEW'}}
					<h2 class="h4">{{ $t "global.link.school" }}</h2>

					<form action="/administration/schools/{{../currentSchool}}" method="post" class="edit-form-school">
						<input type="hidden" name="_method" value="patch" />
						<div class="form-group">
							<label>{{$t "administration.school.label.nameOfTheSchool" }}</label>
							<input value="{{../school.name}}" type="text" class="form-control" name="name"
								placeholder="Einhorn Gymnasium" {{#if ../schoolUsesLdap}} readonly{{/if}}
								{{#if ../isExpertSchool}} readonly{{/if}} {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
								readonly{{/userHasPermission}} required />
						</div>

						<div class="form-group">
							<label>{{$t "administration.school.label.uploadSchoolLogo" }}</label><br />
							<input type="hidden" name="logo_dataUrl">
							<input type="file" id="logo-input">
							<label for="logo-input" class="btn btn-secondary">{{$t "global.label.chooseAFile" }}</label>
							<span id="logo-filename">{{$t "administration.school.text.noFileSelected" }}</span>
							<img id="preview-logo" src="">
							<canvas id="logo-canvas" width="35" height="35" class="hidden"></canvas>
						</div>
                        {{> "lib/forms/form-change-language" langParent=../school }}
                        {{#ifConfig "FEATURE_ADMIN_TOGGLE_STUDENT_VISIBILITY_ENABLED" true}}
							<h2 class="h6 mt-2">{{$t "administration.school.label.privacySettings" }}</h2>
							<div class="form-group">
								<label>
									<input type="checkbox" name="studentVisibility" value="true"
										{{#if ../studentVisibility}}checked{{/if}}>
                            {{$t "administration.school.label.studentVisibility" }} <i class="fa fa-eye"></i>
									<p class="text-muted">{{$t "administration.school.label.allStudentsVisibility" }}</p>
								</label>
							</div>
						{{/ifConfig}}

                        {{! Only hide setting from UI and not completly from the DOM to ensure that the configured state is passed back to the server }}
                        <div class="form-group {{#ifConfig "FEATURE_MESSENGER_SCHOOL_SETTINGS_VISIBLE" false}}hidden{{/ifConfig}}">
                            <label>
                                <input
                                    id="messenger"
                                    type="checkbox"
                                    name="messenger"
                                    value="true"
                                    {{#inArray "messenger" ../school.features}}checked{{/inArray}}
                                    {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
                                        {{#userHasPermission 'SCHOOL_CHAT_MANAGE'}}{{else}}
                                            disabled
                                        {{/userHasPermission}}
                                    {{/userHasPermission}}
                                />
                                {{$t "administration.school.label.activeChatFunction" }}
                                <p class="text-muted">
                                    {{$t "administration.school.text.ifChatsAreActivatedAtYourSchool" }}
                                </p>
                            </label>
                        </div>

                        {{! This elements visibility gets toggled by javascript, to only show it if the messenger is enabled }}
                        <div id="messenger-sub-options">
                            {{! Only hide setting from UI and not completly from the DOM to ensure that the configured state is passed back to the server }}
                            <div class="form-group {{#ifConfig "FEATURE_MESSENGER_SCHOOL_SETTINGS_VISIBLE" false}}hidden{{/ifConfig}} {{#ifConfig "FEATURE_MESSENGER_SCHOOL_ROOM_ENABLED" false}}hidden{{/ifConfig}}">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="messengerSchoolRoom"
                                        value="true"
                                        {{#inArray "messengerSchoolRoom" ../school.features}}checked{{/inArray}}
                                        {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
                                            {{#userHasPermission 'SCHOOL_CHAT_MANAGE'}}{{else}}
                                                disabled
                                            {{/userHasPermission}}
                                        {{/userHasPermission}}
                                    />
                                    {{$t "administration.school.label.createChatRoom" }}
                                    <p class="text-muted">
                                    {{$t "administration.school.text.chatRoomPermissions" }}
                                    </p>
                                </label>
                            </div>
                        </div>

                        {{#if @root.ROCKETCHAT_SERVICE_ENABLED}}
                            <div class="form-group {{#ifConfig "FEATURE_MESSENGER_SCHOOL_SETTINGS_VISIBLE" true}}hidden{{/ifConfig}}">
                                <label>
                                    <input type="checkbox" name="rocketchat" value="true"
                                        {{#inArray "rocketChat" ../school.features}}checked{{/inArray}}>
                                    {{$t "administration.school.label.activeChatFunction" }}
                                    <p class="text-muted">
                                        {{$t "administration.school.text.ifChatsAreActivatedAtYourSchoolTeamAdministratorsCan" }}
                                    </p>
                                </label>
                            </div>
                        {{/if}}

						{{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
						<div class="form-group">
							<label>
								<input type="checkbox" name="videoconference" value="true"
									{{#inArray "videoconference" ../../school.features}}checked{{/inArray}}>
								{{$t "administration.school.label.enableVideoConference" }}
								<p class="text-muted">
									{{$t "administration.school.text.ifVideoConferenceAreActivatedAtYourSchool" }}
								</p>
							</label>
						</div>
						{{/ifConfig}}
						{{#if ../school.fileStorageType}}
						<div class="form-group">
							<label>{{$t "administration.school.label.cloudStorageProvider" }}</label>
							<select name="fileStorageType" type="text" {{#userHasPermission 'SCHOOL_EDIT'}}{{else}}
								disabled{{/userHasPermission}}>
								{{#each ../provider}}
								<option value="{{this.value}}" {{#if this.selected}} selected{{/if}}>{{this.label}}
								</option>
								{{/each}} </select> </div> {{/if}}
						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-submit">{{$t "global.button.save" }}</button>
					</form>

					{{#if ../school.fileStorageType}}
					<div style="padding-top: 20px">
						<label>{{$t "administration.school.label.fileStorageSpaceUsedInCloud" }}</label>
						<p>{{$t "administration.school.text.yourSchoolIsCurrentlyDrawing" }} {{writeFileSizePretty ../totalStorage.totalSize}}.</p>
					</div>
					{{/if}}
					{{/userHasPermission}}
				</div>
			</div>
		</div>
	</section>
	{{#unless school.fileStorageType}}
	<section class="section-school section-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					<form action="/administration/schools/{{currentSchool}}/bucket" method="post"
						class="edit-form-school">

						<div class="form-group">
							<label>{{$t "administration.school.label.cloudStorageProvider" }}</label>
							<select name="fileStorageType" type="text">
								<option disabled="disabled" selected="selected">{{$t "administration.school.label.selectProvider" }}</option>
								{{#each provider}}
								<option value="{{this.value}}" {{#if this.selected}} selected{{/if}}>{{this.label}}
								</option>
								{{/each}}
							</select> </div>

						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-submit">{{$t "global.button.save" }}</button>

					</form>
				</div>
			</div>
		</div>
	</section>
	{{/unless}}
	{{#userHasPermission 'SCHOOL_EDIT'}}
		{{#ifConfig "FEATURE_SCHOOL_POLICY_ENABLED" true}}
		<section class="section-school section-default">
			<h2 class="h4">{{$t "global.text.dataProtection" }}</h2>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 no-padding">
						{{> "lib/components/table" head=../policiesHead body=../policiesBody}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 no-padding">
						<button type="submit" class="btn btn-primary btn-add-modal--policy">
                             {{$t "administration.school.label.dataProtectionAdd" }}
						</button>
					</div>
				</div>
			</div>
		</section>
		{{/ifConfig}}

	<section class="section-school section-default">
		<h2 class="h4">{{$t "administration.school.label.authentication" }}</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 no-padding">
					{{> "lib/components/table" head=../systemsHead body=../systemsBody}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 no-padding">
					<form action="/administration/systems/ldap/add" method="POST">
						{{> "lib/components/csrfInput"}}
						<button type="submit" class="btn btn-primary btn-add-modal ">
							{{$t "administration.school.button.addSystem" }}
						</button>
						{{#if ../ldapAddable}}
						<button type="submit" class="btn btn-primary">
							{{$t "administration.school.button.addLDAPSystem" }}
						</button>
						{{/if}}
					</form>
				</div>
			</div>
		</div>
	</section>
	{{/userHasPermission}}

	{{#embed "lib/components/modal-form" method="patch" class="edit-modal" collapseId=1}}
	{{#content "fields"}}
	{{> "administration/forms/form-systems"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" action="/administration/systems/" method="post" class="add-modal"
    collapseId=2}}
	{{#content "fields"}}
	{{> "administration/forms/form-systems"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" body=systemsBody method="delete" class="delete-modal"}}
	{{#content "fields"}}
	{{> "administration/forms/form-delete-alias"}}
	{{/content}}
	{{/embed}}

	{{#embed "lib/components/modal-form" action="/administration/schools/policy" method="post" class="add-modal--policy"
			 collapseId=3}}
		{{#content "fields"}}
			{{> "administration/forms/form-policy"}}
		{{/content}}
	{{/embed}}


	<section class="section-school section-default">
		<h2 class="h4">RSS-Feeds</h2>
		<div class="container-fluid">
			<div class="row">
				{{#if hasRSS}}
				<div class="col-sm-12 no-padding">
					{{> "lib/components/table" head=rssHead body=rssBody}}
				</div>
				{{else}}
				<p>{{$t "administration.school.text.noRssFeedsYet" }}</p>
				{{/if}}
			</div>
			<div class="row">
				<div class="col-sm-12 no-padding">
					<button type="submit" class="btn btn-primary btn-add-modal--rss">
						{{$t "administration.school.button.addRSSFeed" }}
					</button>
				</div>
			</div>
		</div>

		{{#embed "lib/components/modal-form" action="/administration/rss/" method="post" class="add-modal--rss"
        collapseId=3}}
		{{#content "fields"}}
		{{> "administration/forms/form-rss"}}
		{{/content}}
		{{/embed}}

		{{#embed "lib/components/modal-form" body=rssBody method="delete" class="delete-modal--rss"}}
		{{#content "fields"}}
		{{> "administration/forms/form-delete-rss"}}
		{{/content}}
		{{/embed}}

	</section>
</div>
{{/content}}
{{/extend}}
