{{#content "scripts" mode="append"}}
    <script src="/scripts/administration/student_edit.js" type="text/javascript" defer></script>
{{/content}}
{{#content "styles" mode="append"}}
    <link rel="stylesheet" href="/styles/lib/datetimepicker/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="/styles/administration/users.css"/>
{{/content}}
{{#extend "lib/loggedin"}}
    {{#content "page"}}
        <div class="row">
            <div class="col-xl-12">
                <form id="student-form" method="post" action="/administration/students/{{student._id}}">

                    <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vorname: *</label>
                                <input class="form-control" name="firstName" type="text" required value="{{student.firstName}}"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nachname: *</label>
                                <input class="form-control" name="lastName" type="text" required value="{{student.lastName}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username: *</label>
                        <input class="form-control" disabled="true" placeholder="Benutzername" name="displayName" type="text" value="{{student.displayName}}"/>
                    </div>

                    <div class="form-group">
                        <label>Geburtsdatum: *</label>
                        <input class="form-control linked" data-date data-min-date="1990/01/01" data-max-date="2015/01/01" data-start-date="2000/01/01" name="birthday" type="text" required autocomplete="off" value="{{dateToPicker student.birthday}}"/>
                    </div>

                    <div class="form-group">
                        <label>E-Mail Adresse: *</label>
                        <input class="form-control linked" type="email" name="email" placeholder="schueler@schul-cloud.org" value="{{student.email}}" required>
                    </div>

                    <div class="row">
                        <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <Label>Geschlecht: *</Label>
                            <select class="form-control form-control-lg" type="text" name="gender" required>
                                <option value="" disabled {{#unless student.gender}}selected{{/unless}}>Bitte Geschlecht auswählen</option>
                                <option value="male" {{#ifeq student.gender 'male'}}selected{{/ifeq}}>männlich</option>
                                <option value="female" {{#ifeq student.gender 'female'}}selected{{/ifeq}}>weiblich</option>
                                <option value="other" {{#ifeq student.gender 'other'}}selected{{/ifeq}}>anderes</option>
                                <option value="noinfo" {{#ifeq student.gender 'noinfo'}}selected{{/ifeq}}>keine Angabe</option>
                            </select>
                        </div>
                    </div>
                    <p>Die Erhebung erfolgt für Forschung und Optimierung.<br/><br/></p>

                    <button class="btn btn-sm btn-secondary pull-right" id="edit-consent" type="button">bearbeiten <i class="fa fa-edit"></i></button>
                    <h5>Einwilligungen: {{{consentStatusIcon}}}</h5>
                    <div class="row" id="consents-overview">
                        <div class="col-md-6">
                            <h6>Eltern</h6>
                            <input name="parent_consentId" type="hidden" value="{{consent.parentConsent._id}}" disabled/>

                            <label><input name="parent_form" value="analog" type="radio" disabled {{#ifeq consent.parentConsent.form 'analog'}}checked{{/ifeq}}/> Analog</label>
                            <label><input name="parent_form" value="digital" type="radio" disabled {{#ifeq consent.parentConsent.form 'digital'}}checked{{/ifeq}}/> Digital</label> 
                            <br/>
                            <label><input name="parent_privacyConsent" type="checkbox" value="true" disabled {{#if consent.parentConsent.privacyConsent}}checked{{/if}}/> Datenschutz</label><br/>
                            <label><input name="parent_researchConsent" type="checkbox" value="true" disabled {{#if consent.parentConsent.researchConsent}}checked{{/if}}/> Forschung</label><br/>
                            <label><input name="parent_thirdPartyConsent" type="checkbox" value="true" disabled {{#if consent.parentConsent.thirdPartyConsent}}checked{{/if}}/> Drittanbieter</label><br/>
                            <label><input name="parent_termsOfUseConsent" type="checkbox" value="true" disabled {{#if consent.parentConsent.termsOfUseConsent}}checked{{/if}}/> Nutzung</label><br/>
                        </div>
                        <div class="col-md-6">
                            <h6>Schüler</h6>
                            <input name="student_consentId" type="hidden" value="{{consent._id}}" disabled/>

                            <label><input name="student_form" value="analog" type="radio" disabled {{#ifeq consent.userConsent.form 'analog'}}checked{{/ifeq}}/> Analog</label>
                            <label><input name="student_form" value="digital" type="radio" disabled {{#ifeq consent.userConsent.form 'digital'}}checked{{/ifeq}}/> Digital</label> 
                            <br/>
                            <label><input name="student_privacyConsent" type="checkbox" value="true" disabled {{#if consent.userConsent.privacyConsent}}checked{{/if}}/> Datenschutz</label><br/>
                            <label><input name="student_researchConsent" type="checkbox" value="true" disabled {{#if consent.userConsent.researchConsent}}checked{{/if}}/> Forschung</label><br/>
                            <label><input name="student_thirdPartyConsent" type="checkbox" value="true" disabled {{#if consent.userConsent.thirdPartyConsent}}checked{{/if}}/> Drittanbieter</label><br/>
                            <label><input name="student_termsOfUseConsent" type="checkbox" value="true" disabled {{#if consent.userConsent.termsOfUseConsent}}checked{{/if}}/> Nutzung</label><br/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-pw pull-left">Passwort ändern</button>

                        <button class="btn btn-secondary btn-cancel">
                            {{closeLabel}}
                        </button>

                        <button type="submit" class="btn btn-primary btn-submit">
                            {{submitLabel}}
                        </button>
                    </div>
                </form>


                {{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}

                {{#embed "lib/components/modal-form" method="patch" class="pw-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-account-password"}}
                    {{/content}}
                {{/embed}}

            </div>
        </div>

    {{/content}}
{{/extend}}