{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/lib/filter/filter.css'}}"/>
        <link rel="stylesheet" href="{{getAssetPath '/styles/administration/users.css'}}"/>
    {{/content}}
    {{#content "page" mode="prepend"}}
        <div class="route-administration">
            <section class="section-teachers section-default">
                <div><feathers-filter id="filter"
                                      filter='{{filterSettings}}'
                                      add-label='{{$t "global.button.filterAdd" }}'
                                      apply-label='{{$t "global.button.filterApply" }}'
                                      cancle-label='{{$t "global.button.cancel" }}'
                                      handle-url='true'
                                      save-state='true'
                /></div>
                <div class="container-fluid ajaxcontent">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body}}
                        </div>
                    </div>
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>

                    {{#userHasPermission "REQUEST_CONSENTS"}}
                    <div class="row mb-2">
                        <div class="col-sm-12 no-padding">
                            <h2 class="h4">
                                {{$t "administration.global.text.obtainADeclarationConsent" }}
                            </h2>
                            {{#if ../schoolUsesLdap}}
                                <strong>{{$t "administration.teachers.label.passwordsAndDeclarationOfConsent" }}</strong>

                                <p>
                                    {{$t "administration.teachers.text.connectToASchool" (dict "shortTitle" @root.theme.short_title)}}
                                </p>
                            {{else}}
                                <strong>{{$t "administration.teachers.label.inviteTeachersViaLink" }}</strong>
                                <p>
                                {{{$t "administration.teachers.label.linksDistribution" (dict "shortTitle" @root.theme.short_title)}}}

                                </p>
                                <p>{{$t "administration.teachers.text.forAllTeachersWithoutAFullConsentForm" }}</p>
                                <p>
                                    <button data-role="teacher" class="btn btn-secondary btn-send-links-emails">
                                        {{$t "administration.teachers.button.sendLinksToTeacherEmail" }}
                                    </button>
                                    <button data-role="teacher" class="btn btn-secondary btn-print-links">
                                        {{$t "administration.global.button.createLinkSheet" }}
                                    </button>
                                </p>
                                {{#userHasPermission "TEACHER_CREATE"}}
                                <p>
                                    {{$t "administration.teachers.text.alternativeRegistration" }}
                                </p>
                                {{/userHasPermission}}
                            {{/if}}
                        </div>
                    </div>
                    {{/userHasPermission}}

                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{#if schoolUsesLdap}}
                                {{> "lib/ldap-info"}}
                            {{else}}
                                {{#userHasPermission "TEACHER_CREATE"}}
                                    <button type="submit" class="btn btn-primary btn-add-modal">
                                        {{$t "administration.teachers.button.addTeacher" }}
                                    </button>
                                    {{#inArray "Administrator" ../roleNames}}
                                         <a href="/administration/teachers/import" class="btn btn-secondary btn-import">
                                            {{$t "administration.teachers.button.importTeacher" }}
                                        </a>
                                    {{/inArray}}
                                {{else}}
                                    {{> "lib/no-create-info"}}
                                {{/userHasPermission}}
                            {{/if}}
                        </div>
                    </div>
                </div>


                {{#embed "lib/components/modal-form" action="/administration/teachers/" method="post" class="add-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-teachers"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" class="invitation-modal"}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-invitation-teacher"}}
                    {{/content}}
                {{/embed}}
            </section>
        </div>
    {{/content}}
{{/extend}}
