{{#extend "administration/administration"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/administration/course.css"/>
        <link rel="stylesheet" href="/styles/administration/teams.css"/>
        <link rel="stylesheet" href="/styles/lib/spectrum/spectrum.css"/>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/scripts/spectrum/spectrum.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/spectrum/init.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/administration/teams.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}
    {{#content "page" mode="prepend"}}
			{{#ifConfig "STUDENT_TEAM_CREATION" "disabled"}}
			<label>Schüler:innen können keine Teams anlegen.
				<p class="text-muted">Diese Funktionalität ist im zentralen Verzeichnis systemweit aktiviert und kann nicht deaktiviert werden.</p>
			</label>
			{{else}}
			{{#ifConfig "STUDENT_TEAM_CREATION" "enabled"}}
				<label>Schüler:innen können Teams anlegen.
					<p class="text-muted">Diese Funktionalität ist im zentralen Verzeichnis systemweit aktiviert und kann nicht deaktiviert werden.</p>
				</label>
			{{else}}
				<form action="/administration/teams/enablestudents/{{@root.school._id}}" method="post" class="edit-form-school">
            <input type="hidden" name="_method" value="patch" />
            <div class="form-group" id="enableStudentsTeamsCreate">
				<label>
					<input type="checkbox" name="enablestudentteamcreation"
						   value="true"
						{{#ifConfig "STUDENT_TEAM_CREATION" "opt-in"}}
						   {{#ifeq ../school.enableStudentTeamCreation true}}
						   			checked
						   {{/ifeq}}
						{{/ifConfig}}
						{{#ifConfig "STUDENT_TEAM_CREATION" "opt-out"}}
							{{#ifneq ../school.enableStudentTeamCreation false}}
						   			checked
							{{/ifneq}}
						{{/ifConfig}}
					>
					Schüler:innen dürfen Teams anlegen.
					<p class="text-muted">Ist diese Funktion aktiviert, können Schüler:innen selbstständig die Teams-Funktion nutzen und Teams gründen,
						ohne dass eine Lehrkraft beteiligt sein muss. Als weisungsberechtigter Administrator kannst du diese Funktion zentral für die
						gesamte Schule deaktivieren/aktiveren.</p>
				</label>
            </div>
            {{> "lib/components/csrfInput"}}
            <button type="submit" class="btn btn-primary btn-submit">Speichern</button>
        </form>
			{{/ifConfig}}
		{{/ifConfig}}
        <div class="route-administration">
            <section class="section-school section-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            {{> "lib/components/table" head=head body=body }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <center>
                                <b>*Legende:</b>
                                <i class="fa fa-home team-flags"></i>
                                An eigener Schule gegründetes Team &emsp;
                                <i class="fa fa-bus team-flags"></i>
                                Beinhaltet Schul-externe Mitglieder &emsp;
                                <i class="fa fa-briefcase team-flags"></i>
                                Team hat Eigentümer &emsp;
                                <i class="fa fa-comments team-flags"></i>
                                Chat ist aktiviert
                            </center>
                        </div>
                    </div>
                    {{!-- TODO --}}
                    <div class="row">
                        {{> "lib/components/pagination" settings=pagination }}
                    </div>
                    {{!-- <div class="row">
                        <div class="col-sm-12 no-padding">
                            <button type="submit" class="btn btn-primary btn-add-modal">
                                Team hinzufügen
                            </button>
                        </div>
                    </div> --}}
                </div>

                {{#embed "lib/components/modal" class="member-modal"}}
                    {{#content "body"}}
                        <div class="modal-body">
                            <div id="member-modal-body">
                            </div>
                            {{#userHasPermission "COURSE_EDIT"}}
                                <div id='course-edit'></div>
                            {{/userHasPermission}}
                        </div>
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" method="create" class="message-owner-modal" collapseId=1}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-message-owner"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" method="patch" class="select-owner-modal" collapseId=1}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-teams"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" method="patch" class="remove-members-modal" collapseId=1}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-remove-members"}}
                    {{/content}}
                {{/embed}}

                {{#embed "lib/components/modal-form" action="/administration/teams/" method="delete" class="delete-team-modal" collapseId=2}}
                    {{#content "fields"}}
                        {{> "administration/forms/form-delete-name"}}
                    {{/content}}
                {{/embed}}


            </section>
        </div>
    {{/content}}
{{/extend}}
