{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/users.css" />
{{/content}}
{{#extend "lib/loggedin"}}

{{#content "page"}}
<div class="row users-register-complete">
    <div class="col-xl-6">
        <p class="noprint">
            Die Anmeldung an der {{@root.theme.short_title}} ist mit den folgenden Daten möglich.
        </p>
        <p class="noprint">
            <b>Achtung: </b>Du kannst diese Seite nicht erneut aufrufen. Drucke dir also die angezeigten Zugangsdaten
            unbedingt aus oder speichere sie anderweitig.
            Sollte ein Schüler sein Passwort vergessen, kannst du es nur in der Benutzerverwaltung ändern.
        </p>
        <center class="form-group">
            <a href="/administration/students" class="windowprint noprint">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-print"></i> {{$t "administration.button.printListWithAccessData" }}
                </button>
            </a>   
        </center>
        {{#unless single}}
        <div class="printonly">
            <p>Auf dieser Seite findest du eine Übersicht über alle erfolgten Einwilligungen und generierten
                Zugangsdaten. <br>
                Die folgenden Seiten dieses Dokuments beinhalten jeweils die Zugangsdaten eines Kindes und eine
                Anleitung zur ersten Anmeldung. </p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Passwort</th>
                </tr>
                {{#each users}}
                <tr>
                    <td>{{fullname}}</td>
                    <td>{{email}}</td>
                    <td>{{password}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/unless}}

        {{#each users}}
        {{#unless ../single}}
        <div class="pagebreak"> </div>
        {{/unless}}
        <div class="printonly">
            <h1>{{fullname}}</h1>
            <p>Du kannst dich nun in der {{@root.theme.short_title}} mit deinem Startpasswort einloggen.
                Gehe dazu auf <a href="https://schul-cloud.org">
                    <script nonce="{{nonceValue}}">document.write(window.location.origin)</script></a>
                und logge dich dort mit den folgenden Zugansdaten ein:</p>
        </div>
        <textarea disabled class="printable form-control" id="skipRegistrationCredentials">
	{{fullname}}
	E-Mail: {{email}}
	Passwort: {{password}}
		</textarea>
        {{/each}}
        <p class="noprint" style="margin-top: 1em">
            Beim ersten Login muss ein neues Passwort gewählt werden. Schüler,
            die mindestens 14 Jahre alt sind, müssen bei ihrem ersten Login 
            die Einwilligungserklärung zusätzlich selbst erklären. </p>
    </div>
</div>
<div class="row users-register-complete noprint">
    <div class="modal-footer w-50">
        <a class="btn btn-secondary" href={{linktarget}}>
            {{submitLabel}}
        </a>
    </div>
</div>

{{/content}}
{{/extend}}