{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/users.css" />
{{/content}}
{{#extend "lib/loggedin"}}

{{#content "page"}}
<div class="row users-register-complete">
    <div class="col-xl-6">
        <p class="noprint">
            {{$t "administration.users_registrationComplete.text.registrationPossibleWithFollowingData" (dict "shortTitle" @root.theme.short_title )}}
        </p>
        <p class="noprint">
        {{{$t "administration.users_registrationComplete.text.cannotCallPageAgain" }}}
        </p>
        <center class="form-group">
            <a href="/administration/students" class="windowprint noprint">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-print"></i> {{$t "administration.button.printListWithAccessData" }}
                </button>
            </a>
        </center>
        {{#unless single}}
        <div class="printonly">
            <p>{{{$t "administration.users_registrationComplete.text.whatYouCanFind" }}}</p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>{{$t "global.label.password" }}</th>
                </tr>
                {{#each users}}
                <tr>
                    <td>{{fullname}}</td>
                    <td>{{email}}</td>
                    <td>{{password}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/unless}}

        {{#each users}}
        {{#unless ../single}}
        <div class="pagebreak"> </div>
        {{/unless}}
        <div class="printonly">
            <h1>{{fullname}}</h1>
            <p>{{{$t "administration.users_registrationComplete.text.loginWithPassword" (dict "shortTitle" @root.theme.short_title)}}}</p>
        </div>
        <textarea disabled class="printable form-control" id="skipRegistrationCredentials">
	{{fullname}}
	E-Mail: {{email}}
	{{$t "global.label.password" }} {{password}}
		</textarea>
        {{/each}}
        <p class="noprint" style="margin-top: 1em">
            {{$t "administration.users_registrationComplete.text.whenLoginForTheFirstTime" }} </p>
    </div>
</div>
<div class="row users-register-complete noprint">
    <div class="modal-footer w-50">
        <a class="btn btn-secondary" href={{linktarget}}>
            {{submitLabel}}
        </a>
    </div>
</div>

{{/content}}
{{/extend}}
