{{#content "scripts" mode="append"}}
<script src="/scripts/administration/users_edit.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}
{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/users.css" />
{{/content}}
{{#extend "lib/loggedin"}}
{{#content "page"}}
<div class="row">
    <div class="col-xl-12">
        <form id="user-form" method="post" action="{{action}}">

            <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
            <input name="displayName" type="hidden" value="{{user.displayName}}" disabled />
            <input type="hidden" name="referrer" value="{{referrer}}" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{$t "global.label.firstNameColon" }} <sup>*</sup></label>
                        <input class="form-control" name="firstName" type="text" required readonly
                            value="{{user.firstName}}" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{$t "global.label.lastNameColon" }} <sup>*</sup></label>
                        <input class="form-control" name="lastName" type="text" required readonly
                            value="{{user.lastName}}" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label>{{$t "global.label.emailAddress" }} <sup>*</sup></label>
                <input class="form-control linked" type="email" name="email" placeholder="user@schul-cloud.org"
                    value="{{user.email}}" required readonly>
            </div>
            {{#unless editTeacher}}
            <div class="form-group">
                <label>{{$t "global.label.dateOfBirth" }}<sup>*</sup></label>
                <input class="form-control linked" id="birthday" data-date
                    data-min-date="{{datePickerTodayMinus 100 0 0}}" data-max-date="{{datePickerTodayMinus 4 0 0}}"
                    name="birthday" type="text" required value="{{dateToPicker user.birthday "DD.MM.YYYY"}}" />
            </div>
            {{/unless}}
            <div class="form-group">
                <label for="password">{{$t "administration.global.label.assignPassword" }} <sup>*</sup></label>
                <input id="passwd" type="text" name="passwd" value="{{password}}" class="form-control linked"
                    placeholder="***************" required>
            </div>
            <div class="form-group">
                <b>{{$t "administration.users_skipRegistration.text.youGiveTheFollowingConsent" }} </b><br>
                <div class="row" id="consents-overview">

                    {{#unless editTeacher}}
                    <div class="col-md-6">
                        {{$t "administration.global.text.forStudentsUnder" (dict "minAge" age )}}<br />
                        <input name="parent_consentId" type="hidden" value="{{consent.parentConsent._id}}" readonly />

                        <label><input name="parent_form" value="analog" type="radio" checked /> Analog</label>
                        <label><input name="parent_form" value="digital" type="radio" /> Digital</label>
                        <br />
                        <label>
							<input name="parent_privacyConsent" type="checkbox" value="true" checked />
                            {{$t "administration.global.label.dataProtection" }}
						</label><br />
                        <label>
							<input name="parent_termsOfUseConsent" type="checkbox" value="true" checked />
                            {{$t "administration.global.label.termsOfUse" }}
						</label><br />
                    </div>
                    <div class="col-md-6">
                        {{$t "administration.users_skipRegistration.text.forStudentsAgedLimit" (dict "age" age)}}<br />
                        <input name="student_consentId" type="hidden" value="{{consent._id}}" readonly />

                        <label><input name="student_form" value="analog" type="radio" checked /> Analog</label>
                        <label><input name="student_form" value="digital" type="radio" /> Digital</label>
                        <br />
                        <label>
							<input name="privacyConsent" type="checkbox" value="true" data-force-value="true" checked />
                            {{$t "administration.global.label.dataProtection" }}
						</label><br />
                        <label>
							<input name="termsOfUseConsent" type="checkbox" value="true" data-force-value="true" checked />
                            {{$t "administration.global.label.termsOfUse" }}
						</label><br />
                    </div>
                    {{else}}
                    <div class="col-md-6">
                        <input name="consentId" type="hidden" value="{{consent._id}}" readonly />

                        <label><input name="form" value="analog" type="radio" checked /> Analog</label>
                        <label><input name="form" value="digital" type="radio" /> Digital</label>
                        <br />
                        <label>
							<input name="privacyConsent" type="checkbox" data-force-value="true" checked />
                            {{$t "administration.global.label.dataProtection" }}
						</label><br />
                        <label>
							<input name="termsOfUseConsent" type="checkbox" value="true" data-force-value="true" checked />
                            {{$t "administration.global.label.termsOfUse" }}
						</label><br />
                    </div>
                    {{/unless}}
                </div>
            </div>
            <div class="row">
                <div class="modal-footer w-100">
                    <div class="pull-left">
                        <button class="btn btn-secondary btn-cancel">
                            {{closeLabel}}
                        </button>
                    </div>

                    {{> "lib/components/csrfInput"}}

                    <button type="submit" data-testid="submit_consent" class="btn btn-primary btn-submit">
                        {{submitLabel}}
                    </button>
                </div>

            </div>
        </form>
    </div>

    {{#if schoolUsesLdap}}
    {{> "lib/ldap-info"}}
    {{/if}}


    {{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}


</div>


{{/content}}
{{/extend}}
