{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/administration/users.css" />
{{/content}}
{{#extend "lib/loggedin"}}

{{#content "page"}}
<style>
    .printonly {
        display: none;
    }

    @media print {

        aside,
        footer, .mobile-nav-toggle {
            display: none !important;
        }

        .printonly {
            display: block;
        }

        .noprint {
            display: none;
        }

        .pagebreak {
            page-break-before: always;
        }

        table {
            width: 100%
        }
    }
</style>
<div class="row">
    <div class="col-xl-6">
        <p class="noprint">
            Mit den folgenden Daten kann sich nun an der {{@root.theme.short_title}} angemeldet werden. <br>
        </p>
        <p class="noprint">
            <b>Achtung: </b>Du kannst diese Seite nicht erneut aufrufen. Drucke dir also die angezeigten Zugansdaten unbedingt aus oder speichere sie anderweitig. 
            Sollte ein Schüler sein Passwort vergessen, kannst du es nur in der Benutzerverwaltung ändern. 
        </p>
        {{#unless single}}
        <div class="printonly">
            <p>Auf dieser Seite findest du eine Übersicht über alle erfolgten Einwilligungen und generierten Zugangsdaten. <br>
            Die folgenden Seiten dieses Dokuments beinhalten jeweils die Zugangsdaten eines Kindes und eine Anleitung zur ersten Anmeldung. </p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Passwort</th>
                </tr>
                {{#each users}}
                <tr>
                    <td>{{fullname}}</td>
                    <td>{{email}}</td>
                    <td>{{password}}</td>
                </tr>
                {{/each}}


            </table>
        </div>
        {{/unless}}

        {{#each users}}
        {{#unless ../single}}
        <div class="pagebreak"> </div>
        {{/unless}}
        <div class="printonly">
            <h1>{{fullname}}</h1>
            <p>Du kannst dich nun in der {{@root.theme.short_title}} mit deinem Startpasswort einloggen.
                Gehe dazu auf <a href="https://schul-cloud.org">https://schul-cloud.org</a>
                und logge dich dort mit den folgenden Zugansdaten ein:</p>
        </div>
        <textarea disabled class="printable form-control" style="resize: none; height: 80px">
        {{fullname}}
        E-Mail: {{email}} 
        Passwort: {{password}}</textarea>
        {{/each}}
        <p class="noprint" style="margin-top: 1em">Beim ersten Login muss ein neues Passwort gewählt werden. Schüler, die mindestens 14 Jahre
            alt sind, müssen
            beim ersten Login die Einwilligungserklärung zusätzlich selbst bestätigen. </p>
    </div>
</div>
<div class="row noprint">
    <div class="modal-footer w-50">
        <button onclick="window.print()" class="btn btn-secondary" href="/administration/students">
            Schüleranleitungen und Liste drucken
        </button>
        <a class="btn btn-primary" href="/administration/students">
            {{submitLabel}}
        </a>
    </div>
</div>

{{/content}}
{{/extend}}