<a target="_blank" rel="noopener" href="{{article.url}}" class="blog-card">
	<article >
		<img class="thumbnail" alt="{{article.img.title}}" src="{{article.img.src}}">
		<div class="body">
			<h2 class="heading">
				<div class="title">
					{{article.title}}
				</div>
				<small class="pub-date">{{article.pubDate}}</small>
			</h2>
			<p class="description">{{truncatePure (stripHTMLTags article.description) 200}}</p>
		</div>
		<!--
		<div>
			<a class="btn btn-primary btn-outline article-more" target="_blank">
				Artikel öffnen
			</a>
		</div>
		-->
	</article>
</a>
