{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/homepage/index.css" />
{{/content}}

{{#content "scripts" mode="append"}}
<script src="/scripts/login.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
<script nonce="{{nonceValue}}">
    window.production = '{{ @root.production }}';
</script>
<script src="/scripts/sc-blog.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
<script src="/scripts/blog-fetch.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}

<!-- GLOBAL_ANNOUNCEMENT -->
<div class="container container-content">
    {{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
    <div class="notification alert alert-info">
        <div class="notification-content">
            {{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
        </div>
    </div>
    {{/hasConfig}}
</div>

<!-- GHOST (will be replaced by js) -->
<div class="sc-blog">
    <div class="content" style="opacity: 1; transition: opacity 0.7s ease-in 0s;">
        <div class="container">
            <div class="row section-landing flex-container">
                <div class="col-sm-6 col-md-6">
                    <div class="pull-left">
                        <h6 class="font-weight-bold">HPI Schul-Cloud</h6>
                        <h1 class="mb-3">Lernen digital<br>unterstützt</h1>
                        <a class="btn btn-primary mb-3 mb-md-0 hidden-sm-down"
                            href=" https://hpi-schul-cloud.de/community/">Jetzt registrieren</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0"
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/desk_img.jpg"
                            alt="HPI/D. Lässig">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mb-3 section-heading">Das macht die HPI Schul-Cloud aus</h2>
            <div class="row section flex-container section-landing">
                <div class="col-sm-12 col-md-6">
                    <img class="mb-3 mb-md-0"
                        src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/product.png" alt="">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="pull-right">
                        <div class="flex-container mb-1">
                            <img class="check"
                                src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Gemeinsam lernen in digitalen Räumen</p>
                        </div>
                        <div class="flex-container mb-1">
                            <img class="check"
                                src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Lernmaterial, Chat, Aufgaben, Videokonferenzen und mehr</p>
                        </div>
                        <div class="flex-container mb-1">
                            <img class="check"
                                src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Kostenlos für alle Schulen</p>
                        </div>
                        <div class="text-center text-xl-left px-2">
                            <a class="btn btn-outline btn-primary prototype-button"
                                href="mailto:demo@schul-cloud.org?subject=Test-Account für die HPI Schul-Cloud &amp;body=Liebes%20HPI%20Schul-Cloud-Team%2C%0Abitte%20senden%20Sie%20mir%20einen%2014%20Tage%20g%C3%BCltigen%20Testaccount%20kostenlos%20und%20unverbindlich%20zu.%0A%0A%28bitte%20ausf%C3%BCllen%29%3A%0AE-Mail-Adresse%3A%0AVorname%20und%20Nachname%2A%3A%0ASchule%20oder%20Organisation%2A%3A%0ARolle%20in%20dieser%20Schule%20oder%20Organisation%2A%3A%0A%0A___________________________________________%0A%20%0AWas%20ist%20der%20HPI%20Schul-Cloud%20Testaccount%3F%0A%20%0AMit%20der%20HPI%20Schul-Cloud%20k%C3%B6nnen%20Sie%20Ihren%20Unterricht%20datenschutzkonform%20in%20einem%20virtuellen%20Klassenzimmer%20gestalten.%20Sie%20k%C3%B6nnen%20beispielsweise%20Videokonferenzen%20abhalten%2C%20Hausaufgaben%20digital%20aufgeben%20und%20abgeben%2C%20interaktive%20Unterrichtstools%20einbinden%20oder%20Lernmaterialien%20sicher%20recherchieren.%0A%0ADer%2014%20Tage%20g%C3%BCltige%2C%20anonymisierte%20Testaccount%20gibt%20Ihnen%20Gelegenheit%2C%20die%20HPI%20Schul-Cloud%20selbst%20zu%20erkunden.%20Ihnen%20werden%20die%20Zugangsdaten%20werktags%20so%20schnell%20wie%20m%C3%B6glich%20an%20die%20angegebene%20E-Mail-Adresse%20zugesandt.%20Nach%2014%20Tagen%20wird%20Ihr%20Testaccount%20und%20alle%20darin%20enthaltenden%20Daten%20automatisch%20gel%C3%B6scht%2C%20weitere%20Schritte%20von%20Ihrer%20Seite%20sind%20nicht%20erforderlich.%20Detaillierte%20Informationen%20bzgl.%20des%20Datenschutzes%20finden%20Sie%20in%20unseren%20Datenschutzhinweisen%0Ahttps%3A%2F%2Fs3.hidrive.strato.com%2Fschul-cloud-hpi%2Fdemo%2FOnlineeinwilligung%2FDatenschutzerklaerung-Onlineeinwilligung.pdf%0A%0AVielen%20Dank%21%0A___________________________________________%0A%0AMit%20%2A%20gekennzeichnete%20Angaben%20sind%20optional.">


                                Demozugang anfordern
                            </a>
                            <a class="btn btn-primary btn-margin prototype-button" target="_blank"
                                href="https://xd.adobe.com/view/69e99401-3ace-4bf9-9c1b-97e1ae4f82d9-3cba/?fullscreen">
                                Ausprobieren
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mb-3 section-heading">Vorteile der HPI Schul-Cloud</h2>

            <div class="row flex-container mb-3">
                <div class="col-sm-12 col-md-4 text-xs-center">
                    <img class="mb-3 mb-md-0 section-img"
                        src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/people-landing.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-8">
                    <h5 class="heading font-weight-bold ">Gemeinsam mit und für Schulen entwickelt.</h5>
                    <p class="mb-2">Die HPI Schul-Cloud ist auf das optimiert, was Lehrkräfte und Schülerschaft brauchen
                        und kann mit Lernangeboten vieler Anbieter verbunden werden. Gemeinsam mit unseren Nutzer:innen
                        und zahlreichen Partnern in der deutschen Bildungslandschaft entwickeln wir uns weiter!</p>
                    <link><a class="font-weight-bold" href=" https://hpi-schul-cloud.de/about/">Mehr erfahren <i
                            class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-md-4 push-md-8">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0 section-img"
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/computer-landing.svg"
                            alt="">
                    </div>
                </div>
                <div class="col-md-8 pull-md-4">
                    <h5 class="heading font-weight-bold ">Einfach in der Anwendung – jederzeit und überall</h5>
                    <p class="mb-2">Die HPI Schul-Cloud ist sicher, transparent und kann ohne lange Einarbeitung genutzt
                        werden – zeitunabhängig und mit dem eigenen Handy, Tablet oder Computer.</p>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-sm-12 col-md-4 text-xs-center">
                    <img class="mb-3 mb-md-0 section-img"
                        src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/cloud-landing.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-8">
                    <h5 class="heading font-weight-bold ">Datenschutzkonform und sicher</h5>
                    <p class="mb-2">Die HPI Schul-Cloud wird in und für Deutschland entwickelt. Datenschutzkonformer
                        Zugriff auf Lernsoftware, sowie Datensouveränität, sind gesichert.</p>
                    <link><a class="font-weight-bold"
                        href="https://schul-cloud.org/mint-ec/06-datenschutz-und-urheberrecht">Mehr erfahren <i
                            class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-md-4 push-md-8">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0 section-img"
                            src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/hands-landing.svg" alt="">
                    </div>
                </div>
                <div class="col-md-8 pull-md-4">
                    <h5 class="heading font-weight-bold">Digitale Bildung partnerschaftlich gestalten </h5>
                    <p class="mb-2"> Gemeinsam mit starken Partnern wie MINT-EC, dem nationalen
                        Excellence-Schulnetzwerk, entwickelt und gefördert durch das BMBF unterstützt die HPI
                        Schul-Cloud bundesweit den virtuellen Unterricht.</p>
                    <link><a class="font-weight-bold" href="https://hpi-schul-cloud.de/about/">Mehr erfahren <i
                            class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div>
            <section class="section section-tilt">
                <div class="container container-content content-width-max">
                    <div style="text-align: center;">
                        <h2 class="h3 section-title center" style="max-width: 20ch; margin: 0 auto;">
                            Alle Neuigkeiten rund um die HPI Schul-Cloud bequem in Ihrem Postfach:
                        </h2>
                        <a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank"
                            class="btn btn-outline btn-white-outlined mt-2">
                            Newsletter abonnieren
                        </a>
                    </div>
                </div>
            </section>
            <section class="section section-tilt accent">
                <div class="container container-content content-width-max">
                    <div style="text-align: center;">
                        <h2 class="h3 section-title center">
                            Projektpartner:innen
                        </h2>
                        <div class="partners row">
                            <a class="col-sm py-1" href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html"
                                target="_blank" rel="noopener">
                                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg"
                                    alt="Logo HPI" class="partner">
                            </a>
                            <a class="col-sm py-1" href="https://www.mint-ec.de/" target="_blank" rel="noopener">
                                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/mintec-logo.jpg"
                                    alt="Logo MINT-EC" class="partner">
                            </a>
                            <a class="col-sm py-1" href="https://www.bmbf.de/" target="_blank" rel="noopener">
                                <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/bmbf-logo.jpg"
                                    alt="Logo BMBF" class="partner">
                            </a>
                        </div>
                        <div class="partners row">
                            <a class="col-sm py-1" href="https://edu-sharing.com/" target="_blank" rel="noopener">
                                <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/logo-edu-sharing-network-bunt.svg"
                                    alt="Logo HPI" class="partner">
                            </a>
                            <a class="col-sm py-1" href="https://wirlernenonline.de/" target="_blank" rel="noopener">
                                <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/WLO-03.png"
                                    alt="Logo MINT-EC" class="partner">
                            </a>
                            <a class="col-sm py-1" href="https://www.wikimedia.de/" target="_blank" rel="noopener">
                                <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/WMDE_Logo_vertikal_black.png"
                                    alt="Logo BMBF" class="partner">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

<!-- BLOG -->
<script id="blog-card" type="text/x-handlebars-template">
        <a target="_blank" rel="noopener" href="\{{article.url}}" class="blog-card-wrapper">
        <article class="blog-card">
            <img class="thumbnail" alt="\{{article.img.title}}" src="\{{article.img.src}}">
            <div class="body">
                <h2 class="heading">
                    <div class="title">
                        \{{article.title}}
                    </div>
                    <small class="pub-date text-muted">\{{article.pubDate}}</small>
                </h2>
                <p class="description text-dark">\{{truncatePure (stripHTMLTags article.description) 200}}</p>
            </div>
        <div class="mb-1 text-center">
        <span class="open-link">{{$t "home.link.openArticle"}}</span>
        </div>
        </article>
        </a>
        </script>

<script id="blog-entries" type="text/x-handlebars-template">
            \{{#each blogFeed}}
            \{{> "blog-card" article=this}}
            \{{/each}}
        </script>


{{#embed "authentication/section" style="" class=""}}
{{#content "body"}}
<h2 class="h3 section-title center">{{{$t "home.headline.HPISchoolCloudBlog"}}}</h2>
<div class="blog-cards">
    <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true" style="font-size: 25px;"></i>
</div>
<a href="https://blog.hpi-schul-cloud.de" target="scblog" class="blog-link">{{$t "home.link.moreArticles"}}</a>
{{/content}}
{{/embed}}


{{/content}}
{{/extend}}