{{#extend "lib/loggedout"}}

{{#content "styles" mode="append"}}
	<link rel="stylesheet" href="/styles/homepage/index.css" />
{{/content}}

{{#content "scripts" mode="append"}}
	<script src="/scripts/login.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	<script nonce="{{nonceValue}}">
    window.production = '{{ @root.production }}';
  </script>
  <script src="/scripts/sc-blog.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	<script src="/scripts/blog-fetch.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
{{/content}}

{{#content "page"}}

	<!-- GLOBAL_ANNOUNCEMENT -->
	<div class="container container-content">
		{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
			<div class="notification alert alert-info">
				<div class="notification-content">
					{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
				</div>
			</div>
		{{/hasConfig}}
	</div>

	<!-- GHOST (will be replaced by js) -->
    <div class="sc-blog">

        <div class="content" style="opacity: 1; transition: opacity 0.7s ease-in 0s;"><div class="container">
            <div class="row section-landing flex-container">
                <div class="col-sm-6 col-md-6">
                    <div class="pull-left">
                        <h6 class="font-weight-bold">HPI Schul-Cloud</h6>
                        <h1 class="mb-3">Lernen digital<br>unterstützt</h1>
                        <a class="btn btn-primary mb-3 mb-md-0 hidden-sm-down" href="/community">Jetzt registrieren</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/desk_img.jpg" alt="HPI/D. Lässig">
                    </div>
                </div>
            </div>
        </div> <div class="container">
            <h2 class="mb-3 section-heading">Das macht die HPI Schul-Cloud aus</h2>
            <div class="row section flex-container section-landing">
                <div class="col-sm-12 col-md-6">
                    <img class="mb-3 mb-md-0" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/product.png" alt="">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="pull-right">
                        <div class="flex-container mb-1">
                            <img class="check" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Gemeinsam lernen in digitalen Räumen</p>
                        </div>
                        <div class="flex-container mb-1">
                            <img class="check" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Lernmaterial, Aufgaben, Chat, Videokonferenzen und mehr</p>
                        </div>
                        <div class="flex-container mb-1">
                            <img class="check" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/check-icon-1.svg">
                            <p class="ml-1 teaser">Kostenlos für alle Schulen</p>
                        </div>
						<div class="text-xs-center text-md-left">
							<a class="btn btn-primary mt-1" href="mailto:info@schul-cloud.org?subject=Test-Account für die HPI Schul-Cloud
							&body=Liebes HPI Schul-Cloud-Team,%0D%0Abitte senden Sie mir einen 14 Tage gültigen Testaccount kostenlos und unverbindlich zu.%0D%0A %0D%0A(bitte ausfüllen):%0D%0AVorname und Nachname:%0D%0AE-Mail-Adresse:%0D%0ASchule oder Organisation:%0D%0A %0D%0ARolle in dieser Schule oder Organisation:%0D%0A___________________________________________%0D%0A %0D%0AWas ist der HPI Schul-Cloud Testaccount?%0D%0A %0D%0AMit der HPI Schul-Cloud können Sie Ihren Unterricht datenschutzkonform in einem virtuellen Klassenzimmer gestalten. Sie können beispielsweise Videokonferenzen abhalten, Hausaufgaben digital aufgeben und abgeben, interaktive Unterrichtstools einbinden oder Lernmaterialien sicher recherchieren.%0D%0ADer 14 Tage gültige, anonymisierte Testaccount gibt Ihnen Gelegenheit, die HPI Schul-Cloud selbst zu erkunden. Ihnen werden die Zugangsdaten werktags so schnell wie möglich an die angegebene E-Mail-Adresse zugesandt. Nach 14 Tagen wird Ihr Testaccount und alle darin enthaltenden Daten automatisch gelöscht, weitere Schritte von Ihrer Seite sind nicht erforderlich.%0D%0AVielen Dank!">
								Demozugang anfordern
							</a>
                        </div>
					</div>
                </div>
            </div>
        </div> <div class="container">
            <h2 class="mb-3 section-heading">Vorteile der HPI Schul-Cloud</h2>

            <div class="row flex-container mb-3">
                <div class="col-sm-12 col-md-4 text-xs-center">
                    <img class="mb-3 mb-md-0 section-img" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/people-landing.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-8">
                    <h5 class="heading font-weight-bold ">Gemeinsam mit und für Schulen entwickelt.</h5>
                    <p class="mb-2">Die HPI Schul-Cloud ist auf das optimiert, was Lehrkräfte und Schülerschaft brauchen und kann mit Lernangeboten vieler Anbieter verbunden werden. Gemeinsam mit unseren Nutzer:innen und zahlreichen Partnern in der deutschen Bildungslandschaft entwickeln wir uns weiter!</p>
                    <link><a class="font-weight-bold" href="/about">Mehr erfahren <i class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-md-4 push-md-8">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0 section-img" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/computer-landing.svg" alt="">
                    </div>
                </div>
                <div class="col-md-8 pull-md-4">
                    <h5 class="heading font-weight-bold ">Einfach in der Anwendung - jederzeit und überall</h5>
                    <p class="mb-2">Die HPI Schul-Cloud ist sicher, transparent und kann ohne lange Einarbeitung genutzt werden – zeitunabhängig und mit dem eigenen Handy, Tablet oder Computer.</p>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-sm-12 col-md-4 text-xs-center">
                    <img class="mb-3 mb-md-0 section-img" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/cloud-landing.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-8">
                    <h5 class="heading font-weight-bold ">Datenschutzkonform und sicher</h5>
                    <p class="mb-2">Die HPI Schul-Cloud wird in und für Deutschland entwickelt. Datenschutzkonformer Zugriff auf Lernsoftware, sowie Datensouveränität, sind gesichert.</p>
                    <link><a class="font-weight-bold" href="https://schul-cloud.org/mint-ec/06-datenschutz-und-urheberrecht">Mehr erfahren <i class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div>

            <div class="row flex-container mb-3">
                <div class="col-md-4 push-md-8">
                    <div class="text-xs-center text-md-right">
                        <img class="mb-3 mb-md-0 section-img" src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/hands-landing.svg" alt="">
                    </div>
                </div>
                <div class="col-md-8 pull-md-4">
                    <h5 class="heading font-weight-bold">Digitale Bildung partnerschaftlich gestalten </h5>
                    <p class="mb-2"> Gemeinsam mit starken Partnern wie MINT-EC, dem nationalen Excellence-Schulnetzwerk, entwickelt und gefördert durch das BMBF unterstützt die HPI Schul-Cloud bundesweit den virtuellen Unterricht.</p>
                    <link><a class="font-weight-bold" href="/about">Mehr erfahren <i class="fa fa-angle-double-right font-weight-bold"></i></a>
                </div>
            </div> <section class="section section-tilt">
            <div class="container container-content content-width-max">
                <div style="text-align: center;">
                    <h2 class="h3 section-title center" style="max-width: 20ch; margin: 0 auto;">
                        Alle Neuigkeiten rund um die HPI Schul-Cloud bequem in Ihrem Postfach:
                    </h2>
                    <a href="https://hpi.de/open-campus/registrierung/hpi-schul-cloud-newsletter/" target="_blank" class="btn btn-outline btn-white-outlined mt-2">
                        Newsletter abonnieren
                    </a>
                </div>
            </div>
        </section> <section class="section section-tilt accent">
            <div class="container container-content content-width-max">
                <div style="text-align: center;">
                    <h2 class="h3 section-title center">
                        Projektpartner:innen
                    </h2>
                    <div class="partners row">
                        <a class="col-sm py-1" href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank" rel="noopener">
                            <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI" class="partner">
                        </a>
                        <a class="col-sm py-1" href="https://www.mint-ec.de/" target="_blank" rel="noopener">
                            <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/mintec-logo.jpg" alt="Logo MINT-EC" class="partner">
                        </a>
                        <a class="col-sm py-1" href="https://www.bmbf.de/" target="_blank" rel="noopener">
                            <img src="https://schul-cloud-hpi.s3.hidrive.strato.com/default/images/partner/bmbf-logo.jpg" alt="Logo BMBF" class="partner">
                        </a>
                    </div>
                    <div class="partners row">
                        <a class="col-sm py-1" href="https://edu-sharing.com/" target="_blank" rel="noopener">
                            <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/logo-edu-sharing-network-bunt.svg" alt="Logo HPI" class="partner">
                        </a>
                        <a class="col-sm py-1" href="https://wirlernenonline.de/" target="_blank" rel="noopener">
                            <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/WLO-03.png" alt="Logo MINT-EC" class="partner">
                        </a>
                        <a class="col-sm py-1" href="https://www.wikimedia.de/" target="_blank" rel="noopener">
                            <img src="https://s3.hidrive.strato.com/schul-cloud-hpi/default/images/WMDE_Logo_vertikal_black.png" alt="Logo BMBF" class="partner">
                        </a>
                    </div>
                </div>
            </div>
        </section>
		</div>
		</div>

    </div>

		<div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>
		<div class="loading text-center mb-3" style="min-height: 70vh; margin-top: 100px;">
			<i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"
				style="font-size: 25px;"></i>
			<div class="placeholder" style="display: none;">
				<img src="/images/repair.png" width="350px">
				<p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>
				<button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>
			</div>
		</div>
	</div>

	<!-- BLOG -->
  <script id="blog-card" type="text/x-handlebars-template">
    <a target="_blank" rel="noopener" href="\{{article.url}}" class="blog-card-wrapper">
    <article class="blog-card">
      <img class="thumbnail" alt="\{{article.img.title}}" src="\{{article.img.src}}">
      <div class="body">
        <h2 class="heading">
          <div class="title">
            \{{article.title}}
          </div>
          <small class="pub-date text-muted">\{{article.pubDate}}</small>
        </h2>
        <p class="description text-dark">\{{truncatePure (stripHTMLTags article.description) 200}}</p>
      </div>
      <div class="mb-1 text-center">
        <span class="open-link">{{$t "home.link.openArticle"}}</span>
      </div>
    </article>
  </a>
  </script>

  <script id="blog-entries" type="text/x-handlebars-template">
    \{{#each blogFeed}}
      \{{> "blog-card" article=this}}
    \{{/each}}
  </script>


  {{#embed "authentication/section" style="" class=""}}
    {{#content "body"}}
      <h2 class="h3 section-title center">{{{$t "home.headline.HPISchoolCloudBlog"}}}</h2>
        <div class="blog-cards">
          <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"
            style="font-size: 25px;"></i>
        </div>
      <a href="https://blog.schul-cloud.org" target="scblog" class="blog-link">{{$t "home.link.moreArticles"}}</a>
    {{/content}}
  {{/embed}}


	{{/content}}
{{/extend}}
