<p>{{$t "firstLogin.welcome.text.welcomeBackTothe" }}  {{@root.theme.short_title}}, {{@root.currentUser.firstName}} {{@root.currentUser.lastName}},</p>
<p>{{$t "firstLogin.welcome.text.withTheSchoolYear" }} {{@root.theme.short_title}} {{$t "firstLogin.welcome.text.switchedFromPaperToDigital" }}  {{@root.theme.short_title}} {{$t "firstLogin.welcome.text.captureElectronicallyAgain" }}</p>