<style>
.events-card {
  margin-bottom: 16px;
  min-height: 80px;
  padding: 16px;
}

.events-card .event-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.events-card .event-column {
  display: flex;
  flex-direction: column;
}

.events-card .badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.events-card .badge {
  display: inline-block;
  min-width: 4em;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.events-card .pulsating-dot {
  background: #15ba97;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;

  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 0 0 #15ba97;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #15ba97;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.events-card .title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 8px;
}

.events-card .event-details {
  padding-left: 16px;
  flex-grow: 1;
  align-items: left;
  justify-content: center;
  flex-flow: column;
}

.events-card .event-details .meta {
  padding-right: 8px;
}

.events-card .event-details * {
  margin-right: 8px;
}

.join-conference {
  display: none;
}

.not-started {
  display: none;
}

.no-permission {
  display: none;
}

.start-conference {
  display: none;
}

.clickable {
  cursor: pointer;
}

.reload-animation {
  animation: spin .7s;
  animation-iteration-count: 1;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
</style>

<div data-event="{{json event}}" class="col-sm-12 events-card">
  <div class="event-row">
    <div class="event-column hidden-sm-down">
      <div class="h4"><span class="badge badge-secondary">{{event.day}} {{event.month}}</span></div>
      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="pulsating-dot video-conference join-conference"></div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}
    </div>
    <div class="column event-details">
      <div class="title">{{event.title}}</div>
        
      <div class="event-row">
        <div class="meta"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{event.dayOfTheWeek}}</div>
        <div class="meta"><i class="fa fa-clock-o" aria-hidden="true"></i>{{event.fromTo}}</div>
        {{#if event.location}}
          <div class="meta"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{event.location}}</div>
        {{/if}}
      </div>

      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="event-row">
              <!-- state: DEFAULT -->
              <i class="fa fa-video-camera video-conference" aria-hidden="true"></i>
              <span class="muted video-conference">Videokonferenzdetails werden geladen...</span>
              <!-- state: RUNNING -->
              <i class="fa fa-video-camera video-conference join-conference" aria-hidden="true"></i>
              <a class="video-conference join-conference" href="/videoconference">An Videokonferenz teilnehmen</a>
              <!-- state: FINISHED || NOT_STARTED + permission: JOIN_MEETING -->
              <i class="fa fa-video-camera video-conference not-started" aria-hidden="true"></i>
              <span class="muted video-conference not-started">Videokonferenz wurde noch nicht gestartet</span>
              <i class="fa fa-info-circle video-conference not-started clickable"></i>
              <i class="fa fa-repeat video-conference not-started clickable reload"></i>
              <!-- state: FINISHED || NOT_STARTED + permission: START_MEETING -->   
              <i class="fa fa-video-camera video-conference start-conference" aria-hidden="true"></i>
              <a class="video-conference start-conference" href="#">Videokonferenz starten</a>
              <!-- no permission -->
              <i class="fa fa-ban video-conference no-permission" aria-hidden="true"></i>
              <span class="muted video-conference no-permission">Keine Berechtigung</span>
              <i class="fa fa-info-circle video-conference clickable no-permission" aria-hidden="true"></i>
            </div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}

      {{#if event.description}}
      <div class="event-row">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span class="card-description">{{event.description}}</span>
      </div>
      {{/if}}
    </div>
    {{#if canEdit}}
    <i style="cursor: pointer; font-size: 18px" class="ml-auto btn-edit-event fa fa-edit"></i>
    {{/if}}
  </div>
</div>
