{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getVersionedPath '/styles/calendar/card.css'}}" />
{{/content}}

<div data-event="{{json event}}" class="col-sm-12 events-card">
  <div class="event-row">
    <div class="event-column hidden-sm-down">
      <div class="h4"><span class="badge badge-secondary">{{event.day}} {{event.month}}</span></div>
      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="pulsating-dot video-conference join-conference"></div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}
    </div>
    <div class="column event-details">
      <div class="title">{{event.title}}</div>

      <div class="event-row">
        <div class="meta"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{event.dayOfTheWeek}}</div>
        <div class="meta"><i class="fa fa-clock-o" aria-hidden="true"></i>{{event.fromTo}}</div>
        {{#if event.location}}
          <div class="meta"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{event.location}}</div>
        {{/if}}
      </div>

      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="event-row">
              <!-- state: DEFAULT -->
              <i class="fa fa-video-camera video-conference" aria-hidden="true"></i>
              <span class="muted video-conference">{{$t "calendar.text.videoConferenceDetailsAreLoading" }}</span>
              <!-- state: RUNNING -->
              <i class="fa fa-video-camera video-conference join-conference" aria-hidden="true"></i>
              <a class="video-conference join-conference" href="/videoconference">{{$t "calendar.text.participateInVideoConference" }}</a>
              <!-- state: FINISHED || NOT_STARTED + permission: JOIN_MEETING -->
              <i class="fa fa-video-camera video-conference not-started" aria-hidden="true"></i>
              <span class="muted video-conference not-started">{{$t "global.text.videoconferenceNotStartedYet" }}</span>
              <i class="fa fa-info-circle video-conference not-started clickable"></i>
              <i class="fa fa-repeat video-conference not-started clickable reload"></i>
              <!-- state: FINISHED || NOT_STARTED + permission: START_MEETING -->
              <i class="fa fa-video-camera video-conference start-conference" aria-hidden="true"></i>
              <a class="video-conference start-conference" href="#">{{$t "calendar.text.startAVideoConference" }}</a>
              <!-- no permission -->
              <i class="fa fa-ban video-conference no-permission" aria-hidden="true"></i>
              <span class="muted video-conference no-permission">{{$t "calendar.text.noAuthorization" }}</span>
              <i class="fa fa-info-circle video-conference clickable no-permission" aria-hidden="true"></i>
            </div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}

      {{#if event.description}}
      <div class="event-row">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span class="card-description">{{event.description}}</span>
      </div>
      {{/if}}
    </div>
    {{#if canEdit}}
    <i style="cursor: pointer; font-size: 18px" class="ml-auto btn-edit-event fa fa-edit"></i>
    {{/if}}
  </div>
</div>
