{{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/calendar/card.css'}}" />
{{/content}}

<div data-event="{{json event}}" class="col-sm-12 events-card">
  <div class="event-row">
    <div class="event-column hidden-sm-down">
      <div class="h4"><span class="badge badge-secondary">{{event.day}} {{event.month}}</span></div>
      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="pulsating-dot video-conference join-conference"></div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}
    </div>
    <div class="column event-details">
      <div class="title" data-testid="team-event-calender-title">{{event.title}}</div>

      <div class="event-row">
        <div class="meta">
            <i class="fa fa-calendar-o" aria-hidden="true">&nbsp;</i>
            {{event.dayOfTheWeek}}
        </div>
        <div class="meta">
            <i class="fa fa-clock-o" aria-hidden="true">&nbsp;</i>
            {{event.fromTo}}
        </div>
        {{#if event.location}}
          <div class="meta">
              <i class="fa fa-location-arrow" aria-hidden="true">&nbsp;</i>
              {{event.location}}
          </div>
        {{/if}}
      </div>

      {{#ifConfig "FEATURE_VIDEOCONFERENCE_ENABLED" true}}
        {{#if ../showVideoconferenceOption}}
          {{#if ../event.attributes.x-sc-featurevideoconference}}
            <div class="event-row">
              <!-- state: DEFAULT -->
              <i class="fa fa-video-camera video-conference" aria-hidden="true" style="display: none;">&nbsp;</i>
              <span class="muted video-conference" style="display: none;">{{$t "calendar.text.videoConferenceDetailsAreLoading" }}</span>
              <!-- state: RUNNING -->
              <i class="fa fa-video-camera video-conference join-conference" aria-hidden="true" style="display: none;">&nbsp;</i>
              <a class="video-conference join-conference" href="/videoconference" style="display: none;" data-testid="participate-video-conf-link">{{$t "calendar.text.participateInVideoConference" }}</a>
              <!-- state: FINISHED || NOT_STARTED + permission: JOIN_MEETING -->
              <i class="fa fa-video-camera video-conference not-started" aria-hidden="true" style="display: none;">&nbsp;</i>
              <span class="muted video-conference not-started" style="display: none;">{{$t "global.text.videoconferenceNotStartedYet" }}</span>
              <i class="fa fa-info-circle video-conference not-started clickable" style="display: none;"></i>
              <i class="fa fa-repeat video-conference not-started clickable reload" style="display: none;"></i>
              <!-- state: FINISHED || NOT_STARTED + permission: START_MEETING -->
              <i class="fa fa-video-camera video-conference start-conference" aria-hidden="true" style="display: none;">&nbsp;</i>
              <a class="video-conference start-conference" href="#" style="display: none;" data-testid="start_video_conference_link">{{$t "calendar.text.startAVideoConference" }}</a>
              <!-- no permission -->
              <i class="fa fa-video-camera video-conference no-permission" aria-hidden="true" style="display: none;">&nbsp;</i>
              <span class="muted video-conference no-permission" style="display: none;">{{$t "calendar.text.noAuthorization" }}</span>
              <i class="fa fa-info-circle video-conference clickable no-permission" aria-hidden="true" style="display: none;" data-testid="video-conference-not-started-info-icon"></i>
            </div>
          {{/if}}
        {{/if}}
      {{/ifConfig}}

      {{#if event.description}}
      <div class="event-row">
        <i class="fa fa-file-text-o" aria-hidden="true">&nbsp;</i>
        <span class="card-description" data-testid="team-event-calendar-description">{{event.description}}</span>
      </div>
      {{/if}}
    </div>
    {{#if canEdit}}
    <i style="cursor: pointer; font-size: 18px" class="ml-auto btn-edit-event fa fa-edit" data-testid="edit_team_event" ></i>
    {{/if}}
  </div>
</div>
