<section class="section-team">
	<div id="teamLength" class="hidden">
		{{teamLength}}
	</div>
	{{#each teams as |currentteam index|}}

{{#embed "authentication/section" style=currentteam.style}}
	{{#content "body"}}
		{{#unless index}}
			<h2 class="section-title center">{{@root.titlePage}}</h2>
		{{/unless}}

		<h3 class="section-title center">{{name}}</h3>
		<div class="container">
			<div class="row">
				{{#each currentteam.team}}
					{{#if subheader_before}}<h4 style="text-align: center">{{subheader_before}}</h4>{{/if}}

					<div id="modal-container-personcard">
						<div class="modal-background {{#if ../../loggedin}}modal-padding{{/if}}">
							<div class="modal fade" id="exampleModalLong"
								tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLongTitle" aria-hidden="true"
							>
								<div class="modal-dialog" style="margin-top: {{#if longDesc}} {{ longDesc }} {{else}} 20vh {{/if}}" role="document">
									<div class="modal-content py-1">
										<button type="button" class="close" data-dismiss="modal" aria-label="{{$t "global.button.close"}}">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button>
										<div class="modal-body">
											<div class="row">
												<div class="col-md-5">
													<div>
														<img class="image" src="{{encodeURI pictureUrl}}">
													</div>
												</div>
												<div class="col-md-7">
													<h2 class="person-title" data-lastname="{{lastName}}" style="text-align: left">{{title}} {{firstName}} {{lastName}}</h2>
													<h3 class="h4 person-desc" style="text-align: left">{{position}}</h3>
													<p style="text-align: left">{{{description}}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="content
						{{#ifvalue currentteam.size value="small"}} teamsmall col-lg-3 col-md-4 {{/ifvalue}}
						{{#ifvalue currentteam.size value="standard"}} col-md-4 {{/ifvalue}}
						col-sm-6 col-xs-12"
					>
						<div class="person-wrapper">
							<div class="buttons">
								<div id="openCard">
									<div class="card h-100 person">
										<img class="card-img-top circular" src="{{pictureUrl}}">
										<div class="card-block">
											<h3 class="person-title card-title" data-lastname="{{lastName}}">{{firstName}} {{lastName}}</h3>
											<p class="person-desc card-text">{{position}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	{{/content}}
{{/embed}}
{{/each}}
</section>

