{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/teams/forms/form-invite-external-member.css" />
{{/content}}

<div class="form-group" data-teamId="{{teamId}}">
    <!--<p>Lade Lehrer anderer Schulen als Team-Admin ein, damit diese Lehrer und Schüler ihrer Schule hinzufügen können.
        Es sind nur Lehrer auswählbar, die in Ihren Einstellungen der Auswahl für Teams zugestimmt haben.</p>-->
    {{!-- <p>Lade externe Experten ein, sich in der {{theme.short_title}} zu registrieren deinem Team beizutreten.</p> --}}

    {{!-- <h3>Externe einladen</h3> --}}

    {{> "help/partials/help_form_invite_external_members"}}

    <div class="form-group mt-3" data-role="teacher">
        <h2 class="h3">{{$t "teams._team.members.headline.inviteTeacherFromOtherSchool"}}</h2>
        <p>{{$t "teams._team.members.text.selectTeacherFromRegisterOrInvitePerEmail"}}</p>
        <button type="button" data-method="directory" class="btn btn-set-method">{{$t "teams._team.members.button.selectFromIndex"}}</button>
        <button type="button" data-method="email" class="btn btn-set-method" >{{$t "teams._team.members.button.inviteByMail"}}</button>


        <div class="form-group mt-3" data-method="directory">
            <h2 class="h3">{{$t "teams._team.members.headline.selectAndAddTeacher"}}</h2>
            <div class="form-group">
                <label for="federalstate">{{$t "teams._team.members.label.federalState"}}</label>
                <select class="search-enabled" placeholder="{{$t "teams._team.members.placeholder.selectFederalState"}}" data-force-value="true"
                data-placeholder="{{$t "teams._team.members.placeholder.selectFederalState"}}" name="federalstate" id="federalstate">
                    {{#each federalStates}}
                        <option value="{{this._id}}" data-id="{{this._id}}" {{#ifeq @root.currentFederalState this._id}}selected="selected"{{/ifeq}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="school">{{$t "global.link.school"}}</label>
                <select class="search-enabled" placeholder="{{$t "teams._team.members.placeholder.selectSchool"}}"
                data-placeholder="{{$t "teams._team.members.placeholder.selectSchool"}}" name="school" id="school">
                    {{#each schools}}
                        <option value="{{this._id.name}}" data-id="{{this._id._id}}">{{this.label}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="teacher">{{$t "global.role.text.teacher"}}</label>
                <select class="search-enabled" placeholder="{{$t "global.placeholder.selectTeacher"}}"
                data-placeholder="{{$t "global.placeholder.selectTeacher"}}" name="teacher" id="teacher">
                    {{#each teachers}}
                        <option value="{{this._id.name}}" data-id="{{this._id._id}}">{{this.label}}</option>
                    {{/each}}
                </select>
            </div>
            <div style="margin-bottom: 6rem" class="form-group padding-bottom">
                <label for="role">{{$t "teams._team.members.label.roleOfInvitedTeacher"}}</label>
                <select name="role" id="role" data-force-value="true" disabled="disabled">
                        <option value="teamadministrator" selected="selected">{{$t "teams._team.members.placeholder.teamAdmin"}}</option>
                </select>
            </div>
        </div>

        <div class="form-group mt-3" data-method="email">
            <h2 class="h3">{{$t "teams._team.members.headline.inviteTeacherByEmail"}}</h2>
            <div class="form-group">
                <div>{{$t "teams._team.members.headline.requirements"}}
                    <ul>
                        <li>{{$t "teams._team.members.text.teacherIsFromOtherSchool"}}</li>
                        <li>{{$t "teams._team.members.text.teachersRegisterProcessFinished" (dict "rootThemeShortTitle" @root.theme.short_title)}}</li>
                        <li>{{$t "teams._team.members.text.invitationEmailIsEqualToRegisterEmail" (dict "rootThemeShortTitle" @root.theme.short_title)}}</li>
                    </ul>
                </div>
                    <label for="email">{{$t "teams._team.members.label.email"}}</label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="{{$t "teams._team.members.placeholder.insertEmail"}}">
            </div>
        </div>
    </div>

    <div class="form-group mt-3" data-role="expert">
        <h2 class="h3">{{$t "teams._team.members.headline.inviteExternExpert"}}</h2>
        <div class="form-group">
            <label for="emailExpert">{{$t "teams._team.members.label.insertEmailOfExpertToInvite"}}</label>
            <input class="form-control" type="text" name="email" id="emailExpert" placeholder="{{$t "teams._team.members.placeholder.insertEmail"}}">
        </div>
    </div>

    {{> "help/partials/help_form_note"}}
</div>
