<div class="mb-2">
    <!-- <button type="button" data-tab="person" class="btn btn-set-tab" >{{$t "teams._team.members.button.addPerson"}}</button> -->
    <!-- <button type="button" data-tab="class" class="btn btn-set-tab">Klasse hinzufügen</button> -->
</div>

<div style="margin-bottom: 12rem" class="form-group form-users" data-tab="person">
    <label for="invitation">{{$t "teams._team.members.label.addTeacherStudentsFromSchool"}}</label>

    <select data-testid="select_team_members_add" name="userIds[]" multiple data-placeholder="{{$t "teams._team.members.placeholder.selectPersons"}}">
        {{#each users}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
                    {{this.lastName}}, {{this.firstName}}
            </option>
        {{/each}}
    </select>
</div>

<!--<div style="margin-bottom: 12rem" class="form-group form-classes" data-tab="class">
    <label>Füge eine oder mehrere Klassen deiner Schule zum Team hinzu <br/><small>Nach dem Speichern werden alle Schüler automatisch hinzugefügt</small></label>

    <select name="classIds[]" multiple data-placeholder="Klasse(n) auswählen">
        {{#each classes}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
                {{#if this.displayName}}
                    {{this.displayName}}
                {{/if}}

                {{#if this.year}}
                    ({{this.year.name}})
                {{/if}}
            </option>
        {{/each}}
    </select>
</div>-->
