<h2 class="h4">{{title}}</h2>
<p>{{content.description}}</p>
<iframe src="{{content.url}}?disableConference=true&username={{userInitials}}" style="width: 100%; height: 400px; resize: vertical; overflow: auto;"></iframe>
<a href="{{content.url}}?disableConference=true&username={{userInitials}}" target="_blank" class="pull-right">{{$t "global.link.openInNewTab" }}</a>
