<h2 class="h4">{{title}}</h2>

<div class="card-columns">

    {{#each content.resources}}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">
                    <a href="{{url}}" target="_blank">
                        {{title}}
                    </a>
                    {{#ifeq @root.theme.name "brb"}}
                        <div class="external-source-warning">
                            <h5>{{$t "topic._topic.text.warningMain" }}</h5>
                            <h6>{{$t "topic._topic.text.warningFooter" }}</h6>
                        </div>
                    {{/ifeq}}
                </h4>
                <p class="card-text">{{description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">via {{client}}</small>
            </div>
        </div>
    {{/each}}

</div>
