<<<<<<< HEAD
<h4>{{stripOnlyScript title}}</h4>
<p>{{stripOnlyScript content.description}}</p>
<iframe src="{{content.url}}?username=Test" style="width: 100%; height: 400px; resize: vertical; overflow: auto;"></iframe>
<a href="{{content.url}}?username=Test" target="_blank" class="pull-right">in neuem Tab öffnen</a>
=======
<h4>{{title}}</h4>
<p>{{content.description}}</p>
<iframe src="{{content.url}}?username=Test" style="width: 100%; height: 400px; resize: vertical; overflow: auto;"></iframe>
>>>>>>> parent of 30db7de1... fix for the rest
