<footer class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<img src="/images/footer-logo.png" alt="Anbieterlogo" />
			<span>&copy; {{currentYear}} {{theme.short_title}} </span>

			<div>
				<a href="/impressum">Impressum</a>
				<span> - </span>
				<a href="{{@root.theme.documents.specificFiles.termsOfUseSchool}}" target="_blank"
					rel="noopener">Nutzungsordnung Open Schul-Cloud</a>
				<span> - </span>
				<a href="{{@root.theme.documents.specificFiles.privacy}}" target="_blank"
					rel="noopener">Datenschutzerklärung Open Schul-Cloud</a>
				<span> - </span>
				<a href="{{@root.theme.documents.specificFiles.privacy}}" target="_blank" rel="noopener">Datenschutzerklärung
					Schule</a>
				<span> - </span>
				<a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener">GitHub</a>
				<span> - </span>
				<a href="https://status.schul-cloud.org" target="_blank" rel="noopener">Status</a>
			</div>
			<div>
				<p class="made-with-love">Made with <span class="heart">❤</span> in Potsdam | Translated by <a
						href="https://lokalise.com" target="_"><img class="poweredby-logo" alt="lokalise.com Logo"
							src="/images/logo/lokalise_logo.svg"></a></p>
			</div>
		</div>
	</div>
</footer>
