<div class="form-group">
    <label for="courseId">{{$t "content.form_add_lesson.label.chooseACourse" }}</label>
    <select class="course-selection form-control" name="courseId" required="required">
        <option value="" selected hidden>{{$t "content.form_add_lesson.button.choose" }}</option>
    </select>
</div>
<div class="form-group lessons" style="display: none">
    <label for="name">{{$t "content.form_add_lesson.label.chooseALessonTopic" }}</label>
    <select class="lesson-selection form-control" name="lessonId" required="required">
    </select>
</div>
<!-- hidden fields -->
<input type="hidden" name="title" value="{{title}}" />
<input type="hidden" name="client" value="{{client}}" />
<input type="hidden" name="url" value="{{url}}" />
<input type="hidden" name="description" value="{{description}}" />
<!-- todo: add none required fields -->
<!-- current query for later redirecting -->
<input type="hidden" name="query" value="{{query}}">