<label>
    Kurs (Pflichtfeld):
    <select class="course-selection" name="courseId" required="required">
    </select>
</label> <br></br>
<label>
    Name (Pflichtfeld):
    <input type="text" name="name" required="required" value="{{name}}" />
</label> <br></br>
<label>
    Logo (URL):
    <input type="text" name="logo_url" value="{{logo_url}}" />
</label> <br></br>
<label>
    Privatsphäre:
    <select class="form-control" required="required" value="{{privacy_permission}}">
        <option value="anonymous">Anonym</option>
        <option value="e-mail">Nur E-Mail</option>
        <option value="name">Nur Name</option>
        <option value="public">Öffentlich</option>
    </select>
</label> <br></br>
<div>
    Sonstige Einstellungen:
    <div class="custom-fields">
    </div>
    <div class="new-custom-field">
        <input class="new-custom-field-key" type="text" placeholder="Key">
        <input  class="new-custom-field-value" type="text" placeholder="Value" >
        <i class="fa fa-plus" ></i>
    </div>
</div>
<!-- hidden fields -->
<div style="display: none">
    <input type="text" name="key" value="{{key}}" />
    <input type="text" name="lti_message_type" value="{{lti_message_type}}" />
    <input type="text" name="lti_version" value="{{lti_version}}" />
    <input type="text" name="resource_link_id" value="{{resource_link_id}}" />
    <input type="text" name="url" value="{{url}}" />
    <input type="text" name="secret" value="{{secret}}" />
</div>