<input name="classid" type="hidden" value="{{class._id}}"/>
<input type="hidden" name="referrer" value="{{referrer}}" />

<div class="container-fluid ajaxcontent">

    <div class="row">
        <a class="d-block mb-1"
            href="/administration/classes/{{@root.class/_id}}/edit"
            title="Klasse '{{@root.class.name}}' bearbeiten.">
            <i class="fa fa-pencil"></i> {{$t "administration.classes.label.renameClass" }}
        </a>
    </div>

    <div class="row">
        <div style="width: 100%" class="form-group">
            <label>{{$t "administration.global.label.teacher" }} {{#userHasPermission 'ADMIN_VIEW'}}{{else}}*{{/userHasPermission}}</label>

            <select name="teacherIds[]" multiple data-placeholder="Lehrer auswählen" {{#userHasPermission 'ADMIN_VIEW'}}{{else}}required{{/userHasPermission}}>
                {{#each teachers}}
                    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}} {{#if this.disabled}}disabled{{/if}}>
                        {{#if this.displayName}}
                            {{this.displayName}}
                        {{else}}
                            {{this.firstName}} {{this.lastName}}
                        {{/if}}
                    </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="row">
        <div style="width: 100%" class="form-group">
            <label>{{$t "administration.global.label.student" }}</label>
            <button type="button" class="btn-link pull-right btn-import-class">{{$t "administration.classes.button.addStudentsFromPreviousYearClass" }}</button>
            <select name="userIds" multiple data-placeholder="{{$t "administration.global.placeholder.selectStudent" }}">
                {{#each students}}
                    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}} class="red" data-first-name="{{this.firstName}}" data-last-name="{{this.lastName}}">
                        {{#if this.displayName}}
                            {{this.displayName}}
                        {{else}}
                            {{this.firstName}} {{this.lastName}}
                        {{/if}}
                    </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="modal-footer mt-1">
        <a class="btn btn-secondary btn-cancel">{{$t "global.button.cancel" }}</a>
        <button type="submit" class="btn btn-primary">{{$t "global.button.saveChanges" }}</button>
    </div>

    <hr class="my-2"/>

    <div class="mb-3">
        <h2 class="h4">{{$t "administration.classes.label.yourStudentsAreNotYetInThe" }} {{theme.short_title}}?</h2>
        <p>
           {{$t "administration.classes.text.inviteTheParentsViaLink" }}
        </p>
    </div>

    <div class="mb-3">
        <h2 class="h4">
            {{$t "administration.global.text.obtainADeclarationConsent" }}
        </h2>
        {{#if schoolUsesLdap}}
            <strong>{{$t "administration.global.text.studentsLoginInThePresenceOfGuardian" }}</strong>

            <p>{{$t "administration.global.text.byConnectingToASchoolState" (dict "shortTitle" theme.short_title) }} </p>
        {{else}}
            <strong>{{$t "administration.global.text.inviteparentsAndStudentViaLink" }}</strong>
            <p>
                {{$t "administration.global.text.provideYourStudentsAnd" }}
            </p>
            <p>{{$t "administration.students.text.forAllStudentsWithoutAFullConsentForm" }}</p>
            <p>
                <button data-class="{{class._id}}" data-role="student" class="btn btn-secondary btn-send-links-emails">
                    {{$t "administration.global.button.sendLinksToStudentEmailAddresses" }}
                </button>
                <button data-class="{{class._id}}" data-role="student" class="btn btn-secondary btn-print-links">
                    {{$t "administration.global.button.createLinkSheet" }}
                </button>
            </p>
            <p>
                {{$t "administration.global.text.orSelectStudentFromTable" }}
            </p>
        {{/if}}
    </div>

    {{#if consentsMissing}}
        <div class="mb-3">
            <h2 class="h4">
                {{$t "administration.global.text.manuallyConsent" }}
            </h2>
            <p>
            {{$t "administration.classes.text.ifAllStudentsAndParentshaveGiven" }}
            </p>

                <a href="skipregistration" class="btn btn-primary btn-skip-consent">
                        <i class="fa fa-exclamation-triangle"></i> {{$t "administration.classes.text.manuallyGiveConsentForAllStudent" }}
                </a>


        </div>
    {{/if}}

    <div>
        <h2 class="h4 mt-1">{{$t "administration.classes.label.pleaseNote" }}</h2>
        <div class="row">
            <div class="col-sm-12">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    {{#each notes}}
                        <div class="card">
                            <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-{{@index}}"
                                {{#ifeq @index 0}}aria-expanded="true"{{/ifeq}}
                                aria-controls="collapse-{{@index}}">
                                <div class="card-header" role="tab" id="heading-{{@index}}">
                                    <h5 class="mb-0">
                                        {{this.title}}
                                    </h5>
                                </div>
                            </a>
                            <div id="collapse-{{@index}}" class="collapse"
                                    role="tabpanel" aria-labelledby="heading-{{@index}}"
                                    {{#ifeq @index 0}}aria-expanded="true"{{/ifeq}}>
                                <div class="card-block">
                                    {{{this.content}}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#embed "lib/components/modal-form" class="import-modal"}}
    {{#content "fields"}}

        <div class="form-group">
            <label for="filter_schoolyear">{{$t "administration.classes.label.filterBySchoolYear" }}</label>
            <select id="filter_schoolyear" name="classes" data-placeholder="{{$t "administration.global.placeholder.filterBySchoolYear" }}">
                <option value="" selected>Alle</option>
                {{#each schoolyears}}
                    <option value="{{this._id}}">
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
            <p>{{$t "administration.classes.text.attentionIfYouChangeTheSchoolYear" }}</p>
        </div>
        <div class="form-group">
            <label for="student_from_class_import">{{$t "administration.classes.label.addStudentFromPreviousYearClass" }}</label>
            <select id="student_from_class_import" name="classes" multiple data-placeholder="{{$t "administration.global.placeholder.selectOldClasses" }}">
                {{#each classes}}
                    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>
                        {{this.displayName}}
                    </option>
                {{/each}}
            </select>
        </div>
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal-cancel" class="cancel-modal"}}{{/embed}}
