<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<div class="form-group">
    <label>{{$t "administration.teams.label.selectAnAdditionalOwner" }}</label>
    {{{course.name}}}
    <select class="form-control form-control-lg" type="text" name="userId">
        <option value="">{{$t "administration.teams.button.addAnotherOwner" }}</option>
        {{#each users}}
            <option value="{{{this._id}}}">{{{this.firstName}}} {{{this.lastName}}}</option>
        {{/each}}
    </select>
</div>
