<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<div class="form-group">
    <label>Name der Klasse</label>
    <input class="form-control" name="name" type="text" placeholder="10a" required />
</div>

<div class="form-group">
    <label>Klassenlehrer</label>

    <select name="teacherIds[]" multiple data-placeholder="Lehrer ausw채hlen">
        {{#each teachers}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
        {{/each}}
    </select>
</div>

<div class="form-group">
    <label>Sch체ler</label>

    <select name="userIds[]" multiple data-placeholder="Sch체ler ausw채hlen">
        {{#each students}}
            <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.lastName}}</option>
        {{/each}}
    </select>
</div>