<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

<div class="form-group">
    <label>Wähle hier einen zusätzlichen Eigentümer für das Team aus:</label>
    {{{course.name}}}
    <select class="form-control form-control-lg" type="text" name="userId">
        <option value="">Weiteren Eigentümer hinzufügen</option>
        {{#each users}}
            <option value="{{{this._id}}}">{{{this.firstName}}} {{{this.lastName}}}</option>
        {{/each}}
    </select>
</div>
