<input name="systemId" type="hidden" data-force-value="true" value="{{system._id}}" />

<div class="form-group">
    <label>Alias</label>
    <input class="form-control linked" name="ldapalias" type="text" placeholder="" value="{{system.alias}}"/>
</div>

<div class="form-group">
    <label>{{$t "global.label.type" }}</label>
    <select class="linked" name="ldaptype" data-linktext data-placeholder="LDAP-Typ auswählen">
            <option value="general">
                {{$t "administration.ldapEdit.placeholder.general" }}
            </option>
    </select>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.urlIdapIsMandatory" }}</label>
    <input class="form-control linked" name="ldapurl" type="text" placeholder="ldaps://" value="{{system.ldapConfig.url}}"/>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.rootPath" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.rootPathTitle" }}"></i></label>
    <input class="form-control linked" name="rootpath" type="text" value="{{system.ldapConfig.rootPath}}"/>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.searchUsers" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.searchUsersTitle" }}"></i></label>
    <input class="form-control linked" name="searchuser" type="text" value="{{system.ldapConfig.searchUser}}"/>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.seacrhUserpassword" }}</label>
    <input class="form-control linked" name="searchuserpassword" type="password" value="{{system.ldapConfig.searchUserPassword}}"/>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.userPath" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.userPathTitle" }}"></i></label>
    <input class="form-control linked" name="userpath" type="text" value="{{system.ldapConfig.providerOptions.userPathAdditions}}"/>
</div>

<div class="form-group">
    <label>{{$t "administration.ldapEdit.label.roleType" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.roleTypeTitle" }}"></i></label>
    <select class="linked" id="select-roletype" name="roletype" data-linktext data-placeholder="{{$t "administration.ldapEdit.placeholder.roleTypePlaceholder" }}">
            <option value="text" {{#ifeq system.ldapConfig.providerOptions.roleType "text"}}selected="selected"{{/ifeq}}>
                {{$t "administration.ldapEdit.placeholder.userAttribute" }}
            </option>
            <option value="group" {{#ifeq system.ldapConfig.providerOptions.roleType "group"}}selected="selected"{{/ifeq}}>
                {{$t "administration.ldapEdit.placeholder.LDAPGroup" }}
            </option>
    </select>
</div>

<hr>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <h2 class="h5">{{$t "administration.ldapEdit.heading.userAttributes" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.heading.userAttributesTitle" }}"></i></h2>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <i id="user-section-toggle" class="fa fa-lock fa-3x"></i>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "global.label.firstNameColon" }}</label>
        <input class="form-control linked user-attribute" readonly name="givenName" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.givenName}}"/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "global.label.lastName" }}</label>
        <input class="form-control linked user-attribute" readonly name="sn" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.sn}}"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "administration.ldapEdit.label.domainName_pathInLDAP" }}</label>
        <input class="form-control linked user-attribute" readonly name="dn" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.dn}}"/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>uid <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.uidTitle" }}"></i></label>
        <input class="form-control linked user-attribute" readonly name="uid" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.uid}}"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>uuid <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.uuidTitle" }}"></i></label>
        <input class="form-control linked user-attribute" readonly name="uuid" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.uuid}}"/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>E-Mail</label>
        <input class="form-control linked user-attribute" readonly name="mail" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.mail}}"/>
    </div>
</div>
<div class="row" id="role-name">
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "global.label.role" }} <i class="fa fa-question-circle"></i></label>
        <input class="form-control linked user-attribute" readonly name="role" type="text" value="{{system.ldapConfig.providerOptions.userAttributeNameMapping.role}}"/>
    </div>
</div>

<hr>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <h2 class="h5" id="headline-role-type">{{$t "administration.ldapEdit.heading.roleAttributes" }}</h2>
        <i id="description-role-attribute" class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{{$t "administration.ldapEdit.heading.roleAttributesTitle" }}"></i>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <i id="role-section-toggle" class="fa fa-lock fa-3x"></i>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Student</label>
        <input class="form-control linked role-attribute" readonly name="studentrole" type="text" value="{{system.ldapConfig.providerOptions.roleAttributeNameMapping.roleStudent}}"/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "administration.global.label.teacher" }}</label>
        <input class="form-control linked role-attribute" readonly name="teacherrole" type="text" value="{{system.ldapConfig.providerOptions.roleAttributeNameMapping.roleTeacher}}"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-6 col-xs-12">
        <label>Admin</label>
        <input class="form-control linked role-attribute" readonly name="adminrole" type="text" value="{{system.ldapConfig.providerOptions.roleAttributeNameMapping.roleAdmin}}"/>
    </div>
    <div class="form-group col-sm-6 col-xs-12">
        <label>{{$t "administration.ldapEdit.label.noSchoolCloud" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.noSchoolCloudTitle" }}"></i></label>
        <input class="form-control linked role-attribute" readonly name="noscrole" type="text" value="{{system.ldapConfig.providerOptions.roleAttributeNameMapping.roleNoSc}}"/>
    </div>
</div>

<hr>
<label>
    <input name="activateclasses" id="select-classes" type="checkbox" {{#ifneq system.ldapConfig.providerOptions.classPathAdditions ""}}checked="checked"{{/ifneq}} />
    {{$t "administration.ldapEdit.input.classes" }}
</label>
<div class="class-settings">
    <div class="form-group">
        <label>{{$t "administration.ldapEdit.label.classPath" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.label.classPathTitle" }}"></i></label>
        <input class="form-control linked" name="classpath" type="text" value="{{system.ldapConfig.providerOptions.classPathAdditions}}"/>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <h2 class="h5">{{$t "administration.ldapEdit.heading.classAttributes" }} <i class="fa fa-question-circle" data-toggle="tooltip" title="{{$t "administration.ldapEdit.heading.classAttributesTitle" }}"></i></h2>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <i id="class-section-toggle" class="fa fa-lock fa-3x"></i>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label>{{$t "administration.ldapEdit.label.displayName" }}</label>
            <input class="form-control linked class-attribute" readonly name="classdescription" type="text" value="{{system.ldapConfig.providerOptions.classAttributeNameMapping.description}}"/>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label>{{$t "administration.ldapEdit.label.domainName" }}</label>
            <input class="form-control linked class-attribute" readonly name="classdn" type="text" value="{{system.ldapConfig.providerOptions.classAttributeNameMapping.dn}}"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <label>{{$t "administration.ldapEdit.label.fullPathClassUsers" }}</label>
            <input class="form-control linked class-attribute" readonly name="classuniquemember" type="text" value="{{system.ldapConfig.providerOptions.classAttributeNameMapping.uniqueMember}}"/>
        </div>
    </div>
</div>

<div class="modal-footer mt-1">
    <a href="/administration/school" class="btn btn-secondary">{{$t "global.button.cancel" }}</a>
    <button id="verify" class="btn btn-primary">
        <i id="verify-icon"></i>
        {{$t "administration.ldapEdit.button.verify" }}
    </button>
    <button id="savesubmit" class="btn btn-secondary" disabled>{{$t "global.button.saveChanges" }}</button>
</div>
