<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />
<input name="roles[]" type="hidden" data-force-value="true" value="{{roles}}" />

<p>{{{$t "administration.form_Import.text.importUserData" }}}</p>
<p>
    {{{$t "administration.form_Import.text.youCanFindMoreInformationOnTheStructure" }}}
</p>
<p>
    <img src="{{getAssetPath '/images/csv_example.png'}}" />
</p>
<div class="form-group">
    <label>{{$t "administration.form_Import.label.selectCSVFile" }}</label>
    <input class="form-control" name="csvFile" type="file" required />
</div>
<div class="form-group">
    <label>{{$t "administration.global.label.schoolYear" }}</label>
    <select class="form-control" name="schoolYear" data-placeholder="{{$t "administration.global.label.chooseSchoolYear" }}" data-force-value="true">
        {{#each years}}
        <option {{#ifeq this._id ../schoolCurrentYear}}selected="selected" {{/ifeq}} value="{{this._id}}">{{this.name}}
        </option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label>
        <input name="sendRegistration" type="checkbox" value="false" />
        {{$t "administration.form_Import.label.sendRegistrationLinkToUsers" }}
    </label>
    <p>
        {{$t "administration.form_Import.text.alternativelyYouCanCallUpTheRegistration" }}
    </p>
    <p class="lead">
        {{$t "administration.form_Import.text.attention" }}


    </p>
</div>
