<input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

{{!-- <div class="form-group">
    <label>Name des Teams</label>
    <input class="form-control" name="name" type="text" placeholder="Mathe 10a" required />
</div> --}}

{{!-- <div class="form-group">
    <label>Farbe des Teams:</label>
    <input name="color" type="color" value="{{#if course.color}}{{course.color}}{{else}}#d32f2f{{/if}}" required/>
</div> --}}

<div class="form-group">
    <label>Team Owner:</label>
    {{{course.name}}}
    <select class="form-control form-control-lg" type="text" name="userId">
        <option value="">Neuen Owner auswählen</option>
        {{#each users}}
            <option value="{{{this._id}}}">{{{this.firstName}}} {{{this.lastName}}}</option>
        {{/each}}
    </select>
</div>

