<div class="col-lg-4 col-md-6 col-sm-12">
    <article class="card sc-card">
        <div class="sc-card-header" {{#if this.background}}style="background:{{this.background}};"{{/if}}>
            <span class="sc-card-title">{{this.title}}</span>
            
            <div class="sc-card-menu">
                {{#each this.actions}}
                    {{#if this.method}}
                            <a class="{{this.class}}"
                               href="{{this.link}}"
                               target="_blank"
                               data-method="delete-material"
                               data-name="{{../title}}"
                               alt="'{{../title}}' löschen">
                                <i class="fa fa-{{this.icon}}"></i>
                            </a>
                    {{else}}
                        <a class="{{this.class}}" href="{{this.link}}" alt="'{{../../title}}' {{this.alt}}.">
                            <i class="fa fa-{{this.icon}}"></i>
                        </a>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="sc-card-body ckcontent">
            <div class="pull-right pl-1">
                <small class="text-muted">{{{this.date}}}</small>
            </div>
            {{{truncateHTML (conflictFreeHtml this.content)}}}
        </div>
        <div class="sc-card-footer">
            <a href="{{url}}" rel="canonical">{{{link-text}}}</a>
        </div>
    </article>
</div>
