<div class="col-lg-4 col-md-6 col-sm-12">
    <article class="card h-100">
        <div class="card-block">
            <div class="pull-right">
                <small class="text-muted">{{{this.date}}}</small>
            </div>

            <div class="card-text"><strong>{{{this.title}}}</strong></div>
            <div class="card-text ckcontent">
                {{{truncateHTML (conflictFreeHtml this.content)}}}
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group">
                    <div class="btn-group left-btn-group">
                        {{#each this.actions}}
                            {{#if this.method}}
                                    <a class="btn btn-secondary {{this.class}}"
                                       href="{{this.link}}"
                                       target="_blank"
                                       data-method="delete-material"
                                       data-name="{{../title}}"
                                       alt="Artikel '{{../title}}' löschen">
                                        <i class="fa fa-{{this.icon}}"></i>
                                    </a>
                            {{else}}
                                <a class="btn btn-secondary {{this.class}}" href="{{this.link}}" alt="Artikel '{{../../title}}' {{this.alt}}.">
                                    <i class="fa fa-{{this.icon}}"></i> {{this.label}}
                                </a>
                            {{/if}}
                        {{/each}}
                    </div>
                <a class="btn btn-primary {{#if this.actions}}ml-1{{/if}} more" href="{{url}}" rel="canonical">{{{link-text}}}</a>
            </div>
        </div>
    </article>
</div>