<footer id="footer" class="hide-inline small-footer">
	<div class="imprint">
		<div class="center">
			<a href="https://hpi.de" target="_blank" rel="noopener" aria-label="{{$t "lib.footer.img_alt.providerLogo"}} {{$t "global.link.openInNewTabWarning"}}">
				<img id="footer-logo" src="{{getAssetPath '/images/footer-logo.png'}}" alt="{{$t "lib.footer.img_alt.providerLogo"}}" />
			</a>
			<span>&copy; {{currentYear}} {{theme.short_title}} </span>

			<nav aria-label="{{$t "lib.footer.aria_label.footer"}}">
				<ul>
					<li>
						<a href="/impressum">{{$t "global.link.imprint" }}</a>
						<span> - </span>
					</li>
					<li>
						<a href="{{@root.theme.documents.specificFiles.termsOfUseSchool}}" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.termsOfUseHPI"}} PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.termsOfUseHPI"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="{{@root.theme.documents.specificFiles.privacy}}" target="_blank" rel="noopener" aria-label="{{$t "demo.lib.global.link.dataProtectionDeclaration"}} PDF {{$t "global.link.openInNewTabWarning"}}">{{$t "demo.lib.global.link.dataProtectionDeclaration"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="mailto:{{getConfig "SC_CONTACT_EMAIL"}}?subject=Schul_Cloud%20Anfrage" target="_blank" rel="noopener" aria-label="{{$t "global.link.contact"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "global.link.contact"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/team">{{$t "lib.global.link.team"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/about">{{$t "global.link.aboutTheProject"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/community">{{$t "lib.global.link.participate"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/partner">{{$t "global.link.partner"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="https://github.com/hpi-schul-cloud/" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.github"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.github"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="https://status.schul-cloud.org" target="_blank" rel="noopener" aria-label="{{$t "lib.global.link.status"}} {{$t "global.link.openInNewTabWarning"}}">{{$t "lib.global.link.status"}}</a>
						<span> - </span>
					</li>
					<li>
						<a href="/security">{{$t "lib.global.link.safety"}}</a>
					</li>
				</ul>
			</nav>
			<div>
				<p lang="en" class="made-with-love">Made with <span class="heart" aria-label="{{$t "lib.footer.aria_label.love"}}" role="img">❤</span> in Potsdam | Translated by <a
						href="https://lokalise.com" target="_blank" aria-label="https://lokalise.com {{$t "global.link.openInNewTabWarning"}}"><img class="poweredby-logo" alt="lokalise.com Logo"
																	src="/images/logo/lokalise_logo.svg"></a></p>
			</div>
		</div>
	</div>
</footer>
