<li class="card assignment">
    <a href="{{this.url}}" alt="Details der Aufgabe: '{{escapeHtml this.name}}'">
        <div class="dates">
            {{#if availableDate}}
              Veröffentlicht {{timeFromNow availableDate}}<br />
            {{/if}}
            {{#if dueDate}}
            {{!-- TODO  Color by distance --}}
              Fällig {{timeFromNow dueDate}}
            {{else}}
               {{$t "homework.text.noSubmissionDateSet"}}
            {{/if}}
            &nbsp;<i class="fa fa-info" title="{{timeToString availableDate}} {{#if dueDate}}bis {{timeToString dueDate}}{{/if}}"></i>
        </div>
        <h2 class="h5 title">{{{stripOnlyScript this.name}}}</h2>
        <div class="description">
            {{#if this.description}}
                {{{ truncateHTML (conflictFreeHtml this.description) 140 false }}}
            {{else}}
                {{$t "homework.text.noDescriptionAvailable" }}
            {{/if}}
        </div>
        {{#if this.hasEvaluation}}
            <span class="count-badge" data-badge={{$t "homework.label.comment" }} /></span>
        {{/if}}
        {{#ifCond this.stats.submissionCount '>' this.stats.gradeCount}}
            <span class="count-badge" data-badge={{$t "homework.label.submissionsWithoutFeedback" }} /></span>
        {{/ifCond}}
        <span class="more">Details ><i className="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</li>