<li class="card assignment">
    <a href="{{this.url}}" alt="Details der Aufgabe: '{{this.name}}'">
        <div class="dates">
            {{#if availableDate}}
              Veröffentlicht {{timeFromNow availableDate}}<br />
            {{/if}}
            {{#if dueDate}}
            {{!-- TODO  Color by distance --}}
              Fällig {{timeFromNow dueDate}}
            {{/if}}
            &nbsp;<i class="fa fa-info" title="{{timeToString availableDate}} bis {{timeToString dueDate}}"></i>
        </div>
        <h2 class="h5 title">{{{stripOnlyScript this.name}}}</h2>
        <div class="description">
            {{#if this.description}}
                {{truncateHTML (stripHTMLTags this.description)}}
            {{else}}
                keine Beschreibung vorhanden
            {{/if}}
        </div>
        <span class="more">Details ><i className="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</li>