<li class="card assignment {{this.privateclass}} disableable{{#if this.stats}} has-stats{{/if}}{{#if this.grade}} has-stats{{/if}} {{this.privateclass}}"
    style="border-left:10px solid {{this.color}}">
    <a class="content" href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <div class="dates">
		 {{#if (userHasRole "student")}}
            <i class="fa fa-{{#if submissions}}check done{{else if warning}}exclamation-triangle danger{{else}}{{#unless submittable}}ban closed{{/unless}}{{/if}}"></i>
            {{/if}}
            {{#if this.availableDate}}{{timeToString availableDate}}<br />{{/if}}
            {{#if this.dueDate}}
            bis {{timeToString dueDate}}
            {{else}}
            {{$t "homework.text.noSubmissionDateSet"}}
            {{/if}}
        </div>
    </a>
    {{#if this.stats}}
    <a class="content" href="{{this.url}}#activetabid=submissions"
        title="Abgaben der Aufgabe: '{{{escapeHtml this.name}}}'">
        <div class="state">
            <circular-progress class="meinel-progress" primarycolor="#b10438" secondarycolor="#009688"
                accentcolor="lightgrey" data="{{this.stats.submissionPercentage}}"
                {{#if this.stats.gradePercentage}}secdata="{{this.stats.gradePercentage}}" {{/if}} width="70"
                height="70" style="width: 70px; height: 70px;" data-toggle="tooltip" data-placement="left"
                data-html="true" data-original-title="
                        Teilnehmer: {{this.stats.userCount}}</br>
                        Abgegeben: {{this.stats.submissionCount}}</br>
                        Bewertet: {{#if this.stats.gradeCount}}{{this.stats.gradeCount}}{{else}}-{{/if}}</br>
                        Ø: {{#if this.stats.averageGrade}}{{this.stats.averageGrade}}% richtig gelöst{{else}}-{{/if}}">
            </circular-progress>
        </div>
    </a>
    {{/if}}
   <div class="state">
        <div>
            {{#if (userHasRole "student")}}
            {{#if submissions}}
            {{$t "homework.text.done"}}
            {{else if warning}}
            {{$t "homework.text.toBeDoneWithin24Hours"}}
            {{else}}
            {{#unless submittable}}
            {{$t "homework.text.notDone"}}
            {{/unless}}
            {{/if}}
            {{/if}}
        </div>
        {{#if this.grade}}
        <a class="content" href="{{this.url}}#activetabid=feedback"
            title="Bewertung der Aufgabe: '{{{escapeHtml this.name}}}'">
            <circular-progress class="meinel-progress" primarycolor="#009688" accentcolor="lightgrey"
                data="{{this.grade}}" width="70" height="70" data-toggle="tooltip" data-placement="left"
                data-original-title="{{this.grade}}% richtig gelöst">
            </circular-progress>
        </a>
        {{/if}}
    </div>
    <a class="content" href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <h2 class="h6 title">
            {{#if this.courseId}}
            [<span>{{{stripOnlyScript this.courseId.name}}}</span>{{#if this.isSubstitution}}
            <sub>Vertretung</sub>{{/if}}] -
            {{/if}}
            {{{ stripOnlyScript this.name }}}
        </h2>
        <div class="ckcontent text-muted">
            {{#if this.description}}
                {{{ truncateHTML (conflictFreeHtml this.description) 140 false }}}
            {{/if}}
        </div>
    </a>
    <div>
        {{#inArray this.currentUser._id this.archived}}
        <span class="count-badge" data-badge="Archiviert" /></span>
        {{else}}
            {{#if ../this.private}}
            <span class="count-badge" data-badge="Entwürfe" /></span>
            {{else}}
            <span class="count-badge" data-badge="Gestellt" /></span>
            {{/if}}
        {{/inArray}}
        {{#if this.grade}}
            <span class="count-badge" data-badge="Feedback" /></span>
        {{/if}}
    </div>
    <div class="action-group">
        {{#userHasPermission "HOMEWORK_CREATE"}}
            {{#inArray ../this.currentUser._id ../this.archived}}
                <a class="btn btn-secondary btn-sm btn-archive" href="{{../url}}" target="_blank" data="archive=open"
                    title="Verschiebe Aufgabe zwischen Übersichtsseite und Archiv" alt-text="<i class='fa fa-archive'></i>">
                    <i class='fa fa-mail-reply'></i>
                </a>
            {{/inArray}}
            {{! Maybe Teachers create Tasks for other Teachers -> prevent editing by them }}
            {{#if ../this.isTeacher}}
                {{#notInArray ../this.currentUser._id ../this.archived}}
                    <a class="btn btn-secondary btn-sm btn-archive" href="{{../url}}" target="_blank" data="archive=done"
                        title="Verschiebe Aufgabe zwischen Übersichtsseite und Archiv" alt-text="<i class='fa fa-mail-reply'></i>">
                        <i class='fa fa-archive'></i>
                    </a>
                {{/notInArray}}
                {{#each ../this.actions}}
                    {{#if this.method}}
                        <a class="btn btn-secondary btn-sm {{this.class}}" href="{{this.link}}"
                            redirect="?p={{@root.pagination.currentPage}}" target="_blank" data-method="{{this.method}}"
                            data-name="{{../../name}}" title="Die Aufgabe: '{{{escapeHtml ../../name}}}' {{{escapeHtml this.title}}}.">
                            <i class="fa fa-{{this.icon}}"></i>
                        </a>
                    {{else}}
                        <a class="btn btn-secondary btn-sm {{this.class}}" href="{{this.link}}"
                            title="Die Aufgabe: '{{{escapeHtml ../../name}}}' {{this.title}}">
                            <i class="fa fa-{{this.icon}}"></i> {{this.label}}
                        </a>
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/userHasPermission}}
    </div>
    <a href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <span class="more">Aufgabe öffnen ><i className="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</li>