<li class="card assignment {{this.privateclass}} disableable{{#if this.stats}} has-stats{{/if}}{{#if this.grade}} has-stats{{/if}} {{this.privateclass}}"
    style="border-left:10px solid {{this.color}}">
    <a class="content" href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <div class="dates">
            {{#if this.availableDate}}{{timeToString availableDate}}<br />{{/if}}
            {{#if this.dueDate}}
            bis {{timeToString dueDate}}
            {{else}}
            Kein Abgabedatum festgelegt
            {{/if}}
        </div>
    </a>
    {{#if this.stats}}
    <a class="content" href="{{this.url}}#activetabid=submissions"
        title="Abgaben der Aufgabe: '{{{escapeHtml this.name}}}'">
        <div class="state">
            <circular-progress class="meinel-progress" primarycolor="#b10438" secondarycolor="#009688"
                accentcolor="lightgrey" data="{{this.stats.submissionPercentage}}"
                {{#if this.stats.gradePercentage}}secdata="{{this.stats.gradePercentage}}" {{/if}} width="70"
                height="70" style="width: 70px; height: 70px;" data-toggle="tooltip" data-placement="left"
                data-html="true" data-original-title="
                        Abgegeben: {{this.stats.submissionCount}}</br>
                        Bewertet: {{#if this.stats.gradeCount}}{{this.stats.gradeCount}}{{else}}-{{/if}}</br>
                        Ø: {{#if this.stats.averageGrade}}{{this.stats.averageGrade}}% richtig gelöst{{else}}-{{/if}}">
            </circular-progress>
        </div>
    </a>
    {{/if}}
    {{#if this.grade}}
    <a class="content" href="{{this.url}}#activetabid=feedback"
        title="Bewertung der Aufgabe: '{{{escapeHtml this.name}}}'">
        <div class="state">
            <circular-progress class="meinel-progress" primarycolor="#009688" accentcolor="lightgrey"
                data="{{this.grade}}" width="70" height="70" data-toggle="tooltip" data-placement="left"
                data-original-title="Du hast {{this.grade}}% richtig gelöst.">
            </circular-progress>
        </div>
    </a>
    {{/if}}
    <a class="content" href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <h2 class="h5 title">
            {{#if this.courseId}}
            [<span>{{{stripOnlyScript this.courseId.name}}}</span>{{#if this.isSubstitution}}
            <sub>Vertretung</sub>{{/if}}] -
            {{/if}}
            {{{ stripOnlyScript this.name }}}
        </h2>
        <div class="ckcontent">
            {{#if this.description}}
            {{{ truncateHTML (conflictFreeHtml this.description) 140 false }}}
            {{else}}
            keine Beschreibung vorhanden
            {{/if}}
        </div>
    </a>
    <div>
        {{#inArray this.currentUser._id this.archived}}
        <a href="/homework/asked"><span class="count-badge" data-badge="Archiviert" /></span></a>
        {{else}}
        {{#if ../this.private}}
        <a href="/homework/archive"><span class="count-badge" data-badge="Entwürfe" /></span></a>
        {{else}}
        <a href="/homework/private"><span class="count-badge" data-badge="Gestellt" /></span></a>
        {{/if}}
        {{/inArray}}
    </div>
    <div class="action-group">
        {{#inArray this.currentUser._id this.archived}}
        {{#userHasPermission "HOMEWORK_CREATE"}}
        <a class="btn btn-secondary btn-sm btn-archive" href="{{../url}}" target="_blank" data="archive=open"
            title="Verschiebe Aufgabe zwischen Übersichtsseite und Archiv" alt-text="<i class='fa fa-archive'></i>">
            <i class='fa fa-mail-reply'></i>
        </a>
        {{/userHasPermission}}
        {{else}}
        {{#userHasPermission "HOMEWORK_CREATE"}}
        <a class="btn btn-secondary btn-sm btn-archive" href="{{../url}}" target="_blank" data="archive=done"
            title="Verschiebe Aufgabe zwischen Übersichtsseite und Archiv" alt-text="<i class='fa fa-mail-reply'></i>">
            <i class='fa fa-archive'></i>
        </a>
        {{/userHasPermission}}
        {{/inArray}}
        {{#userHasPermission "HOMEWORK_CREATE"}}
        {{! Maybe Teachers create Tasks for other Teachers -> prevent editing by them }}
        {{#if ../this.isTeacher}}
        {{#each ../this.actions}}
        {{#if this.method}}
        <a class="btn btn-secondary btn-sm {{this.class}}" href="{{this.link}}" redirect="?p={{@root.pagination.currentPage}}" target="_blank"
            data-method="{{this.method}}" data-name="{{../../name}}"
            title="Die Aufgabe: '{{{escapeHtml ../../name}}}' {{{escapeHtml this.title}}}.">
            <i class="fa fa-{{this.icon}}"></i>
        </a>
        {{else}}
        <a class="btn btn-secondary btn-sm {{this.class}}" href="{{this.link}}"
            title="Die Aufgabe: '{{{escapeHtml ../../name}}}' {{this.title}}">
            <i class="fa fa-{{this.icon}}"></i> {{this.label}}
        </a>
        {{/if}}
        {{/each}}
        {{/if}}
        {{/userHasPermission}}
    </div>
    <a href="{{this.url}}" title="Details der Aufgabe: '{{{escapeHtml this.name}}}'">
        <span class="more">Details ><i className="fa fa-chevron-right" aria-hidden="true"></i></span>
    </a>
</li>
