<div class="form-group section-uploaded-files">
    <label>
        {{#if this.grading}}
            {{$t "homework.label.forGradingUploadedFiles"}}
        {{else}}
            {{$t "homework.label.forSubmissionUploadedFiles"}}
        {{/if}}
    </label>
    <br>
    <ul class="list-group-files js-file-list d-flex flex-row">
        {{#each this.fileIds}}
            <li class="list-group-item">
                <i class="fa fa-file" aria-hidden="true"></i>
                <a href="/files/file?file={{this._id}}" {{#ifeq this.securityCheck.status "blocked"}}class="btn-file-danger"{{/ifeq}}  target="_blank">
                    {{#if this.clearName}}
                        {{this.clearName}}
                    {{else}}
                        {{this.name}}
                    {{/if}}
                </a>
                <span class="fa-active">
                    {{#ifeq this.securityCheck.status "blocked"}}
                        <a href="#" class="btn-file-danger" title="Schädlicher Code">
                            <i class="fa fa-exclamation-triangle"></i>
                            <i class="fa fa-cloud-download disabled"></i>
                        </a>
                    {{else}}
                        <a href="/files/file?download=true&file={{../this._id}}" target="_blank">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                    {{/ifeq}}
                    {{#if ../deletionAllowed}}
                        <a href="/files/file/"
                            target="_blank"
                            data-method="delete-file"
                            data-file-name="{{this.name}}"
                            data-file-id="{{this._id}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    {{/if}}
                </span>
            </li>
        {{/each}}
    </ul>
</div>
