{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/help/help.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/help.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        {{> "help/search" class="md-2"}}

        <div class="container">
            <div class="row">
                {{#embed "help/icon-card" title="Inhaltsverzeichnis" icon="fa-list" class="table-of-contents-card hidden-sm-up col-xs-12"}}
                    {{#content "card-body"}}
                    <ul>
                        <li><a href="#Erste_Schritte">Erste Schritte</a></li>
                        <li><a href="#Nutzungshilfen">Nutzungshilfen</a></li>
                        {{#each tutorials}}
                            <li><a href="#{{this.title}}">{{this.title}}</a></li>
                        {{/each}}
                        <li><a href="#Kontakt">Kontaktformular</a></li>
                        <li><a href="#E-Mail">Schreib uns eine E-Mail</a></li>
                        <li><a href="#About">Über das Projekt</a></li>
                    </ul>
                    {{/content}}
                {{/embed}}

                {{#if false}}
                {{#embed "help/icon-card" title="Erste Schritte" icon="fa-child" class="first-steps-card col-xs-12" id="Erste_Schritte"}}
                    {{#content "card-body"}}
                        {{> "help/icon-link-group" links=firstStepsItems link-class="col-sm-3"}}
                    {{/content}}
                {{/embed}}
                {{/if}}

                {{#each tutorials}}
                    {{#embed "help/icon-card" title=this.title icon=this.icon id=this.title class="col-md-6"}}
                        {{#content "card-body"}}
                            <div class="collapse__section">
                                {{#each this.categories}}
                                    {{#if this.articles}}
                                        <div class="collapse__item">
                                            <div class="collapse__title collapsed" data-toggle="collapse" data-target="#{{this.id}}" aria-expanded="false">
                                                <i class="fa fa-fw fa-chevron-right" aria-hidden="true" data-expand></i>
                                                <i class="fa fa-fw fa-chevron-down" aria-hidden="true" data-collapse></i>
                                                <h5>
                                                    {{this.title}}
                                                </h5>
                                            </div>
                                            <ul id="{{this.id}}" class="collapse collapse__content">
                                                {{#each this.articles}}
                                                    <li><a href="/help/confluence/{{this.id}}">
                                                        {{this.title}}
                                                    </a></li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    {{else}}
                                        <div class="collapse__item">
                                            <div class="collapse__title single">
                                                <i class="fa fa-fw" aria-hidden="true"></i>
                                                <a href="/help/confluence/{{this.id}}">
                                                    <h5>
                                                        {{this.title}}
                                                    </h5>
                                                </a>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/content}}
                    {{/embed}}
                {{/each}}

                {{#embed "help/icon-card" title="Nutzungshilfen" icon="fa-map-signs" class="quickHelp-card col-xs-12" id="Nutzungshilfen"}}
                    {{#content "card-body"}}
                        {{> "help/icon-link-group" links=quickHelpItems link-class="col-sm-4"}}
                    {{/content}}
                {{/embed}}

                {{#embed "help/icon-card" title="Kontaktformular" icon="fa-pencil" class="contact-card col-md-6" id="Kontakt"}}
                    {{#content "card-body"}}
                        {{> "help/contact"}}
                    {{/content}}
                {{/embed}}

                {{#embed "help/icon-card" title="Schreib uns eine E-Mail" icon="fa-envelope" class="eMail-card col-md-6" id="E-Mail"}}
                    {{#content "card-body"}}
                        {{> "help/mail-card"}}
                    {{/content}}
                {{/embed}}

                {{#embed "help/icon-card" title="Über das Projekt" icon="fa-lightbulb-o" class="information-card col-xs-12" id="About"}}
                    {{#content "card-body"}}
                        {{> "help/icon-link-group" links=knowledgeItems link-class="col-sm-4"}}
                    {{/content}}
                {{/embed}}
            </div>
        </div>
    {{/content}}
{{/extend}}
