{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/help/help.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/help.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        {{> "help/search"}}

        {{#embed "help/component-card" title="Erste Schritte" icon="fa-child" class="first-steps-card"}}
            {{#content "card-body"}}
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Schüler">
                        <span>
                            <i class="fa fa-child"></i>
                            Schüler
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Lehrer">
                        <span>
                            <i class="fa fa-child"></i>
                            Lehrer
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Admin">
                        <span>
                            <i class="fa fa-child"></i>
                            Admin
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Schulleitung">
                        <span>
                            <i class="fa fa-child"></i>
                            Schulleitung
                        </span>
                    </a>
                </div>
            {{/content}}
        {{/embed}}

        {{#each tutorials}}
            {{#embed "help/component-card" title=this.title icon=this.icon class="accordion"}}
                {{#content "card-body"}}
                    {{#each this.categories}}
                        {{#if this.articles}}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <i class="fa fa-chevron-right bullet-icon" aria-hidden="true"></i>
                                    <h5 class="mb-0">
                                        <button class="btn btn-link entries-btn" type="button" data-toggle="collapse" data-target="#{{this.id}}" aria-expanded="true" aria-controls="collapseOne">
                                            {{this.title}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="{{this.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            {{#each this.articles}}
                                                <li><a href="/help/confluence/{{this.id}}">
                                                    {{this.title}}
                                                </a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                        <div class="card">
                            <a href="/help/confluence/{{this.id}}">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <i class="fa fa-chevron-right bullet-icon" aria-hidden="true"></i>
                                        <h5 class="mb-0">
                                            <button class="btn btn-link entries-btn" type="button">
                                                {{this.title}}
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/if}}
                    {{/each}}
                {{/content}}
            {{/embed}}
        {{/each}}

        {{#embed "help/component-card" title="Nutzungshilfen" icon="fa-map-signs" class="quickHelp-card"}}
            {{#content "card-body"}}
            <div class="card-row">
               <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Online-Videokurse">
                        <span>
                            <i class="fa fa-video-camera"></i>
                            Online-<br>Videokurse
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="MINT-EC Webinare">
                        <span>
                            <i class="fa fa-desktop"></i>
                            MINT-EC <br>Webinare
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Schnellstart PDF">
                        <span>
                            <i class="fa fa-file-pdf-o"></i>
                            Schnellstart <br>PDF
                        </span>
                    </a>
                </div>
            </div>
            {{/content}}
        {{/embed}}

        {{#embed "help/component-card" title="Kontaktformular" icon="fa-pencil" class="contact-card"}}
            {{#content "card-body"}}
                {{> "help/contact"}}
            {{/content}}
        {{/embed}}

        {{#embed "help/component-card" title="E-Mail" icon="fa-envelope" class="eMail-card"}}
            {{#content "card-body"}}
                <div>Cupcake ipsum dolor sit amet because jelly croissant jelly beans. Sweet biscuit bear is claw sesame. Snaps sugar plum chocolate cake ice cream sweet roll. Lollipop lemon drops jujubes, donut apple, pie gingerbread and dragée. I love ice cream so much. Chocolate cake lemon drops I love halvah dessert I love I love. Jelly-o cupcake donut, jelly halvah, chocolate bar and donut jelly bear claw. Jelly-o donut brownie cupcake marshmallow danish. Gummies jelly beans I love jelly beans gummies. Ice cream carrot cake powder liquorice. Tiramisu macaroon I love I love. Bonbon marzipan and gummi bears – what else?</div>
                <div id="email-addresses">
                    team@schulcloud.org <br>
                    orga@mint-ec.de <br>
                    ...
                </div>
            {{/content}}
        {{/embed}}

        {{#embed "help/component-card" title="Wissenswertes" icon="fa-lightbulb-o" class="information-card"}}
            {{#content "card-body"}}
            <div class="card-row">
               <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="FAQ">
                        <span>
                            <i class="fa fa-comments"></i>
                            FAQ
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="SSO">
                        <span>
                            <i class="fa fa-sign-in"></i>
                            SSO
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Release Notes">
                        <span>
                            <i class="fa fa-clipboard"></i>
                            Release Notes
                        </span>
                    </a>
                </div>
            </div>
            <div class="card-row">
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Über das Projekt">
                        <span>
                            <i class="fa fa-info"></i>
                            Über das Projekt
                        </span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        target="_blank"
                        title="Website">
                        <span>
                            <i class="fa fa-globe"></i>
                            Website
                        </span>
                    </a>
                </div>
            </div>
            {{/content}}
        {{/embed}}

    {{/content}}
{{/extend}}
