<div class="container-fluid">
    <div class="row">
        {{#each links}}
            <div class="link-wrapper col-xs-6 {{../link-class}} col-md" style="background-color: {{this.color}}">
                <a href="{{this.src}}" class="icon-link"
                    {{#ifneq (indexOf this.src "/") 0}}
                        {{#ifneq (indexOf ../this.src "#") 0}}
                            target="_blank" aria-label="{{../this.title}} {{$t "global.openInNewTabWarning"}} "
                        {{/ifneq}}
                    {{/ifneq}}>
                    <div class="item-wrapper">
                        {{#if this.img-src}}
                            <img src="{{this.img-src}}" alt="{{this.img-alt}}">
                        {{/if}}
                        {{#if this.icon}}
                            <i class="fa {{this.icon}}" aria-hidden="true"></i>
                        {{/if}}
                        <span>{{this.title}}</span>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>
