<div class="container-fluid">
    <div class="row">
        {{#each links}}
            <div class="link-wrapper col-xs-6 {{../link-class}} col-md" style="background-color: {{this.color}}">
                <a href="{{this.src}}"
                    target="_blank"
                    title="{{this.title}}">
                    <span>
                        <i class="fa {{this.icon}}"></i>
                        {{this.title}}
                    </span>
                </a>
            </div>
        {{/each}}
    </div>
</div>
