<div class="icon-card {{class}}" id="{{id}}">
    <div class="icon-card__content">
        {{#if icon}}
            <a href="#{{id}}" class="icon-card__icon" tabindex="-1" aria-label="{{{$t "help.anchor.aria_label.section" (dict "section" id)}}}">
                <i class="fa fa-fw {{icon}}" aria-hidden="true"></i>
            </a>
        {{/if}}
        <h2 class="h4 icon-card__title">{{title}}</h2>
        <div class="icon-card__body">
            {{#block "card-body"}}{{/block}}
        </div>
    </div>
</div>
