<!DOCTYPE html>
<html lang="{{#if userLanguage}}{{userLanguage}}{{else}}de{{/if}}" timezone="{{currentTimezone}}">

<head>
	{{#embed "lib/sentry"}}{{/embed}}
	<title>{{#if title}}{{title}} - {{/if}}{{theme.title}} - {{$t "lib.headline.yourDigitalLearningEnvironment"}}</title>
	<!--
		01001000 01010000 01001001  01010011 01100011 01101000 01110101 01101100 00101101 01000011 01101100 01101111 01110101 01100100
		 __  __  ____    ______      _____           __               ___            _____   ___                       __
		/\ \/\ \/\  _`\ /\__  _\    /\  __`\        /\ \             /\_ \          /\  __`\/\_ \                     /\ \
		\ \ \_\ \ \ \_\ \/_/\ \/    \ \,\_\_\    ___\ \ \___   __  __\//\ \         \ \ \/\_\//\ \     ___   __  __   \_\ \
		 \ \  _  \ \ ,__/  \ \ \     \/_\___ \  /'___\ \  _ `\/\ \/\ \ \ \ \   ______\ \ \/_/_\ \ \   / __`\/\ \/\ \  /'_` \
		  \ \ \ \ \ \ \/    \_\ \__    /\ \_\ \/\ \__/\ \ \ \ \ \ \_\ \ \_\ \_/\_____\\ \ \_\ \\_\ \_/\ \_\ \ \ \_\ \/\ \_\ \
		   \ \_\ \_\ \_\    /\_____\   \ `\____\ \____\\ \_\ \_\ \____/ /\____\/_____/ \ \____//\____\ \____/\ \____/\ \___,_\
		    \/_/\/_/\/_/    \/_____/    \/_____/\/____/ \/_/\/_/\/___/  \/____/         \/___/ \/____/\/___/  \/___/  \/__,_ /

		Mit Node, React und Feathers verknüpfst du eher die Sprache Javascript als Englisch? Du suchst ein junges Team, lockere Atmosphäre und flache Hierarchien? Dann schau dir unsere Stellen an: https://schul-cloud.org/community#jobs
	-->
	{{#block "meta"}}
	<meta name="csrfToken" content="{{csrfToken}}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#b10438">
	<meta name="apple-mobile-web-app-title" content="{{theme.title}}">
	<meta name="theme-color" content="#b10438">
	<meta name="application-name" content="{{theme.title}}">
	<meta charset="UTF-8">
	<meta name="X-Recruiting"
		content="Das Entwickler-Team der HPI Schul-Cloud sucht nach Verstärkung! Schaut doch mal nach unseren Stellen: https://hpi-schul-cloud.de/community#jobs">
	<link rel="mask-icon" href="{{getAssetPath '/images/logo/safari-pinned-tab.svg'}}" color="#b10438">
	<link rel="apple-touch-icon" href="{{getAssetPath '/images/logo/app-icon-512.png'}}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{getAssetPath '/images/logo/app-icon-120.png'}}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{getAssetPath '/images/logo/app-icon-152.png'}}">
	<link rel="apple-touch-icon" sizes="167x167" href="{{getAssetPath '/images/logo/app-icon-167.png'}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{getAssetPath '/images/logo/app-icon-180.png'}}">
	<link rel="icon" type="image/png" sizes="48x48" href="{{getAssetPath '/images/logo/favicon-48.png'}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{getAssetPath '/images/logo/favicon-32.png'}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{getAssetPath '/images/logo/favicon-16.png'}}">
	<link rel="manifest" href="{{getAssetPath '/images/manifest.json'}}">
	{{/block}}

	{{#block "styles"}}
	<link rel="preload" href="{{getAssetPath '/fonts/ptsans/ptsans-regular.woff2'}}?v=1.0.0" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{getAssetPath '/fonts/ptsans/ptsans-bold.woff2'}}?v=1.0.0" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{getAssetPath '/fonts/ptsans/ptsans-italic.woff2'}}?v=1.0.0" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/vendor-optimized/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font"
		type="font/woff" crossorigin>
	<link rel="stylesheet" href="{{getAssetPath '/styles/fonts/ptsans.css'}}" />
	<link rel="stylesheet" href="{{getAssetPath '/styles/lib/base.css'}}" />
	{{/block}}

	{{#block "scripts"}}
	{{#embed "lib/sw-metrix"}}{{/embed}}
	{{! make window.$t() available. Must be executed before all other scripts! }}
	<script src="{{getAssetPath '/scripts/i18n.js'}}" type="text/javascript" nonce="{{nonceValue}}"></script>
    <script src="{{getAssetPath '/scripts/timezone.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	<script src="{{getAssetPath '/scripts/all.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/block}}

</head>

<body class="{{#if inline}}window-inline{{/if}}">
<dl class="skipLinks" role="navigation" aria-label="{{$t "global.label.skipLinks"}}">
	<dd><a href="#main-content">{{ $t "global.link.mainContentSkipLink" }}</a></dd>
	<dd><a href="#top-navbar">{{ $t "global.link.topNavbarSkipLink" }}</a></dd>
	<dd><a href="#footer">{{ $t "global.link.footerSkipLink" }}</a></dd>
</dl>
	{{#block "body"}}{{/block}}

</body>

</html>
