<div class="error-header-wrapper pb-3">
    {{> 'lib/components/svg_error_content'}}
    <h2 class="error-header-code">{{error.statusCode}}</h2>
    <p class="error-header-text">
        {{#if error.statusCode}}
        {{castStatusCodeToString error.statusCode}}
        {{else}}
        {{$t "global.text.somethingWentWrong" }}
        {{/if}}
    </p>
    <button class="btn btn-primary historyback"><i class="fa fa-arrow-left"></i> {{$t "global.button.back" }}</button>
</div>

<div class="error-details-wrapper">
    <button id="error-toggle-details" class="btn btn-secondary mb-1" data-toggle="collapse" data-target="#error-details"
        aria-expanded="false" aria-controls="error-details">
        <span class="show">{{$t "lib.error.button.viewDetails" }}</span>
        <span class="hide">{{$t "lib.error.button.hideDetails" }}</span>
    </button>
    <div id="error-details" class="collapse card error-card">
        <div class="card-header">{{$t "lib.error.headline.errorDetails" }} <br />
            <code style="padding:0 0 0 0;">{{message}}</code>
        </div>
        {{#unlessEnv "NODE_ENV" "production"}}
        {{#if ../error.stack}}
        <div class="card-block error-description">
            <pre>{{../error.stack}}</pre>
        </div>
        {{/if}}
        {{/unlessEnv}}
    </div>
</div>
