{{#if loggedin}}

{{#extend "lib/loggedin"}}
	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/lib/error.css"/>
	{{/content}}

	{{#content "page"}}
		<div class="error-page">
			<section class="details">
				<div class="error-code">
					{{error.status}}
				</div>
				<div class="error-title">
					{{message}}
				</div>
				{{#if error.stack}}
					<div class="card error-card">
						<div class="card-header">
							Fehler-Details
						</div>
						<div class="card-block error-description">
							{{error.stack}}
						</div>
					</div>
				{{/if}}
			</section>

			<div class="bg-graphic bg-graphic-right"/>
		</div>
	{{/content}}
{{/extend}}
{{else}}

    {{#extend "lib/default"}}
        {{#content "styles" mode="append"}}
            <link rel="stylesheet" href="/styles/lib/error.css"/>
        {{/content}}

        {{#content "body"}}
            {{#embed "lib/header"}}{{/embed}}
            <div class="error-page">
                <section class="details">
                    <div class="error-code">
                        {{error.status}}
                    </div>
                    <div class="error-title">
                        {{message}}
                    </div>
                    {{#if error.stack}}
                        <div class="card error-card">
                            <div class="card-header">
                                Fehler-Details
                            </div>
                            <div class="card-block error-description">
                                {{error.stack}}
                            </div>
                        </div>
                    {{/if}}
                </section>

                <div class="bg-graphic bg-graphic-right"/>
            </div>
        {{/content}}
    {{/extend}}
{{/if}}