{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/user/language.css'}}"/>
        <link rel="stylesheet" href="{{getAssetPath '/styles/lib/loggedin.css'}}"/>
        <link rel="stylesheet" href="{{getAssetPath '/styles/lib/feedback-button.css'}}"/>
        <link rel="stylesheet" href="{{getAssetPath '/styles/lib/forms/form-auto-logout-alert.css'}}" />
		<noscript>
			<style>
				.section-title,
				#main-content,
				footer {
					opacity: 1;
				}
			</style>
		</noscript>
	{{/content}}

    {{#content "scripts" mode="append"}}
        <script
        src="{{getAssetPath '/scripts/user/language.js'}}"
        type="text/javascript"
        nonce="{{nonceValue}}"
        defer
    ></script>
        <script src="{{getAssetPath '/scripts/loggedin.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="{{getAssetPath '/scripts/autologout.js'}}" type="text/javascript" data-backendurl="{{@root.API_HOST}}" nonce="{{nonceValue}}" defer></script>
        <script type="text/javascript" src="{{getAssetPath '/vendor-optimized/mathjax/MathJax.js?config=TeX-AMS_HTML'}}" nonce="{{nonceValue}}" defer></script>
        <script type="text/javascript" src="{{getAssetPath '/vendor/feathersjs/feathers.js'}}" nonce="{{nonceValue}}" defer></script>
        {{#if @root.currentUser.preferences.enterthecloud}}
            <script type="text/javascript" src="{{getAssetPath '/vendor/enterthecloud.min.js'}}" nonce="{{nonceValue}}" defer></script>
        {{/if}}
    {{/content}}

    {{#content "body"}}

        {{#ifConfig "FEATURE_USER_MIGRATION_ENABLED" true}}
            {{#embed "lib/ldap_migration_banner"}}{{/embed}}
        {{else}}
            {{#inArray "ldapUniventionMigrationSchool" @root.currentSchoolData.features}}
                {{#embed "lib/ldap_migration_banner"}}{{/embed}}
            {{/inArray}}
        {{/ifConfig}}

        {{#if currentSchoolData.inMaintenance}}
            <input type="hidden" id="schuljahrtransfer" value="{{currentRole}}"/>
        {{/if}}

        {{#embed "lib/sidebar"}}{{/embed}}

		<section class="content-wrapper">
            <div class="content-min-height">
                <section class="demo" id="offlineAlert" style="display:none;">
                    <div class="alert alert-warning" role="alert">
                        <p>{{$t "lib.loggedin.text.youAreOffline" }}
                            <span class="hidden-md-down">{{$t "lib.loggedin.text.inOrderToShow" }}</span>
                        </p>
                    </div>
                </section>

                {{> "lib/components/notification"}}

                {{#embed "lib/topbar"}}{{/embed}}

                {{#hasConfig "GLOBAL_ANNOUNCEMENT_TEXT"}}
                    {{#hasConfig "GLOBAL_ANNOUNCEMENT_ROLES"}}
                        {{#ifneq (getConfig "GLOBAL_ANNOUNCEMENT_TEXT") ""}}
                            {{#ifneq (getConfig "GLOBAL_ANNOUNCEMENT_ROLES") ""}}
                                {{#if (userHasRoleFromArray (getConfig "GLOBAL_ANNOUNCEMENT_ROLES") ../currentUser)}}
                                    <section class="demo">
                                            <div class="alert alert-announcement no-bottom-margin" role="alert">
                                                <div>{{{$t (getConfig "GLOBAL_ANNOUNCEMENT_TEXT") }}}</div>
                                            </div>
                                    </section>
                                {{/if}}
                            {{/ifneq}}
                        {{/ifneq}}
                    {{/hasConfig}}
                {{/hasConfig}}

                <section class="section-title">
									<div class="container-fluid">
										<div class="row" id="titlebar">
											<div class="col-sm-9">
												{{#if this.breadcrumbs}}
													<div style="margin-bottom: 0.4rem; font-size: 14px;">
														<span>
															{{#each this.breadcrumbs}}
																{{#if this.title}}
																	<a class="{{#if @last}}active{{/if}}" 
																		href="{{this.url}}" 
																		{{#if this.dataTestId}} data-testid="{{this.dataTestId}}" {{/if}}>
																			{{{stripOnlyScript this.title}}}
																	</a> {{#unless @last}}/{{/unless}}
																{{/if}}
															{{/each}}
														</span>
													</div>
												{{/if}}
												{{#unless notitle}}
												{{#if title}}
													<div>
														<h1 class="h4" id="page-title" data-testid="{{title}}">{{{stripOnlyScript title}}}</h1>
													</div>
													{{/if}}
												{{/unless}}
												<div>
													{{subtitle}}
												</div>
											</div>
											{{#if showSearch}}
												<div id="searchBar" class="col-sm-3 hide-inline">
													{{#unless liveSearch}}<form class="search-wrapper" action="{{#if searchLabel}}{{searchAction}}{{else}}/content/{{/if}}" method="get">{{/unless}}
														<a href="" class="mobile-search-toggle" aria-label="{{$t "global.lib.loggedin.label.search"}}">
															{{#unless liveSearch}}<i class="fa fa-search"></i>{{/unless}}
														</a>
														<div class="input-group input-group-sm">
															<label for="search-box" hidden>{{#if searchLabel}}{{truncatePure searchLabel21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}</label>
															<input id="search-box" type="text" class="{{#if liveSearch}}js-search{{/if}} form-control search-field {{searchClass}}" placeholder="{{#if searchLabel}}{{truncatePure searchLabel 21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}" name="q" />
																{{> "lib/components/csrfInput"}}
																<span class="input-group-btn">
																	<button type="submit" class="btn btn-secondary" aria-label="{{#if searchLabel}}{{truncatePure searchLabel 21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}">
																		<i class="fa fa-search" aria-hidden="true"></i>
																	</button>
																</span>
														</div>
													{{#unless liveSearch}}</form>{{/unless}}
												</div>
											{{/if}}
										</div>
									</div>
                </section>

                <p id="preferences" hidden>{{ json currentUser.preferences }}</p>
                <p id="backendUrl" hidden>{{ backendUrl }}</p>
                <main id="main-content" class="container-fluid">
					{{#block "page"}}{{/block}}
                </main>

                {{#if notificationMessage}}
                    {{>"lib/components/notification"
                        notification=notificationMessage
                        style="position: sticky;
                        position: -webkit-sticky;
                        bottom: 1rem;
                        margin-right: 1rem;
                        z-index: 1;
                        margin-left: 40%;"
                    }}
                {{/if}}
            </div>
        </section>
    {{/content}}
{{/extend}}

{{#embed "lib/components/modal" class="auto-logout-alert-modal"}}
    {{#content "body"}}
        {{> "lib/forms/form-auto-logout-alert"}}
    {{/content}}
{{/embed}}
