{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getAssetPath '/styles/homepage/homepage.css'}}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{getAssetPath '/scripts/loggedout.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        {{#ifConfig "FEATURE_MATRIX_MESSENGER_ENABLED" true}}
            <script src="{{getAssetPath '/scripts/chatLoggedout.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        {{/ifConfig}}
    {{/content}}

    {{#content "body"}}
		{{> "lib/header"}}

		<main>
			{{#block "page"}}{{/block}}
		</main>

		{{> "lib/extended_footer"}}
    {{/content}}
{{/extend}}
