{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/lib/loggedin.css"/>
        <link rel="stylesheet" href="/styles/lib/feedback-button.css"/>
        <link rel="stylesheet" href="/styles/lib/forms/form-auto-logout-alert.css" />
        {{#ifConfig "FEATURE_MATRIX_MESSENGER_ENABLED" true}}
			{{#inArray "messenger" @root.currentSchoolData.features}}
				<link rel="stylesheet" href="/styles/lib/chatLoggedin.css"/>
			{{/inArray}}
		{{/ifConfig}}
		<noscript>
			<style>
				.section-title,
				#main-content,
				footer {
					opacity: 1;
				}
			</style>
		</noscript>
	{{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/loggedin.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="/scripts/autologout.js" type="text/javascript" data-backendurl="{{@root.BACKEND_URL}}" nonce="{{nonceValue}}" defer></script>
        <script type="text/javascript" src="/vendor-optimized/mathjax/MathJax.js?config=TeX-AMS_HTML" nonce="{{nonceValue}}" defer></script>
        <script type="text/javascript" src="/vendor/feathersjs/feathers.js" nonce="{{nonceValue}}" defer></script>
        {{#if @root.currentUser.preferences.enterthecloud}}
            <script type="text/javascript" src="/vendor/enterthecloud.min.js" nonce="{{nonceValue}}" defer></script>
        {{/if}}
        {{#ifConfig "FEATURE_MATRIX_MESSENGER_ENABLED" true}}
            {{#inArray "messenger" @root.currentSchoolData.features}}
                <script nonce="{{nonceValue}}">
                    window.matrixAssetDomain = '{{getConfig "MATRIX_MESSENGER_EMBED_URI"}}';
                    window.userLanguage = '{{ @root.userLanguage }}';
                </script>
                <script src="/scripts/chatLoggedin.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
            {{/inArray}}
        {{/ifConfig}}
    {{/content}}

    {{#content "body"}}

        {{#if currentSchoolData.inMaintenance}}
        <input type="hidden" id="schuljahrtransfer" value="{{currentRole}}"/>
        {{/if}}
        <div class="navtooltips"></div>
        <aside class="nav-sidebar hide-inline">
            <nav id="sidebar" aria-label="{{$t "global.aria_label.sidebar"}}">
                <ul class="sidebar-list">
                    <li>
                        <a class="sc-branding" href="/" title="{{$t "global.link.landing"}}">
                            <div class="cloud-logo"></div>
                            <div class="sc-title"><span>{{theme.short_title}}</span></div>
                        </a>
                    </li>
                    {{#each sidebarItems}}
                        <li>
								<a class="{{this.class}}" href="{{this.link}}" title="{{this.name}}" aria-label="{{this.name}} {{#if this.isExternalLink}}{{$t "global.link.openInNewTabWarning"}}{{/if}}" {{#if this.isExternalLink}}target="_blank" {{/if}}>
                                <i class="fa fa-{{this.icon}}" aria-hidden="true"></i>
                                <span class="link-name">{{this.name}}</span>
                            </a>

                            {{#if this.childActive}}
                                {{#if this.children}}
                                    <ul class="subitems">
                                        {{#each this.children}}
                                            <li data-testid="{{this.name}}">
												<a class="subitem {{this.class}}" href="{{this.link}}" title="{{this.name}}" aria-label="{{this.name}} {{#if this.isExternalLink}}{{$t "global.link.openInNewTabWarning"}}{{/if}}" {{#if this.isExternalLink}}target="_blank" {{/if}}>
													{{#if this.isExternalIcon}}
														{{{this.icon}}}
													{{else}}
														<i class="fa fa-{{this.icon}}" aria-hidden="true"></i>
													{{/if}}
													<span class="link-name">{{this.name}}</span>
												</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            {{/if}}

                        </li>
                    {{/each}}
                </ul>
            </nav>
        </aside>

		<section class="content-wrapper">
					<a class="mobile-nav-toggle" aria-label="{{$t "lib.loggedin.aria_label.mobileNavMenu"}}">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
				<div class="content-min-height">
					<section class="demo" id="offlineAlert" style="display:none;">
						<div class="alert alert-warning" role="alert">
							<p>{{$t "lib.loggedin.text.youAreOffline" }}
								<span class="hidden-md-down">{{$t "lib.loggedin.text.inOrderToShow" }}</span>
							</p>
						</div>
					</section>
				{{#ifeq currentRole "Demo"}}
					<section class="demo">
						<div class="alert alert-warning" role="alert">
							<p>{{$t "lib.loggedin.text.thisIsADemoAccount" }}
								<span class="hidden-md-down">{{$t "lib.loggedin.text.allActionsThatCreate" }}</span>
							</p>
						</div>
					</section>
				{{/ifeq}}

                {{> "lib/components/notification"}}
				<nav id="top-navbar" class="topbar navbar hide-inline" aria-label="{{ $t "global.aria_label.topMenu"}}">

                    {{#if breadcrumb}}
                        <ol class="breadcrumb">
                            {{#each breadcrumb}}
                                {{#if this.title}}
                                    <li class="breadcrumb-item {{this.class}}">
                                        <a href="{{this.url}}">{{{stripOnlyScript this.title}}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ol>
                    {{/if}}

                    <ul class="nav navbar-nav float-xs-none dropdowns">
                        <li class="nav-item alert-button">
                            <div class="dropdown minimal-button">
                                <a class="btn btn-secondary btn-thin dropdown-toggle btn-alert" href="" title="{{$t "lib.loggedin.label.thereIsAProblem"}}" aria-label="{{$t "lib.loggedin.label.thereIsAProblem"}}"
								   data-toggle="dropdown">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="content js-alert-content">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item fullscreen-action">
                            <div class="dropdown minimal-button">
                                <a class="btn btn-secondary btn-thin dropdown-toggle btn-fullscreen" href="" title="{{$t "lib.loggedin.label.fullscreen"}}" aria-label="{{$t "lib.loggedin.label.fullscreen"}}" data-toggle="dropdown">
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item qr-code-action">
                            <div class="dropdown minimal-button">
                                <a class="btn btn-secondary btn-thin dropdown-toggle btn-create-qr" href="" title="{{$t "lib.loggedin.label.qrCode"}}" aria-label="{{$t "lib.loggedin.label.qrCode"}}" data-toggle="dropdown">
                                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu print">
                                    <div class="content qr-show"></div>
										<div class="qr-hint-text">
											{{$t "global.text.qrHintText"}}
										</div>
                                    <div class="btn btn-secondary btn-print mb-1 ml-1 mt-0" data-toggle="tooltip" title="" data-original-title="{{$t "lib.loggedin.label.printQrCode"}}" tabindex="0">
                                        <i class="fa fa-print" aria-hidden="true"></i> {{$t "global.button.print" }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#if false}}
                        <li class="nav-item notification-dropdown">
                            <div class="dropdown minimal-button">
                                <a class="btn btn-secondary btn-thin dropdown-toggle notification-dropdown-toggle {{#if
                                        recentNotifications}}recent{{/if}}" href="" title="{{$t "lib.loggedin.label.notifications"}}" aria-label="{{$t "lib.loggedin.label.notifications"}}" data-toggle="dropdown">
                                    <i class="fa fa-bell" aria-hidden="true"></i> {{#if recentNotifications}}
                                    <span class="tag tag-primary">{{recentNotifications}}</span>{{/if}}
                                </a>

                                <div class="dropdown-menu">
                                    <div class="content">
                                        {{#if notifications}}
                                            {{#each notifications}}
                                                <div class="notification-item {{#unless this.read}}unread{{/unless}}"
                                                    data-notification-id="{{this.notificationId}}">
                                                    <a href="{{this.action}}"><b>{{this.title}}</b></a>
                                                    <br>
                                                    <span>{{this.body}}</span>
                                                    <time class="notification-time">{{timeFromNow this.date}}</time>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            <div class="notification-item" data-notification-id="0">
                                                <span>{{$t "lib.loggedin.text.noNotificationsAtTheMoment" }}</span>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/if}}

                        {{#embed "lib/help_menu"}}{{/embed}}

                        {{#if currentSchoolData}}
                            {{#unless currentSchoolData.isExpertSchool}}
                                <li class="nav-item school-data hidden-sm-down">{{ currentSchoolData.name }}</li>
                                {{#if currentSchoolData.logo_dataUrl}}
                                    <img class="nav-item federal-state" src="{{ currentSchoolData.logo_dataUrl }}" alt="{{$t "lib.loggedin.img_alt.logoOfSchool" (dict "name" currentSchoolData.name)}}">
                                {{/if}}
                            {{/unless}}
                        {{/if}}

                        <li class="nav-item">
                            <div class="btn-group" data-matomo-mask>
                              <div class="dropdown btn-avatar">
                                <a class="btn btn-secondary btn-thin dropdown-toggle" href=""
                                   title='{{ currentUser.displayName }} ({{ currentRole }})' aria-label='{{$t "lib.loggedin.label.currentUser"}} {{ currentUser.displayName }} {{ currentRole }}' data-toggle="dropdown">
                                  <div data-testid="initials" class="avatar-circle" >
                                      <span class="initials">{{ currentUser.avatarInitials }}</span>
                                  </div>
                                </a>
                                <input type="hidden" name="testUserGroup" id="testUserGroup" value="{{ currentUser.testGroup }}" />
                                <div class="dropdown-menu dropdown-menu-right" data-testid="icon-clickable">
                                    <div class="dropdown-name" data-testid="name-in-the-icon">{{ currentUser.displayName }} ({{$t (concat "global.placeholder." currentRole) }})</div>
                                    <a class="dropdown-item" data-testid="settings" href="/account/">{{$t "lib.loggedin.tab_label.settings" }}</a>
                                    <a class="dropdown-item localstorageclear" data-testid="logout" href="/logout/">{{$t "lib.loggedin.tab_label.signOut"}}</a>
                                </div>
                              </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                <section class="section-title">
                    <div class="container-fluid">
                        <div class="row" id="titlebar">
                            <div class="col-sm-9">
                                {{#unless notitle}}
                                  <div>
                                      <h1 class="h4" id="page-title">{{{stripOnlyScript title}}}</h1>
                                  </div>
                                {{/unless}}
                                <div>
                                    {{subtitle}}
                                </div>
                            </div>
                            {{#if showSearch}}
                                <div id="searchBar" class="col-sm-3 hide-inline">
                                    {{#unless liveSearch}}<form class="search-wrapper" action="{{#if searchLabel}}{{searchAction}}{{else}}/content/{{/if}}" method="get">{{/unless}}
                                        <a href="" class="mobile-search-toggle" aria-label="{{$t "global.lib.loggedin.label.search"}}">
                                            {{#unless liveSearch}}<i class="fa fa-search"></i>{{/unless}}
                                        </a>
                                        <div class="input-group input-group-sm">
								            <label for="search-box" hidden>{{#if searchLabel}}{{truncatePure searchLabel21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}</label>
											<input id="search-box" type="text" class="{{#if liveSearch}}js-search{{/if}} form-control search-field {{searchClass}}" placeholder="{{#if searchLabel}}{{truncatePure searchLabel 21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}" name="q" />
                                            {{> "lib/components/csrfInput"}}
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-secondary" aria-label="{{#if searchLabel}}{{truncatePure searchLabel 21}}{{else}}{{$t "lib.loggedin.input.searchFor"}}{{/if}}">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    {{#unless liveSearch}}</form>{{/unless}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </section>

                <p id="preferences" hidden>{{ json currentUser.preferences }}</p>
                <p id="backendUrl" hidden>{{ backendUrl }}</p>
                <main id="main-content" class="container-fluid">
					<dl class="skipLinks main" role="navigation" aria-label="{{$t "global.label.skipLinks"}} {{$t "global.aria_label.sidebar"}}">
						<dd>
							<a href="#sidebar">{{$t "global.aria_label.sidebar"}}</a>
						</dd>
					</dl>
					{{#block "page"}}{{/block}}
                </main>

                {{#if notificationMessage}}
                    {{>"lib/components/notification"
                        notification=notificationMessage
                        style="position: sticky;
                        position: -webkit-sticky;
                        bottom: 1rem;
                        margin-right: 1rem;
                        z-index: 1;
                        margin-left: 40%;"
                    }}
                {{/if}}
            </div>
            {{#unless inline}}
                {{#embed "lib/footer"}}{{/embed}}
            {{/unless}}

        </section>
    {{/content}}
{{/extend}}

{{#embed "lib/components/modal" class="auto-logout-alert-modal"}}
    {{#content "body"}}
        {{> "lib/forms/form-auto-logout-alert"}}
    {{/content}}
{{/embed}}
