<div class="navtooltips"></div>
    <aside class="sidebar">
        <nav id="sidebar" aria-label="{{$t "global.aria_label.sidebar"}}">
            <a class="sc-branding" href="/" title="{{$t "global.link.landing"}}" data-testid="{{$t "global.link.landing"}}">
                <div class="cloud-logo"></div>
                <div class="sc-title"><span>{{theme.short_title}}</span></div>
            </a>
            <ul class="sidebar-list">
                {{#each sidebarItems}}
                    <li>
                        {{#unless this.children}}
                            <a class="{{this.class}} sidebar-item" href="{{this.link}}" title="{{this.name}}" data-testid="{{this.testId}}" aria-label="{{this.name}} {{#if this.isExternalLink}}{{$t "global.link.openInNewTabWarning"}}{{/if}}" {{#if this.isExternalLink}}target="_blank" {{/if}}>
                                {{#if this.isExternalIcon}}
                                    {{{this.icon}}}
                                {{else}}
                                    <i class="mdi mdi-{{this.icon}}" aria-hidden="true"></i>
                                {{/if}}
                                <span class="link-name">{{this.name}}</span>
                            </a>
                        {{/unless}}
                        {{#if this.children}}
                            <div class="{{this.class}} sidebar-item" href="{{this.link}}" title="{{this.name}}" data-testid="{{this.testId}}" aria-label="{{this.name}} {{#if this.isExternalLink}}{{$t "global.link.openInNewTabWarning"}}{{/if}}" {{#if this.isExternalLink}}target="_blank" {{/if}}>
                                <div>
                                    {{#if this.isExternalIcon}}
                                        {{{this.icon}}}
                                    {{else}}
                                        <i class="mdi mdi-{{this.icon}}" aria-hidden="true"></i>
                                    {{/if}}
                                    <span class="link-name">{{this.name}}</span>
                                </div>
                                <i class="group-toggle-btn mdi mdi-chevron-down" data-group-name="{{this.groupName}}" aria-hidden="true"></i>
                            </div>
                            <ul class="subitems {{this.groupName}}" >
                                {{#each this.children}}
                                    <li data-testid="{{this.testId}}">
                                        <a class="subitem {{this.class}}" href="{{this.link}}" title="{{this.name}}" aria-label="{{this.name}} {{#if this.isExternalLink}}{{$t "global.link.openInNewTabWarning"}}{{/if}}" {{#if this.isExternalLink}}target="_blank" {{/if}}>
                                            <span class="link-name">{{this.name}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </nav>
    </aside>