<section class="section-partner">

    <div class="container">
        <div class="row">
            <div class="intro-box col-sm-12">
                <p>
                    Sie möchten die Schul-Cloud unterstützen? Das freut uns. Wenn Sie interessante Lern- und Lehrinhalte
                    haben wenden Sie sich bitte an <a href="mailto:inhalte@schul-cloud.org">inhalte@schul-cloud.org</a>.
                    Sonstige Anfragen und Angebote gerne unter <a href="mailto:schul-cloud@hpi.de">schul-cloud@hpi.de</a>.
                    Wer beim Entwickeln und Programmieren mithelfen möchte findet unter
                    <a href="https://schul-cloud.github.io">https://schul-cloud.github.io</a>  mehr Informationen.
                </p>
            </div>
        </div>
    </div>

    <h5>Projektdurchführung</h5>
    <div class="container">
        <div class="row">
            {{#each partners.project_partners}}
            <div class="partner-box-wrapper col-md-4">
                <div class="partner-box">
                    <a href="{{{url}}}">
                        <img src="{{{../logo_prefix}}}{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                            {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <h5>Pilotpartner Lerninhalte</h5>
    <div class="container">
        <div class="row">
            {{#each partners.content_partners}}
            <div class="partner-box-wrapper col-xs-6 col-md-3">
                <div class="partner-box">
                    <a href="{{{url}}}">
                        <img src="{{{../logo_prefix}}}{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                            {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <h5>Sponsoren</h5>
    <div class="container">
        <div class="row">
            {{#each partners.sponsors}}
            <div class="partner-box-wrapper col-xs-6 col-md-3">
                <div class="partner-box">
                    <a href="{{{url}}}">
                        <img src="{{{../logo_prefix}}}{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                            {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <h5>Fachbeirat</h5>
    <div class="container">
        <div class="row">
            <div class="intro-box col-sm-12">
                <p>
                    Das Schul-Cloud Projekt wird von einem Fachbeirat unterstüzt, der sich aus verschiedenen
                    Vertreter/innen der Bildungspraxis, Wirtschaft und Politik zusammensetzt. Im Fokus stehen neben
                    technischen Aspekten, auch Themen wie Datenschutz und Pädagogik. Die Ergebnisse der letzten
                    Fachbeirats-Sitzung können Sie in unserem
                    <a href="https://blog.schul-cloud.org/einblicke-in-die-arbeit-des-fachbeirats/">Blog</a> nachlesen.
                </p>
            </div>
        </div>
        <div class="row">
            <ul>
                {{#each partners.advisers}}
                <li>
                    <a href="{{{url}}}">{{{name}}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

</section>
