<section class="section-about">
    <h4>Über die HPI Schul-Cloud</h4>
    <p>Das  <a href="https://hpi.de" target="_blank">Hasso-Plattner-Institut</a> für Digital Engineering entwickelt unter der Leitung von Prof. Dr. Christoph Meinel zusammen mit <a href="https://www.mint-ec.de/" target="_blank">MINT-EC</a>, dem nationalen Excellence-Schulnetzwerk von über 300 Schulen bundesweit und unterstützt vom Bundesministerium für Bildung und Forschung die HPI Schul-Cloud. Sie soll die technische Grundlage schaffen, dass Lehrkräfte und Schüler in jedem Unterrichtsfach auch moderne digitale Lehr- und Lerninhalte nutzen können, und zwar so, wie Apps über Smartphones oder Tablets nutzbar sind.</p>
    <ul>
        <li>Mehr Informationen:
            <a href="https://hpi.de/fileadmin/user_upload/hpi/dokumente/publikationen/projekte/schul-cloud_beschreibung_website.pdf"
               title="Initiates file download" target="_blank">Kurzbeschreibung "Die HPI Schul-Cloud" (.pdf)</a>
        </li>
    </ul>
    <br/>
    <p>Das Projekt HPI Schul-Cloud ist im September 2016 in die 5-monatige Konzeptphase gestartet. Ab Mai 2017 startete die
        Pilotphase, in der zunächst 27 MINT-EC-Schulen die HPI Schul-Cloud testen und nutzen konnten. Im Mai 2018 begann die Roll-Out-Phase,
        in der die Nutzung der HPI Schul-Cloud stufenweise auf alle über 300 Schulen aus dem nationalen
        Excellence-Schulnetzwerks MINT-EC ausgeweitet wird. Zunächst wurden 40 weitere MINT-EC Schulen an die HPI Schul-Cloud angebunden, sodass derzeit 67 Pilotschulen die HPI Schul-Cloud testen können (Stand Juli 2018). <br/> Auch unser <a
                href="https://schul-cloud.org/team">Team</a> wächst stetig!</p>

    <div class="section-partner">
        <h4>Pilotschulen</h4>
        <h5>Best Practice Schulen</h5>
        <div class="container">
            <div class="row">
                {{#each schools.bp}}
                    <div class="partner-box-wrapper col-xs-6 col-md-3">
                        <div class="partner-box">
                            <a href="{{{url}}}" target="_blank">
                                <img src="{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                                    {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <h5>Pilotschulen <span class="text-muted" style="font-size: 12px;">(Start März 2017)</span></h5>
        <div class="container">
        <div class="row">
            {{#each schools.march2017}}
                <div class="partner-box-wrapper col-xs-6 col-md-3">
                    <div class="partner-box">
                        <a href="{{{url}}}" target="_blank">
                            <img src="{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                                {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
        <h5>Pilotschulen <span class="text-muted" style="font-size: 12px;">(Start Mai 2018)</span></h5>

        <div class="container">
            <div class="row">
                {{#each schools.mai2018}}
                    <div class="partner-box-wrapper col-xs-6 col-md-3">
                        <div class="partner-box">
                            <a href="{{{url}}}" target="_blank">
                                <img src="{{{logo}}}" alt="Logo {{{name}}}" class="img-fluid"
                                    {{#if padding}} style="padding: {{{padding}}};" {{/if}}>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <br/>
    <p>Im Rahmen des Projekts wird die HPI Schul-Cloud durch drei Arbeitsgruppen des MINT-EC-Themenclusters HPI Schul-Cloud
        unterstützt: AG IT, Schulleitung & Unterricht.<a href="https://www.mint-ec.de/fileadmin/content/schulcloud/Info_Kit.pdf" target="_blank">Hier</a> finden Sie die Ergebnisse aus den verschiedenen Arbeitsgruppen der Pilotphase, die in Form eines Info Kits zusammengefasst sind.</p><br/>
    <p>Wir möchten uns ganz herzlich für die tolle Zusammenarbeit und das große Engagement unserer Pilotschullehrkräfte
        bedanken!</p>
    
    <h4>Bildungswissenschaftliche Begleitung</h4>
    <p>Zur pädagogisch-didaktischen Unterstützung des Projekts im Sinne der Entwicklung von Beispielen für die
        Unterrichtsgestaltung
        mit verfügbarem digitalen Lernmaterial aus der HPI Schul-Cloud und dem Erkenntnisgewinn über die digitale
        Unterrichtsgestaltung
        mit der HPI Schul-Cloud ist eine externe bildungswissenschaftliche Begleitung beauftragt. Zum einen führt die
        <a href="https://osf.io/bzu4t/?view_only=14ad7519b5a24af7a83cf40b43377142" target="_blank">Universität Tübingen</a> eine wissenschaftliche
        Befragung der Pilotschulen zu Potenzialen der HPI Schul-Cloud durch. Zum anderen gestaltet das
       <a href="http://www.gei.de/abteilungen/schulbuch-als-medium/schools-in-the-cloud-wissenschaftliche-begleitforschung-der-schul-cloud-einfuehrung.html" target="_blank">Georg-Eckert-Institut</a>
       aufbauend auf den Ergebnissen von Unterrichtsbeobachtungen und Workshops mit den Pilotschulen ein
       Nutzungskonzept für die pädagogisch-didaktisch sinnvolle Anwendung der HPI Schul-Cloud. Außerdem hat das HPI zusammen mit der <a href="https://www.presse.uni-augsburg.de/unipressedienst/2018/jan-maerz/2018_003/" target="_blank">Universität Augsburg</a> 
       einen MOOC zu dem Thema <a href="https://mooc.house/courses/lernen40-2018" target="_blank">Lernen 4.0 - Möglichkeiten und Grenzen einer Digitalisierung im Bildungsbereich</a> durchgeführt.</p>
    <br/>
    <div class="container embed-pdf">
        <div class="row embed-pdf-row">
            <div class="single-pdf col-xs-12 col-md-3" data-pdf="/other/pdf/GEI-Fachuebergreifende-Unterrichtsszenarien-und-Methoden.pdf">
                <a href="#">
                    <div class="single-pdf-wrapper">
                        <b class="single-pdf-title">Die HPI Schul-Cloud im Unterricht - Fachübergreifende Unterrichtsszenarien
                            und Methoden</b>
                        <br/>
                        <img class="single-pdf-thumbnail" src="/images/pdf/pdf-thumbnail-Die-Schul-Cloud-im-Unterricht-Fachuebergreifende-Unterrichtsszenarien.jpg" />
                    </div>
                </a>
            </div>
            <div class="single-pdf col-xs-12 col-md-3" data-pdf="/other/pdf/Schul-Cloud-in-Unterricht-und-Schulalltag.pdf">
                <a href="#">
                    <div class="single-pdf-wrapper">
                        <b class="single-pdf-title">Die HPI Schul-Cloud in Unterricht und Schulalltag - Mehrwert und Voraussetzungen</b>
                        <br/>
                        <img class="single-pdf-thumbnail" src="/images/pdf/pdf-thumbnail-Schul-Cloud-in-Unterricht-und-Schulalltag.jpg" />
                    </div>
                </a>
            </div>
        </div> <!-- .row.embed-pdf-row -->
    </div> <!-- .container.embed-pdf -->
    
    <h4>Veröffentlichungen</h4>
    <div class="container embed-pdf">
        <div class="row embed-pdf-row">
            <div class="single-pdf col-xs-12 col-md-3" data-pdf="/other/pdf/Schulrechner-wandern-in-die-Cloud-2017.pdf">
                <a href="#">
                    <div class="single-pdf-wrapper">
                        <b class="single-pdf-title">Schulrechner wandern in die Cloud – Was bedeutet das für die unterschiedlichen Stakeholder?</b>
                        <br/>
                        <img class="single-pdf-thumbnail" src="/images/pdf/pdf-thumbnail-Schulrechner-wandern-in-die-Cloud.jpg" />
                    </div>
                </a>
            </div>
            <div class="single-pdf col-xs-12 col-md-3" data-pdf="/other/pdf/Konzept-und-Pilotierung-der-Schul-Cloud-2017.pdf">
                <a href="#">
                    <div class="single-pdf-wrapper">
                        <b class="single-pdf-title">Die Cloud für Schulen in Deutschland: Konzept und Pilotierung der HPI Schul-Cloud</b>
                        <br/>
                        <img class="single-pdf-thumbnail" src="/images/pdf/pdf-thumbnail-Konzept-und-Pilotierung-der-Schul-Cloud-2017.jpg" />
                    </div>
                </a>
            </div>
        </div> <!-- .row.embed-pdf-row -->
    </div> <!-- .container.embed-pdf -->

    <h5>Weitere Veröffentlichungen</h5>
    <ul>
        <br/>
        <li>2017: Malyska, V. & Meinel, C. (2017). Lernen in Wolken. didacta DIGITAL, 1/18, S. 16–17</li>
        <br/>
        <li>Malyska, V., Renz, J. & Meinel, C. (2018). Eine Innovation für Deutschlands Bildungslandschaft – Projekt
            Schul-Cloud . In Scheiter, K. & Riecke-Baulecke, T. (Hrsg.), Schulmanagement-Handbuch 165: Schule 4.0 (Vol.
            37, S. 75–83). München: Oldenbourg.
        </li>
        <br/>
        <li>Malyska, V. & Meinel, C. (2018). Lernen in Wolken. didacta DIGITAL, 1/18, S. 16–17</li>
    </ul>
    <br/>
    <h4>Aufzeichnungen von Vorträgen</h4>
    <ul>
        <li><a href="https://www.tele-task.de/series/1149/" target="_blank">Vorträge des 1. HPI Schul-Cloud-Forums (April
            2017)</a></li>
        <li><a href="https://www.tele-task.de/series/1196/" target="_blank">Vorträge des 2. HPI Schul-Cloud-Forums (März
            2018)</a></li>
    </ul>
    <br/>
    <h4>Unsere Auszeichnungen</h4>
    <p>Ernennung zum <a
            href="https://hpi.de/pressemitteilungen/2017/schul-cloud-als-ausgezeichneter-ort-2017-praemiert.html"
            target="_blank">„Ausgezeichneten Ort“</a> im bundesweiten Wettbewerb <a href="https://land-der-ideen.de"
                                                                                    target="_blank">„Land der Ideen“</a>.
    </p>

</section>
