<div href="/administration/datasources/{{run.logUrl}}" class="card card-block card-tool">
	<div class="main">
		<h2 class="h5">{{dateTimeToPicker run.createdAt}}</h2>
		<p>
			<nobr>Initialisiert von:</nobr>
			<nobr>{{run.createdBy.displayName}}</nobr>
		</p>
	</div>
	<div class="status">
		<div class="status-color status-color-{{toLowerCase run.status}}">
			{{#ifeq run.status "Error"}}
				<i class="fa fa-ban" aria-hidden="true"></i>
			{{/ifeq}}
			{{#ifeq run.status "Warning"}}
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			{{/ifeq}}
			{{#ifeq run.status "Success"}}
				<i class="fa fa-check" aria-hidden="true"></i>
			{{/ifeq}}
		</div>
		<small>{{run.status}}</small>
	</div>
</div>
