{{#extend "lib/default"}} {{#content "styles" mode="append"}}
<link rel="stylesheet" href="{{getAssetPath '/styles/authentication/home.css'}}" /> {{/content}} {{#content "scripts" mode="append"}}
<script src="{{getAssetPath '/scripts/login.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>

{{/content}} {{#content "body"}} {{#embed "lib/header" hideMenu=true}}{{/embed}}
<div class="container">
    <div class="row">
        <main id="main-content" class="col-md-8">
            <div class="hidden-md-up">
                {{> "authentication/forms/login"}}
            </div>

            <section class="card">
                <div class="card-block">
					<!-- GLOBAL_ANNOUNCEMENT -->
					{{#hasConfig "GLOBAL_ANNOUNCEMENT"}}
						<div class="notification alert alert-info">
							<div class="notification-content">
								{{{getConfig "GLOBAL_ANNOUNCEMENT"}}}
							</div>
						</div>
					{{/hasConfig}}
                        <!--Uncomment this when You will add brb Landing Page in ghost and remember about theme-blog.js-->

<!--                    <div class="hidden" id="SC_THEME">brb</div>-->
<!--                    <div class="brb-blog">-->
<!--                        <div class="content" style="opacity: 0; transition: opacity 0.7s ease-in;"></div>-->
<!--                        <div class="loading text-center mb-3" style="min-height: 70vh; margin-top: 100px;">-->
<!--                            <i class="fa fa-spinner fa-spin load-icon spinner" aria-hidden="true"-->
<!--                             style="font-size: 25px;"></i>-->
<!--                            <div class="placeholder" style="display: none;">-->
<!--                            <img src="{{getAssetPath '/images/repair.png'}}" width="350px">-->
<!--                            <p class="text-muted">{{$t "global.text.errorWhileLoadingPage"}}</p>-->
<!--                            <button type="button" class="btn btn-primary mt-2">{{$t "global.button.tryAgain"}}</button>-->
<!--                        </div>-->
<!--                        </div>-->
<!--                    </div>-->

 		        	<h4>{{$t "landingPageBrb.welcomeHeadline" (dict "shortTitle" theme.short_title)}}</h4>
 	 	        	<p>{{{$t "landingPageBrb.welcomeContent" (dict "shortTitle" theme.short_title)}}}</p>
            		<h4>{{$t "landingPageBrb.registrationHeadline" (dict "shortTitle" theme.short_title)}}</h4>
 			        <p>{{{$t "landingPageBrb.registrationContent" (dict "shortTitle" theme.short_title)}}}</p>
		            <h4>{{$t "landingPageBrb.valueStatementHeadline" (dict "shortTitle" theme.short_title)}}</h4>
  			        <ul>{{{$t "landingPageBrb.valueStatementContent" (dict "shortTitle" theme.short_title)}}}</ul>
           			<p>{{{$t "landingPageBrb.valueStatementImage"}}}</p>
		            <h4>{{$t "landingPageBrb.AccessHeadline" (dict "shortTitle" theme.short_title)}}</h4>
           			<p>{{$t "landingPageBrb.AccessContent" (dict "shortTitle" theme.short_title)}}</p>
            		<h4>{{$t "landingPageBrb.advantagesHeadline" (dict "shortTitle" theme.short_title)}}</h4>
            		<ul>{{{$t "landingPageBrb.advantagesContent" (dict "shortTitle" theme.short_title)}}}</ul>
            		<h4>{{$t "landingPageBrb.furtherInformationHeadline" (dict "shortTitle" theme.short_title)}}</h4>
            		<p>{{{$t "landingPageBrb.furtherInformationContent"}}}</p>
                </div>
            </section>
        </main>
        <aside class="col-md-4">
			<div class="hidden-sm-down">
            	{{> "authentication/forms/login"}}
			</div>

			<section id="partner" class="card">
				<div class="card-block">
					<h4 class="card-title">Projektdurchführung</h4>
					<div class="card-text partner-img">
						<a href="https://hpi.de/open-campus/hpi-initiativen/schulcloud.html" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/images/partner/hpi-logo.jpg" alt="Logo HPI" class="img-fluid">
						</a>
						<a href="https://mbjs.brandenburg.de" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/mbjs.png" alt="Logo MBJS" class="img-fluid">
						</a>
						<a href="https://www.ilb.de/de/wir-ueber-uns/beteiligungen/weitere-beteiligungen/digitalagentur-brandenburg-gmbh/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/daab.png" alt="Logo DAAB" class="img-fluid">
						</a>
						<a href="https://lisum.berlin-brandenburg.de/lisum/" target="_blank" rel="noopener">
							<img src="https://schul-cloud-hpi.s3.hidrive.strato.com/brb/images/lisum.png" alt="Logo LISUM" class="img-fluid">
						</a>
					</div>
				</div>
			</section>
        </aside>
    </div>
</div>

{{#embed "lib/extended_footer"}}{{/embed}} {{#embed "lib/components/modal-form" action="/pwrecovery/" method="post" class="pwrecovery-modal"}}
{{#content "fields"}} {{> "authentication/forms/pwrecovery"}} {{/content}} {{/embed}} {{/content}} {{/extend}}
