<h3>
	{{$t "dataprivacy.text_datenverarbeitung.heading.dataProcessingByTheSchools" }} {{theme.title}}
</h3>
<p>{{$t "dataprivacy.text_datenverarbeitung.text.whenUsingThe" }} {{theme.title}} {{$t "dataprivacy.text_datenverarbeitung.text.theContactPersonAndTheresponsibleBody" }} <a href="{{theme.url}}/link/Kontaktadressen" target="_blank" rel="noopener">{{theme.url}}/link/Kontaktadressen</a>.</p>

<p>{{$t "dataprivacy.text_datenverarbeitung.text.forquestiosAboutDataProtection" }} {{theme.title}} {{$t "dataprivacy.text_datenverarbeitung.text.throughTheSchool" }}</p>