<h3>
	B. Datenverarbeitung durch die Schulen als verantwortliche Stellen bei Nutzung der {{theme.title}}
</h3>
<p>Bei Nutzung der {{theme.title}} ist Ansprechpartner und verantwortliche Stelle für die Verarbeitung personenbezogener Daten nach der EU-Datenschutzgrundverordnung (DSGVO) die Schulleitung der jeweiligen Schule, die Du besuchst / Ihr Kind besucht. Die Kontaktadressen der teilnehmenden Schulen können in der folgenden Liste eingesehen werden: <a href="{{theme.url}}/link/Kontaktadressen" target="_blank" rel="noopener">{{theme.url}}/link/Kontaktadressen</a>.</p>

<p>Für Fragen zum Thema Datenschutz im Zusammenhang mit der {{theme.title}} durch die Schule kannst Du / können Sie sich jederzeit auch an den Datenschutzbeauftragten der Schule wenden. Dieser ist unter der in der Liste angegebenen postalischen Adresse sowie unter der dort angegebenen E-Mail-Adresse (Stichwort: „z. Hd. Datenschutzbeauftragter“) erreichbar.</p>