<h4>
	Registrierung und Erhebung personenbezogener Daten
</h4>
<p>Die Registrierung erfolgt grundsätzlich in elektronischer Form auf der Website:</p>

<p><a href="{{theme.url}}" target="_blank" rel="noopener">{{theme.url}}.</a></p>

<p>Die Erhebung personenbezogener Daten ist auf ein notwendiges Minimum beschränkt. Zur Registrierung in der {{theme.title}} sind folgende Angaben erforderlich:</p>
<ul>
	<li>Vor- und Nachname;</li>
	<li>Email-Adresse;</li>
	<li>Geburtsdatum;</li>
</ul>

<p>Diese Angaben werden gespeichert, damit Nutzer:innen mit ihrer E-Mail-Adresse und dem selbst gewählten Passwort Zugriff auf die {{theme.title}} erhalten.</p>

<h4>
	Nutzung der {{theme.title}}
</h4>
<p>Darüber hinaus werden bei der Nutzung der {{theme.title}} folgende Daten erfasst:</p>
<ul>
	<li>Nutzername und Nutzerkennung</li>
	<li>Angaben zur Einwilligung des Nutzers bzw. des Erziehungsberechtigten;</li>
	<li>Schuldaten (Schul-Kennung, Name, Anschrift, Bundesland);</li>
	<li>Kursdaten (Kurs-Kennung, Kursgruppe, Beschreibung, Daten, Termine);</li>
	<li>Von den Nutzern in den Bereich "Meine Dateien" hochgeladene Dateien (Inhaltsdaten und Metadaten, z.B. Dateiname, Dateipfad, Dateigröße);</li>
	<li>Aufgabendaten (Aufgaben-Kennung, Kommentare; Bearbeitungsstand in %; Teammitglieder);</li>
	<li>Supportanfragen (Betreff, Nachricht);</li>
	<li>Nutzungsdaten / Logdateien (gekürzte IP-Adressen, Klicks, Zeitstempel);</li>
	<li>Über die Chatfunktion ausgetauschte Inhalts- und Metadaten.</li>
</ul>

<h4>
	Verarbeitungszwecke
</h4>
<p>Die Verarbeitung der Daten in der {{theme.title}} erfolgt, um die Nutzung der {{theme.title}} als Lernplattform zu ermöglichen, d.h. die Bereitstellung von Lernsoftware als Web-Plattform einschließlich der Schaffung von Schnittstellen zu Schulportalen, webbasierten Diensten und Inhalten.</p>

<p>Im Einzelnen werden die Daten zu folgenden Zwecken verarbeitet:</p>
<ul>
	<li>Bereitstellung einer cloud-basierten Lernplattform, in der sich Nutzer von diversen Endgeräten aus anmelden können;</li>
	<li>Abruf von geeigneten Lerninhalten über den sog. Lernstore;</li>
	<li>Schaffung eines virtuellen Klassenzimmers, über das Lerninhalte vermittelt, Aufgaben verwaltet und die übrigen Zwecke der {{theme.title}} gebündelt werden;</li>
	<li>Kalender- und Erinnerungsfunktion;</li>
	<li>Dateimanagement;</li>
	<li>Bereitstellung von Kollaborations-Tools (z.B. Team-Arbeit mit anderen Schulen);</li>
	<li>Anzeige von Lernständen;</li>
	<li>Unterstützung der Schüler:innen bei der Nutzung interaktiver Materialen durch die Lehrkräfte;</li>
	<li>Bearbeitung von Supportanfragen;</li>
	<li>Softwareentwicklung;</li>
</ul>

<p>Bereitstellung von Kollaborations-Tools (Chatfunktion, Team-Arbeit innerhalb der Schule sowie mit anderen Schulen und/oder externen Experten).
Die {{theme.title}} dient der Vermittlung und Verwaltung von Lerninhalten sowie der Unterstützung des Bildungs- und Erziehungsauftrags der Schulen. Die {{theme.title}} dient ausdrücklich <b>nicht</b> für die schul-interne Datenverwaltung von Schüler:innen für andere Zwecke. In der {{theme.title}} sind daher insbesondere keine Funktionen zur Notenerfassung, Schülerbewertung oder Anwesenheitskontrolle vorgesehen. Die {{theme.title}} stellt auch kein digitales Klassenbuch dar.</p>