<div class="form-group">
    {{#if label}}
        <label for={{id}}>{{label}}</label>{{#if required}}<sup>*</sup>{{/if}}
    {{/if}}
    <div class="{{class}}">
    <input
            class="form-control linked"
            data-date
            name={{id}}
            autocomplete="off"
            id={{id}}
            type="text"
            value="{{#if value}}{{dateToPicker value}}{{/if}}"
            data-format="{{#if dataFormat}}{{dataFormat}}{{else}}{{$t "format.datePicker"}}{{/if}}"
            data-mask="{{#if dataMask}}{{dataMask}}{{else}}{{$t "format.datePickerMask"}}{{/if}}"
            data-min-date="{{#if dataMinDate}}{{dataMinDate}}{{else}}0{{/if}}"
            data-max-date="{{#if dataMaxDate}}{{dataMaxDate}}{{/if}}"
            data-testid="{{#if dataTestId}}{{dataTestId}}{{else}}form-date-input-{{id}}{{/if}}"
            {{#if disabled}}disabled{{/if}}
            {{#if required}}required{{/if}}
            {{#if readonly}}readonly{{/if}}
    />
</div>
</div>
