<div class="form-group">
    {{#if label}}
        <label for={{id}}>{{label}}</label>
    {{/if}}
    <div class="{{class}}">
    <input
            class="form-control"
            data-date
            name={{id}}
            autocomplete="off"
            id={{id}}
            type="text"
            value="{{dateToPicker value}}"
            {{#if dataFormat}}data-format="{{dataFormat}}"{{else}}data-format="{{$t "format.datePicker"}}"{{/if}}
            {{#if dataMask}}data-mask="{{dataMask}}"{{else}}data-mask="{{$t "format.datePickerMask"}}"{{/if}}
            {{#if dataMinDate}}data-min-date="{{dataMinDate}}"{{else}}data-min-date="0"{{/if}}
            {{#if dataTestId}}data-testid="{{dataTestId}}"{{else}}data-testid="form-date-input-{{id}}"{{/if}}
            {{#if disabled}}disabled{{/if}}
    />
</div>
</div>
