<div class="{{class}}">
    <input
        class="form-control"
        data-datetime name={{id}}
        autocomplete="off" id={{id}}
        type="text"
        value="{{value}}"
        {{#if dataMinDate}}data-min-date="{{dataMinDate}}"{{/if}}
        {{#if dataTestId}}data-testid="{{dataTestId}}"{{/if}}
    />
    <div class="input-group-addon">
        {{#if timezone}}
            <span class="input-group-text">{{ timezone }}</span>
        {{/if}}
        {{#if timezoneOffset}}
            <span class="input-group-text">(UTC{{ timezoneOffset }})</span>
        {{/if}}
    </div>
</div>
