<div class="form-group">
    <label for={{id}}>{{label}}</label>
    <div class="{{class}}">
    <input
            class="form-control"
            data-datetime name={{id}}
            autocomplete="off" id={{id}}
            type="text"
            value="{{value}}"
            {{#if dataMinDate}}data-min-date="{{dataMinDate}}"{{/if}}
            {{#if dataTestId}}data-testid="{{dataTestId}}"{{/if}}
    />
    {{#if currentTimezone}}
        <div class="input-group-addon">
            <span class="input-group-text">{{ currentTimezone }} (UTC{{currentTimezoneOffset}})</span>
        </div>
    {{/if}}
</div>
</div>
