<div class="form-group">
    {{#if label}}
        <label for={{id}}>{{label}}</label>{{#if required}}<sup>*</sup>{{/if}}
    {{/if}}
    <div class="{{class}}">
    <input
            class="form-control"
            data-datetime
            name={{id}}
            autocomplete="off"
            id={{id}}
            type="text"
            value="{{dateTimeToPicker value}}"
            {{#if dataFormat}}data-format="{{dataFormat}}"{{else}}data-format="{{$t "format.dateTimePicker"}}"{{/if}}
            {{#if dataMask}}data-mask="{{dataMask}}"{{else}}data-mask="{{$t "format.dateTimePickerMask"}}"{{/if}}
            {{#if dataMinDate}}data-min-date="{{dateTimeToPicker dataMinDate}}"{{else}}data-min-date="0"{{/if}}
            {{#if dataMaxDate}}data-max-date="{{dateTimeToPicker dataMaxDate}}"{{/if}}
            {{#if dataTestId}}data-testid="{{dataTestId}}"{{else}}data-testid="form-datetime-input-{{id}}"{{/if}}
            {{#if disabled}}disabled{{/if}}
            {{#if required}}required{{/if}}
            {{#if readonly}}readonly{{/if}}
    />
    {{#if currentTimezone}}
        <div class="input-group-addon">
            <span class="input-group-text">{{ currentTimezone }} {{#if currentTimezoneOffset}}(UTC{{currentTimezoneOffset}}){{/if}}</span>
        </div>
    {{/if}}
</div>
</div>
