<form class="form sections-{{sections}} {{class}}" action="{{action}}{{#if sso}}/sso/{{account}}{{/if}}"
	method="{{method}}" autocomplete="off">
	{{#for 1 (add sections 1) 1}}
		<input id="section-{{this}}" type="radio" name="stage" {{#ifvalue this value=1}}checked="checked"
			{{/ifvalue}} />
	{{/for}}

	<div class="stages">
		{{#for 1 (add sections 1) 1}}
			<label for="section-{{this}}" data-testid="section-{{this}}">{{this}}</label>
		{{/for}}
	</div>

	<span class="progressbar"></span>

	<div class="panels mb-2">
		{{#block "panels"}}{{/block}}
	</div>

	{{> "lib/components/csrfInput"}}

	{{#block "buttons"}}{{/block}}
	<button id="prevSection" class="btn btn-secondary" type="button" disabled="disabled">{{$t "global.button.back" }}</button>
	<button id="nextSection" class="btn btn-primary pull-right" type="submit" value="Submit" data-next-label="Weiter"
		data-submit-label="{{#unless submit-label}}Absenden{{else}}{{submit-label}}{{/unless}}">
		{{$t "global.button.continue" }}
	</button>
</form>
