{{#extend "lib/default"}}
    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/authentication/login.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script>
            window.setTimeout(function(){

                window.location.href = "{{origin}}";

            }, {{time}});
        </script>
    {{/content}}

    {{#content "body"}}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{> "lib/components/notification"}}
                </div>
                <div class="col-md-6 offset-md-3">
                    <hgroup>
                        <h3>{{title}}</h3>
                        <h4>{{subtitle}} <a href="{{origin}}">hier</a></h4>
                    </hgroup>
                </div>
            </div>
        </div>

        <div class="bg-graphic bg-graphic-left"></div>
        <div class="bg-graphic bg-graphic-right"></div>

    {{/content}}
{{/extend}}