{{#content "styles" mode="append"}}
<link rel="stylesheet" href="/styles/registration/pin.css" />
{{/content}}

<div class="pin-input {{class}}">
  Bestätigungscode: <input class="combined-pin" type="text" name="{{name}}" pattern="{{pattern}}{ {{~digits~}} }" {{#if required}}required{{/if}} tabIndex="-1"/>
  {{#times digits}}
    <input class="digit" type="text" pattern="{{../pattern~}} {1}" maxlength="1" placeholder="·" {{#if ../required}}required{{/if}}>
  {{/times}}
</div>

<script src="/scripts/dataprivacy/pin_input.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
