{{#extend "lib/simple"}}
	{{#content "scripts" mode="append"}}
		<script src="{{getVersionedPath '/scripts/dataprivacy/registration.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/content}}
	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="{{getVersionedPath '/styles/administration/dataprivacy.css'}}"/>
	{{/content}}
	{{#content "page"}}
		{{#unless this.correctID}}
			{{> "lib/registration"}}
		{{else}}
		{{#unless this.secure}}
			{{> "lib/registration"}}
		{{else}}

    <div id="language-screen" style="display: none;">
        <h2 class="h4">{{$t "registration._registration.global.headline.language" }}</h2>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6 col-sm-12">
                {{> "lib/forms/form-change-language" }}
            </div>
        </div>
        <p class="mt-2 explanation nomargin">{{$t "registration._registration.global.text.languageHint"}}</p>

        <button id="showAgeSelection" class="btn btn-primary pull-right" style="margin-top:6px;" >{{$t "global.button.next" }}</button>

    </div>
	<div id="welcome-screen" style="display: none;">
		<h2 class="h4">{{$t "registration._registration.headline.welcomeToTheRegistration" (dict "title" theme.title)}}</h2>
		<p>{{$t "registration._registration.text.theRegistrationProcessChangesAccordingToAge" (dict "minAge" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS "independentAge" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS)}}</p>
		<p>{{$t "registration._registration.text.pleaseChooseTheAgeOfTheStudents"}} </p>
		<div class="form-group">
			<fieldset>
				<input type="radio" id="reg-u16" name="student-age" value="u16"> <label for="reg-u16">{{$t "registration._registration.label.bellowNYearsOld" (dict "years" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS)}}</label><br>
				<input type="radio" id="reg-16" name="student-age" value="16"> <label for="reg-16">{{$t "registration._registration.label.overNYearsOld" (dict "years" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS)}}</label>
			</fieldset>
		</div>
		<p></p>
		<div id="infotext-u16" class="hidden">
			<p>{{$t "registration._registration.text.letsTakeThisStepWithYouAndYourChild" (dict "shortTitle" theme.short_title)}}</p>
			<p>{{$t "registration._registration.text.pleaseRegisterChildThenAgreeToTermsOfUse" (dict "shortTitle" theme.short_title "title" theme.title)}}</p>
		</div>
		<div id="infotext-16" class="hidden">
			<p>{{$t "registration._registration.text.thankYouForTakingThisStepWithUs" (dict "shortTitle" theme.title)}}</p>
			<p>{{$t "registration._registration.text.pleaseRegisterFirstAndAgreeToTerms" (dict "themetitle" theme.title)}}</p>
			<p><strong>{{$t "global.text.attention" }}</strong> {{$t "registration._registration.text.registrationMustBeDoneByYou" }}</p>
		</div>

        <button id="prevSection" class="btn btn-secondary" type="button">{{$t "global.button.back" }}</button>
		<button id="showRegistrationForm" class="btn btn-primary pull-right" disabled>{{$t "global.button.next" }}</button>

		<p class="mt-2 explanation nomargin">{{$t "registration._registration.text.linguisticNoteWeUseMaleFormForReadability" (dict "shortTitle" theme.short_title)}} 🌈🎉🦄 </p>

		{{#if importHash}}<input type="hidden" name="importHash" value="{{importHash}}" />{{/if}}
		{{#if classOrSchoolId}}<input type="hidden" name="classOrSchoolId" value="{{classOrSchoolId}}" />{{/if}}
		{{#if sso}}<input type="hidden" name="sso" value="{{sso}}" />{{/if}}
		{{#if account}}<input type="hidden" name="account" value="{{account}}" />{{/if}}
		{{#if invalid}}<input type="hidden" name="invalid" value="{{invalid}}" />{{/if}}

	</div>
		{{/unless}}
	{{/unless}}
	{{/content}}
{{/extend}}
