{{#extend "lib/simple"}}
  {{#content "scripts" mode="append"}}
    <script src="/scripts/pwrecovery.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/dataprivacy/user-registration.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/base64files.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/registration/pin.css" />
  {{/content}}
  {{#content "page"}}
      {{#embed "lib/forms/paginatedForm" sections=sectionNumber action="/registration/submit" method="post" class="registration-form parent" submit-label=($t "registration._registration.global.button.sendAndGetStarted")}}
      {{#content "panels"}}
      <input type="hidden" name="classOrSchoolId" value="{{user.classOrSchoolId}}"/>
      <input type="hidden" name="roles" value="employee"/>

      {{#if user.sso}}<input type="hidden" name="sso" value="{{user.sso}}"/>{{/if}}
      {{#if user.account}}<input type="hidden" name="account" value="{{user.account}}"/>{{/if}}

      {{#if user.importHash}}<input type="hidden" name="importHash" value="{{user.importHash}}"/>{{/if}}
      {{#if user.userId}}<input type="hidden" name="userId" value="{{user.userId}}"/>{{/if}}
      {{#if invalid}}<input type="hidden" name="invalid" value="{{invalid}}" />{{/if}}

      <section data-panel="section-1" class="noback">
      <h2 class="h4">{{$t "registration._registration.global.headline.language" }}</h2>
          <div class="row">
              <div class="form-group col-md-6 col-sm-12">
                  {{> "lib/forms/form-change-language" langParent=user }}
              </div>
          </div>
      </section>

      <section data-panel="section-2">
        <h2 class="h4">{{$t "registration._registration.headline.welcomeToTheRegistration" (dict "title" theme.title) }}</h2>
        <p>{{$t "registration._registration.text.thankYouForTakingThisStepWithUs" (dict "shortTitle" theme.title)}}</p>
        <p>{{$t "registration._registration.text.pleaseRegisterFirstAndAgreeToTerms" (dict "shortTitle" theme.title)}}</p>
        {{#ifeq userLanguage "de"}}
        <p class="mt-2 explanation nomargin">* {{$t "registration._registration.text.linguisticNoteWeUseMaleFormForReadability" (dict "shortTitle" theme.short_title)}} 🌈🎉🦄
		    </p>
        {{/ifeq}}
      </section>

      <section data-panel="section-3">
        <h2 class="h4">{{$t "registration._registration.employee.headline.yourData" }}</h2>
        <p>{{$t "registration._registration.global.text.weStoreUserDataSafely" (dict "shortTitle" theme.short_title)}}</p>

        <p>{{$t "registration._registration.global.text.weNeedFollowingDataForRegistration" (dict "shortTitle" theme.short_title)}}</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "global.label.firstNameColon" }} <sup>*</sup></label>
            <input class="form-control linked" name="firstName" type="text" placeholder="{{$t "global.placeholder.firstName"}}"
              value="{{user.firstName}}" required {{#if user.firstName}}readonly{{/if}}/>
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "global.label.lastNameColon" }} <sup>*</sup></label>
            <input class="form-control linked" name="lastName" type="text" placeholder="{{$t "global.placeholder.lastName"}}"
              value="{{user.lastName}}" required {{#if user.lastName}}readonly{{/if}}/>
          </div>
        </div>

        <div class="form-group">
          <label>{{$t "registration._registration.employee.input.yourEmailAddress" }} <sup>*</sup></label>
          <input class="form-control linked" type="email" name="email" placeholder="{{$t "registration._registration.employee.input.teacherEmail"}}"
            value="{{user.email}}" required {{#if user.email}}readonly{{else}}autocomplete{{/if}} />
        </div>

        {{> "lib/forms/password-hint" style="margin-top:1rem"}}
        <div class="row">
          <div class="form-group col-md-6 col-sm-12" style="margin-top:0;">
            <label>{{$t "global.label.password" }} <sup>*</sup></label>
            <input
              class="form-control linked"
              id="password"
              name="password_1"
              type="password"
              placeholder="{{$t "global.input.password"}}"
              minlength="8"
              pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>§$%&\/()=?\\;:,.#+*~']).{8,255}$"
              title="{{> "lib/forms/password-hint" plaintext=true}}"
              required/>
          </div>
          <div class="form-group col-md-6 col-sm-12" style="margin-top:0;">
            <label>{{$t "registration._registration.employee.label.repeatPassword"}} <sup>*</sup></label>
            <input
                    class="form-control"
                    id="password-control"
                    name="password_2"
                    type="password"
                    placeholder="{{$t "registration._registration.employee.input.repeatPassword"}}"
                    minlength="8"
                    pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[\-_!<>§$%&\/()=?\\;:,.#+*~']).{8,255}$"
                    title="{{> "lib/forms/password-hint" plaintext=true}}"
                    required/>
          </div>
        </div>
      </section>


      {{#if needConsent}}
      <section data-panel="section-4">
        <h2 class="h4">{{$t "global.headline.declarationOfConsent" }}</h2>
        <p>{{$t "registration._registration.employee.text.pleaseconfirmTheFollowingDeclarations" (dict "shortTitle" theme.title)}}</p>
        <p>{{{$t "registration._registration.global.text.iDeclareTheFollowing"}}}</p>
          {{#embed "registration/forms/einwilligungserklaerung"}}{{/embed}}
      </section>
      {{/if}}



      <section data-panel="section-5" class="submit-page" data-feature="pin">
        <h2 class="h4">{{$t "global.headline.almostThere"}}</h2>
        {{#embed "registration/request-pin"}}{{/embed}}
        <div id="pinverification">
            {{#embed "registration/pin" digits=4 pattern="[0-9]" required="true" name="pin" class="mail-validation my-1"}}{{/embed}}
        </div>
      </section>



      <section data-panel="section-6">
        <h2 class="h4">{{$t "registration._registration.global.headline.thankYouForRegistering" (dict "shortTitle" theme.short_title)}}</h2>
        <p>{{$t "registration._registration.employee.text.youCanNowSingIn" (dict "title" theme.title)}}</p>

        <a class="btn btn-primary" href="/logout">{{$t "registration._registration.global.button.openLogin" }}</a>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}

{{/extend}}
