{{#extend "lib/simple"}}
  {{#content "scripts" mode="append"}}
      <script src="/scripts/dataprivacy/user-registration.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	  <script src="/scripts/base64files.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
  {{/content}}
  {{#content "styles" mode="append"}}
      <link rel="stylesheet" href="/styles/administration/dataprivacy.css"/>
      <link rel="stylesheet" href="/styles/registration/pin.css" />
  {{/content}}
  {{#content "page"}}
    {{#embed "lib/forms/paginatedForm" sections=sectionNumber action="/registration/submit" method="post" class="registration-form parent" submit-label=($t "registration._registration.global.button.sendAndGetStarted")}}
      {{#content "panels"}}
      <input type="hidden" name="classOrSchoolId" value="{{user.classOrSchoolId}}"/>
      <input type="hidden" name="roles" value="student"/>

      {{#if user.sso}}<input type="hidden" name="sso" value="{{user.sso}}"/>{{/if}}
      {{#if user.account}}<input type="hidden" name="account" value="{{user.account}}"/>{{/if}}

      {{#if user.importHash}}<input type="hidden" name="importHash" value="{{user.importHash}}"/>{{/if}}
      {{#if user.userId}}<input type="hidden" name="userId" value="{{user.userId}}"/>{{/if}}
      {{#if invalid}}<input type="hidden" name="invalid" value="{{invalid}}" />{{/if}}

      <section data-panel="section-1">
        <h2 class="h4">{{$t "registration._registration.parent.heading.yourChildsData" }}</h2>
      <p>{{$t "registration._registration.global.text.bellowNYearsOldConsantOfLegalGuardian" (dict "shortTitle" theme.short_title "age" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS)}}</p>
        <p>{{$t "registration._registration.parent.text.weNeedFollowingDataOfChild" (dict "shortTitle" theme.short_title)}}</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "registration._registration.global.label.firstName" }} <sup>*</sup></label>
            <input class="form-control linked" name="firstName" type="text" placeholder="{{$t "registration._registration.parent.input.completeFirstName"}}"
              value="{{user.firstName}}" required {{#if user.firstName}}readonly{{/if}} />
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "registration._registration.global.label.lastName" }}<sup>*</sup></label>
            <input class="form-control linked" name="lastName" type="text"  placeholder="{{$t "registration._registration.parent.input.lastName"}}"
              value="{{user.lastName}}" required {{#if user.lastName}}readonly{{/if}}/>
          </div>
        </div>

        <div class="form-group">
          <label>{{$t "registration._registration.global.label.studentsDateOfBirth" }} <sup>*</sup></label>
          <input class="form-control linked" name="birthDate" type="text"
            data-date data-min-date="{{datePickerTodayMinus CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS 0 -1}}" data-max-date="{{datePickerTodayMinus 4 0 0}}"
            value="{{#if user.birthday}}{{dateToPicker user.birthday}}{{/if}}" autocomplete="off" required {{#if user.birthday}}readonly{{/if}}/>
        </div>

        <div class="form-group">
          <label>{{$t "registration._registration.global.label.studentEmailAddress" }} <sup>*</sup><small>{{$t "registration._registration.parent.text.studentNeedTheirOwnEmail" }}</small></label>
          <input class="form-control linked" name="email" type="email" placeholder="{{$t "registration._registration.parent.input.studentEmail"}}"
            value="{{user.email}}" required {{#if user.email}}readonly{{/if}} />
        </div>
        <p class="explanation nomargin">
            {{$t "registration._registration.global.text.theEmailAddressEnables" }}
        </p>
      </section>


      {{#if needConsent}}
      <section data-panel="section-2">
        <h2 class="h4">{{$t "registration._registration.parent.heading.yourData" }}</h2>
        <p>{{$t "registration._registration.parent.text.legalGuardingHasToAgreeToTermsOfUse" (dict "years" CONSENT_WITHOUT_PARENTS_MIN_AGE_YEARS "shortTitle" theme.short_title)}}</p>
        <p>{{$t "registration._registration.parent.text.forThisWeNeedFollowing" }}</p>
        <div class="row">
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "registration._registration.global.label.firstName" }}<sup>*</sup></label>
            <input class="form-control linked" name="parent_firstName" type="text" placeholder="{{$t "registration._registration.parent.input.yourFirstName"}}" required/>
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label>{{$t "registration._registration.global.label.lastName" }} <sup>*</sup></label>
            <input class="form-control linked" name="parent_lastName" type="text" placeholder="{{$t "registration._registration.parent.input.yourLastName"}}" required/>
          </div>
        </div>

        <div class="form-group">
          <label>{{$t "registration._registration.global.label.yourEmailAddress" }} <sup>*</sup> <small>{{$t "registration._registration.parent.text.mustNotBeYourChildsEmail" }}</small></label>
          <input class="form-control" type="email" name="parent_email" required placeholder="{{$t "registration._registration.parent.input.parentEmail"}}" autocomplete />
        </div>
        <p class="explanation nomargin">
          {{$t "registration._registration.parent.text.weNeedAnEmailAddress" (dict "shortTitle" theme.short_title)}}
          <br/>
          {{$t "registration._registration.parent.text.inAdditionWeArePlanning"}}
        </p>
      </section>


      <section data-panel="section-3">
        <h2 class="h4">{{$t "registration._registration.global.heading.declarationOfConsent" }}</h2>
        <p>{{$t "registration._registration.parent.text.pleaseConfirmTheFollowing" (dict "shortTitle" theme.short_title)}}</p>
          {{#embed "registration/forms/einwilligungserklaerung" prefix="parent_"}}{{/embed}}
      </section>
      {{/if}}



      <section data-panel="section-4" class="submit-page" data-feature="pin">
        <h2 class="h4">{{$t "registration._registration.global.heading.almostThere"}}</h2>
        {{#embed "registration/request-pin"}}{{/embed}}
        <div id="pinverification">
            {{#embed "registration/pin" digits=4 pattern="[0-9]" required="true" name="pin" class="mail-validation my-1"}}{{/embed}}
        </div>
        <input type="hidden" value="{{password}}" name="password_1" class="student-password-input" />
        <input type="hidden" value="{{password}}" name="password_2" class="student-password-input" />
      </section>



      <section data-panel="section-5">
        <h2 class="h4">{{$t "registration._registration.global.heading.thankYouForRegistering" (dict "shortTitle" theme.short_title)}}</h2>
      {{#if user.sso}}
              <p>{{$t "registration._registration.parent.heading.yourChildsSSO" }}</p>
      {{else}}
        <div>
          <p>
            {{{$t "registration._registration.parent.text.yourSonCanLogInWithThisData" (dict "shortTitle" theme.short_title)}}}
            <div class="print">
              <div class="recap">
                <!--<p>Nutzername: <i data-from="student-firstname"></i>.<i data-from="student-secondname"></i></p>-->
                <p>{{$t "registration._registration.global.label.eMail"}} <i data-from="email"></i></p>
                <p>{{$t "registration._registration.global.text.password" }} <i class="student-password">{{password}}</i></p>
              </div>
              <div class="btn btn-secondary btn-print" data-toggle="tooltip" title="" data-original-title="Anmeldedaten drucken">
                <i class="fa fa-print"></i> {{$t "registration._registration.global.button.toPress" }}
              </div>
            </div>
          </p>

          <p>{{$t "registration._registration.parent.text.whenLoggingInFor" }}</p>
        </div>
      {{/if}}
        <p>{{$t "registration._registration.parent.text.yourChildCan" }}</p>

        <a class="btn btn-primary" href="/logout">{{$t "registration._registration.global.button.openLogin" }}</a>
      </section>
      {{/content}}
    {{/embed}}
  {{/content}}
{{/extend}}
