{{#if prefix}}
	<label>
		<input name="{{prefix}}parentalAuthConsent" type="checkbox" value="true" required/>
		<span>{{{$t "registration._registration.parent.label.iAmLegalGuardianOfChild"}}}</span>
	</label>
	<p style="font-size: 8px;margin: 0;">&nbsp;</p>

	<label>
		<input name="{{prefix}}privacyConsent" type="checkbox" value="true" required/>
		<span>{{$t "registration.text.iAgreeThatThepersonalData"}}
			{{#if @root.schoolPrivacyLink}}
				{{$t "firstLogin.consent.text.the" }} <a href="{{@root.schoolPrivacyLink}}" class="base64File-download-btn" id="privacy-link" target="_blank">{{$t "global.text.dataProtection"}}</a>
			{{else}}
				{{$t "firstLogin.consent.text.the" }} <a href="{{@root.theme.documents.specificFiles.privacyExemplary}}" target="_blank">{{$t "global.text.dataProtection"}}</a>
			{{/if}}
			{{$t "theme.open.registration.text.byTheSchoolInThe" dict ("title" root.theme.title)}}</span>
	</label>
	<p class="explanation">{{{$t "registration._registration.global.text.agreementIsVoluntary" (dict "title" @root.theme.title)}}} {{{$t "registration._registration.global.text.agreementCanBeRevoked"}}} {{{$t "registration._registration.global.text.inCaseOfRevocationDataDeletion"}}}</p>
{{else}}
	<label>
		<input name="{{prefix}}privacyConsent" type="checkbox" value="true" required/>
		<span>{{{$t "registration._registration.global.text.myDataMayBeProcessed" (dict "link" @root.theme.documents.specificFiles.privacy "title" @root.theme.title)}}}</span>
	</label>
	<p class="explanation">{{{$t "registration._registration.global.text.agreementIsVoluntary" (dict "title" @root.theme.title)}}} {{{$t "registration._registration.global.text.agreementCanBeRevoked"}}} {{{$t "registration._registration.global.text.inCaseOfRevocationDataDeletion"}}}</p>
{{/if}}

<label>
    <input name="{{prefix}}termsOfUseConsent" type="checkbox" aria-required="true" value="true" required/>
    <span>{{{$t "registration.text.agreeTermsOfUse" (dict "link" @root.theme.documents.specificFiles.termsOfUse "title" @root.theme.title)}}}</span>
</label>
