{{#extend "news/news"}}
{{#content "page"}}
<p>
    <small class="text-muted">{{timeFromNow news.displayAt}}</small>
    {{#unless isRSS}}
    <small class="text-muted">
        {{$t "news.text.from" }} {{news.creator.firstName}} {{news.creator.lastName}} {{$t "news.text.created" }}
        {{#if news.updater}}
        {{$t "news.text.lastFrom" }} {{news.updater.firstName}} {{news.updater.lastName}} {{$t "news.text.processed" }}
        {{/if}}
        {{#if news.target.name}}
        {{#ifCond news.targetModel '===' 'teams'}}
        {{$t "news.text.inTheTeam" }}
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'courses'}}
        {{$t "news.text.inTheCourse" }}
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'class'}}
        {{$t "news.text.inTheClass" }}
        {{/ifCond}}
        <a href="/{{news.targetModel}}/{{news.target._id}}">{{news.target.name}}</a>
        {{/if}}
        {{#ifCond @root.currentUser.schoolId '===' news.schoolId}} {{$t "news.text.atYourSchool" }}{{else}}
        {{$t "news.text.atSchool" }} {{news.school.name}}
        {{/ifCond}}
    </small>
    {{/unless}}
    {{#if isRSS}}
    {{#userHasPermission "SCHOOL_NEWS_EDIT"}}
    <small class="text-muted">
        &nbsp;-
    </small>
    <small style="color: #b10438;">
        &nbsp;RSS
    </small>
    {{/userHasPermission}}
    {{/if}}

</p>
<div class="ckcontent">
    {{{news.content}}}
</div>
{{#unless isRSS}}
<div class="mt-1">
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-primary btn-edit" href="/news/{{../news._id}}/edit" alt="{{$t "global.button.edit" (dict "title" ../news.title)}}">
        {{$t "global.button.edit"}}
    </a>
    {{/inArray}}
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-secondary btn-delete" href="/news/{{../news._id}}" target="_blank" data-method="DELETE"
        data-name="{{../news.title}}" alt="{{$t "news.button.deleteNewsAlt" (dict "name" ../news.title)}}" redirect="/news/">
        {{$t "global.headline.delete" }}
    </a>
    {{/inArray}}
</div>
{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
{{#content "body"}}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-close">
        {{$t "global.button.cancel" }}
    </button>
    <button type="submit" class="btn btn-primary btn-submit">
        {{$t "global.headline.delete" }}
    </button>
</div>
{{/content}}
{{/embed}}
{{/unless}}
{{/content}}
{{/extend}}
