{{#extend "news/news"}}
{{#content "page"}}
<p>
    <small class="text-muted">{{$t "news.text.created" }}</small>
    {{#unless isRSS}}
    <small class="text-muted">
        {{#if news.creator}}
        {{$t "news.text.by" }}{{news.creator.firstName}} {{news.creator.lastName}}
        {{/if}}
        {{timeFromNow news.displayAt}}
        {{#if news.updater}}
        {{$t "news.text.last" }} {{$t "news.text.processed" }} {{$t "news.text.by" }}{{news.updater.firstName}} {{news.updater.lastName}}{{$t "news.text.closingBracket" }}
        {{/if}}
        {{#if news.target.name}}
        {{#ifCond news.targetModel '===' 'teams'}}
        {{$t "news.text.inTheTeam" }}
        <a href="/{{../news.targetModel}}/{{../news.target.id}}">{{../news.target.name}}</a>
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'courses'}}
        {{$t "news.text.inTheCourse" }}
         <a href="/{{../news.targetModel}}/{{../news.target.id}}">{{../news.target.name}}</a>
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'class'}}
        {{$t "news.text.inTheClass" }}
 <a href="/{{../news.targetModel}}/{{../news.target.id}}">{{../news.target.name}}</a>
        {{/ifCond}}
        {{/if}}
        {{#ifCond @root.currentUser.schoolId '===' news.school.id}} {{$t "news.text.atYourSchool" }}{{else}}
        {{$t "news.text.atSchool" }} {{../news.school.name}}
        {{/ifCond}}
    </small>
    {{/unless}}
    {{#if isRSS}}
    {{#userHasPermission "SCHOOL_NEWS_EDIT"}}
    <small class="text-muted">
        &nbsp;-
    </small>
    <small style="color: #9e292b;">
        &nbsp;RSS
    </small>
    {{/userHasPermission}}
    {{/if}}

</p>
<div class="ckcontent">
    {{{news.content}}}
</div>
{{#unless isRSS}}
<div class="mt-1">
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-primary btn-edit" href="/news/{{../news.id}}/edit" alt="{{$t "global.button.edit" (dict "title" ../news.title)}}">
        {{$t "global.button.edit"}}
    </a>
    {{/inArray}}
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-secondary btn-delete" data-testid="btn-delete-news" href="/news/{{../news.id}}" target="_blank" data-method="DELETE"
        data-name="{{../news.title}}" alt="{{$t "news.button.deleteNewsAlt" (dict "name" ../news.title)}}" redirect="/news/">
        {{$t "global.headline.delete" }}
    </a>
    {{/inArray}}
</div>
{{#embed "lib/components/modal" class="delete-modal" title="${res.$t('global.text.areYousure')}"}}
{{#content "body"}}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-close">
        {{$t "global.button.cancel" }}
    </button>
    <button type="submit" class="btn btn-primary btn-submit" data-testid="delete-article-btn">
        {{$t "global.headline.delete" }}
    </button>
</div>
{{/content}}
{{/embed}}
{{/unless}}
{{/content}}
{{/extend}}
