{{#extend "news/news"}}
{{#content "page"}}
<p>
    <small class="text-muted">{{timeFromNow news.displayAt}}</small>
    {{#unless isRSS}}
    <small class="text-muted">
        von {{news.creator.firstName}} {{news.creator.lastName}} erstellt
        {{#if news.target.name}}
        {{#ifCond news.targetModel '===' 'teams'}}
        im Team
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'courses'}}
        im Kurs
        {{/ifCond}}
        {{#ifCond news.targetModel '===' 'class'}}
        im Kurs
        {{/ifCond}}
        <a href="/{{news.targetModel}}/{{news.target._id}}">{{news.target.name}}</a>
        {{else}}
        in der Schule {{news.school.name}}
        {{/if}}

    </small>
    {{/unless}}
    {{#if isRSS}}
    {{#userHasPermission "SCHOOL_NEWS_EDIT"}}
    <small class="text-muted">
        &nbsp;-
    </small>
    <small style="color: #b10438;">
        &nbsp;RSS
    </small>
    {{/userHasPermission}}
    {{/if}}

</p>
<div class="ckcontent">
    {{{news.content}}}
</div>
{{#unless isRSS}}
<div class="mt-1">
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-primary btn-edit" href="/news/{{../news._id}}/edit" alt="Artikel '{{../news.title}}' bearbeiten.">
        Bearbeiten
    </a>
    {{/inArray}}
    {{#inArray 'NEWS_EDIT' ../news.permissions}}
    <a class="btn btn-secondary btn-delete" href="/news/{{../news._id}}" target="_blank" data-method="DELETE"
        data-name="{{../news.title}}" alt="Artikel '{{../news.title}}' löschen" redirect="/news/">
        Löschen
    </a>
    {{/inArray}}
</div>
{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
{{#content "body"}}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-close">
        Abbrechen
    </button>
    <button type="submit" class="btn btn-primary btn-submit">
        Löschen
    </button>
</div>
{{/content}}
{{/embed}}
{{/unless}}
{{/content}}
{{/extend}}
