{{#content "scripts" mode="append"}}
    <script src="/scripts/ckeditor/ckeditor.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/mousetrap/mousetrap.js" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/jquery/datetimepicker-easy.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    <script src="/scripts/news.js" nonce="{{nonceValue}}" defer></script>
    <script nonce="{{nonceValue}}">
        window.addEventListener('DOMContentLoaded', function() {
            Mousetrap.bind(['command+s', 'ctrl+s'], function(e) {
                document.getElementById('news-form').submit();
                return false;
            });

        });
    </script>
{{/content}}
{{#extend "news/news"}}
    {{#content "page"}}
        <form class="modal-form" id="news-form" method="post" action="{{action}}">
            {{#if method}}
                <input type="hidden" name="_method" data-force-value="true" value="{{method}}" />
            {{/if}}

            {{#if context}}
                <input type="hidden" name="context" value="{{context}}" />
            {{/if}}

            {{#if contextId}}
                <input type="hidden" name="contextId" value="{{contextId}}" />
            {{/if}}

            <input name="schoolId" type="hidden" data-force-value="true" value="{{currentSchool}}" />

            <div class="form-group">
                <label>{{$t "news.label.title" }}</label>
                <input data-testid="news_title" class="form-control" name="title" type="text" placeholder="{{$t "news._news.input.title"}}" value="{{news.title}}" required />
            </div>

            <div class="form-group">
                <label>{{$t "news.label.content" }}</label>
                <textarea type="text" class="form-control ckeditor customckeditor" name="content" placeholder="{{$t "news._news.label.contentOfMessage"}}" required>{{news.content}}</textarea>
            </div>

            <div class="form-group">
                <label>{{$t "news.label.scheduleAutomaticPublication" }}</label>
                <input class="form-control" data-datetime data-min-date="0" data-testid="news_date_to_be_displayed" name="displayAt" type="text" value="{{news.displayAt}}"/>
            </div>

            <div class="modal-footer">
                <button class="btn btn-add btn-secondary btn-cancel">
                    {{closeLabel}}
                </button>
                {{> "lib/components/csrfInput"}}
                <button type="submit" data-testid="btn_news_submit" class="btn btn-primary btn-submit">
                    {{submitLabel}}
                </button>
            </div>
        </form>

        {{#embed "lib/components/modal-cancel" class="cancel-modal"}}

        {{/embed}}

        {{#embed "lib/components/modal-actions" class="ckeditor-filebrowser-dialog"}}
		{{/embed}}

    {{/content}}
{{/extend}}
