<section id="loginarea" class="card mt-3">
	<div class="card-block">
		<h1 class="h4 card-title">{{$t "login.headline.loginForRegisteredUsers"}}</h1>
		<div class="card-text form-wrapper">
			{{> "lib/components/notification"}}

			<div class="notification alert alert-danger alert-cookies-blocked hidden">
				<div class="notification-content">
					{{{getConfig "LOGIN_BLOCKED_COOKIES_NOTE"}}}
				</div>
			</div>

			<form method="post" action="/login" class="login-form">
				<input type="hidden" name="redirect" value={{redirect}} />

				<div class="form-group">
					<label for="name">{{$t "login.input.emailUsername"}}</label>
					<input type="text" id="name" autocomplete="off" name="username" class="form-control form-control-lg" placeholder="{{$t "login.input.emailUsername"}}" style="margin-bottom: 0.5rem" data-testid="username" required >
						<label for="password">{{$t "global.input.password"}}</label>
					<div class="input-group mt-1 show_hide_password" style="margin-top: 0rem !important">
						<input type="password" id="password" autocomplete="current-password" name="password" maxlength="72" class="form-control form-control-lg"  placeholder="{{$t "global.input.password"}}" data-testid="password" required>
						<div class="input-group-addon">
							<a href="" title="{{$t "login.button.show_password"}}" style="cursor: pointer;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
						</div>
					</div>
					{{#ifEnv "FEATURE_JWT_EXTENDED_TIMEOUT_ENABLED" "true"}}
					<div class="form-check" style="margin-top: 10px;">
						<input type="checkbox" id="privateDevice" name="privateDevice" value="true">
						<label for="privateDevice">{{$t "login.label.thisIsAPrivateDevice"}}</label>
						<a type="button" data-toggle="tooltip" data-placement="left" title="{{$t "login.button.longerLoggedInWhenActivated"}}" class="btn-link px-1">
							<i aria-hidden="true" class="fa fa-info"></i>
						</a>
					</div>
					{{/ifEnv}}
				</div>

                <a title={{$t "login.button.moreOptions"}} class="btn form-group toggle-btn btn-block btn-secondary btn-toggle-providers ">
                    <i aria-hidden="true" class="fa fa-chevron-down"></i> {{$t "login.button.moreOptions"}}
                </a>


				<div class="login-providers">
					<div class="form-group">
						<label for="school">{{$t "global.link.school"}}</label>
						<select tab-index="0" id="school" name="schoolId" class="school search-enabled" data-placeholder="{{$t "login.input.school"}}">
								<option selected value="">{{$t "login.input.noSchoolsSelection"}}</option>
							{{#each schools}}
								<option value="{{this._id}}">{{this.name}}</option>
							{{else}}
								<option disabled>{{$t "login.input.noSchoolsAvailable"}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group">
						<label for="system">{{$t "login.label.system"}}</label>
						<select id="system" name="system" class="system" data-placeholder="{{$t "login.input.system"}}">
							{{#each systems}}
								<option value="{{this._id}}//{{this.type}}">{{this.type}}{{#if this.alias}}({{this.alias}}){{/if}}</option>
							{{else}}
								<option disabled>{{$t "login.input.noSystemsAvailable"}}</option>
							{{/each}}
						</select>
					</div>
					<div>
					<a type="button" title={{$t "login.button.less"}} class="btn form-group toggle-btn btn-block btn-secondary btn-hide-providers"><i class="fa fa-chevron-up"></i>{{$t "login.button.less"}}</a>
					</div>
				</div>
				{{> "lib/components/csrfInput"}}
				<div class="form-group">
					{{#if notification.statusCode}}
						<input autofocus aria-label="login" type="submit" id="submit-login" class="btn btn-block btn-primary btn-login" value="{{$t "home.header.link.login"}}" data-testid="submit-login" data-timeout="{{notification.timeToWait}}" disabled/>
					{{else}}
						<input autofocus aria-label="login" type="submit" id="submit-login" class="btn btn-block btn-primary btn-login" value="{{$t "home.header.link.login"}}" data-testid="submit-login" />
					{{/if}}
				</div>
			</form>
		</div>
		<div style="text-align:center">
			<a href="" class="submit-pwrecovery">{{$t "login.link.forgotPassword"}}</a>
		</div>
	</div>
</section>
<div class="alert-section"></div>
<div>
    {{#if notification.statusCode}}
		{{#embed "help/partials/login_failed_hint"}}{{/embed}}
    {{/if}}
</div>
