<section class="files">
    <div class="row">
        {{#each files}}
            <div class="col-sm-6 col-xs-12 col-md-4">
                <div class="card file" data-href="/files/file?file={{this.name}}" data-file-name="{{this.name}}"
                     onMouseOver="document.getElementById('{{this.name}}').innerHTML = writeFileSizePretty({{this.size}})"
                     onMouseOut= "document.getElementById('{{this.name}}').innerHTML = ''">
                    <div class="openFile">
                        <div class="card-block"
                             onclick="location.href='#file-view';
                                     fileViewer('{{this.type}}', '{{this.file}}','{{this.key}}');">
                            <div class="card-title">
                                <div class="col-sm-3 no-padding">
                                    <div class="file-preview"
                                         style="background-image: url({{this.thumbnail}}); -webkit-background-size: 50px ;background-size: 50px;"></div>
                                </div>
                                <a class="title">
                                    {{this.name}}
                                </a>
                            </div>
                            <div class="card-text">
                                <small class="file-location">{{#if this.context}}gefunden in: {{this.context}}{{/if}}</small><br>
                                <a href="/files/file?download=1&file={{this.file}}"
                                   target="_blank"
                                   data-method="download">
                                    <i class="fa fa-cloud-download"></i>
                                </a>

                                <a href="/files/file/"
                                   target="_blank"
                                   data-method="delete"
                                   data-file-name="{{this.name}}"
                                   data-file-path="{{this.path}}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                                <a href="#"
                                   class="btn-file-share"
                                   data-file-path="{{this.key}}">
                                    <i class="fa fa-share-alt"></i>
                                </a>

                                <a href="#"
                                   class="btn-file-move"
                                   data-file-path="{{this.path}}"
                                   data-file-id="{{this._id}}"
                                   data-file-name="{{this.name}}">
                                    <i class="fa fa-share"></i>
                                </a>
                                <small class="file-info" id="{{this.name}}"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

{{#embed "lib/components/modal-form" class="edit-modal" title="Neuer Ordner" closeLabel="Abbrechen" submitLabel="Ordner erstellen"}}
    {{#content "fields"}}
        <input type="text" class="form-control" name="new-dir-name" placeholder="Name des Ordners" required />
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
    {{#content "body"}}

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-close">
                Abbrechen
            </button>

            <button type="submit" class="btn btn-primary btn-submit">
                Löschen
            </button>
        </div>
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="share-modal"}}
    {{#content "fields"}}
        {{> "files/forms/form-share-file"}}
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="move-modal"}}
    {{#content "fields"}}
        {{> "files/forms/form-move"}}
    {{/content}}
{{/embed}}