<section class="files">
	<div class="row">
		{{#each files}}
			<div class="col-sm-12">
				<div class="card file {{#ifeq this.securityCheck.status "blocked"}}btn-file-danger{{/ifeq}}" data-href="/files/file?file={{this.name}}" data-file-name="{{this.name}}" data-file-size="{{this.size}}" data-file-id="{{this._id}}">
					<div class="openFile">
						<div class="card-block
							{{#ifneq this.securityCheck.status "blocked"}} fileviewer{{/ifneq}}"
							{{#ifneq this.securityCheck.status "blocked"}} data-file-viewer-type="{{../this.type}}"{{/ifneq}}
							{{#ifneq this.securityCheck.status "blocked"}} data-file-viewer-savename="{{../this.saveName}}"{{/ifneq}}
							{{#ifneq this.securityCheck.status "blocked"}} data-file-viewer-id="{{../this._id}}"{{/ifneq}}
							tabindex="0" aria-label="{{$t "files.label.clickToOpenFile" (dict "name" this.name)}}"
							role="button">
							<div class="card-title">
								<div class="file-preview-wrapper col-sm-1 no-padding hidden-xs-down">
									<div class="file-preview"
										 style="background-image: url({{this.thumbnail}}); -webkit-background-size: 25px ;background-size: 25px;"></div>
								</div>
								<a class="col-sm-10 title">
									{{this.name}}
									{{#if this.size}}
										<small style="float: right;" class="file-info" id="{{this._id}}"></small>
									{{/if}}
								</a>
							</div>
							<div class="card-text">
							  <small class="file-location">{{#if this.context}}{{$t "files.text.foundIn"}} {{this.context}}{{/if}}</small><br>
								{{#ifeq this.securityCheck.status "blocked"}}
									<a href="#"
									class="btn-file-danger"
									title="{{$t "files.label.dangerousCode"}}">
										<i class="fa fa-exclamation-triangle"></i>
									</a>
								{{else}}
									<a href="/files/file?download=true&file={{../this._id}}&name={{../this.storageFileName}}"
										target="_blank"
										data-method="download"
										title="{{$t "files.label.downloadFile"}}"
										role="button">
										<i class="fa fa-cloud-download"></i>
									</a>
								{{/ifeq}}

								<a  href="#"	
								    data-file-id="{{this._id}}"
									data-file-name="{{this.name}}"
									data-file-path="{{this.path}}"
									title="{{$t "files.label.renameFile"}}"
									class="fa fa-edit file-name-edit"
									role="button">
								</a>	

								{{#ifneq this.context 'geteilte Datei'}}
								{{#userHasPermission "FILE_DELETE"}}
								<a href="/files/file/"
								   target="_blank"
								   data-method="delete"
								   title="{{$t "files.label.deleteFile"}}"
								   data-file-id="{{../this._id}}"
								   data-file-name="{{../this.name}}"
								   role="button"
									<i class="fa fa-trash-o"></i>
								</a>
								{{/userHasPermission}}

								<a href="#"
								class="btn-file-share"
								title="{{$t "files.label.shareFile"}}"
								data-file-id="{{../this._id}}"
								data-file-name="{{../this.name}}"
								id="{{@index}}"
								role="button">
									<i class="fa fa-share-alt"></i>
								</a>

								<div class="popup-overlay" id="{{@index}}">

									<div class="popup-content" id="{{@index}}">
										<a class="btn btn-secondary btn-file-share-view" data-file-id="{{../this._id}}" data-file-attribute="view" style="width: 100%">{{$t "global.button.edit"}}</a>
										<a class="btn btn-secondary btn-file-share-download" data-file-id="{{../this._id}}" data-file-attribute="download" style="width: 100%">{{$t "files.button.download"}}</a>
										<a class="btn btn-secondary btn-file-share-close" style="width: 100%">{{$t "global.button.close"}}</a>
									</div>
								</div>

									{{#if ../this.userIsOwner}}
										<a
										href=""
										class="btn-file-move"
										title="{{$t "files.label.moveFile"}}"
										data-file-path="{{../path}}"
										data-file-id="{{../_id}}"
										data-file-name="{{../name}}"
										role="button"
										disabled>
											<i class="fa fa-folder-open"></i>
										</a>
									{{/if}}
								{{/ifneq}}

								<a
									href="#"
									class="btn-file-settings"
									title="{{$t "files.label.editFilePermissions"}}"
									data-file-id="{{this._id}}"
									role="button"
								>
									<i class="fa fa-cogs"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</section>

{{#embed "lib/components/modal-form" class="edit-modal" title=($t "files.headline.newFolder") closeLabel=($t "global.button.cancel") submitLabel=($t "global.button.createFolder")}}
	{{#content "fields"}}
		<label for="new-dir-name" hidden>{{$t "files.input.foldername"}}</label>
		<input id="new-dir-name" type="text" class="form-control" name="new-dir-name" placeholder="{{$t "files.input.foldername"}}" required />
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal" class="delete-modal" title=($t "global.text.areYouSure")}}
	{{#content "body"}}

		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-close">
				{{$t "global.button.cancel" }}
			</button>

			<button type="submit" class="btn btn-primary btn-submit">
				{{$t "global.headline.delete" }}
			</button>
		</div>
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-information" class="move-modal-disabled danger-modal" title="Funktion vorübergehend deaktiviert"}}
	{{#content "fields"}}
			<p>Das Verschieben von Dateien ist zurzeit nicht möglich. Wir arbeiten mit Hochdruck an einer Lösung.</p>
			<p><b>Kleiner Tipp:</b> Du kannst die gewünschte Datei herunterladen und danach in den richtigen Ordner hochladen.</p>
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="share-modal"}}
	{{#content "fields"}}
		{{> "files/forms/form-share-file"}}
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="permissions-modal"}}
	{{#content "fields"}}
		{{> "files/forms/form-file-permissions"}}
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="move-modal"}}
	{{#content "fields"}}
		{{> "files/forms/form-move"}}
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="rename-modal"}}
	{{#content "fields"}}
		{{> "files/forms/form-name-edit"}}
	{{/content}}
{{/embed}}


{{#embed "lib/components/modal-information" class="danger-modal" title=($t "files.headline.attention")}}
	{{#content "fields"}}
		{{> "files/forms/form-virus-danger"}}
	{{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="new-file-modal" title=($t "files.headline.createNewFile") closeLabel=($t "global.button.cancel") submitLabel=($t "files.button.createNewFile") }}
	{{#content "fields"}}
		{{> "files/forms/form-new-file"}}
	{{/content}}
{{/embed}}

