<section class="files">
    <div class="row">
        {{#each files}}
            <div class="col-sm-6 col-xs-12 col-md-4">
                <div class="file-preview file" data-href="/files/file?file={{this.name}}" data-file-name="{{this.name}}"
                    onMouseOver="document.getElementById('{{this.name}}').innerHTML = writeFileSizePretty({{this.size}})"
                    onMouseOut= "document.getElementById('{{this.name}}').innerHTML = ''"
                    onclick="location.href='#file-view';
                            fileViewer('{{this.type}}', '{{this.file}}','{{this.key}}');"
                    style="background-image: url({{this.thumbnail}});">
                    <div class="preview-image" style="background-image: url({{this.thumbnail}});">
                    </div>
                    <div class="footbar">
                        <span class="title">
                            <span>
                                <span class="filename">{{this.name}}</span>
                                <small>({{prettyFileSize this.size}})</small>
                            </span>
                            <div><small class="file-location">{{#if this.context}}gefunden in: {{this.context}}{{/if}}</small></div>
                        </span>
                        <div class="actions">
                            <a href="/files/file?download=1&file={{this.file}}"
                               target="_blank"
                               data-method="download">
                                <i class="fa fa-cloud-download"></i>
                            </a>

                            {{#ifneq this.context 'geteilte Datei'}}
                                {{#userHasPermission "FILE_DELETE"}}
                                    <a href="/files/file/"
                                       target="_blank"
                                       data-method="delete"
                                       data-file-key="{{../this.key}}"
                                       data-file-name="{{../this.name}}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {{/userHasPermission}}

                                <a href="#"
                                   class="btn-file-share"
                                   data-file-id="{{../this._id}}">
                                    <i class="fa fa-share-alt"></i>
                                </a>

                                {{#userHasPermission "FILE_MOVE"}}
                                    <a href="#"
                                       class="btn-file-move"
                                       data-file-path="{{../path}}"
                                       data-file-id="{{../_id}}"
                                       data-file-name="{{../name}}">
                                        <i class="fa fa-share"></i>
                                    </a>
                                {{/userHasPermission}}
                            {{/ifneq}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>

{{#embed "lib/components/modal-form" class="edit-modal" title="Neuer Ordner" closeLabel="Abbrechen" submitLabel="Ordner erstellen"}}
    {{#content "fields"}}
        <input type="text" class="form-control" name="new-dir-name" placeholder="Name des Ordners" required />
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal" class="delete-modal" title="Bist du dir sicher?"}}
    {{#content "body"}}

        <div class="modal-footer">
            <button type="button" class="sc-btn sc-btn-secondary btn-close">
                Abbrechen
            </button>

            <button type="submit" class="sc-btn sc-btn-primary btn-submit">
                Löschen
            </button>
        </div>
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="share-modal"}}
    {{#content "fields"}}
        {{> "files/forms/form-share-file"}}
    {{/content}}
{{/embed}}

{{#embed "lib/components/modal-form" class="move-modal"}}
    {{#content "fields"}}
        {{> "files/forms/form-move"}}
    {{/content}}
{{/embed}}