{{#extend "lib/loggedin" searchLabel="Dateien durchsuchen ..." searchAction="/files/search/" searchClass="file-search"}}

	{{#content "styles" mode="append"}}
		<link rel="stylesheet" href="/styles/files/files.css"/>
	{{/content}}

	{{#content "scripts" mode="append"}}
		<script src="/scripts/dropzone/dropzone.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/files.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
		<script src="/scripts/jquery.cookie.js" type="text/javascript" nonce="{{nonceValue}}" defer></script>
	{{/content}}

	{{#content "page"}}
		<div class="route-files">
			{{#if canUploadFile}}
				{{#embed "files/file-upload"}}{{/embed}}
			{{/if}}
			<section class="section-title">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 no-padding">
							<h2 class="h5">
								{{#each breadcrumbs}}
									<a class="{{#if @last}}active{{/if}}"
									   href="{{this.url}}">{{{stripOnlyScript this.label}}}</a><span> / </span>
								{{/each}}
							</h2>
							{{#if courseUrl}}
								<a href="{{courseUrl}}" class="btn btn-secondary pull-right">
									<i class="fa fa-graduation-cap"></i>
									{{ toCourseText }}
								</a>
							{{/if}}
						</div>
					</div>
				</div>
			</section>

			<div class="pull-right">
				<!-- <select name="sortBy" class="form-control">
					 {{#each sortOptions}}
						<option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
							{{this.label}}
						</option>
					{{/each}}
				</select> -->
				<label for="sortOrder" style="position: absolute;left:-999px">{{$t "global.headline.sorting"}}</label>
				<select id="sortOrder" name="sortOrder" class="form-control">
					<option value="asc" {{#ifeq fileSort.sortOrder "asc"}}selected{{/ifeq}}>{{$t "files.button.ascending" }}</option>
					<option value="desc" {{#ifeq fileSort.sortOrder "desc"}}selected{{/ifeq}}>{{$t "files.button.descending" }}</option>
				</select>
			</div>

			{{#if directories}}
			<h3 class="h6" style="padding: 1rem 0 1.5rem">{{$t "files.label.folder"}}</h3>
			<section class="directories">
				<div class="row">
					{{#each directories}}
						<div class="col-xs-12">
						  <div class="card card-block folder openfolder" data-folder-id="{{this._id}}">
                              <button type="button" class="button-transparent">
								<strong class="card-title-directory">
									<i class="fa fa-folder" aria-hidden="true"></i> {{{stripOnlyScript this.name}}}
								</strong>
                              </button>
								{{#userHasPermission "FOLDER_DELETE"}}
                              <div class="pull-right">
                                    <a href="/directoryModel/{{../this._id}}/rename"
                                       target="_blank"
                                       data-method="dir-rename"
                                       title="{{$t "files.label.renameFolder"}}"
                                       data-directory-id="{{../this._id}}"
                                       data-directory-name="{{../this.name}}">
                                        <i class="fa fa-edit directory-icon" aria-hidden="true"></i>
                                    </a>
								    <a href="/files/directory/"
									    target="_blank"
									    data-method="delete"
									    title="{{$t "files.label.deleteFolder"}}"
									    data-file-id="{{../this._id}}"
									    data-file-name="{{{../this.name}}}">
									    <i class="fa fa-trash-o directory-icon" aria-hidden="true"></i>
								    </a>
                              </div>
								{{/userHasPermission}}
							</div>
						</div>
					{{/each}}
				</div>
			</section>
			{{/if}}
			<h3 class="h6" style="display: block; clear: both; padding: 1.5rem 0 1.5rem">{{$t "global.headline.files"}}</h3>
			{{#embed "files/file-viewer"}}{{/embed}}
			{{#embed "files/files-grid" teamFiles=teamFiles}}{{/embed}}

			{{#userHasPermission "FOLDER_CREATE"}}
			<section class="new-directory">
				<div class="row">
					{{#if ../canCreateDir}}
						<div class="col-sm-12">
							<div data-toggle="modal">
								<button class="btn btn-primary create-directory">
									<i class="fa fa-plus" aria-hidden="true"></i> {{$t "files.button.createANewFolder" }}
								</button>
								{{#if ../canCreateFile}}
									<button class="btn btn-primary new-file" data-file-path="{{this.path}}">
										<i class="fa fa-plus" aria-hidden="true"></i> {{$t "files.button.createANewFile" }}
									</button>
								{{/if}}
							</div>
						</div>
					{{/if}}
				</div>
			</section>
			{{/userHasPermission}}
		</div>
	{{/content}}
{{/extend}}
