{{#extend "lib/loggedin" searchLabel="Dateien durchsuchen ..." searchAction="/files/search/" searchClass="file-search"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/files/files.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/scripts/dropzone/dropzone.js" type="text/javascript" defer></script>
        <script src="/scripts/files.js" type="text/javascript" defer></script>
        <script src="/scripts/jquery.cookie.js" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}

        <div class="route-files">
            {{#if canUploadFile}}
                {{#embed "files/file-upload"}}{{/embed}}
            {{/if}}

            <section class="section-title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <h5>
                                {{#each breadcrumbs}}
                                    <a class="{{#if @last}}active{{/if}}"
                                       href="{{this.url}}">{{this.label}}</a><span> / </span>
                                {{/each}}
                            </h5>
                            {{#if courseUrl}}
                                <a href="{{courseUrl}}" class="btn btn-secondary btn-sm btn-thin pull-right">
                                    Zum Kurs
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>
            {{#if directories}}
            <h6 style="padding: 1rem 0 1.5rem">Ordner</h6>
            <section class="directories">
                <div class="row">
                    {{#each directories}}
						<div class="col-sm-6 col-xs-12 col-md-4">
							<div class="card card-block folder" onclick="location.href = openFolder('{{this._id}}');">
								<strong class="card-title-directory">
									<i class="fa fa-folder" aria-hidden="true"></i> {{this.name}}
								</strong>
                                {{#userHasPermission "FOLDER_DELETE"}}
								<a href="/files/directory/"
								   target="_blank"
								   data-method="delete"
                                   title="Ordner löschen"
								   data-file-name="{{../this.name}}"
								   data-file-key="{{../this.path}}">
									<i class="fa fa-trash-o pull-right"></i>
								</a>

                                <a href="/directoryModel/{{../this._id}}/rename"
								   target="_blank"
								   data-method="dir-rename"
                                   title="Ordner umbenennen"
                                   data-directory-id="{{../this._id}}"
								   data-directory-name="{{../this.name}}"
								   >
									<i class="fa fa-edit pull-right"></i>
								</a>
                                {{#if ../../teamFiles}}
                                    <a href="/directoryModel/{{../this._id}}/share"
                                    target="_blank"
                                    class="btn-file-share"
                                    data-method="dir-share"
                                    title="Ordner-Freigabe"
                                    data-file-id="{{../this._id}}"
                                    data-file-name="{{../this.name}}"
                                    >
                                        <i class="fa fa-share-alt pull-right"></i>
                                    </a>  
                                {{/if}}
                                {{/userHasPermission}}
							</div>
						</div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
            <h6 style="display: block; clear: both; padding: 1.5rem 0 1.5rem">Dateien</h6>
            {{#embed "files/file-viewer"}}{{/embed}}
            {{#embed "files/files-grid" teamFiles=teamFiles}}{{/embed}}

            {{#userHasPermission "FOLDER_CREATE"}}
            <section class="new-directory">
                <div class="row">
                    {{#if ../canCreateDir}}
                        <div class="col-sm-12"></div>
                        <div class="col-sm-10 col-xs-16 col-md-8">
                            <div data-toggle="modal">
                                <div>
                                        <span class="btn btn-secondary create-directory">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Neuen Ordner erstellen
                                        </span>
                                    {{#if ../canCreateFile}}
                                        <span class="btn btn-secondary new-file" data-file-path="{{this.path}}">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Neue Datei erstellen
                                        </span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </section>
            {{/userHasPermission}}

        </div>
    {{/content}}
{{/extend}}
