{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getVersionedPath '/styles/files/files.css'}}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{getVersionedPath '/scripts/files.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="{{getVersionedPath '/scripts/jquery.cookie.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <div class="route-files-overview">
            {{#if libreOfficeUrl}}
            <iframe 
              src="{{libreOfficeUrl}}"
	            style="width: 100%; height: 800px; resize: vertical; overflow: auto;">
            </iframe>
            {{else}}
              <div class="alert alert-warning" role="alert">
                  <p>{{$t "files.text.libreOfficeOnlineWasNotConfiguredCorrectly"}}' <span class="hidden-md-down">'{{$t "files.text.pleaseTryAgainLaterOrNotifyYourAdministrator"}}</span></p>
              </div>
            {{/if}}
        </div>
    {{/content}}
{{/extend}}
