{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{ furl('/styles/files/files.css') }}"/>
        <link rel="stylesheet" href="{{ furl('/styles/files/search.css') }}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{ furl('/scripts/dropzone/dropzone.js') }}" type="text/javascript" defer></script>
        <script src="{{ furl('/scripts/files.js') }}" type="text/javascript" defer></script>
        <script src="{{ furl('/scripts/jquery.cookie.js') }}" type="text/javascript" defer></script>
    {{/content}}

    {{#content "page"}}
        <section class="search-parameters">
            <form method="get">
                <div class="search-wrapper">
                    <div class="input-group input-group-lg">
                        <input value="{{ query }}"
                               name="q"
                               type="text"
                               class="form-control search-field file-search"
                               placeholder="Dateien durchsuchen..."/>
                    </div>
                </div>
                <button class="btn btn-primary float-right" type="submit">Suchen</button>
			</form>
		</section>
		<section class="search-results">
			{{#if query }}
				{{#if files}}
					<hr>
					<h5>Suchergebnisse für "{{ query }}"</h5>
				{{/if}}
			{{else}}
				{{#if files}}
					<hr>
					<h5>Suchergebnisse</h5>
				{{/if}}
			{{/if}}
			{{#unless files}}{{#unless suppressNoResultsMessage}}
				<hr>
				<h5 class="text-muted text-center">
					<span>Keine Suchergebnisse</span>
				</h5>
			{{/unless}}{{/unless}}

            {{#embed "files/file-viewer"}}{{/embed}}
            {{#embed "files/files-grid"}}{{/embed}}
        </section>
    {{/content}}
{{/extend}}
