{{#extend "lib/loggedin" hideSearch="true"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="{{getAssetPath '/styles/files/files.css'}}"/>
        <link rel="stylesheet" href="{{getAssetPath '/styles/files/search.css'}}"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{getAssetPath '/scripts/dropzone/dropzone.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="{{getAssetPath '/scripts/files.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
        <script src="{{getAssetPath '/scripts/jquery.cookie.js'}}" type="text/javascript" nonce="{{nonceValue}}" defer></script>
    {{/content}}

    {{#content "page"}}
        <section class="search-parameters">
            <form method="get">
                <div class="search-wrapper">
                    <div class="input-group input-group-lg">
                        <input value="{{ query }}"
                               name="q"
                               type="text"
                               class="form-control search-field file-search"
                               placeholder="{{$t "files.input.searchFiles"}}"/>
                    </div>
                </div>
                <button class="btn btn-primary float-right" type="submit">{{$t "files.button.search"}}</button>
			</form>
		</section>
		<section class="search-results">
			{{#if query }}
				{{#if files}}
					<hr>
					<h2 class="h5">{{$t "files.text.searchResultFor"}} "{{ query }}"</h2>
				{{/if}}
			{{else}}
				{{#if files}}
					<hr>
					<h2 class="h5">{{$t "files.text.searchResults"}}</h2>
				{{/if}}
			{{/if}}
			{{#unless files}}{{#unless suppressNoResultsMessage}}
				<hr>
				<h2 class="h5" class="text-muted text-center">
					<span>{{$t "files.text.noSearchResults"}}</span>
				</h2>
			{{/unless}}{{/unless}}

            {{#embed "files/file-viewer"}}{{/embed}}
            {{#embed "files/files-grid"}}{{/embed}}
        </section>
    {{/content}}
{{/extend}}
