{{#if prefix}}
	<label>
		<input name="{{prefix}}parentalAuthConsent" type="checkbox" value="true" required/>
		<span>{{{$t "registration._registration.parent.label.iAmLegalGuardianOfChild"}}} </span>
	</label>
	<p style="font-size: 8px;margin: 0;">&nbsp;</p>

	<label>
		<input name="{{prefix}}privacyConsent" type="checkbox" value="true" required/>
		{{#if @root.schoolPrivacyLink}}
			<span>{{{$t "registration._registration.parent.text.myDataMayBeProcessed" (dict "link" @root.schoolPrivacyLink "title" @root.theme.title "class" "base64File-download-btn")}}} </span>
		{{else}}
			<span>{{{$t "registration._registration.parent.text.myDataMayBeProcessed" (dict "link" @root.theme.documents.specificFiles.privacyExemplary "title" @root.theme.title)}}} </span>
		{{/if}}
	</label>

	<p class="explanation">{{{$t "registration._registration.global.text.agreementIsVoluntary" (dict "title" @root.theme.title)}}} {{{$t "registration._registration.global.text.agreementCanBeRevoked"}}} {{{$t "registration._registration.global.text.inCaseOfRevokationDataDeletion"}}}</p>
{{else}}
	<label>
		<input name="{{prefix}}privacyConsent" type="checkbox" value="true" required/>
		{{#if @root.schoolPrivacyLink}}
			<span>{{{$t "registration._registration.global.text.myDataMayBeProcessed" (dict "link" @root.schoolPrivacyLink "title" @root.theme.title "class" "base64File-download-btn")}}} </span>
		{{else}}
			<span>{{{$t "registration._registration.global.text.myDataMayBeProcessed" (dict "link" @root.theme.documents.specificFiles.privacyExemplary "title" @root.theme.title)}}} </span>
		{{/if}}	</label>
	<p class="explanation">{{{$t "registration._registration.global.text.agreementIsVoluntary" (dict "title" @root.theme.title)}}} {{{$t "registration._registration.global.text.agreementCanBeRevoked"}}} {{{$t "registration._registration.global.text.inCaseOfRevokationDataDeletion"}}}</p>
{{/if}}

<label>
    <input name="{{prefix}}termsOfUseConsent" type="checkbox" value="true" required/>
    <span>{{{$t "registration.text.iReadAndAgreeWithTermsOfUse" (dict "link" @root.theme.documents.specificFiles.termsOfUseExemplary "title" @root.theme.title)}}}</span>
</label>
